Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: use mcheads
  src/commands/minecraft.ts
Labels: commands

fix: use mcheads
  src/commands/minecraft.ts
Labels: commands

fix: use mcheads
  src/commands/minecraft.ts
Labels: commands

chore: remove mc-nmes
  package.json
  pnpm-lock.yaml
Labels: none

chore: remove mc-nmes
  package.json
  pnpm-lock.yaml
Labels: none

chore: remove mc-nmes
  package.json
  pnpm-lock.yaml
Labels: none

refactor: achievement stuffffff
  data/achievements.json
Labels: none

refactor: achievement stuffffff
  data/achievements.json
Labels: none

refactor: achievement stuffffff
  data/achievements.json
Labels: none

feat: possible to spawn alone !
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

feat: possible to spawn alone !
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

feat: possible to spawn alone !
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

fix: mention warns??
  src/utils/handlers/mentions.ts
Labels: none

fix: mention warns??
  src/utils/handlers/mentions.ts
Labels: none

fix: mention warns??
  src/utils/handlers/mentions.ts
Labels: none

fix: actually show custom emojis
  src/commands/recipe.ts
Labels: commands

fix: actually show custom emojis (#1120)
  src/commands/recipe.ts
Labels: commands

fix: actually show custom emojis (#1120)
  src/commands/recipe.ts
Labels: commands

fix: actually show custom emojis (#1120)
  src/commands/recipe.ts
Labels: commands

refactor: longer global cooldown
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: longer global cooldown
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: longer global cooldown
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: make drops more common
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

refactor: make drops more common
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

refactor: make drops more common
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

feat: allow paginator duping
  package.json
  src/commands/minecraft.ts
  src/commands/networth.ts
  src/commands/role.ts
  src/commands/top.ts
  src/utils/functions/economy/items/crates.ts
  src/utils/functions/page.ts
Labels: economy, commands

feat: allow paginator duping
  package.json
  src/commands/minecraft.ts
  src/commands/networth.ts
  src/commands/role.ts
  src/commands/top.ts
  src/utils/functions/economy/items/crates.ts
  src/utils/functions/page.ts
Labels: economy, commands

feat: allow paginator duping
  package.json
  src/commands/minecraft.ts
  src/commands/networth.ts
  src/commands/role.ts
  src/commands/top.ts
  src/utils/functions/economy/items/crates.ts
  src/utils/functions/page.ts
Labels: economy, commands

feat: channel cooldowns for loot drops
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

feat: channel cooldowns for loot drops
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

feat: channel cooldowns for loot drops
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

style: formatting
  src/commands/find.ts
  src/commands/recipe.ts
  src/commands/x.ts
  src/events/ready.ts
  src/scheduled/clusterjobs/weeklycrates.ts
Labels: scheduled, commands, events

style: formatting
  src/commands/find.ts
  src/commands/recipe.ts
  src/commands/x.ts
  src/events/ready.ts
  src/scheduled/clusterjobs/weeklycrates.ts
Labels: scheduled, commands, events

style: formatting
  src/commands/find.ts
  src/commands/recipe.ts
  src/commands/x.ts
  src/events/ready.ts
  src/scheduled/clusterjobs/weeklycrates.ts
Labels: scheduled, commands, events

fix: drops not restarting?
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

fix: drops not restarting?
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

fix: drops not restarting?
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

fix: delete countdown when channel not found
  src/utils/functions/guilds/countdowns.ts
Labels: guild

fix: delete countdown when channel not found
  src/utils/functions/guilds/countdowns.ts
Labels: guild

fix: delete countdown when channel not found
  src/utils/functions/guilds/countdowns.ts
Labels: guild
