Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

prevent error
  src/utils/handlers/commandhandler.ts
Labels: none

longer cache
  src/utils/functions/economy/levelling.ts
Labels: economy

longer cache
  src/utils/functions/economy/levelling.ts
Labels: economy

longer cache
  src/utils/functions/economy/levelling.ts
Labels: economy

longer cache on precommand items
  src/utils/functions/economy/utils.ts
  src/utils/functions/users/blacklist.ts
  src/utils/functions/users/utils.ts
Labels: economy, users

longer cache on precommand items
  src/utils/functions/economy/utils.ts
  src/utils/functions/users/blacklist.ts
  src/utils/functions/users/utils.ts
Labels: economy, users

longer cache on precommand items
  src/utils/functions/economy/utils.ts
  src/utils/functions/users/blacklist.ts
  src/utils/functions/users/utils.ts
Labels: economy, users

fix: use rawlevel
  src/utils/functions/economy/levelling.ts
Labels: economy

fix: use rawlevel
  src/utils/functions/economy/levelling.ts
Labels: economy

fix: use rawlevel
  src/utils/functions/economy/levelling.ts
Labels: economy

every 2 prestiges
  src/utils/functions/economy/levelling.ts
Labels: economy

every 2 prestiges
  src/utils/functions/economy/levelling.ts
Labels: economy

every 2 prestiges
  src/utils/functions/economy/levelling.ts
Labels: economy

add: filter test subcmd
  src/commands/chatfilter.ts
  src/utils/functions/guilds/filters.ts
Labels: guild, commands

style/fix: remove console.log, fix linting
  src/commands/chatfilter.ts
Labels: commands

style: linting
  src/utils/functions/guilds/filters.ts
Labels: guild

style: change String -> string
  src/utils/functions/guilds/filters.ts
Labels: guild

feat: add filter test subcmd (#1435)
  src/commands/chatfilter.ts
  src/utils/functions/guilds/filters.ts
Labels: guild, commands

feat: add filter test subcmd (#1435)
  src/commands/chatfilter.ts
  src/utils/functions/guilds/filters.ts
Labels: guild, commands

feat: add filter test subcmd (#1435)
  src/commands/chatfilter.ts
  src/utils/functions/guilds/filters.ts
Labels: guild, commands

add: filter test to help msg
  src/commands/chatfilter.ts
Labels: commands

fix: add filter test to help msg (#1436)
  src/commands/chatfilter.ts
Labels: commands

fix: add filter test to help msg (#1436)
  src/commands/chatfilter.ts
Labels: commands

fix: add filter test to help msg (#1436)
  src/commands/chatfilter.ts
Labels: commands

grrr
  src/utils/functions/economy/tasks.ts
Labels: economy

grrr
  src/utils/functions/economy/tasks.ts
Labels: economy

grrr
  src/utils/functions/economy/tasks.ts
Labels: economy

lambo rarer
  data/items.json
Labels: none

lambo rarer
  data/items.json
Labels: none

lambo rarer
  data/items.json
Labels: none

more frequent loot drops
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

more frequent loot drops
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

more frequent loot drops
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

make lootdrops task easier
  data/tasks.json
Labels: none

make lootdrops task easier
  data/tasks.json
Labels: none

make lootdrops task easier
  data/tasks.json
Labels: none

fight is more responsive
  src/commands/fight.ts
Labels: commands

fight is more responsive
  src/commands/fight.ts
Labels: commands

fight is more responsive
  src/commands/fight.ts
Labels: commands

put a space idiot
  src/commands/sex.ts
Labels: commands
