Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

new system
  src/commands/ban.ts
  src/commands/mute.ts
  src/commands/unban.ts
  src/commands/unmute.ts
  src/events/guildMemberAdd.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/moderation/alts.ts
  src/utils/functions/moderation/ban.ts
Labels: guild, moderation, commands, events

fix: im dumb
  src/commands/unmute.ts
Labels: commands

bro let me sleep please
  src/commands/ban.ts
  src/commands/mute.ts
Labels: commands

fix: maintenance works on scratch cards
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: maintenance works on scratch cards
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: maintenance works on scratch cards
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: guild stats
  src/commands/guild.ts
Labels: commands

fix: guild stats
  src/commands/guild.ts
Labels: commands

fix: guild stats
  src/commands/guild.ts
Labels: commands

fix: less lucky scratches
  src/utils/functions/economy/guilds.ts
Labels: economy

fix: less lucky scratches
  src/utils/functions/economy/guilds.ts
Labels: economy

fix: less lucky scratches
  src/utils/functions/economy/guilds.ts
Labels: economy

fix: rare
  data/items.json
Labels: none

fix: rare
  data/items.json
Labels: none

fix: rare
  data/items.json
Labels: none

fix: cr vote start causing rate limit
  src/commands/chatreaction.ts
Labels: commands

fix: cr vote start causing rate limit
  src/commands/chatreaction.ts
Labels: commands

fix: cr vote start causing rate limit
  src/commands/chatreaction.ts
Labels: commands

feat: iwasouttherelookingforthatgirleverysingleday
  data/cr_words.txt
Labels: none

feat: iwasouttherelookingforthatgirleverysingleday
  data/cr_words.txt
Labels: none

feat: iwasouttherelookingforthatgirleverysingleday
  data/cr_words.txt
Labels: none

feat: cum tag
  data/achievements.json
  data/items.json
  data/tags.json
Labels: none

feat: cum tag
  data/achievements.json
  data/items.json
  data/tags.json
Labels: none

feat: cum tag
  data/achievements.json
  data/items.json
  data/tags.json
Labels: none

feat: dog tag
  data/achievements.json
  data/items.json
  data/tags.json
Labels: none

feat: dog tag
  data/achievements.json
  data/items.json
  data/tags.json
Labels: none

feat: dog tag
  data/achievements.json
  data/items.json
  data/tags.json
Labels: none

fix: can ban/mute self & reduce edit
  src/commands/ban.ts
  src/commands/mute.ts
  src/commands/unban.ts
  src/commands/unmute.ts
Labels: commands

feat: alts (#1197)
  prisma/migrations/20230817213226_alts/migration.sql
  prisma/schema.prisma
  src/commands/alts.ts
  src/commands/ban.ts
  src/commands/mute.ts
  src/commands/settings.ts
  src/commands/unban.ts
  src/commands/unmute.ts
  src/events/guildMemberAdd.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/altpunish.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/moderation/alts.ts
  src/utils/functions/moderation/ban.ts
  src/utils/functions/moderation/mute.ts
  src/utils/functions/users/tag.ts
Labels: guild, moderation, users, commands, events, schema

feat: alts (#1197)
  prisma/migrations/20230817213226_alts/migration.sql
  prisma/schema.prisma
  src/commands/alts.ts
  src/commands/ban.ts
  src/commands/mute.ts
  src/commands/settings.ts
  src/commands/unban.ts
  src/commands/unmute.ts
  src/events/guildMemberAdd.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/altpunish.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/moderation/alts.ts
  src/utils/functions/moderation/ban.ts
  src/utils/functions/moderation/mute.ts
  src/utils/functions/users/tag.ts
Labels: guild, moderation, users, commands, events, schema

feat: alts (#1197)
  prisma/migrations/20230817213226_alts/migration.sql
  prisma/schema.prisma
  src/commands/alts.ts
  src/commands/ban.ts
  src/commands/mute.ts
  src/commands/settings.ts
  src/commands/unban.ts
  src/commands/unmute.ts
  src/events/guildMemberAdd.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/altpunish.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/moderation/alts.ts
  src/utils/functions/moderation/ban.ts
  src/utils/functions/moderation/mute.ts
  src/utils/functions/users/tag.ts
Labels: guild, moderation, users, commands, events, schema

fix: nerf xp earned
  src/utils/functions/economy/xp.ts
Labels: economy

fix: nerf xp earned
  src/utils/functions/economy/xp.ts
Labels: economy

fix: nerf xp earned
  src/utils/functions/economy/xp.ts
Labels: economy

fix: g shop brokiee
  src/commands/guild.ts
Labels: commands

fix: g shop brokiee (#1206)
  src/commands/guild.ts
Labels: commands

fix: g shop brokiee (#1206)
  src/commands/guild.ts
Labels: commands

fix: g shop brokiee (#1206)
  src/commands/guild.ts
Labels: commands

feat: buff lescratch
  data/items.json
Labels: none

feat: buff lescratch
  data/items.json
Labels: none
