Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: craft time
  data/items.json
Labels: none

fix: scratchie hangs on last click if it isnt a win
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

feat: more aliases
  data/items.json
Labels: none

feat: more aliases (#1274)
  data/items.json
Labels: none

feat: more aliases (#1274)
  data/items.json
Labels: none

feat: more aliases (#1274)
  data/items.json
Labels: none

fix: enderman odds
  src/commands/hunt.ts
Labels: commands

fix: enderman odds
  src/commands/hunt.ts
Labels: commands

fix: enderman odds
  src/commands/hunt.ts
Labels: commands

fix: scratchie hangs on last click if it isnt a win (#1273)
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: scratchie hangs on last click if it isnt a win (#1273)
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: scratchie hangs on last click if it isnt a win (#1273)
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: dont hang
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: dont hang
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: dont hang
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: avatar history requirements
  src/commands/avatarhistory.ts
  src/events/userUpdate.ts
Labels: commands, events

fix: avatar history requirements
  src/commands/avatarhistory.ts
  src/events/userUpdate.ts
Labels: commands, events

fix: avatar history requirements
  src/commands/avatarhistory.ts
  src/events/userUpdate.ts
Labels: commands, events

fix: dupe alias
  data/items.json
Labels: none

fix: dupe alias
  data/items.json
Labels: none

fix: dupe alias
  data/items.json
Labels: none

fix: creating unlimited auctions
  src/commands/auction.ts
Labels: commands

fix: creating unlimited auctions
  src/commands/auction.ts
Labels: commands

fix: creating unlimited auctions
  src/commands/auction.ts
Labels: commands

fix: weird mobile apostrophes
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: weird mobile apostrophes
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: weird mobile apostrophes
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: ender pearl name
  data/items.json
Labels: none

fix: ender pearl name
  data/items.json
Labels: none

fix: ender pearl name
  data/items.json
Labels: none

fix: smelly wholesome upload
  src/commands/wholesome.ts
Labels: commands

fix: smelly wholesome upload
  src/commands/wholesome.ts
Labels: commands

fix: smelly wholesome upload
  src/commands/wholesome.ts
Labels: commands

refactor: nerf cake
  data/items.json
Labels: none

refactor: nerf cake
  data/items.json
Labels: none

refactor: nerf cake
  data/items.json
Labels: none

fix: do it better
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: do it better
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: do it better
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: timeout length
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
