Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

6.4.4
  package.json
Labels: none

6.4.4
  package.json
Labels: none

6.4.4
  package.json
Labels: none

6.4.4
  package.json
Labels: none

fix: weird auction shit
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: weird auction shit
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: weird auction shit
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: weird auction shit
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: more changes 😡
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: more changes 😡
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: more changes 😡
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: more changes 😡
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: add confirmation confirmation
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: add confirmation confirmation
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: add confirmation confirmation
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: add confirmation confirmation
  src/utils/functions/economy/auctions.ts
Labels: economy

feat: adjust lottery
  src/utils/Constants.ts
  src/utils/functions/economy/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy

feat: adjust lottery
  src/utils/Constants.ts
  src/utils/functions/economy/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy

feat: adjust lottery
  src/utils/Constants.ts
  src/utils/functions/economy/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy

feat: adjust lottery
  src/utils/Constants.ts
  src/utils/functions/economy/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy

fix: some better auction handling
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: some better auction handling
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: some better auction handling
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: some better auction handling
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: prevent infinite loop
  src/utils/functions/economy/stats.ts
Labels: economy

fix: prevent infinite loop
  src/utils/functions/economy/stats.ts
Labels: economy

fix: prevent infinite loop
  src/utils/functions/economy/stats.ts
Labels: economy

fix: prevent infinite loop
  src/utils/functions/economy/stats.ts
Labels: economy

fix: take items from inv
  src/commands/use.ts
Labels: commands

fix: take items from inv
  src/commands/use.ts
Labels: commands

fix: take items from inv
  src/commands/use.ts
Labels: commands

fix: take items from inv
  src/commands/use.ts
Labels: commands

feat: improve coinflip
  src/commands/coinflip.ts
Labels: commands

feat: improve coinflip
  src/commands/coinflip.ts
Labels: commands

feat: improve coinflip
  src/commands/coinflip.ts
Labels: commands

feat: improve coinflip
  src/commands/coinflip.ts
Labels: commands

feat: buff purple gem
  src/scheduled/jobs/deterioratekarma.ts
  src/utils/functions/economy/achievements.ts
  src/utils/functions/economy/workers.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, scheduled

feat: buff purple gem
  src/scheduled/jobs/deterioratekarma.ts
  src/utils/functions/economy/achievements.ts
  src/utils/functions/economy/workers.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, scheduled

feat: buff purple gem
  src/scheduled/jobs/deterioratekarma.ts
  src/utils/functions/economy/achievements.ts
  src/utils/functions/economy/workers.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, scheduled

feat: buff purple gem
  src/scheduled/jobs/deterioratekarma.ts
  src/utils/functions/economy/achievements.ts
  src/utils/functions/economy/workers.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, scheduled
