Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

refactor: adjust max
  src/utils/functions/economy/inventory.ts
Labels: economy

refactor: adjust max
  src/utils/functions/economy/inventory.ts
Labels: economy

feat: add gem shard to kofi shop
  src/utils/Constants.ts
Labels: none

feat: add gem shard to kofi shop
  src/utils/Constants.ts
Labels: none

feat: add gem shard to kofi shop
  src/utils/Constants.ts
Labels: none

refactor: increase karma deterioration
  src/scheduled/jobs/deterioratekarma.ts
Labels: scheduled

refactor: increase karma deterioration
  src/scheduled/jobs/deterioratekarma.ts
Labels: scheduled

refactor: increase karma deterioration
  src/scheduled/jobs/deterioratekarma.ts
Labels: scheduled

fix: sorting lol oops
  src/commands/ecohistory.ts
Labels: commands

fix: sorting lol oops
  src/commands/ecohistory.ts
Labels: commands

fix: sorting lol oops
  src/commands/ecohistory.ts
Labels: commands

fix: maybe?
  src/utils/functions/workers/itemhistory.ts
Labels: none

fix: maybe?
  src/utils/functions/workers/itemhistory.ts
Labels: none

fix: maybe?
  src/utils/functions/workers/itemhistory.ts
Labels: none

feat: add oven item
  data/bakery_upgrades.json
  data/items.json
  src/utils/functions/economy/bakery.ts
Labels: economy

feat: add oven item
  data/bakery_upgrades.json
  data/items.json
  src/utils/functions/economy/bakery.ts
Labels: economy

feat: add oven item
  data/bakery_upgrades.json
  data/items.json
  src/utils/functions/economy/bakery.ts
Labels: economy

fix: use all for upgrades
  src/commands/use.ts
Labels: commands

fix: use all for upgrades
  src/commands/use.ts
Labels: commands

fix: use all for upgrades
  src/commands/use.ts
Labels: commands

6.6.5
  package.json
Labels: none

6.6.5
  package.json
Labels: none

6.6.5
  package.json
Labels: none

refactor: change name
  data/items.json
Labels: none

refactor: wording
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
Labels: commands

refactor: wording
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
Labels: commands

refactor: wording
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
Labels: commands

refactor: change name
  data/items.json
Labels: none

refactor: change name
  data/items.json
Labels: none

feat: add overall to cr stats
  src/commands/chatreaction.ts
Labels: commands

feat: add overall to cr stats
  src/commands/chatreaction.ts
Labels: commands

feat: add overall to cr stats
  src/commands/chatreaction.ts
Labels: commands

fix: using items
  src/commands/use.ts
Labels: commands

fix: using items
  src/commands/use.ts
Labels: commands

fix: using items
  src/commands/use.ts
Labels: commands

refactor: allow speed 0 cap in street races
  src/commands/streetrace.ts
Labels: commands

refactor: allow speed 0 in streetraces
  src/commands/streetrace.ts
Labels: commands

i forgot to change the text
  src/commands/streetrace.ts
Labels: commands

refactor: allow admin level 2 to ecoban
  src/commands/ecoban.ts
Labels: commands

i fix
  src/commands/ecoban.ts
Labels: commands
