Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

put timeout stuff in manager.then
  src/index.ts
Labels: none

hopefully prevent so many errors for birthdays
  src/commands/birthday.ts
Labels: commands

hopefully prevent so many errors for birthdays
  src/commands/birthday.ts
Labels: commands

more auctions for non rank players
  src/commands/auction.ts
Labels: commands

more auctions for non rank players
  src/commands/auction.ts
Labels: commands

farm notifications for all
  data/notifications.json
  src/scheduled/jobs/plantcheck.ts
Labels: scheduled

farm notifications for all
  data/notifications.json
  src/scheduled/jobs/plantcheck.ts
Labels: scheduled

9.5.1
  package.json
Labels: none

9.5.1
  package.json
Labels: none

update crown emoji
  data/tags.json
Labels: none

update crown emoji
  data/tags.json
Labels: none

fix: higher/lower buttons have same effect on win bonus
  src/commands/highlow.ts
Labels: commands

fix: higher/lower buttons have same effect on win bonus
  src/commands/highlow.ts
Labels: commands

allow using lockpick on self if lockpicks are disabled in server
  src/utils/functions/economy/items/lock_pick.ts
Labels: economy

allow using lockpick on self if lockpicks are disabled in server
  src/utils/functions/economy/items/lock_pick.ts
Labels: economy

fix: cseed alias for coconut seed
  data/items.json
Labels: none

fix: cseed alias for coconut seed
  data/items.json
Labels: none

remove bonus cost for guild members
  src/utils/functions/economy/guilds.ts
Labels: economy

remove bonus cost for guild members
  src/utils/functions/economy/guilds.ts
Labels: economy

9.5.2
  package.json
Labels: none

9.5.2
  package.json
Labels: none

slight buff to mines
  src/commands/mines.ts
Labels: commands

slight buff to mines
  src/commands/mines.ts
Labels: commands

add job to autoban members failing to do captcha in 24 hours
  src/scheduled/jobs/captcha-ban.ts
Labels: scheduled

add job to autoban members failing to do captcha in 24 hours
  src/scheduled/jobs/captcha-ban.ts
Labels: scheduled

fix: only ban if definitely received captcha warning message
  src/scheduled/jobs/captcha-ban.ts
Labels: scheduled

fix: only ban if definitely received captcha warning message
  src/scheduled/jobs/captcha-ban.ts
Labels: scheduled

use ip for alt tracking
  prisma/schema.prisma
  src/commands/x.ts
Labels: commands, schema

use ip for alt tracking
  prisma/schema.prisma
  src/commands/x.ts
Labels: commands, schema

fix: db migration
  prisma/migrations/20250315155539_captcha_ip/migration.sql
Labels: schema

fix: db migration
  prisma/migrations/20250315155539_captcha_ip/migration.sql
Labels: schema

admin level 3 for captcha history
  src/commands/x.ts
Labels: commands

admin level 3 for captcha history
  src/commands/x.ts
Labels: commands

use crypto random func
  src/commands/coinflip.ts
Labels: commands

use crypto random func
  src/commands/coinflip.ts
Labels: commands

show default achievement rewards in 'rewards' feld
  src/commands/achievements.ts
Labels: commands

show default achievement rewards in 'rewards' feld
  src/commands/achievements.ts
Labels: commands

test for discord timestamp accuracy (cr timing)
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

test for discord timestamp accuracy (cr timing)
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

2,500 nicer number
  src/nypsi.ts
Labels: none

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
