Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: grandma is a bakery upgrade
  data/items.json
Labels: none

feat: apply bakery upgrades
  src/commands/use.ts
Labels: commands

refactor: remove breakdown
  src/utils/functions/economy/bakery.ts
Labels: economy

feat: add cursor bakery upgrade
  data/bakery_upgrades.json
  data/items.json
Labels: none

fix: prevent negatvies
  src/utils/functions/economy/bakery.ts
Labels: economy

feat: randomness to cookies per bake
  src/utils/functions/economy/bakery.ts
Labels: economy

feat: gems affects bakery
  src/utils/functions/economy/bakery.ts
Labels: economy

refactor: rename field
  src/utils/functions/economy/bakery.ts
Labels: economy

fix: reduce sale price of cookies
  data/items.json
Labels: none

fix: role mention
  src/utils/functions/captcha.ts
Labels: none

fix: role mention
  src/utils/functions/captcha.ts
Labels: none

fix: role mention
  src/utils/functions/captcha.ts
Labels: none

fix: role mention
  src/utils/functions/captcha.ts
Labels: none

refactor: auctions can last for 7 days
  src/scheduled/clusterjobs/checkauctions.ts
Labels: scheduled

fix: requestdm types
  src/utils/functions/requestdm.ts
Labels: none

fix: requestdm types
  src/utils/functions/requestdm.ts
Labels: none

fix: requestdm types
  src/utils/functions/requestdm.ts
Labels: none

fix: requestdm types
  src/utils/functions/requestdm.ts
Labels: none

refactor: use id
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/stats.ts
Labels: economy

refactor: use id
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/stats.ts
Labels: economy

refactor: use id
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/stats.ts
Labels: economy

refactor: use id
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/stats.ts
Labels: economy

feat: open crates from vote message
  src/events/interactionCreate.ts
  src/utils/handlers/webhookhandler.ts
Labels: events

feat: open crates from vote message
  src/events/interactionCreate.ts
  src/utils/handlers/webhookhandler.ts
Labels: events

feat: open crates from vote message
  src/events/interactionCreate.ts
  src/utils/handlers/webhookhandler.ts
Labels: events

feat: open crates from vote message
  src/events/interactionCreate.ts
  src/utils/handlers/webhookhandler.ts
Labels: events

refactor: use member or string for cooldowns
  src/utils/handlers/cooldownhandler.ts
Labels: none

refactor: use member or string for cooldowns
  src/utils/handlers/cooldownhandler.ts
Labels: none

refactor: use member or string for cooldowns
  src/utils/handlers/cooldownhandler.ts
Labels: none

refactor: use member or string for cooldowns
  src/utils/handlers/cooldownhandler.ts
Labels: none

refactor: adjust crates cooldown
  src/commands/use.ts
Labels: commands

refactor: adjust crates cooldown
  src/commands/use.ts
Labels: commands

refactor: adjust crates cooldown
  src/commands/use.ts
Labels: commands

refactor: adjust crates cooldown
  src/commands/use.ts
Labels: commands

fix: add cooldown to dm button
  src/events/interactionCreate.ts
Labels: events

fix: add cooldown to dm button
  src/events/interactionCreate.ts
Labels: events

fix: add cooldown to dm button
  src/events/interactionCreate.ts
Labels: events

fix: add cooldown to dm button
  src/events/interactionCreate.ts
Labels: events

fix: prevent possible future issue
  src/commands/use.ts
Labels: commands

fix: prevent possible future issue
  src/commands/use.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
