Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: it works!!!
  src/commands/settings.ts
Labels: commands

feat: migration
  prisma/migrations/20230319134324_preferences/migration.sql
  prisma/schema.prisma
Labels: schema

feat: migration
  prisma/migrations/20230319134324_preferences/migration.sql
  prisma/schema.prisma
Labels: schema

fix: formatting
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
Labels: commands

fix: formatting
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
Labels: commands

6.5.1
  package.json
Labels: none

6.5.1
  package.json
Labels: none

fix: weird issue ive never come across
  src/commands/height.ts
Labels: commands

refactor: add word to game outcome
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

refactor: add word to game outcome
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

refactor: add word to game outcome
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

refactor: add word to game outcome
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

feat: user preferences (#933)
  data/notifications.json
  package.json
  prisma/migrations/20230319134324_preferences/migration.sql
  prisma/schema.prisma
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
  src/commands/settings.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/users/notifications.ts
Labels: economy, users, commands, schema

feat: user preferences (#933)
  data/notifications.json
  package.json
  prisma/migrations/20230319134324_preferences/migration.sql
  prisma/schema.prisma
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
  src/commands/settings.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/users/notifications.ts
Labels: economy, users, commands, schema

feat: user preferences (#933)
  data/notifications.json
  package.json
  prisma/migrations/20230319134324_preferences/migration.sql
  prisma/schema.prisma
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
  src/commands/settings.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/users/notifications.ts
Labels: economy, users, commands, schema

feat: user preferences (#933)
  data/notifications.json
  package.json
  prisma/migrations/20230319134324_preferences/migration.sql
  prisma/schema.prisma
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
  src/commands/settings.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/users/notifications.ts
Labels: economy, users, commands, schema

feat: use aliases in karmashop
  data/karmashop.json
  src/commands/karmashop.ts
  src/types/Karmashop.ts
Labels: commands

feat: use aliases in karmashop
  data/karmashop.json
  src/commands/karmashop.ts
  src/types/Karmashop.ts
Labels: commands

feat: use aliases in karmashop
  data/karmashop.json
  src/commands/karmashop.ts
  src/types/Karmashop.ts
Labels: commands

feat: use aliases in karmashop
  data/karmashop.json
  src/commands/karmashop.ts
  src/types/Karmashop.ts
Labels: commands

refactor: gems more common
  src/utils/functions/economy/inventory.ts
Labels: economy

refactor: gems more common
  src/utils/functions/economy/inventory.ts
Labels: economy

refactor: gems more common
  src/utils/functions/economy/inventory.ts
Labels: economy

refactor: gems more common
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: prevent chat reaction duels when restarting
  src/commands/chatreaction.ts
Labels: commands

fix: prevent chat reaction duels when restarting
  src/commands/chatreaction.ts
Labels: commands

fix: prevent chat reaction duels when restarting
  src/commands/chatreaction.ts
Labels: commands

fix: prevent chat reaction duels when restarting
  src/commands/chatreaction.ts
Labels: commands

refactor: adjust ks price
  data/karmashop.json
Labels: none

refactor: adjust ks price
  data/karmashop.json
Labels: none

refactor: adjust ks price
  data/karmashop.json
Labels: none

refactor: adjust ks price
  data/karmashop.json
Labels: none

fix: remove commas from usernames
  src/utils/functions/workers/graphtocsv.ts
Labels: none

fix: remove commas from usernames
  src/utils/functions/workers/graphtocsv.ts
Labels: none

fix: remove commas from usernames
  src/utils/functions/workers/graphtocsv.ts
Labels: none

fix: remove commas from usernames
  src/utils/functions/workers/graphtocsv.ts
Labels: none

fix: include preferences
  src/commands/data.ts
  src/commands/x.ts
Labels: commands

fix: include preferences
  src/commands/data.ts
  src/commands/x.ts
Labels: commands

fix: include preferences
  src/commands/data.ts
  src/commands/x.ts
Labels: commands

fix: include preferences
  src/commands/data.ts
  src/commands/x.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
