Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

refactor: reduce sample size
  src/utils/functions/economy/auctions.ts
Labels: economy

refactor: reduce sample size
  src/utils/functions/economy/auctions.ts
Labels: economy

refactor: reduce sample size
  src/utils/functions/economy/auctions.ts
Labels: economy

refactor: remove cake from scratch
  data/items.json
Labels: none

refactor: remove cake from scratch
  data/items.json
Labels: none

refactor: remove cake from scratch
  data/items.json
Labels: none

fix: buff managers
  data/workers.json
Labels: none

fix: buff managers
  data/workers.json
Labels: none

fix: buff managers
  data/workers.json
Labels: none

feat: buff mineshaft chest
  data/items.json
Labels: none

feat: buff mineshaft chest
  data/items.json
Labels: none

feat: buff mineshaft chest
  data/items.json
Labels: none

feat: buff mining
  data/items.json
Labels: none

feat: buff mining
  data/items.json
Labels: none

feat: buff mining
  data/items.json
Labels: none

fix: boost again
  data/items.json
Labels: none

fix: boost again
  data/items.json
Labels: none

fix: boost again
  data/items.json
Labels: none

fix: consistent padlock price
  data/items.json
  src/commands/padlock.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

fix: consistent padlock price
  data/items.json
  src/commands/padlock.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

fix: consistent padlock price
  data/items.json
  src/commands/padlock.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

fix: desc
  data/items.json
Labels: none

fix: desc
  data/items.json
Labels: none

fix: desc
  data/items.json
Labels: none

fix: shards in gem crates
  data/items.json
Labels: none

fix: shards in gem crates
  data/items.json
Labels: none

fix: shards in gem crates
  data/items.json
Labels: none

refactor: more common ks
  src/utils/functions/karma/karmashop.ts
Labels: karma

refactor: more common ks
  src/utils/functions/karma/karmashop.ts
Labels: karma

refactor: more common ks
  src/utils/functions/karma/karmashop.ts
Labels: karma

refactor: adjust ks items
  data/karmashop.json
Labels: none

refactor: adjust ks items
  data/karmashop.json
Labels: none

refactor: adjust ks items
  data/karmashop.json
Labels: none

fix: cars cmd
  src/commands/cars.ts
Labels: commands

fix: cars cmd
  src/commands/cars.ts
Labels: commands

fix: cars cmd
  src/commands/cars.ts
Labels: commands

refactor: ban more inline with mutes
  src/commands/ban.ts
Labels: commands

refactor: ban more inline with mutes
  src/commands/ban.ts
Labels: commands

refactor: ban more inline with mutes
  src/commands/ban.ts
Labels: commands

feat: send notif to thank you channel
  src/types/Kofi.ts
  src/utils/handlers/webhookhandler.ts
Labels: none
