Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

style: formatting
  src/commands/autosell.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands

style: formatting
  src/commands/autosell.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands

style: formatting
  src/commands/autosell.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands

fix: 1 inches -> 1 inch
  src/commands/pp.ts
Labels: commands

fix: 1 inches -> 1 inch (#1112)
  src/commands/pp.ts
Labels: commands

fix: 1 inches -> 1 inch (#1112)
  src/commands/pp.ts
Labels: commands

fix: 1 inches -> 1 inch (#1112)
  src/commands/pp.ts
Labels: commands

feat: wholesome aliases
  src/commands/wholesome.ts
Labels: commands

feat: wholesome aliases
  src/commands/wholesome.ts
Labels: commands

feat: wholesome aliases
  src/commands/wholesome.ts
Labels: commands

feat: add recipe command
  src/commands/recipe.ts
Labels: commands

style: formatting
  src/commands/pp.ts
  src/commands/recipe.ts
  src/commands/wholesome.ts
Labels: commands

style: formatting
  src/commands/pp.ts
  src/commands/wholesome.ts
Labels: commands

style: formatting
  src/commands/pp.ts
  src/commands/wholesome.ts
Labels: commands

style: formatting
  src/commands/pp.ts
  src/commands/wholesome.ts
Labels: commands

fix: learn how to spell 😡
  data/items.json
  src/commands/craft.ts
  src/commands/recipe.ts
  src/types/Economy.ts
Labels: commands

refactor: just use defaults
  src/index.ts
Labels: none

refactor: just use defaults
  src/index.ts
Labels: none

refactor: just use defaults
  src/index.ts
Labels: none

refactor: lower guildmember caching
  src/nypsi.ts
Labels: none

refactor: lower guildmember caching
  src/nypsi.ts
Labels: none

refactor: lower guildmember caching
  src/nypsi.ts
Labels: none

fix: possible errors
  src/events/message.ts
Labels: events

fix: possible errors
  src/events/message.ts
Labels: events

fix: possible errors
  src/events/message.ts
Labels: events

6.7.7
  package.json
Labels: none

6.7.7
  package.json
Labels: none

6.7.7
  package.json
Labels: none

fix: requested changes
  src/commands/recipe.ts
Labels: commands

feat: add recipe command (#1113)
  data/items.json
  src/commands/craft.ts
  src/commands/recipe.ts
  src/types/Economy.ts
Labels: commands

feat: add recipe command (#1113)
  data/items.json
  src/commands/craft.ts
  src/commands/recipe.ts
  src/types/Economy.ts
Labels: commands

feat: add recipe command (#1113)
  data/items.json
  src/commands/craft.ts
  src/commands/recipe.ts
  src/types/Economy.ts
Labels: commands

fix: guild member order
  src/utils/functions/economy/guilds.ts
Labels: economy

fix: guild member order
  src/utils/functions/economy/guilds.ts
Labels: economy

fix: guild member order
  src/utils/functions/economy/guilds.ts
Labels: economy

style: formatting
  src/commands/recipe.ts
  src/events/message.ts
Labels: commands, events

style: formatting
  src/commands/recipe.ts
  src/events/message.ts
  src/utils/functions/economy/guilds.ts
Labels: economy, commands, events

style: formatting
  src/commands/recipe.ts
  src/events/message.ts
  src/utils/functions/economy/guilds.ts
Labels: economy, commands, events

style: formatting
  src/commands/recipe.ts
  src/events/message.ts
  src/utils/functions/economy/guilds.ts
Labels: economy, commands, events

feat: index on mention table
  prisma/schema.prisma
  src/init/database.ts
Labels: schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
