Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: use header instead of title
  src/utils/functions/moderation/logs.ts
Labels: moderation

fix: use header instead of title
  src/utils/functions/moderation/logs.ts
Labels: moderation

feat: use older data if newer data not available
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
Labels: economy

feat: use older data if newer data not available
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
Labels: economy

fix: delete from cache on guild delete
  src/utils/functions/economy/guilds.ts
Labels: economy

fix: delete from cache on guild delete
  src/utils/functions/economy/guilds.ts
Labels: economy

fix: delete from cache on guild delete
  src/utils/functions/economy/guilds.ts
Labels: economy

refactor: use userid for moderation
  src/commands/ban.ts
  src/commands/case.ts
  src/commands/kick.ts
  src/commands/kicksince.ts
  src/commands/mute.ts
  src/commands/topcases.ts
  src/commands/unban.ts
  src/commands/unmute.ts
  src/commands/warn.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/moderation/cases.ts
Labels: guild, moderation, commands

refactor: use userid for moderation
  src/commands/ban.ts
  src/commands/case.ts
  src/commands/kick.ts
  src/commands/kicksince.ts
  src/commands/mute.ts
  src/commands/topcases.ts
  src/commands/unban.ts
  src/commands/unmute.ts
  src/commands/warn.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/moderation/cases.ts
Labels: guild, moderation, commands

refactor: use userid for moderation
  src/commands/ban.ts
  src/commands/case.ts
  src/commands/kick.ts
  src/commands/kicksince.ts
  src/commands/mute.ts
  src/commands/topcases.ts
  src/commands/unban.ts
  src/commands/unmute.ts
  src/commands/warn.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/moderation/cases.ts
Labels: guild, moderation, commands

fix: oopsies
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
Labels: economy

fix: oopsies
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
Labels: economy

fix: oopsies
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
Labels: economy

refactor: always purple embed
  src/models/EmbedBuilders.ts
  src/utils/Constants.ts
Labels: none

refactor: always purple embed
  src/models/EmbedBuilders.ts
  src/utils/Constants.ts
Labels: none

refactor: always purple embed
  src/models/EmbedBuilders.ts
  src/utils/Constants.ts
Labels: none

fix: add more logs
  src/commands/blackjack.ts
Labels: commands

fix: add more logs
  src/commands/blackjack.ts
Labels: commands

fix: add more logs
  src/commands/blackjack.ts
Labels: commands

feat: database table for tags
  prisma/migrations/20230727132027_tags/migration.sql
  prisma/schema.prisma
Labels: schema

feat: functions to get/add tags
  data/tags.json
  src/types/Tags.ts
  src/utils/Constants.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/users/tags.ts
Labels: economy, users

refactor: include badges with tags
  prisma/migrations/20230727133856_tags/migration.sql
  prisma/schema.prisma
  src/utils/functions/users/tags.ts
Labels: users, schema

feat: removetag func
  src/utils/functions/users/tags.ts
Labels: users

feat: selecttag func
  src/utils/functions/users/tags.ts
Labels: users

feat: tags cmd
  src/commands/tags.ts
Labels: commands

fix: update x cmd
  src/commands/x.ts
  src/utils/functions/users/badges.ts
Labels: users, commands

fix: silly me
  src/utils/functions/users/tags.ts
Labels: users

feat: some tags
  data/tags.json
  src/commands/tags.ts
  src/utils/functions/users/tags.ts
Labels: users, commands

feat: new rarity for goat tag
  data/items.json
  src/commands/item.ts
  src/utils/functions/economy/inventory.ts
Labels: economy, commands

feat: show badge on top
  src/utils/functions/economy/top.ts
  src/utils/functions/users/tags.ts
Labels: economy, users

fix: alias
  src/commands/tags.ts
Labels: commands

fix: x
  src/commands/x.ts
Labels: commands

fix: add tag thing to item data
  data/items.json
  src/types/Economy.ts
  test/items.test.js
Labels: none

fix: can use gottag
  src/commands/use.ts
Labels: commands

6.9.0
  package.json
Labels: none

fix: include extra data in data requests
  src/commands/data.ts
  src/commands/x.ts
Labels: commands

feat: add tags (#1151)
  data/items.json
  data/tags.json
  package.json
  prisma/migrations/20230727133856_tags/migration.sql
  prisma/schema.prisma
  src/commands/data.ts
  src/commands/item.ts
  src/commands/tags.ts
  src/commands/use.ts
  src/commands/x.ts
  src/types/Economy.ts
  src/types/Tags.ts
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/users/badges.ts
  src/utils/functions/users/tags.ts
  test/items.test.js
Labels: economy, users, commands, schema

feat: add tags (#1151)
  data/items.json
  data/tags.json
  package.json
  prisma/migrations/20230727133856_tags/migration.sql
  prisma/schema.prisma
  src/commands/data.ts
  src/commands/item.ts
  src/commands/tags.ts
  src/commands/use.ts
  src/commands/x.ts
  src/types/Economy.ts
  src/types/Tags.ts
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/users/badges.ts
  src/utils/functions/users/tags.ts
  test/items.test.js
Labels: economy, users, commands, schema

feat: add tags (#1151)
  data/items.json
  data/tags.json
  package.json
  prisma/migrations/20230727133856_tags/migration.sql
  prisma/schema.prisma
  src/commands/data.ts
  src/commands/item.ts
  src/commands/tags.ts
  src/commands/use.ts
  src/commands/x.ts
  src/types/Economy.ts
  src/types/Tags.ts
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/users/badges.ts
  src/utils/functions/users/tags.ts
  test/items.test.js
Labels: economy, users, commands, schema

fix: formatting msg
  src/utils/functions/economy/top.ts
Labels: economy

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
