Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: thank you message
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: crafting gems goes towards gem achievement
  src/commands/craft.ts
  src/scheduled/clusterjobs/crafted.ts
Labels: scheduled, commands

fix: crafting gems goes towards gem achievement
  src/commands/craft.ts
  src/scheduled/clusterjobs/crafted.ts
Labels: scheduled, commands

fix: crafting gems goes towards gem achievement
  src/commands/craft.ts
  src/scheduled/clusterjobs/crafted.ts
Labels: scheduled, commands

fix: dont block commands while awaiting inactivity
  src/commands/restart.ts
Labels: commands

fix: dont block commands while awaiting inactivity
  src/commands/restart.ts
Labels: commands

fix: dont block commands while awaiting inactivity
  src/commands/restart.ts
Labels: commands

refactor: modlog appearance
  src/utils/functions/moderation/logs.ts
Labels: moderation

refactor: modlog appearance
  src/utils/functions/moderation/logs.ts
Labels: moderation

refactor: modlog appearance
  src/utils/functions/moderation/logs.ts
Labels: moderation

fix: color
  src/commands/color.ts
Labels: commands

fix: color
  src/commands/color.ts
Labels: commands

fix: color
  src/commands/color.ts
Labels: commands

fix: weird premium role thing..?
  src/commands/premium.ts
Labels: commands

fix: weird premium role thing..?
  src/commands/premium.ts
Labels: commands

fix: weird premium role thing..?
  src/commands/premium.ts
Labels: commands

fix: ughhh
  src/commands/premium.ts
Labels: commands

fix: ughhh
  src/commands/premium.ts
Labels: commands

fix: ughhh
  src/commands/premium.ts
Labels: commands

fix: highroller role?
  src/commands/premium.ts
  src/utils/Constants.ts
Labels: commands

fix: highroller role?
  src/commands/premium.ts
  src/utils/Constants.ts
Labels: commands

fix: highroller role?
  src/commands/premium.ts
  src/utils/Constants.ts
Labels: commands

fix: logs
  src/commands/premium.ts
Labels: commands

fix: logs
  src/commands/premium.ts
Labels: commands

fix: logs
  src/commands/premium.ts
Labels: commands

fix: log
  src/commands/premium.ts
Labels: commands

fix: log
  src/commands/premium.ts
Labels: commands

fix: log
  src/commands/premium.ts
Labels: commands

fix: more logs
  src/commands/premium.ts
Labels: commands

fix: more logs
  src/commands/premium.ts
Labels: commands

fix: more logs
  src/commands/premium.ts
Labels: commands

fix: vote crate opening sorting
  src/interactions/vote_crates.ts
Labels: none

fix: vote crate opening sorting
  src/interactions/vote_crates.ts
Labels: none

fix: vote crate opening sorting
  src/interactions/vote_crates.ts
Labels: none

fix: multiple args crafting
  src/commands/craft.ts
Labels: commands

fix: multiple args crafting
  src/commands/craft.ts
Labels: commands

fix: multiple args crafting
  src/commands/craft.ts
Labels: commands

fix: bob msg when crafting item done
  src/utils/functions/economy/items/bob.ts
Labels: economy

fix: bob msg when crafting item done
  src/utils/functions/economy/items/bob.ts
Labels: economy

fix: bob msg when crafting item done
  src/utils/functions/economy/items/bob.ts
Labels: economy
