Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

chore: why did they have arrow?
  package.json
Labels: none

chore: why did they have arrow?
  package.json
Labels: none

chore: why did they have arrow?
  package.json
Labels: none

chore: update lock file
  pnpm-lock.yaml
Labels: none

chore: update lock file
  pnpm-lock.yaml
Labels: none

chore: update lock file
  pnpm-lock.yaml
Labels: none

fix: show delete button for none premiums
  src/commands/pings.ts
Labels: commands

fix: show delete button for none premiums
  src/commands/pings.ts
Labels: commands

fix: show delete button for none premiums
  src/commands/pings.ts
Labels: commands

fix: ughhh
  src/commands/pings.ts
Labels: commands

fix: ughhh
  src/commands/pings.ts
Labels: commands

fix: ughhh
  src/commands/pings.ts
Labels: commands

refactor: clear after 45 days
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

refactor: clear after 45 days
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

refactor: clear after 45 days
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

refactor: website link for item history
  src/commands/item.ts
Labels: commands

refactor: website link for item history
  src/commands/item.ts
Labels: commands

refactor: website link for item history
  src/commands/item.ts
Labels: commands

fix: remove id
  src/commands/item.ts
Labels: commands

fix: remove id
  src/commands/item.ts
Labels: commands

fix: remove id
  src/commands/item.ts
Labels: commands

chore: remove patreon funding
  .github/FUNDING.yml
Labels: ci

chore: remove patreon funding
  .github/FUNDING.yml
Labels: ci

chore: remove patreon funding
  .github/FUNDING.yml
Labels: ci

docs: discord link
  README.md
Labels: none

docs: discord link
  README.md
Labels: none

docs: discord link
  README.md
Labels: none

docs: link target
  README.md
Labels: none

docs: link target
  README.md
Labels: none

docs: link target
  README.md
Labels: none

refactor: wordle word list
  data/wordle.txt
Labels: none

refactor: wordle word list
  data/wordle.txt
Labels: none

refactor: wordle word list
  data/wordle.txt
Labels: none

feat: mention queue redis key
  src/utils/Constants.ts
Labels: none

feat: use redis for mention queue
  src/commands/clearqueue.ts
  src/commands/stats.ts
  src/events/message.ts
  src/index.ts
  src/utils/functions/sleep.ts
  src/utils/functions/users/mentions.ts
  src/utils/handlers/mentions.ts
Labels: users, commands, events

feat: debug info
  src/commands/stats.ts
Labels: commands

fix: encrypt
  src/utils/handlers/mentions.ts
Labels: none

fix: inline
  src/commands/stats.ts
Labels: commands

fix: use a proper id for mentions (will change to uuid after update)
  prisma/migrations/20230704115213_mention_new_id/migration.sql
  prisma/schema.prisma
Labels: schema

feat: it works !
  src/commands/stats.ts
  src/index.ts
  src/utils/Constants.ts
  src/utils/functions/workers/mentions.ts
  src/utils/handlers/mentions.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
