Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

feat: compress data package
  src/commands/data.ts
  src/commands/x.ts
Labels: commands

fix: plural (#1280)
  data/items.json
Labels: none

fix: plural (#1280)
  data/items.json
Labels: none

fix: plural (#1280)
  data/items.json
Labels: none

fix: prevent blacklisted members receiving notifications
  src/utils/functions/requestdm.ts
Labels: none

fix: prevent blacklisted members receiving notifications
  src/utils/functions/requestdm.ts
Labels: none

fix: prevent blacklisted members receiving notifications
  src/utils/functions/requestdm.ts
Labels: none

refactor: looting stackable
  data/items.json
  src/commands/hunt.ts
Labels: commands

refactor: looting stackable
  data/items.json
  src/commands/hunt.ts
Labels: commands

refactor: looting stackable
  data/items.json
  src/commands/hunt.ts
Labels: commands

fix: weird blackjack issue?
  src/commands/blackjack.ts
Labels: commands

fix: weird blackjack issue?
  src/commands/blackjack.ts
Labels: commands

fix: weird blackjack issue?
  src/commands/blackjack.ts
Labels: commands

fix: weird unknown interaction errors
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/page.ts
Labels: economy, commands

fix: weird unknown interaction errors
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/page.ts
Labels: economy, commands

fix: weird unknown interaction errors
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/page.ts
Labels: economy, commands

refactor: better expired look
  src/commands/guild.ts
  src/commands/prestige.ts
  src/commands/profile.ts
  src/commands/sellall.ts
Labels: commands

refactor: better expired look
  src/commands/guild.ts
  src/commands/prestige.ts
  src/commands/profile.ts
  src/commands/sellall.ts
Labels: commands

refactor: better expired look
  src/commands/guild.ts
  src/commands/prestige.ts
  src/commands/profile.ts
  src/commands/sellall.ts
Labels: commands

feat: buff mines/tower
  src/commands/mines.ts
  src/commands/tower.ts
Labels: commands

feat: buff mines/tower
  src/commands/mines.ts
  src/commands/tower.ts
Labels: commands

feat: buff mines/tower
  src/commands/mines.ts
  src/commands/tower.ts
Labels: commands

feat: buff end dimension
  data/items.json
  src/commands/mine.ts
Labels: commands

feat: buff end dimension
  data/items.json
  src/commands/mine.ts
Labels: commands

feat: buff end dimension
  data/items.json
  src/commands/mine.ts
Labels: commands

fix: order auctions properly
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: order auctions properly
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: order auctions properly
  src/utils/functions/economy/auctions.ts
Labels: economy

6.13.2
  package.json
Labels: none

6.13.2
  package.json
Labels: none

6.13.2
  package.json
Labels: none

fix: debug log
  src/commands/hunt.ts
Labels: commands

fix: debug log
  src/commands/hunt.ts
Labels: commands

fix: debug log
  src/commands/hunt.ts
Labels: commands

refactor: shorter delay
  src/index.ts
Labels: none

refactor: shorter delay
  src/index.ts
Labels: none

refactor: shorter delay
  src/index.ts
Labels: none

fix: obsidian rarer
  src/commands/mine.ts
Labels: commands

fix: obsidian rarer
  src/commands/mine.ts
Labels: commands

fix: obsidian rarer
  src/commands/mine.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
