Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

change thief task to allow bank robbing
  data/tasks.json
  src/commands/bankrob.ts
Labels: commands

change thief task to allow bank robbing
  data/tasks.json
  src/commands/bankrob.ts
Labels: commands

highroller £500
  data/tags.json
Labels: none

highroller £500
  data/tags.json
Labels: none

highroller £500
  data/tags.json
Labels: none

big oops
  src/utils/functions/economy/utils.ts
Labels: economy

big oops
  src/utils/functions/economy/utils.ts
Labels: economy

big oops
  src/utils/functions/economy/utils.ts
Labels: economy

fix: delete cache
  src/commands/reloaditems.ts
Labels: commands

fix: delete cache
  src/commands/reloaditems.ts
Labels: commands

fix: delete cache
  src/commands/reloaditems.ts
Labels: commands

UGH SILLY ME
  src/commands/reloaditems.ts
Labels: commands

UGH SILLY ME
  src/commands/reloaditems.ts
Labels: commands

UGH SILLY ME
  src/commands/reloaditems.ts
Labels: commands

remove unimportant index
  prisma/schema.prisma
Labels: schema

remove unimportant index
  prisma/schema.prisma
Labels: schema

remove unimportant index
  prisma/schema.prisma
Labels: schema

task alias
  src/commands/tasks.ts
Labels: commands

task alias
  src/commands/tasks.ts
Labels: commands

task alias
  src/commands/tasks.ts
Labels: commands

change default motd
  prisma/schema.prisma
Labels: schema

change default motd
  prisma/schema.prisma
Labels: schema

change default motd
  prisma/schema.prisma
Labels: schema

use new leaderboard page for none items
  src/commands/top.ts
Labels: commands

use new leaderboard page for none items
  src/commands/top.ts
Labels: commands

use new leaderboard page for none items
  src/commands/top.ts
Labels: commands

add interaction id to logs
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

add interaction id to logs
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

more tasks logs
  src/utils/functions/economy/tasks.ts
Labels: economy

more tasks logs
  src/utils/functions/economy/tasks.ts
Labels: economy

add interaction id to logs
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

more tasks logs
  src/utils/functions/economy/tasks.ts
Labels: economy

use interaction.update on bankrob
  src/commands/bankrob.ts
Labels: commands

use interaction.update on bankrob
  src/commands/bankrob.ts
Labels: commands

use interaction.update on bankrob
  src/commands/bankrob.ts
Labels: commands

make cookie monster task easier
  data/tasks.json
Labels: none

make cookie monster task easier
  data/tasks.json
Labels: none

make cookie monster task easier
  data/tasks.json
Labels: none

prevent error
  src/utils/handlers/commandhandler.ts
Labels: none

prevent error
  src/utils/handlers/commandhandler.ts
Labels: none

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
