Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

feat: backup prestige
  src/commands/x.ts
Labels: commands

feat: backup prestige
  src/commands/x.ts
Labels: commands

feat: backup prestige
  src/commands/x.ts
Labels: commands

fix: top prestige query
  src/utils/functions/economy/top.ts
Labels: economy

feat: migration script
  src/commands/x.ts
Labels: commands

feat: add nypsi crates to migration
  src/commands/x.ts
Labels: commands

feat: omega crate every 1k levels
  src/utils/functions/economy/levelling.ts
Labels: economy

fix: give tags
  src/commands/x.ts
Labels: commands

feat: bronze credit rewards
  src/utils/functions/economy/levelling.ts
Labels: economy

fix: prestige cooldown
  src/commands/profile.ts
Labels: commands

refactor: adjust odds
  data/upgrades.json
Labels: none

6.12.0
  package.json
Labels: none

feat: reroll token in scratch
  data/items.json
Labels: none

feat: reroll token in scratch
  data/items.json
Labels: none

feat: reroll token in scratch
  data/items.json
Labels: none

fix: cooldown msg
  src/commands/profile.ts
Labels: commands

fix: cooldown msg
  src/commands/profile.ts
Labels: commands

fix: cooldown msg
  src/commands/profile.ts
Labels: commands

fix: formatting
  src/commands/profile.ts
Labels: commands

fix: formatting
  src/commands/profile.ts
Labels: commands

fix: formatting
  src/commands/profile.ts
Labels: commands

fix: workers net?
  src/utils/functions/economy/balance.ts
Labels: economy

fix: workers net?
  src/utils/functions/economy/balance.ts
Labels: economy

fix: workers net?
  src/utils/functions/economy/balance.ts
Labels: economy

fix: workersn et worth i think
  src/utils/functions/economy/balance.ts
Labels: economy

fix: workersn et worth i think
  src/utils/functions/economy/balance.ts
Labels: economy

fix: workersn et worth i think
  src/utils/functions/economy/balance.ts
Labels: economy

fix: shorter cooldown
  src/commands/prestige.ts
  src/commands/profile.ts
Labels: commands

fix: shorter cooldown
  src/commands/prestige.ts
  src/commands/profile.ts
Labels: commands

fix: shorter cooldown
  src/commands/prestige.ts
  src/commands/profile.ts
Labels: commands

fix: owned workers showing as locked
  src/commands/workers.ts
Labels: commands

fix: owned workers showing as locked (#1246)
  src/commands/workers.ts
Labels: commands

fix: owned workers showing as locked (#1246)
  src/commands/workers.ts
Labels: commands

fix: owned workers showing as locked (#1246)
  src/commands/workers.ts
Labels: commands

fix: vote reward amount
  src/commands/vote.ts
  src/utils/handlers/webhookhandler.ts
Labels: commands

fix: vote reward amount
  src/commands/vote.ts
  src/utils/handlers/webhookhandler.ts
Labels: commands

fix: vote reward amount
  src/commands/vote.ts
  src/utils/handlers/webhookhandler.ts
Labels: commands

style: formatting
  src/commands/workers.ts
Labels: commands

style: formatting
  src/commands/workers.ts
Labels: commands

style: formatting
  src/commands/workers.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
