Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: top global maybe
  src/scheduled/jobs/topglobal.ts
Labels: scheduled

fix: top global maybe
  src/scheduled/jobs/topglobal.ts
Labels: scheduled

fix: top global maybe
  src/scheduled/jobs/topglobal.ts
Labels: scheduled

fix: speed limit 0 still not working (#1011)
  src/commands/streetrace.ts
Labels: commands

fix: speed limit 0 still not working (#1011)
  src/commands/streetrace.ts
Labels: commands

fix: speed limit 0 still not working (#1011)
  src/commands/streetrace.ts
Labels: commands

style: formatting
  src/commands/streetrace.ts
Labels: commands

style: formatting
  src/commands/streetrace.ts
Labels: commands

style: formatting
  src/commands/streetrace.ts
Labels: commands

fix: topgg api?
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: topgg api?
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: topgg api?
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: testtttt
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: testtttt
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: testtttt
  src/utils/handlers/webhookhandler.ts
Labels: none

Revert "fix: testtttt"
  src/utils/handlers/webhookhandler.ts
Labels: none

Revert "fix: testtttt"
  src/utils/handlers/webhookhandler.ts
Labels: none

Revert "fix: testtttt"
  src/utils/handlers/webhookhandler.ts
Labels: none

feat: command watch surveillance
  src/commands/cmdwatch.ts
  src/utils/Constants.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

feat: command watch surveillance
  src/commands/cmdwatch.ts
  src/utils/Constants.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

feat: command watch surveillance
  src/commands/cmdwatch.ts
  src/utils/Constants.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

6.6.7
  package.json
Labels: none

6.6.7
  package.json
Labels: none

6.6.7
  package.json
Labels: none

fix: different emojis (zack 😡)
  src/commands/cmdwatch.ts
Labels: commands

fix: different emojis (zack 😡)
  src/commands/cmdwatch.ts
Labels: commands

fix: different emojis (zack 😡)
  src/commands/cmdwatch.ts
Labels: commands

fix: stupid emojis
  src/commands/cmdwatch.ts
Labels: commands

fix: stupid emojis
  src/commands/cmdwatch.ts
Labels: commands

fix: stupid emojis
  src/commands/cmdwatch.ts
Labels: commands

fix: colour
  src/utils/handlers/commandhandler.ts
Labels: none

fix: colour
  src/utils/handlers/commandhandler.ts
Labels: none

fix: colour
  src/utils/handlers/commandhandler.ts
Labels: none

fix: guild id
  src/utils/handlers/commandhandler.ts
Labels: none

fix: guild id
  src/utils/handlers/commandhandler.ts
Labels: none

fix: guild id
  src/utils/handlers/commandhandler.ts
Labels: none

fix: better formatting like real logs
  src/utils/handlers/commandhandler.ts
Labels: none

fix: better formatting like real logs
  src/utils/handlers/commandhandler.ts
Labels: none

fix: better formatting like real logs
  src/utils/handlers/commandhandler.ts
Labels: none

fix: networth maybe?!
  src/commands/networth.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
