Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

use 1024 max length for field content
  src/models/EmbedBuilders.ts
Labels: none

add today's birthdays to $birthday
  src/commands/birthday.ts
  src/scheduled/clusterjobs/birthdays.ts
  src/utils/Constants.ts
  src/utils/functions/users/birthday.ts
Labels: users, scheduled, commands

clean up example env
  .env.example
Labels: none

make marketConfirm updateable, messageId nullable
  data/notifications.json
  prisma/migrations/20250424212830_market/migration.sql
  prisma/schema.prisma
  src/commands/settings.ts
  src/utils/functions/economy/market.ts
  src/utils/functions/users/notifications.ts
Labels: economy, users, commands, schema

prettier
  prisma/schema.prisma
  prisma/seed.ts
  src/commands/alts.ts
  src/commands/cmdwatch.ts
  src/commands/countdown.ts
  src/commands/createpalette.ts
  src/commands/market.ts
  src/commands/premium.ts
  src/commands/settings.ts
  src/utils/functions/economy/trade_requests.ts
  src/utils/functions/users/notifications.ts
  src/utils/logger.ts
  tsconfig.json
Labels: build, economy, users, commands, schema

dont ask me how i forgot one cause idk either
  src/commands/achievements.ts
Labels: commands

update from main & MessageFlags.Ephemeral
  src/commands/market.ts
  src/commands/trade.ts
  src/interactions/market_full.ts
  src/interactions/market_one.ts
  src/interactions/market_partial.ts
  src/interactions/trade_request_fulfill.ts
  src/utils/functions/economy/market.ts
  src/utils/functions/economy/trade_requests.ts
Labels: economy, commands

catching for potential issue??
  src/utils/functions/premium/premium.ts
Labels: premium

fix item bought response
  src/interactions/market_full.ts
  src/interactions/market_one.ts
  src/interactions/market_partial.ts
  src/utils/functions/economy/market.ts
Labels: economy

some fixes
  src/interactions/market_full.ts
  src/interactions/market_one.ts
  src/interactions/market_partial.ts
  src/utils/functions/economy/market.ts
Labels: economy

add error logging
  src/utils/functions/economy/trade_requests.ts
Labels: economy

ocd: add colons
  src/utils/functions/economy/market.ts
Labels: economy

don't edit actual message that's weird behaviour from discordjs
  src/interactions/market_full.ts
  src/interactions/market_one.ts
Labels: none

return items on error
  src/commands/trade.ts
Labels: commands

add username to logs
  src/utils/functions/economy/market.ts
Labels: economy

don't send message for completed order
  src/utils/functions/economy/market.ts
Labels: economy

bet this was from stupid ai autocomplete
  src/commands/market.ts
Labels: commands

change aucitons tip
  data/lists.json
Labels: none

better colours for buy/sell
  src/utils/functions/economy/market.ts
Labels: economy

use '64' value for ephemeral thing
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

fix 'all' money handling
  src/commands/trade.ts
Labels: commands

formatted numbers
  src/utils/functions/economy/market.ts
Labels: economy

use 'all'
  src/commands/market.ts
Labels: commands

partially bought notice (hopefully VERY rare)
  src/commands/market.ts
Labels: commands

use findunique
  src/interactions/market_full.ts
  src/utils/functions/economy/market.ts
Labels: economy

catch potential errors
  src/utils/functions/economy/market.ts
Labels: economy

maintenance checks
  src/interactions/market_full.ts
  src/interactions/market_one.ts
  src/interactions/market_partial.ts
Labels: none

value rock at 1b
  data/items.json
Labels: none

value crystal heart at 1b
  data/items.json
Labels: none

new line
  src/commands/item.ts
Labels: commands

shorter string
  src/commands/market.ts
Labels: commands

little message to stop confusion
  src/commands/market.ts
Labels: commands

handle partial
  src/commands/market.ts
Labels: commands

go in footer
  src/commands/market.ts
Labels: commands

better logs errors (wrong branch ik but fuck it this is gonna get merged anyway)
  src/scheduled/clusterjobs/moderationchecks.ts
Labels: scheduled

delete message on order delete
  src/utils/functions/economy/market.ts
Labels: economy

maybe fix fast things
  src/utils/functions/economy/market.ts
Labels: economy

use broadcast eval to update message
  src/utils/functions/economy/market.ts
Labels: economy

embed is not defined 😡
  src/utils/functions/economy/market.ts
Labels: economy

repeat for market sell
  src/utils/functions/economy/market.ts
Labels: economy
