Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

remove console.log
  src/commands/stats.ts
Labels: commands

remove console.log
  src/commands/stats.ts
Labels: commands

use game user's avatar if applicable
  src/commands/viewgame.ts
Labels: commands

use game user's avatar if applicable
  src/commands/viewgame.ts
Labels: commands

show wordle game info with ids
  src/commands/wordle.ts
  src/utils/functions/users/wordle.ts
Labels: users, commands

show wordle game info with ids
  src/commands/wordle.ts
  src/utils/functions/users/wordle.ts
Labels: users, commands

add game id link to wordle time results
  src/utils/functions/economy/top.ts
Labels: economy

add game id link to wordle time results
  src/utils/functions/economy/top.ts
Labels: economy

refactor: add more constants
  src/commands/auction.ts
  src/commands/case.ts
  src/commands/invite.ts
  src/commands/lottery.ts
  src/commands/premium.ts
  src/commands/reactionroles.ts
  src/commands/sex.ts
  src/commands/support.ts
  src/events/guildMemberRemove.ts
  src/events/interactionCreate.ts
  src/events/message.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/karma/karmashop.ts
  src/utils/functions/member.ts
  src/utils/functions/premium/boosters.ts
  src/utils/functions/premium/premium.ts
  src/utils/functions/supportrequest.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, karma, premium, commands, events

refactor: remove unused or redundant constants
  src/commands/ecohistory.ts
  src/commands/getcsvdata.ts
  src/utils/Constants.ts
Labels: commands

refactor: genai id and ah del roles in constants
  src/commands/auction.ts
  src/commands/give.ts
  src/commands/pay.ts
  src/utils/Constants.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

feat premium embed colour also counts for discord user colour
  src/commands/premium.ts
Labels: commands

feat premium embed colour also counts for discord user colour
  src/commands/premium.ts
Labels: commands

fix: delete don't remove
  src/commands/premium.ts
Labels: commands

fix: delete don't remove
  src/commands/premium.ts
Labels: commands

how could i forget the 100 limit and time more than 0 :pensive:
  src/utils/functions/economy/top.ts
Labels: economy

how could i forget the 100 limit and time more than 0 :pensive:
  src/utils/functions/economy/top.ts
Labels: economy

fix: remove console log
  src/utils/functions/economy/top.ts
Labels: economy

fix: remove console log
  src/utils/functions/economy/top.ts
Labels: economy

refactor: PREMIUM_REWARDS_LINK -> BOOST_REWARDS_LINK
  src/utils/Constants.ts
  src/utils/functions/premium/boosters.ts
Labels: premium

refactor: additional constants (#1719)
  src/commands/auction.ts
  src/commands/case.ts
  src/commands/ecohistory.ts
  src/commands/getcsvdata.ts
  src/commands/give.ts
  src/commands/invite.ts
  src/commands/lottery.ts
  src/commands/pay.ts
  src/commands/premium.ts
  src/commands/reactionroles.ts
  src/commands/sex.ts
  src/commands/support.ts
  src/events/guildMemberRemove.ts
  src/events/interactionCreate.ts
  src/events/message.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/karma/karmashop.ts
  src/utils/functions/member.ts
  src/utils/functions/premium/boosters.ts
  src/utils/functions/premium/premium.ts
  src/utils/functions/supportrequest.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, karma, premium, commands, events

refactor: additional constants (#1719)
  src/commands/auction.ts
  src/commands/case.ts
  src/commands/ecohistory.ts
  src/commands/getcsvdata.ts
  src/commands/give.ts
  src/commands/invite.ts
  src/commands/lottery.ts
  src/commands/pay.ts
  src/commands/premium.ts
  src/commands/reactionroles.ts
  src/commands/sex.ts
  src/commands/support.ts
  src/events/guildMemberRemove.ts
  src/events/interactionCreate.ts
  src/events/message.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/karma/karmashop.ts
  src/utils/functions/member.ts
  src/utils/functions/premium/boosters.ts
  src/utils/functions/premium/premium.ts
  src/utils/functions/supportrequest.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, karma, premium, commands, events

feat: do roles when setting colour with premium command
  src/commands/premium.ts
Labels: commands

feat: do roles when setting colour with premium command
  src/commands/premium.ts
Labels: commands

fix: allow setting default colour
  src/commands/premium.ts
Labels: commands

fix: allow setting default colour
  src/commands/premium.ts
Labels: commands

fixed?
  src/commands/premium.ts
Labels: commands

fixed?
  src/commands/premium.ts
Labels: commands

I simplified the directory paths
  tsconfig.json
Labels: build

reverse filter test
  src/commands/chatfilter.ts
Labels: commands

reverse filter test
  src/commands/chatfilter.ts
Labels: commands

refactor: use ids for alts instead of guildmembers
  src/commands/alts.ts
Labels: commands

refactor: use ids for alts instead of guildmembers
  src/commands/alts.ts
Labels: commands

feat: $workers debug commands
  src/commands/workers.ts
  src/utils/functions/economy/workers.ts
Labels: economy, commands

fricking non mutable array
  src/commands/alts.ts
Labels: commands

fricking non mutable array
  src/commands/alts.ts
Labels: commands

fix: should be -3
  src/utils/functions/z.ts
Labels: none

fix: should be -3
  src/utils/functions/z.ts
Labels: none

refactor: generify worker item finding logic
  data/workers.json
  src/commands/workers.ts
  src/scheduled/clusterjobs/workers.ts
  src/types/Workers.ts
  src/utils/functions/economy/boosters.ts
  src/utils/functions/economy/workers.ts
  src/utils/functions/random.ts
Labels: economy, scheduled, commands

fix: scrap chance closer to old value
  data/workers.json
Labels: none

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
