Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

feat: milf alias for sex cmd
  src/commands/sex.ts
Labels: commands

feat: milf alias for sex cmd
  src/commands/sex.ts
Labels: commands

fix: prevent bomb spawning on 25th square
  src/commands/mines.ts
Labels: commands

refactor: adjust increments
  src/commands/mines.ts
Labels: commands

fix: stupid floats
  src/commands/mines.ts
Labels: commands

refactor: adjust increments
  src/commands/mines.ts
Labels: commands

feat: increase randomness
  src/commands/mines.ts
Labels: commands

refactor: adjust increments
  src/commands/mines.ts
Labels: commands

feat: add gems
  src/commands/mines.ts
Labels: commands

refactor: change gem
  src/commands/mines.ts
Labels: commands

fix: adjust increments
  src/commands/mines.ts
Labels: commands

feat: message on gem found
  src/commands/mines.ts
Labels: commands

fix: improve message
  src/commands/mines.ts
Labels: commands

feat: mines update (#788)
  src/commands/mines.ts
Labels: commands

feat: mines update (#788)
  src/commands/mines.ts
Labels: commands

feat: mines update (#788)
  src/commands/mines.ts
Labels: commands

feat: mines update (#788)
  src/commands/mines.ts
Labels: commands

feat: replay mines game
  src/commands/mines.ts
Labels: commands

feat: replay mines game
  src/commands/mines.ts
Labels: commands

fix: prevent issues
  src/commands/mines.ts
Labels: commands

fix: prevent issues
  src/commands/mines.ts
Labels: commands

feat: blackjack play again
  src/commands/blackjack.ts
Labels: commands

feat: blackjack play again
  src/commands/blackjack.ts
Labels: commands

feat: add play again for highlow
  src/commands/highlow.ts
Labels: commands

feat: add play again for highlow
  src/commands/highlow.ts
Labels: commands

feat: add logs
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
Labels: commands

feat: add logs
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
Labels: commands

5.6.0
  package-lock.json
  package.json
Labels: none

5.6.0
  package-lock.json
  package.json
Labels: none

refactor: remove yablon
  src/commands/yablon.ts
Labels: commands

feat: replay button (#789)
  package-lock.json
  package.json
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/yablon.ts
Labels: commands

feat: replay button (#789)
  package-lock.json
  package.json
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/yablon.ts
Labels: commands

feat: replay button (#789)
  package-lock.json
  package.json
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/yablon.ts
Labels: commands

feat: replay button (#789)
  package-lock.json
  package.json
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/yablon.ts
Labels: commands

feat: crafting checks on the hour
  src/scheduled/clusterjobs/crafted.ts
Labels: scheduled

feat: crafting checks on the hour
  src/scheduled/clusterjobs/crafted.ts
Labels: scheduled

feat: crafting checks on the hour
  src/scheduled/clusterjobs/crafted.ts
Labels: scheduled

feat: crafting checks on the hour
  src/scheduled/clusterjobs/crafted.ts
Labels: scheduled

feat: add for prestige to requirements page
  src/commands/prestige.ts
Labels: commands

feat: add for prestige to requirements page
  src/commands/prestige.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
