Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

refactor: dont always log
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: dont always log
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: dont always log
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: dont always log
  src/utils/handlers/commandhandler.ts
Labels: none

6.2.0
  package.json
Labels: none

6.2.0
  package.json
Labels: none

feat: less win chance for daily and shop bought
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: legendary gets 3 wins
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: random expire
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: item use
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

feat: corner shop scratchie
  data/items.json
  src/commands/viewgame.ts
  src/utils/functions/economy/stats.ts
Labels: economy, commands

fix: aliases
  data/items.json
Labels: none

fix: formatting
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: prevent doing any checks for nothing
  src/utils/functions/economy/scratchies.ts
Labels: economy

refactor: slightly less nothings
  src/utils/functions/economy/scratchies.ts
Labels: economy

refactor: adjust corner shop crate items
  data/items.json
Labels: none

feat: add scratch cards (#861)
  data/achievements.json
  data/items.json
  data/karmashop.json
  package.json
  src/commands/stats.ts
  src/commands/use.ts
  src/commands/viewgame.ts
  src/types/Economy.ts
  src/utils/functions/economy/items/bronze_credit.ts
  src/utils/functions/economy/items/gold_credit.ts
  src/utils/functions/economy/items/platinum_credit.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/items/silver_credit.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/economy/stats.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

feat: add scratch cards (#861)
  data/achievements.json
  data/items.json
  data/karmashop.json
  package.json
  src/commands/stats.ts
  src/commands/use.ts
  src/commands/viewgame.ts
  src/types/Economy.ts
  src/utils/functions/economy/items/bronze_credit.ts
  src/utils/functions/economy/items/gold_credit.ts
  src/utils/functions/economy/items/platinum_credit.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/items/silver_credit.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/economy/stats.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

feat: add scratch cards (#861)
  data/achievements.json
  data/items.json
  data/karmashop.json
  package.json
  src/commands/stats.ts
  src/commands/use.ts
  src/commands/viewgame.ts
  src/types/Economy.ts
  src/utils/functions/economy/items/bronze_credit.ts
  src/utils/functions/economy/items/gold_credit.ts
  src/utils/functions/economy/items/platinum_credit.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/items/silver_credit.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/economy/stats.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

feat: add scratch cards (#861)
  data/achievements.json
  data/items.json
  data/karmashop.json
  package.json
  src/commands/stats.ts
  src/commands/use.ts
  src/commands/viewgame.ts
  src/types/Economy.ts
  src/utils/functions/economy/items/bronze_credit.ts
  src/utils/functions/economy/items/gold_credit.ts
  src/utils/functions/economy/items/platinum_credit.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/items/silver_credit.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/economy/stats.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

refactor: add more items to scratchies
  data/items.json
Labels: none

refactor: add more items to scratchies
  data/items.json
Labels: none

refactor: add more items to scratchies
  data/items.json
Labels: none

refactor: add more items to scratchies
  data/items.json
Labels: none

refactor: legendary scratch card 1m
  data/items.json
Labels: none

refactor: legendary scratch card 1m
  data/items.json
Labels: none

refactor: legendary scratch card 1m
  data/items.json
Labels: none

refactor: legendary scratch card 1m
  data/items.json
Labels: none

fix: viewing scratch card games
  src/commands/viewgame.ts
Labels: commands

fix: viewing scratch card games
  src/commands/viewgame.ts
Labels: commands

fix: viewing scratch card games
  src/commands/viewgame.ts
Labels: commands

fix: viewing scratch card games
  src/commands/viewgame.ts
Labels: commands

feat(karmashop): add legendary scratch card
  data/karmashop.json
Labels: none

feat(karmashop): add legendary scratch card
  data/karmashop.json
Labels: none

feat(karmashop): add legendary scratch card
  data/karmashop.json
Labels: none

feat(karmashop): add legendary scratch card
  data/karmashop.json
Labels: none

feat: daily alias
  data/items.json
Labels: none

feat: daily alias
  data/items.json
Labels: none

feat: daily alias
  data/items.json
Labels: none

feat: daily alias
  data/items.json
Labels: none
