Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

refactor: 1 week cache
  src/utils/functions/users/tags.ts
Labels: users

refactor: i did some im too lazy
  src/utils/functions/economy/top.ts
Labels: economy

refactor: i did some im too lazy
  src/utils/functions/economy/top.ts
Labels: economy

refactor: i did some im too lazy
  src/utils/functions/economy/top.ts
Labels: economy

feat: add current streak to $daily when on cooldown
  src/commands/daily.ts
Labels: commands

fix: i am so smart
  src/commands/daily.ts
Labels: commands

fix: webhook avatar
  src/commands/logs.ts
  src/commands/modlogs.ts
  src/scheduled/clusterjobs/moderationchecks.ts
Labels: scheduled, commands

fix: webhook avatar
  src/commands/logs.ts
  src/commands/modlogs.ts
  src/scheduled/clusterjobs/moderationchecks.ts
Labels: scheduled, commands

fix: webhook avatar
  src/commands/logs.ts
  src/commands/modlogs.ts
  src/scheduled/clusterjobs/moderationchecks.ts
Labels: scheduled, commands

feat: add current streak to $daily when on cooldown (#1159)
  src/commands/daily.ts
Labels: commands

feat: add current streak to $daily when on cooldown (#1159)
  src/commands/daily.ts
Labels: commands

feat: add current streak to $daily when on cooldown (#1159)
  src/commands/daily.ts
Labels: commands

feat: much improved member selection algorithm
  src/utils/functions/member.ts
  src/utils/functions/workers/choosemember.ts
Labels: none

feat: much improved member selection algorithm
  src/utils/functions/member.ts
  src/utils/functions/workers/choosemember.ts
Labels: none

feat: much improved member selection algorithm
  src/utils/functions/member.ts
  src/utils/functions/workers/choosemember.ts
Labels: none

6.9.2
  package.json
Labels: none

6.9.2
  package.json
Labels: none

6.9.2
  package.json
Labels: none

fix: remove cr debug logs
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: remove cr debug logs
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: remove cr debug logs
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: redis key
  src/utils/functions/premium/color.ts
Labels: premium

fix: redis key
  src/utils/functions/premium/color.ts
Labels: premium

fix: redis key
  src/utils/functions/premium/color.ts
Labels: premium

fix: to lower case
  src/commands/premium.ts
Labels: commands

fix: to lower case
  src/commands/premium.ts
Labels: commands

fix: to lower case
  src/commands/premium.ts
Labels: commands

fix: new nypsi logo
  data/achievements.json
  data/items.json
  data/karmashop.json
  data/tags.json
Labels: none

fix: new nypsi logo
  data/achievements.json
  data/items.json
  data/karmashop.json
  data/tags.json
Labels: none

fix: new nypsi logo
  data/achievements.json
  data/items.json
  data/karmashop.json
  data/tags.json
Labels: none

fix: keep for longer
  src/scheduled/clusterjobs/checkauctions.ts
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

fix: keep for longer
  src/scheduled/clusterjobs/checkauctions.ts
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

fix: keep for longer
  src/scheduled/clusterjobs/checkauctions.ts
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

fix: stupid emoji
  data/achievements.json
  data/items.json
  data/karmashop.json
  data/tags.json
Labels: none

fix: stupid emoji
  data/achievements.json
  data/items.json
  data/karmashop.json
  data/tags.json
Labels: none

fix: stupid emoji
  data/achievements.json
  data/items.json
  data/karmashop.json
  data/tags.json
Labels: none

fix: dont loop
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: dont loop
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: dont loop
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: dont run multiple instances at once
  src/utils/handlers/notificationhandler.ts
Labels: none
