Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

slightly reduce bomb count
  src/commands/mines.ts
Labels: commands

efficiency stacks to 3
  data/items.json
Labels: none

efficiency stacks to 3
  data/items.json
Labels: none

fix: change desc
  data/items.json
Labels: none

fix: change desc
  data/items.json
Labels: none

unique items support
  src/scheduled/clusterjobs/random-drops.ts
  src/types/Economy.ts
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy, scheduled

unique items support
  src/scheduled/clusterjobs/random-drops.ts
  src/types/Economy.ts
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy, scheduled

add rock collectable
  data/items.json
Labels: none

add rock collectable
  data/items.json
Labels: none

add mona lisa unique item
  data/items.json
Labels: none

add mona lisa unique item
  data/items.json
Labels: none

9.0.1
  package.json
Labels: none

9.0.1
  package.json
Labels: none

fix: dont error when checking unique
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: dont error when checking unique
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy

prevent errors when sweeping
  src/nypsi.ts
Labels: none

prevent errors when sweeping
  src/nypsi.ts
Labels: none

add some flowers
  data/items.json
Labels: none

add some flowers
  data/items.json
Labels: none

include auctions in the 'in world' count
  src/utils/functions/economy/inventory.ts
Labels: economy

include auctions in the 'in world' count
  src/utils/functions/economy/inventory.ts
Labels: economy

i hate javascript!
  src/utils/functions/economy/inventory.ts
Labels: economy

i hate javascript!
  src/utils/functions/economy/inventory.ts
Labels: economy

add more flowers
  data/items.json
Labels: none

add more flowers
  data/items.json
Labels: none

add garden command
  data/items.json
  src/commands/garden.ts
Labels: commands

add garden command
  data/items.json
  src/commands/garden.ts
Labels: commands

new wordle game stat recording
  prisma/schema.prisma
  src/commands/wordle.ts
  src/utils/functions/users/wordle.ts
Labels: users, commands, schema

remove stats command from wordle
  src/commands/wordle.ts
Labels: commands

old stats migrate command
  src/commands/x.ts
Labels: commands

update stats command (test in production yay!)
  prisma/migrations/20250114163501_wordle_stats/migration.sql
  prisma/schema.prisma
  src/commands/stats.ts
  src/utils/functions/users/wordle.ts
Labels: users, commands, schema

9.1.0
  package.json
Labels: none

use new tables for leaderboard
  src/utils/functions/economy/top.ts
Labels: economy

use new table for leaderboards and add time leaderboards
  src/commands/top.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/string.ts
Labels: economy, commands

feat: new wordle stats tracking (#1714)
  package.json
  prisma/migrations/20250114163501_wordle_stats/migration.sql
  prisma/schema.prisma
  src/commands/stats.ts
  src/commands/top.ts
  src/commands/wordle.ts
  src/commands/x.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/string.ts
  src/utils/functions/users/wordle.ts
Labels: economy, users, commands, schema

feat: new wordle stats tracking (#1714)
  package.json
  prisma/migrations/20250114163501_wordle_stats/migration.sql
  prisma/schema.prisma
  src/commands/stats.ts
  src/commands/top.ts
  src/commands/wordle.ts
  src/commands/x.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/string.ts
  src/utils/functions/users/wordle.ts
Labels: economy, users, commands, schema

flowers are collectables
  src/utils/functions/economy/inventory.ts
Labels: economy

flowers are collectables
  src/utils/functions/economy/inventory.ts
Labels: economy

add cherry blossom to loot drops
  data/items.json
Labels: none

add cherry blossom to loot drops
  data/items.json
Labels: none
