Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

stupid me idiot max
  src/commands/history.ts
Labels: commands

stupid me idiot max
  src/commands/history.ts
Labels: commands

fix: continue not break
  src/commands/role.ts
Labels: commands

fix: continue not break
  src/commands/role.ts
Labels: commands

fix crash subcommand
  src/commands/x.ts
Labels: commands

fix crash subcommand
  src/commands/x.ts
Labels: commands

fix: crash xp using wrong multi
  src/utils/functions/economy/crash.ts
Labels: economy

fix: crash xp using wrong multi
  src/utils/functions/economy/crash.ts
Labels: economy

fix: prevent invaiid autostop values
  src/utils/functions/economy/crash.ts
Labels: economy

fix: prevent invaiid autostop values
  src/utils/functions/economy/crash.ts
Labels: economy

think i just massively improved achievement percentage counting
  src/utils/functions/economy/top.ts
Labels: economy

think i just massively improved achievement percentage counting
  src/utils/functions/economy/top.ts
Labels: economy

auto buy lottery tickets
  prisma/migrations/20241127190210_daily_lotto/migration.sql
  prisma/schema.prisma
  src/commands/lottery.ts
  src/scheduled/jobs/lottery.ts
  src/utils/functions/economy/lottery.ts
Labels: economy, scheduled, commands, schema

fix autobuy display
  src/commands/lottery.ts
Labels: commands

show daily lottery ticket cost
  src/commands/lottery.ts
Labels: commands

add auto buy log
  src/scheduled/jobs/lottery.ts
Labels: scheduled

it was returning ):
  src/scheduled/jobs/lottery.ts
Labels: scheduled

feat: lottery auto buy & hide totals (#1668)
  prisma/migrations/20241127190210_daily_lotto/migration.sql
  prisma/schema.prisma
  src/commands/item.ts
  src/commands/lottery.ts
  src/scheduled/jobs/lottery.ts
  src/scheduled/jobs/topsnapshot.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/lottery.ts
Labels: economy, scheduled, commands, schema

feat: lottery auto buy & hide totals (#1668)
  prisma/migrations/20241127190210_daily_lotto/migration.sql
  prisma/schema.prisma
  src/commands/item.ts
  src/commands/lottery.ts
  src/scheduled/jobs/lottery.ts
  src/scheduled/jobs/topsnapshot.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/lottery.ts
Labels: economy, scheduled, commands, schema

8.9.1
  package.json
Labels: none

8.9.1
  package.json
Labels: none

don't include games
  src/commands/x.ts
Labels: commands

don't include games
  src/commands/x.ts
Labels: commands

remove cars from omega crate
  data/items.json
Labels: none

remove cars from omega crate
  data/items.json
Labels: none

feat: better image support for support tickets
  src/commands/reply.ts
  src/events/message.ts
  src/utils/functions/image.ts
  src/utils/functions/supportrequest.ts
Labels: commands, events

feat: better image support for support tickets
  src/commands/reply.ts
  src/events/message.ts
  src/utils/functions/image.ts
  src/utils/functions/supportrequest.ts
Labels: commands, events

return loadavg in status report
  src/index.ts
Labels: none

return loadavg in status report
  src/index.ts
Labels: none

fix: show proper expire date
  src/utils/functions/economy/items/bronze_credit.ts
  src/utils/functions/economy/items/gold_credit.ts
  src/utils/functions/economy/items/platinum_credit.ts
Labels: economy

fix: show proper expire date
  src/utils/functions/economy/items/bronze_credit.ts
  src/utils/functions/economy/items/gold_credit.ts
  src/utils/functions/economy/items/platinum_credit.ts
Labels: economy

crash: don't force autostop
  src/utils/functions/economy/crash.ts
Labels: economy

crash: don't force autostop
  src/utils/functions/economy/crash.ts
Labels: economy

higher chance for captcha when doing crash
  src/utils/functions/economy/crash.ts
Labels: economy

higher chance for captcha when doing crash
  src/utils/functions/economy/crash.ts
Labels: economy

fix: credit no credits
  src/utils/functions/economy/items/bronze_credit.ts
  src/utils/functions/economy/items/gold_credit.ts
  src/utils/functions/economy/items/platinum_credit.ts
Labels: economy

fix: credit no credits
  src/utils/functions/economy/items/bronze_credit.ts
  src/utils/functions/economy/items/gold_credit.ts
  src/utils/functions/economy/items/platinum_credit.ts
Labels: economy

delete old support images
  src/scheduled/jobs/purge.ts
  src/utils/functions/image.ts
Labels: scheduled

delete old support images
  src/scheduled/jobs/purge.ts
  src/utils/functions/image.ts
Labels: scheduled

set prefix header iamge
  src/commands/prefix.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
