Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: add logs
  src/commands/x.ts
Labels: commands

fix: add logs
  src/commands/x.ts
Labels: commands

feat: premium stuff done
  src/commands/x.ts
Labels: commands

feat: premium stuff done
  src/commands/x.ts
Labels: commands

fix: send buttons
  src/commands/x.ts
Labels: commands

fix: send buttons
  src/commands/x.ts
Labels: commands

fix: boooooobies
  src/commands/x.ts
Labels: commands

fix: boooooobies
  src/commands/x.ts
Labels: commands

feat: modify balance
  src/commands/x.ts
Labels: commands

feat: modify balance
  src/commands/x.ts
Labels: commands

refactor: allow id
  src/utils/functions/economy/balance.ts
Labels: economy

refactor: allow id
  src/utils/functions/economy/balance.ts
Labels: economy

feat: set bank
  src/commands/x.ts
Labels: commands

feat: set bank
  src/commands/x.ts
Labels: commands

refactor: allow id
  src/utils/functions/economy/prestige.ts
Labels: economy

refactor: allow id
  src/utils/functions/economy/prestige.ts
Labels: economy

feat: set prestige
  src/commands/x.ts
Labels: commands

feat: set prestige
  src/commands/x.ts
Labels: commands

feat: set inv
  src/commands/x.ts
Labels: commands

feat: set inv
  src/commands/x.ts
Labels: commands

feat: setkarma
  src/commands/x.ts
Labels: commands

feat: setkarma
  src/commands/x.ts
Labels: commands

6.5.2
  package.json
Labels: none

6.5.2
  package.json
Labels: none

feat: ecoban
  src/commands/x.ts
Labels: commands

feat: blacklist
  src/commands/x.ts
Labels: commands

feat: aaa
  src/commands/x.ts
Labels: commands

feat: xp
  src/commands/x.ts
Labels: commands

fix: msg
  src/commands/x.ts
Labels: commands

fix: prevent crates
  src/commands/x.ts
Labels: commands

fix: aaaa
  src/commands/x.ts
Labels: commands

fix: fake ac
  setup.sh
Labels: none

fix: uguuguuh
  setup.sh
Labels: none

feat: proper admin controls (#936)
  package.json
  prisma/migrations/20230319213643_admin_level/migration.sql
  prisma/schema.prisma
  setup.sh
  src/commands/x.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/prestige.ts
  src/utils/functions/users/admin.ts
  src/utils/functions/users/commands.ts
Labels: economy, users, commands, schema

feat: proper admin controls (#936)
  package.json
  prisma/migrations/20230319213643_admin_level/migration.sql
  prisma/schema.prisma
  setup.sh
  src/commands/x.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/prestige.ts
  src/utils/functions/users/admin.ts
  src/utils/functions/users/commands.ts
Labels: economy, users, commands, schema

feat: proper admin controls (#936)
  package.json
  prisma/migrations/20230319213643_admin_level/migration.sql
  prisma/schema.prisma
  setup.sh
  src/commands/x.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/prestige.ts
  src/utils/functions/users/admin.ts
  src/utils/functions/users/commands.ts
Labels: economy, users, commands, schema

feat: proper admin controls (#936)
  package.json
  prisma/migrations/20230319213643_admin_level/migration.sql
  prisma/schema.prisma
  setup.sh
  src/commands/x.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/prestige.ts
  src/utils/functions/users/admin.ts
  src/utils/functions/users/commands.ts
Labels: economy, users, commands, schema

feat: sender can cancel requests
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
Labels: commands

feat: sender can cancel requests
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
Labels: commands

feat: sender can cancel requests
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
Labels: commands
