Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

feat: logs
  src/commands/wholesome.ts
Labels: commands

style: formatting
  src/commands/wholesome.ts
Labels: commands

style: formatting
  src/commands/wholesome.ts
Labels: commands

style: formatting
  src/commands/wholesome.ts
Labels: commands

feat: increase autosell limit
  src/commands/autosell.ts
Labels: commands

feat: increase autosell limit
  src/commands/autosell.ts
Labels: commands

feat: increase autosell limit
  src/commands/autosell.ts
Labels: commands

fix: cascade delete
  prisma/schema.prisma
Labels: schema

fix: cascade delete
  prisma/schema.prisma
Labels: schema

fix: cascade delete
  prisma/schema.prisma
Labels: schema

feat: buff cheese
  data/items.json
Labels: none

feat: buff cheese
  data/items.json
Labels: none

feat: buff cheese
  data/items.json
Labels: none

fix: dont use delay on worker thread
  src/utils/functions/workers/mentions.ts
Labels: none

fix: dont use delay on worker thread
  src/utils/functions/workers/mentions.ts
Labels: none

fix: dont use delay on worker thread
  src/utils/functions/workers/mentions.ts
Labels: none

fix: broken link
  economy/minecraft.md
Labels: none

fix: dont sweep recent bot messages
  src/nypsi.ts
Labels: none

fix: dont sweep recent bot messages
  src/nypsi.ts
Labels: none

fix: dont sweep recent bot messages
  src/nypsi.ts
Labels: none

fix: broken link (#1111)
  economy/minecraft.md
Labels: none

refactor: normalise xp for lower players
  src/utils/functions/economy/xp.ts
Labels: economy

refactor: normalise xp for lower players
  src/utils/functions/economy/xp.ts
Labels: economy

refactor: normalise xp for lower players
  src/utils/functions/economy/xp.ts
Labels: economy

chore: testing silly usermanager cache limit
  src/nypsi.ts
Labels: none

chore: testing silly usermanager cache limit
  src/nypsi.ts
Labels: none

chore: testing silly usermanager cache limit
  src/nypsi.ts
Labels: none

fix: ok works at small amount
  src/nypsi.ts
Labels: none

fix: ok works at small amount
  src/nypsi.ts
Labels: none

fix: ok works at small amount
  src/nypsi.ts
Labels: none

fix: it does work im just an idiot
  src/nypsi.ts
Labels: none

fix: it does work im just an idiot
  src/nypsi.ts
Labels: none

fix: it does work im just an idiot
  src/nypsi.ts
Labels: none

fix: remove log
  src/nypsi.ts
Labels: none

fix: remove log
  src/nypsi.ts
Labels: none

fix: remove log
  src/nypsi.ts
Labels: none

feat: teehee
  src/nypsi.ts
Labels: none

feat: teehee
  src/nypsi.ts
Labels: none

feat: teehee
  src/nypsi.ts
Labels: none

style: formatting
  src/commands/autosell.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
