Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

refactor: nerf warehouse expansion
  data/workers.json
Labels: none

refactor: nerf warehouse expansion
  data/workers.json
Labels: none

refactor: nerf warehouse expansion
  data/workers.json
Labels: none

ci: run renovate daily
  renovate.json
Labels: none

ci: run renovate daily
  renovate.json
Labels: none

ci: run renovate daily
  renovate.json
Labels: none

ci: run renovate daily
  renovate.json
Labels: none

fix: console error on purge
  src/commands/purge.ts
Labels: commands

fix: console error on purge
  src/commands/purge.ts
Labels: commands

fix: console error on purge
  src/commands/purge.ts
Labels: commands

fix: console error on purge
  src/commands/purge.ts
Labels: commands

feat: logs for long preprocess time
  src/utils/handlers/commandhandler.ts
Labels: none

feat: logs for long preprocess time
  src/utils/handlers/commandhandler.ts
Labels: none

feat: logs for long preprocess time
  src/utils/handlers/commandhandler.ts
Labels: none

feat: logs for long preprocess time
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: longer caching
  src/utils/functions/economy/utils.ts
  src/utils/functions/guilds/utils.ts
  src/utils/functions/users/history.ts
  src/utils/functions/users/utils.ts
Labels: economy, guild, users

refactor: longer caching
  src/utils/functions/economy/utils.ts
  src/utils/functions/guilds/utils.ts
  src/utils/functions/users/history.ts
  src/utils/functions/users/utils.ts
Labels: economy, guild, users

refactor: longer caching
  src/utils/functions/economy/utils.ts
  src/utils/functions/guilds/utils.ts
  src/utils/functions/users/history.ts
  src/utils/functions/users/utils.ts
Labels: economy, guild, users

refactor: longer caching
  src/utils/functions/economy/utils.ts
  src/utils/functions/guilds/utils.ts
  src/utils/functions/users/history.ts
  src/utils/functions/users/utils.ts
Labels: economy, guild, users

fix: ignreo verified status when user gives captcha
  src/commands/captchatest.ts
  src/utils/functions/captcha.ts
Labels: commands

fix: ignreo verified status when user gives captcha
  src/commands/captchatest.ts
  src/utils/functions/captcha.ts
Labels: commands

fix: ignreo verified status when user gives captcha
  src/commands/captchatest.ts
  src/utils/functions/captcha.ts
Labels: commands

fix: ignreo verified status when user gives captcha
  src/commands/captchatest.ts
  src/utils/functions/captcha.ts
Labels: commands

6.0.5
  package.json
Labels: none

6.0.5
  package.json
Labels: none

6.0.5
  package.json
Labels: none

6.0.5
  package.json
Labels: none

refactor: reduce multi
  src/utils/functions/economy/balance.ts
Labels: economy

refactor: reduce multi
  src/utils/functions/economy/balance.ts
Labels: economy

refactor: reduce multi
  src/utils/functions/economy/balance.ts
Labels: economy

refactor: reduce multi
  src/utils/functions/economy/balance.ts
Labels: economy

feat: add avg bet to stats
  src/commands/stats.ts
  src/utils/functions/economy/stats.ts
Labels: economy, commands

feat: add avg bet to stats
  src/commands/stats.ts
  src/utils/functions/economy/stats.ts
Labels: economy, commands

feat: add avg bet to stats
  src/commands/stats.ts
  src/utils/functions/economy/stats.ts
Labels: economy, commands

feat: add avg bet to stats
  src/commands/stats.ts
  src/utils/functions/economy/stats.ts
Labels: economy, commands

feat: use specific userids for graph all
  src/commands/ecohistory.ts
  src/utils/functions/workers/jsongraph.ts
Labels: commands

feat: use specific userids for graph all
  src/commands/ecohistory.ts
  src/utils/functions/workers/jsongraph.ts
Labels: commands

feat: use specific userids for graph all
  src/commands/ecohistory.ts
  src/utils/functions/workers/jsongraph.ts
Labels: commands

feat: use specific userids for graph all
  src/commands/ecohistory.ts
  src/utils/functions/workers/jsongraph.ts
Labels: commands

test: log response
  src/commands/ecohistory.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
