Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

feat: add marriage functionality (#1976)
  CHANGELOG.md
  data/items.json
  prisma/migrations/20250618034837_marriage/migration.sql
  prisma/schema.prisma
  src/commands/divorce.ts
  src/commands/marry.ts
  src/commands/profile.ts
  src/utils/Constants.ts
  src/utils/functions/users/marriage.ts
  src/utils/functions/users/utils.ts
Labels: users, commands, schema

update changelog, view all ratings, fix cooldown
  CHANGELOG.md
  src/commands/tmdb.ts
  src/utils/functions/tmdb.ts
Labels: commands

tmdb where to watch, tv seasons/episodes, nypsi ratings, credits (#1974)
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250616183043_tmdb_nypsi_ratings/migration.sql
  prisma/schema.prisma
  src/commands/tmdb.ts
  src/types/tmdb.ts
  src/utils/Constants.ts
  src/utils/functions/gtf/countries.ts
  src/utils/functions/gtf/game.ts
  src/utils/functions/tmdb.ts
Labels: commands, schema

add tmdb movie/tv rate task
  data/tasks.json
  src/utils/functions/tmdb.ts
Labels: none

guild member slots increase requirements for level up
  CHANGELOG.md
  src/commands/guild.ts
  src/utils/functions/economy/guilds.ts
Labels: economy, commands

fix: don't divide rating by 2
  src/commands/tmdb.ts
Labels: commands

fix cooldowns freezing at 0.1s for some commands
  src/utils/handlers/cooldownhandler.ts
Labels: none

dont dupe rings on expiry
  src/commands/marry.ts
Labels: commands

dont dupe rings on expiry (#1978)
  src/commands/marry.ts
Labels: commands

invalidate cache on marriage
  src/utils/functions/users/marriage.ts
Labels: users

fix cooldowns freezing at 0.1s for some commands (#1977)
  src/utils/handlers/cooldownhandler.ts
Labels: none

ok prettier
  src/utils/functions/member.ts
Labels: none

dont swap aura transaction
  src/utils/functions/users/aura.ts
Labels: users

built up api structure
  src/api/controllers/indexController.ts
  src/api/middleware/error.ts
  src/api/middleware/logger.ts
  src/api/server.ts
  src/index.ts
  src/utils/handlers/webhookhandler.ts
Labels: none

add comments
  src/api/server.ts
Labels: none

change to hono
  package.json
  pnpm-lock.yaml
  src/api/controllers/indexController.ts
  src/api/middleware/error.ts
  src/api/middleware/logger.ts
  src/api/server.ts
  src/index.ts
Labels: none

bruno docs
  .bruno/bruno.json
  .bruno/collection.bru
  .bruno/index.bru
Labels: none

add status endpoint
  .bruno/index.bru
  .bruno/status.bru
  src/api/server.ts
Labels: none

add auth to status endpoint
  .bruno/collection.bru
  .env.example
  src/api/server.ts
Labels: none

migrate vote endpoint
  .bruno/vote.bru
  src/api/controllers/vote.ts
  src/api/server.ts
  src/utils/handlers/webhookhandler.ts
Labels: none

migrate kofi endpoint
  src/api/controllers/kofi.ts
  src/api/server.ts
  src/utils/handlers/webhookhandler.ts
Labels: none

migrate animal lover endpoint
  src/api/server.ts
Labels: none

migrate redis endpoint
  src/api/server.ts
Labels: none

migrate item value endpoint
  src/api/server.ts
Labels: none

add reboot endpoint
  .bruno/reboot.bru
  src/api/server.ts
Labels: none

remove topgg-sdk package
  package.json
  pnpm-lock.yaml
Labels: none

delete unused file
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: only check src files
  package.json
Labels: none

improve api (#1984)
  .bruno/bruno.json
  .bruno/collection.bru
  .bruno/index.bru
  .bruno/reboot.bru
  .bruno/status.bru
  .bruno/vote.bru
  .env.example
  package.json
  pnpm-lock.yaml
  src/api/controllers/kofi.ts
  src/api/controllers/vote.ts
  src/api/server.ts
  src/index.ts
Labels: none

fix bruno request
  .bruno/reboot.bru
Labels: none

better logs
  src/api/controllers/kofi.ts
Labels: none

fix: form data for kofi
  src/api/controllers/kofi.ts
Labels: none

is it data???
  src/api/controllers/kofi.ts
Labels: none

pissing me off
  src/api/controllers/kofi.ts
Labels: none

fix kofi i think i hope
  src/api/controllers/kofi.ts
  src/api/server.ts
Labels: none

be able to restore streaks from x
  src/api/controllers/vote.ts
  src/commands/x.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/vote.ts
Labels: economy, commands

dont update lastvote on rerun
  src/commands/x.ts
Labels: commands

improve kofi request
  .bruno/kofi.bru
Labels: none

add logging to api
  src/api/middleware/logger.ts
  src/api/server.ts
Labels: none

chore: remove @types/express
  package.json
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
