Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

refactor: reduce cookie sell price
  data/items.json
Labels: none

refactor: reduce cookie sell price
  data/items.json
Labels: none

refactor: reduce cookie sell price
  data/items.json
Labels: none

refactor: no point doing 1 first
  src/scheduled/clusterjobs/networth-update.ts
Labels: scheduled

refactor: no point doing 1 first
  src/scheduled/clusterjobs/networth-update.ts
Labels: scheduled

refactor: no point doing 1 first
  src/scheduled/clusterjobs/networth-update.ts
Labels: scheduled

refactor: no point doing 1 first
  src/scheduled/clusterjobs/networth-update.ts
Labels: scheduled

fix: optional chaining
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

fix: optional chaining
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

fix: optional chaining
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

fix: optional chaining
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

refactor: dms must be enabled
  src/utils/functions/economy/inventory.ts
Labels: economy

refactor: dms must be enabled
  src/utils/functions/economy/inventory.ts
Labels: economy

refactor: dms must be enabled
  src/utils/functions/economy/inventory.ts
Labels: economy

refactor: dms must be enabled
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: achievement filter
  src/utils/functions/economy/achievements.ts
Labels: economy

fix: achievement filter
  src/utils/functions/economy/achievements.ts
Labels: economy

fix: achievement filter
  src/utils/functions/economy/achievements.ts
Labels: economy

fix: achievement filter
  src/utils/functions/economy/achievements.ts
Labels: economy

6.0.3
  package.json
Labels: none

6.0.3
  package.json
Labels: none

6.0.3
  package.json
Labels: none

6.0.3
  package.json
Labels: none

refactor: nerf bank balances
  src/commands/bankrob.ts
Labels: commands

refactor: nerf bank balances
  src/commands/bankrob.ts
Labels: commands

refactor: nerf bank balances
  src/commands/bankrob.ts
Labels: commands

refactor: nerf bank balances
  src/commands/bankrob.ts
Labels: commands

fix: use embed image (message content limitation
  src/commands/ecohistory.ts
Labels: commands

fix: use embed image (message content limitation
  src/commands/ecohistory.ts
Labels: commands

fix: use embed image (message content limitation
  src/commands/ecohistory.ts
Labels: commands

fix: use embed image (message content limitation
  src/commands/ecohistory.ts
Labels: commands

fix: use quickchart short url
  src/commands/ecohistory.ts
Labels: commands

fix: use quickchart short url
  src/commands/ecohistory.ts
Labels: commands

fix: use quickchart short url
  src/commands/ecohistory.ts
Labels: commands

fix: use quickchart short url
  src/commands/ecohistory.ts
Labels: commands

ci: use pnpm cache
  .github/workflows/ci.yml
Labels: ci

ci: use pnpm cache
  .github/workflows/ci.yml
Labels: ci

ci: use pnpm cache
  .github/workflows/ci.yml
Labels: ci

ci: use pnpm cache
  .github/workflows/ci.yml
Labels: ci

ci: dont use dev dependencies only
  .github/workflows/ci.yml
Labels: ci
