Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: dont include gem crate
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: dont include gem crate
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: dont include gem crate
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: dont include gem crate
  src/utils/functions/economy/inventory.ts
Labels: economy

feat: simpler format for top item
  src/commands/top.ts
Labels: commands

feat: simpler format for top item
  src/commands/top.ts
Labels: commands

feat: simpler format for top item
  src/commands/top.ts
Labels: commands

feat: simpler format for top item
  src/commands/top.ts
Labels: commands

refactor: slightly reduced multi
  src/utils/functions/economy/balance.ts
Labels: economy

refactor: slightly reduced multi
  src/utils/functions/economy/balance.ts
Labels: economy

refactor: slightly reduced multi
  src/utils/functions/economy/balance.ts
Labels: economy

refactor: slightly reduced multi
  src/utils/functions/economy/balance.ts
Labels: economy

6.4.5
  package.json
Labels: none

6.4.5
  package.json
Labels: none

6.4.5
  package.json
Labels: none

6.4.5
  package.json
Labels: none

feat: auto ban
  src/utils/functions/captcha.ts
Labels: none

feat: auto ban
  src/utils/functions/captcha.ts
Labels: none

feat: auto ban
  src/utils/functions/captcha.ts
Labels: none

feat: auto ban
  src/utils/functions/captcha.ts
Labels: none

fix: better handling
  src/commands/top.ts
Labels: commands

fix: better handling
  src/commands/top.ts
Labels: commands

fix: better handling
  src/commands/top.ts
Labels: commands

fix: better handling
  src/commands/top.ts
Labels: commands

feat: buff scratch cards
  data/items.json
Labels: none

feat: buff scratch cards
  data/items.json
Labels: none

feat: buff scratch cards
  data/items.json
Labels: none

feat: buff scratch cards
  data/items.json
Labels: none

feat: remove entry fee limit on street races
  src/commands/streetrace.ts
Labels: commands

feat: remove entry fee limit on street races
  src/commands/streetrace.ts
Labels: commands

feat: remove entry fee limit on street races
  src/commands/streetrace.ts
Labels: commands

feat: remove entry fee limit on street races
  src/commands/streetrace.ts
Labels: commands

refactor: 4 votes to start chat reaction
  src/commands/chatreaction.ts
Labels: commands

refactor: 4 votes to start chat reaction
  src/commands/chatreaction.ts
Labels: commands

refactor: 4 votes to start chat reaction
  src/commands/chatreaction.ts
Labels: commands

refactor: 4 votes to start chat reaction
  src/commands/chatreaction.ts
Labels: commands

feat: add bob
  data/items.json
  src/utils/functions/economy/items/bob.ts
Labels: economy

feat: add bob
  data/items.json
  src/utils/functions/economy/items/bob.ts
Labels: economy

feat: add bob
  data/items.json
  src/utils/functions/economy/items/bob.ts
Labels: economy

feat: add bob
  data/items.json
  src/utils/functions/economy/items/bob.ts
Labels: economy

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
