Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: use findunique
  src/events/guildMemberAdd.ts
Labels: events

improve some indexes
  prisma/migrations/20250601105124_improve_some_indexes/migration.sql
  prisma/schema.prisma
Labels: schema

fix: season start
  src/utils/Constants.ts
Labels: none

fix market watch del and add $mk del
  src/commands/market.ts
  src/utils/functions/economy/market.ts
Labels: economy, commands

start pluralize function process
  data/items.json
  src/commands/achievements.ts
  src/commands/craft.ts
  src/commands/crateall.ts
  src/commands/farm.ts
  src/commands/give.ts
  src/commands/item.ts
  src/commands/market.ts
  src/commands/use.ts
  src/scheduled/jobs/weeklycrates.ts
  src/types/Economy.ts
  src/utils/functions/economy/items/crates.ts
  src/utils/functions/economy/market.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/workers.ts
  src/utils/functions/presence.ts
  src/utils/functions/string.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, scheduled, commands

rsync instead of scp
  .github/workflows/ci.yml
Labels: ci

can i even run these
  .github/workflows/ci.yml
Labels: ci

remove test deploy, hope & pray it works
  .github/workflows/ci.yml
Labels: ci

add exclusions
  .github/workflows/ci.yml
Labels: ci

fix market watch del and add $mk del (#1929)
  src/commands/market.ts
  src/utils/functions/economy/market.ts
Labels: economy, commands

do (mostly) the rest of them
  src/commands/achievements.ts
  src/commands/ban.ts
  src/commands/f.ts
  src/commands/farm.ts
  src/commands/give.ts
  src/commands/guild.ts
  src/commands/market.ts
  src/commands/mute.ts
  src/commands/pp.ts
  src/commands/profile.ts
  src/commands/role.ts
  src/commands/stats.ts
  src/commands/unban.ts
  src/commands/unmute.ts
  src/commands/use.ts
  src/commands/vote.ts
  src/commands/workers.ts
  src/interactions/vote_crates.ts
  src/scheduled/clusterjobs/moderationchecks.ts
  src/scheduled/jobs/checkmarket.ts
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/utils.ts
  src/utils/functions/date.ts
  src/utils/functions/economy/bakery.ts
  src/utils/functions/economy/boosters.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/items/bitch.ts
  src/utils/functions/economy/items/bob.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/items/stolen_credit_card.ts
  src/utils/functions/economy/levelling.ts
  src/utils/functions/economy/loot_pools.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/presence.ts
  src/utils/functions/string.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, chatreaction, scheduled, commands

add lint & validate scripts + workflow improvements (#1924)
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/formatting.yml
  .gitignore
  package.json
  setup.sh
Labels: ci

maybe dont delete env
  .github/workflows/ci.yml
Labels: ci

maybe dont delete env (#1934)
  .github/workflows/ci.yml
Labels: ci

output all files
  .github/workflows/ci.yml
Labels: ci

output all files (#1935)
  .github/workflows/ci.yml
Labels: ci

ci: add --build
  .github/workflows/ci.yml
Labels: ci

thanks typescript. thanks a lot.
  .github/workflows/ci.yml
Labels: ci

improve request suitability ai response
  src/events/message.ts
  src/utils/functions/openai.ts
  src/utils/functions/supportrequest.ts
Labels: events

nerf farm sell prices
  data/items.json
Labels: none

fix: BIG OOOPSSSS
  src/utils/functions/economy/items/platinum_credit.ts
Labels: economy

right these need to be const
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/workers.ts
Labels: economy

fix: remove wrong crate updates when levelling
  src/utils/functions/economy/levelling.ts
Labels: economy

fix: remove wrong crate updates when levelling (#1938)
  src/utils/functions/economy/levelling.ts
Labels: economy

fix: prevent ecobanned from stealing drops
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

fix: only use needed amount of bobs
  src/commands/craft.ts
  src/utils/functions/economy/items/bob.ts
Labels: economy, commands

feat: allow "all" in market order fulfilling
  src/commands/market.ts
  src/interactions/market_partial.ts
Labels: commands

fix: only use needed amount of bobs (#1940)
  src/commands/craft.ts
  src/utils/functions/economy/items/bob.ts
Labels: economy, commands

fix: prevent ecobanned from stealing drops (#1939)
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

use new inventory system
  src/commands/market.ts
  src/interactions/market_partial.ts
Labels: commands

feat: allow "all" in market order fulfilling (#1942)
  src/commands/market.ts
  src/interactions/market_partial.ts
Labels: commands

add tags for years in official server
  data/tags.json
Labels: none

remove tags on leave
  src/events/guildMemberRemove.ts
Labels: events

add tags on prem command
  src/commands/premium.ts
Labels: commands

reverse ids
  data/tags.json
  src/commands/premium.ts
Labels: commands

feat: add tags for years in official server (#1944)
  data/tags.json
  src/commands/premium.ts
  src/events/guildMemberRemove.ts
Labels: commands, events

fix: _ not - flipping grizzly
  src/commands/mine.ts
Labels: commands

should be a negative....
  src/commands/mine.ts
Labels: commands

omg finallyyyyy fricking hell
  src/commands/mine.ts
Labels: commands

gems in sell orders & trades act as if you have them
  src/commands/balance.ts
  src/commands/blackjack.ts
  src/commands/find.ts
  src/commands/fish.ts
  src/commands/highlow.ts
  src/commands/hunt.ts
  src/commands/mine.ts
  src/commands/mines.ts
  src/commands/multi.ts
  src/commands/networth.ts
  src/commands/profile.ts
  src/commands/rob.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/sell.ts
  src/commands/sellinv.ts
  src/commands/slots.ts
  src/commands/tower.ts
  src/commands/workers.ts
  src/interactions/workers_claim.ts
  src/scheduled/jobs/netupdate-1.ts
  src/scheduled/jobs/netupdate-2.ts
  src/scheduled/jobs/netupdate-3.ts
  src/scheduled/jobs/workers.ts
  src/utils/Constants.ts
  src/utils/functions/economy/bakery.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/crash.ts
  src/utils/functions/economy/farm.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/market.ts
  src/utils/functions/economy/offers.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/economy/trade_requests.ts
  src/utils/functions/economy/workers.ts
  src/utils/functions/economy/xp.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, scheduled, commands
