Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

use cron instead of bree to run jobs (#1376)
  package.json
  pnpm-lock.yaml
  src/commands/runjob.ts
  src/index.ts
  src/models/Client.ts
  src/scheduled/clusterjobs/topglobal.ts
  src/scheduled/jobs/dailystreak.ts
  src/scheduled/jobs/deterioratekarma.ts
  src/scheduled/jobs/images.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/purge.ts
  src/scheduled/jobs/purgeguilds.ts
  src/scheduled/jobs/resetvote.ts
  src/scheduled/jobs/topbalance.ts
  src/scheduled/jobs/topcommands.ts
  src/scheduled/jobs/topsnapshot.ts
  src/scheduled/jobs/votereminders.ts
  src/scheduled/scheduler.ts
  src/types/Jobs.ts
Labels: scheduled, commands

use cron instead of bree to run jobs (#1376)
  package.json
  pnpm-lock.yaml
  src/commands/runjob.ts
  src/index.ts
  src/models/Client.ts
  src/scheduled/clusterjobs/topglobal.ts
  src/scheduled/jobs/dailystreak.ts
  src/scheduled/jobs/deterioratekarma.ts
  src/scheduled/jobs/images.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/purge.ts
  src/scheduled/jobs/purgeguilds.ts
  src/scheduled/jobs/resetvote.ts
  src/scheduled/jobs/topbalance.ts
  src/scheduled/jobs/topcommands.ts
  src/scheduled/jobs/topsnapshot.ts
  src/scheduled/jobs/votereminders.ts
  src/scheduled/scheduler.ts
  src/types/Jobs.ts
Labels: scheduled, commands

nerf capitalist achievement
  data/achievements.json
Labels: none

nerf capitalist achievement
  data/achievements.json
Labels: none

nerf capitalist achievement
  data/achievements.json
Labels: none

round earned!!!
  src/utils/functions/economy/stats.ts
Labels: economy

round earned!!!
  src/utils/functions/economy/stats.ts
Labels: economy

round earned!!!
  src/utils/functions/economy/stats.ts
Labels: economy

reloading jobs works now
  src/scheduled/scheduler.ts
Labels: scheduled

reloading jobs works now
  src/scheduled/scheduler.ts
Labels: scheduled

reloading jobs works now
  src/scheduled/scheduler.ts
Labels: scheduled

axios works for crawling reddit
  package.json
  pnpm-lock.yaml
  src/scheduled/jobs/images.ts
Labels: scheduled

axios works for crawling reddit
  package.json
  pnpm-lock.yaml
  src/scheduled/jobs/images.ts
Labels: scheduled

axios works for crawling reddit
  package.json
  pnpm-lock.yaml
  src/scheduled/jobs/images.ts
Labels: scheduled

i lied. lets try using default headers
  src/scheduled/jobs/images.ts
Labels: scheduled

i lied. lets try using default headers
  src/scheduled/jobs/images.ts
Labels: scheduled

i lied. lets try using default headers
  src/scheduled/jobs/images.ts
Labels: scheduled

Revert "i lied. lets try using default headers"
  src/scheduled/jobs/images.ts
Labels: scheduled

Revert "i lied. lets try using default headers"
  src/scheduled/jobs/images.ts
Labels: scheduled

Revert "i lied. lets try using default headers"
  src/scheduled/jobs/images.ts
Labels: scheduled

Revert "axios works for crawling reddit"
  package.json
  pnpm-lock.yaml
  src/scheduled/jobs/images.ts
Labels: scheduled

Revert "axios works for crawling reddit"
  package.json
  pnpm-lock.yaml
  src/scheduled/jobs/images.ts
Labels: scheduled

Revert "axios works for crawling reddit"
  package.json
  pnpm-lock.yaml
  src/scheduled/jobs/images.ts
Labels: scheduled

ok lets try this
  src/scheduled/jobs/images.ts
Labels: scheduled

ok lets try this
  src/scheduled/jobs/images.ts
Labels: scheduled

ok lets try this
  src/scheduled/jobs/images.ts
Labels: scheduled

lets try node-fetch
  package.json
  pnpm-lock.yaml
  src/scheduled/jobs/images.ts
Labels: scheduled

lets try node-fetch
  package.json
  pnpm-lock.yaml
  src/scheduled/jobs/images.ts
Labels: scheduled

lets try node-fetch
  package.json
  pnpm-lock.yaml
  src/scheduled/jobs/images.ts
Labels: scheduled

Revert "lets try node-fetch"
  package.json
  pnpm-lock.yaml
  src/scheduled/jobs/images.ts
Labels: scheduled

Revert "lets try node-fetch"
  package.json
  pnpm-lock.yaml
  src/scheduled/jobs/images.ts
Labels: scheduled

Revert "lets try node-fetch"
  package.json
  pnpm-lock.yaml
  src/scheduled/jobs/images.ts
Labels: scheduled

new suggestImage func
  src/utils/functions/clusters.ts
  src/utils/functions/image.ts
Labels: none

getrandomimage func
  src/utils/Constants.ts
  src/utils/functions/image.ts
Labels: none

database migration
  prisma/migrations/20231218174018_images/migration.sql
  prisma/schema.prisma
Labels: schema

functions to review image suggestions
  src/utils/functions/image.ts
Labels: none

fixed silly things
  src/scheduled/jobs/purge.ts
  src/utils/functions/users/utils.ts
Labels: users, scheduled

goodbye to most image commands ):
  src/commands/ass.ts
  src/commands/bdsm.ts
  src/commands/birb.ts
  src/commands/boobs.ts
  src/commands/duck.ts
  src/commands/feet.ts
  src/commands/hands.ts
  src/commands/lizard.ts
  src/commands/porn.ts
  src/commands/rabbit.ts
  src/commands/reddit.ts
  src/commands/thighs.ts
  src/models/Command.ts
  src/utils/functions/economy/inventory.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, commands

images job to upload random ones
  .env.example
  src/index.ts
  src/scheduled/jobs/images.ts
  src/utils/functions/image.ts
Labels: scheduled

new cat command
  src/commands/cat.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
