Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

don't await and don't freeze lock on transaction fail
  src/utils/functions/economy/market.ts
Labels: economy

delete all option
  src/commands/market.ts
  src/commands/trade.ts
Labels: commands

add tsconfig.tsbuildinfo to gitignore
  .gitignore
Labels: none

linting
  .gitignore
  src/commands/trade.ts
Labels: commands

market stats
  src/commands/stats.ts
  src/commands/trade.ts
  src/utils/Constants.ts
  src/utils/functions/economy/market.ts
  src/utils/functions/economy/trade_requests.ts
Labels: economy, commands

check balance/item count before buying except for partial buys
  src/interactions/market_full.ts
  src/interactions/market_one.ts
Labels: none

add auction migrate
  prisma/schema.prisma
  src/commands/x.ts
Labels: commands, schema

reverse in market view
  src/commands/market.ts
Labels: commands

move checkmarket job to manager
  src/models/Client.ts
  src/scheduled/jobs/checkmarket.ts
  src/utils/functions/economy/market.ts
Labels: economy, scheduled

send unsold market orders as part of migration
  src/commands/x.ts
  src/utils/functions/economy/market.ts
Labels: economy, commands

support request members have dark embed colour
  src/events/message.ts
Labels: events

more admin cmds + can bypass maintenance
  src/commands/blackjack.ts
  src/commands/find.ts
  src/commands/highlow.ts
  src/commands/maintenance.ts
  src/commands/market.ts
  src/commands/mines.ts
  src/commands/reload.ts
  src/commands/reloaditems.ts
  src/commands/reloadslash.ts
  src/commands/tower.ts
  src/commands/trade.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/users/admin.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, users, commands

remove runMarketChecks from Client.ts
  src/models/Client.ts
Labels: none

use message.member instead of id for adminLevel
  src/commands/bluser.ts
  src/commands/find.ts
  src/commands/forcelose.ts
  src/commands/logsearch.ts
  src/commands/maintenance.ts
  src/commands/reload.ts
  src/commands/reloaditems.ts
  src/commands/reloadslash.ts
  src/commands/x.ts
Labels: commands

make code pretty again
  src/commands/bankrob.ts
  src/commands/f.ts
  src/commands/garage.ts
  src/commands/market.ts
  src/commands/profile.ts
  src/commands/stats.ts
  src/commands/tower.ts
  src/commands/x.ts
  src/interactions/crash_join.ts
  src/utils/functions/economy/crash.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/premium/aliases.ts
  src/utils/handlers/interactions.ts
Labels: economy, premium, commands

correct nypsi server id
  src/utils/Constants.ts
Labels: none

only blackjack uses this
  src/commands/highlow.ts
  src/commands/market.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/commands/trade.ts
  src/utils/Constants.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/market.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, commands

flip wording
  src/commands/stats.ts
Labels: commands

use order price not item value??!??!
  src/interactions/market_full.ts
  src/interactions/market_one.ts
Labels: none

fix checkmarketorder i think
  src/utils/functions/economy/market.ts
Labels: economy

ok this shouldwork
  src/utils/functions/economy/market.ts
Labels: economy

fix market confirmations
  src/interactions/market_full.ts
  src/interactions/market_one.ts
  src/utils/functions/economy/market.ts
Labels: economy

fix partial things
  src/utils/functions/economy/market.ts
Labels: economy

add extra $
  src/utils/functions/economy/market.ts
Labels: economy

whoops i did these the wrong way around
  src/interactions/market_full.ts
  src/interactions/market_one.ts
Labels: none

add some error checking for s3, captchatest verify
  src/commands/avatarhistory.ts
  src/commands/captchatest.ts
  src/commands/case.ts
  src/commands/logsearch.ts
  src/utils/functions/captcha.ts
  src/utils/functions/guilds/evidence.ts
  src/utils/functions/users/birthday.ts
  src/utils/functions/users/commands.ts
Labels: guild, users, commands

only consider users with premium
  src/scheduled/jobs/premiumexpire.ts
Labels: scheduled

use ref for more links
  README.md
  data/lists.json
  src/commands/chatfilter.ts
  src/commands/coinflip.ts
  src/commands/ecohistory.ts
  src/commands/hunt.ts
  src/commands/inventory.ts
  src/commands/item.ts
  src/commands/rules.ts
  src/commands/stats.ts
  src/commands/top.ts
  src/commands/viewgame.ts
  src/commands/wordle.ts
  src/utils/functions/economy/offers.ts
  src/utils/functions/economy/top.ts
Labels: economy, commands

add url refs for analytics
  src/utils/functions/economy/market.ts
  src/utils/functions/economy/trade_requests.ts
Labels: economy

add overlord to return just number
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/economy/top.ts
Labels: economy, chatreaction

shorter rarity label
  src/commands/item.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

changes
  src/commands/avatarhistory.ts
  src/commands/captchatest.ts
  src/commands/logsearch.ts
  src/utils/functions/guilds/evidence.ts
  src/utils/functions/users/commands.ts
Labels: guild, users, commands

fix max's linting error
  src/utils/functions/economy/top.ts
Labels: economy

add some error checking for s3 + captchatest verify (#1892)
  src/commands/avatarhistory.ts
  src/commands/captchatest.ts
  src/commands/case.ts
  src/commands/logsearch.ts
  src/utils/functions/captcha.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/guilds/evidence.ts
  src/utils/functions/users/birthday.ts
  src/utils/functions/users/commands.ts
Labels: economy, guild, users, commands

more explicit instructions for auto.scam
  src/commands/reply.ts
Labels: commands

improve summary prompt
  src/utils/functions/supportrequest.ts
Labels: none

use chatgpt to determine suitability of support requests
  src/events/message.ts
  src/utils/functions/openai.ts
  src/utils/functions/supportrequest.ts
Labels: events

add message cooldown for support ticket
  src/events/message.ts
  src/utils/Constants.ts
Labels: events

use aws 3.726.1
  package.json
  pnpm-lock.yaml
Labels: none

diff wrong way around oops
  src/utils/functions/users/birthday.ts
Labels: users

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
