Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

loot drops task
  data/tasks.json
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

wordles task
  data/tasks.json
  src/utils/functions/users/wordle.ts
Labels: users

wordles task
  data/tasks.json
  src/utils/functions/users/wordle.ts
Labels: users

wordles task
  data/tasks.json
  src/utils/functions/users/wordle.ts
Labels: users

more debugging....
  src/utils/functions/economy/tasks.ts
Labels: economy

more debugging....
  src/utils/functions/economy/tasks.ts
Labels: economy

more debugging....
  src/utils/functions/economy/tasks.ts
Labels: economy

pissing me off neeoowww
  src/utils/functions/economy/tasks.ts
Labels: economy

pissing me off neeoowww
  src/utils/functions/economy/tasks.ts
Labels: economy

pissing me off neeoowww
  src/utils/functions/economy/tasks.ts
Labels: economy

SILLY ME
  src/init/database.ts
Labels: none

SILLY ME
  src/init/database.ts
Labels: none

SILLY ME
  src/init/database.ts
Labels: none

that should be id and indexed!!
  prisma/schema.prisma
Labels: schema

that should be id and indexed!!
  prisma/schema.prisma
Labels: schema

that should be id and indexed!!
  prisma/schema.prisma
Labels: schema

more accurate premium expire date
  src/commands/premium.ts
Labels: commands

more accurate premium expire date
  src/commands/premium.ts
Labels: commands

more accurate premium expire date
  src/commands/premium.ts
Labels: commands

add mini cooper
  data/items.json
Labels: none

add mini cooper
  data/items.json
Labels: none

add mini cooper
  data/items.json
Labels: none

add lamborghini
  data/items.json
Labels: none

add lamborghini
  data/items.json
Labels: none

add lamborghini
  data/items.json
Labels: none

fix: dont increase max prestige on reload
  src/utils/functions/economy/utils.ts
Labels: economy

fix: dont increase max prestige on reload
  src/utils/functions/economy/utils.ts
Labels: economy

fix: dont increase max prestige on reload
  src/utils/functions/economy/utils.ts
Labels: economy

lamborghini only available from special sources
  data/items.json
Labels: none

lamborghini only available from special sources
  data/items.json
Labels: none

lamborghini only available from special sources
  data/items.json
Labels: none

up highroller requirement
  src/commands/premium.ts
  src/utils/Constants.ts
Labels: commands

up highroller requirement
  src/commands/premium.ts
  src/utils/Constants.ts
Labels: commands

up highroller requirement
  src/commands/premium.ts
  src/utils/Constants.ts
Labels: commands

fix: type
  src/utils/functions/economy/tasks.ts
Labels: economy

fix: type
  src/utils/functions/economy/tasks.ts
Labels: economy

fix: type
  src/utils/functions/economy/tasks.ts
Labels: economy

show completed count on buttons
  src/commands/tasks.ts
Labels: commands

show completed count on buttons
  src/commands/tasks.ts
Labels: commands

show completed count on buttons
  src/commands/tasks.ts
Labels: commands
