Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

feat: started work on front end side
  src/commands/use.ts
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy, commands

feat: started work on front end side
  src/commands/use.ts
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy, commands

feat: brooooo
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: brooooo
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: im gonna kms
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: im gonna kms
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: update items
  data/items.json
Labels: none

feat: update items
  data/items.json
Labels: none

feat: it works
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: it works
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: formatting scratch card result
  src/commands/viewgame.ts
Labels: commands

feat: formatting scratch card result
  src/commands/viewgame.ts
Labels: commands

fix: dont include scratch cards in gambling stats
  src/utils/functions/economy/stats.ts
Labels: economy

fix: dont include scratch cards in gambling stats
  src/utils/functions/economy/stats.ts
Labels: economy

fix: show red when clicked but no match
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: show red when clicked but no match
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: dont await followup
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: dont await followup
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: use avatar url
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: use avatar url
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: boobs
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

feat: boobs
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: remove play again after expire
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: remove play again after expire
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: update clicks left
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: update clicks left
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: red clicked buttons after end
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: red clicked buttons after end
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: redesign daily and add scratch cards
  src/utils/functions/economy/utils.ts
Labels: economy

feat: redesign daily and add scratch cards
  src/utils/functions/economy/utils.ts
Labels: economy

fix: bronze credit emoji
  data/items.json
Labels: none

fix: bronze credit emoji
  data/items.json
Labels: none

refactor: adjust daily scratch card items
  data/items.json
Labels: none

refactor: adjust daily scratch card items
  data/items.json
Labels: none

fix: scratch card emoji
  data/items.json
Labels: none

fix: scratch card emoji
  data/items.json
Labels: none

feat: add credits for other tiers
  data/items.json
Labels: none

feat: add credits for other tiers
  data/items.json
Labels: none

feat: add silver credit to daily scratch card
  data/items.json
Labels: none

feat: add silver credit to daily scratch card
  data/items.json
Labels: none

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
