Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

set prefix header iamge
  src/commands/prefix.ts
Labels: commands

use sell value for bitcoin and eth
  src/utils/functions/economy/inventory.ts
Labels: economy

use sell value for bitcoin and eth
  src/utils/functions/economy/inventory.ts
Labels: economy

nearest 75m
  src/utils/functions/economy/lottery.ts
Labels: economy

nearest 75m
  src/utils/functions/economy/lottery.ts
Labels: economy

website links in auction
  src/utils/functions/economy/auctions.ts
Labels: economy

website links in auction
  src/utils/functions/economy/auctions.ts
Labels: economy

item url in offer message
  src/utils/functions/economy/offers.ts
Labels: economy

item url in offer message
  src/utils/functions/economy/offers.ts
Labels: economy

add log to show listeners applied
  src/models/Client.ts
Labels: none

add log to show listeners applied
  src/models/Client.ts
Labels: none

use pretty formatting
  src/commands/lottery.ts
Labels: commands

use pretty formatting
  src/commands/lottery.ts
Labels: commands

fix: show urls after editing
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: show urls after editing
  src/utils/functions/economy/auctions.ts
Labels: economy

5000 milfs for whore v
  data/achievements.json
Labels: none

5000 milfs for whore v
  data/achievements.json
Labels: none

fix: nearest 100m
  src/utils/functions/economy/lottery.ts
Labels: economy

fix: nearest 100m
  src/utils/functions/economy/lottery.ts
Labels: economy

fix: prevent constant data deletion
  src/utils/functions/users/utils.ts
Labels: users

fix: prevent constant data deletion
  src/utils/functions/users/utils.ts
Labels: users

add whore tag
  data/achievements.json
  data/tags.json
Labels: none

add whore tag
  data/achievements.json
  data/tags.json
Labels: none

add farm caching
  src/utils/Constants.ts
  src/utils/functions/economy/farm.ts
Labels: economy

add farm caching
  src/utils/Constants.ts
  src/utils/functions/economy/farm.ts
Labels: economy

remove select
  src/utils/functions/users/commands.ts
Labels: users

remove select
  src/utils/functions/users/commands.ts
Labels: users

add guild avatar to help and slash command
  src/commands/guild.ts
Labels: commands

add guild avatar to help and slash command
  src/commands/guild.ts
Labels: commands

bold item name
  src/utils/functions/economy/offers.ts
Labels: economy

bold item name
  src/utils/functions/economy/offers.ts
Labels: economy

add orange tree
  data/items.json
  data/plants.json
Labels: none

add farm fertilising and waterign
  data/items.json
  data/plants.json
  prisma/migrations/20241205131225_water_fertilise/migration.sql
  prisma/schema.prisma
  src/commands/farm.ts
  src/types/Economy.ts
  src/utils/functions/economy/farm.ts
  src/utils/functions/economy/items/fertiliser.ts
Labels: economy, commands, schema

add fertiliser to corner shop scratch
  data/items.json
Labels: none

better fertiliser emoji
  data/items.json
Labels: none

don't remove
  prisma/schema.prisma
Labels: schema

only water plants that need it
  data/plants.json
  src/commands/farm.ts
  src/utils/functions/economy/farm.ts
Labels: economy, commands

1 query > multiple queries
  src/utils/functions/economy/farm.ts
Labels: economy

add strawberries
  data/items.json
  data/plants.json
Labels: none

add water/fertilise slash commands support
  src/commands/farm.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
