Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: only fetch what can be harvested
  src/utils/functions/economy/farm.ts
Labels: economy

remove unused image stuff
  prisma/migrations/20241213121926_remove_images/migration.sql
  prisma/schema.prisma
  src/commands/rabbit.ts
  src/commands/wholesome.ts
  src/scheduled/jobs/purge.ts
  src/utils/functions/image.ts
Labels: scheduled, commands, schema

remove unused image stuff
  prisma/migrations/20241213121926_remove_images/migration.sql
  prisma/schema.prisma
  src/commands/rabbit.ts
  src/commands/wholesome.ts
  src/scheduled/jobs/purge.ts
  src/utils/functions/image.ts
Labels: scheduled, commands, schema

z
  prisma/migrations/20241214122729_z/migration.sql
  prisma/schema.prisma
  src/commands/z.ts
  src/scheduled/jobs/z.ts
  src/utils/Constants.ts
  src/utils/functions/z.ts
Labels: scheduled, commands, schema

z
  prisma/migrations/20241214122729_z/migration.sql
  prisma/schema.prisma
  src/commands/z.ts
  src/scheduled/jobs/z.ts
  src/utils/Constants.ts
  src/utils/functions/z.ts
Labels: scheduled, commands, schema

fix: linting
  src/commands/z.ts
Labels: commands

fix: linting
  src/commands/z.ts
Labels: commands

galvanised square steel not a collectable
  data/items.json
Labels: none

galvanised square steel not a collectable
  data/items.json
Labels: none

allow cleaning in premium chat
  src/commands/clean.ts
Labels: commands

allow cleaning in premium chat
  src/commands/clean.ts
Labels: commands

better redis key
  src/utils/Constants.ts
Labels: none

better redis key
  src/utils/Constants.ts
Labels: none

meow meow meow meow
  src/commands/z.ts
Labels: commands

meow meow meow meow
  src/commands/z.ts
Labels: commands

meow
  src/commands/z.ts
Labels: commands

meow
  src/commands/z.ts
Labels: commands

AAAHHHHHHH
  src/commands/z.ts
Labels: commands

AAAHHHHHHH
  src/commands/z.ts
Labels: commands

remove lottery tickets table
  prisma/migrations/20241214150741_remove_lottery_ticket_table/migration.sql
  prisma/schema.prisma
  src/utils/functions/economy/utils.ts
  src/utils/functions/users/utils.ts
Labels: economy, users, schema

remove lottery tickets table
  prisma/migrations/20241214150741_remove_lottery_ticket_table/migration.sql
  prisma/schema.prisma
  src/utils/functions/economy/utils.ts
  src/utils/functions/users/utils.ts
Labels: economy, users, schema

daily not hourly
  src/scheduled/jobs/seed-leaderboards.ts
Labels: scheduled

daily not hourly
  src/scheduled/jobs/seed-leaderboards.ts
Labels: scheduled

4 times a day
  src/scheduled/jobs/netupdate.ts
Labels: scheduled

4 times a day
  src/scheduled/jobs/netupdate.ts
Labels: scheduled

group net updates by last commadn
  src/scheduled/jobs/netupdate-1.ts
  src/scheduled/jobs/netupdate-2.ts
  src/scheduled/jobs/netupdate-3.ts
Labels: scheduled

group net updates by last commadn
  src/scheduled/jobs/netupdate-1.ts
  src/scheduled/jobs/netupdate-2.ts
  src/scheduled/jobs/netupdate-3.ts
Labels: scheduled

better handling of banned players on top balance leaderboard
  src/utils/functions/economy/top.ts
Labels: economy

better handling of banned players on top balance leaderboard
  src/utils/functions/economy/top.ts
Labels: economy

only use top 100 for leaderboards
  src/utils/functions/economy/stats.ts
Labels: economy

only use top 100 for leaderboards
  src/utils/functions/economy/stats.ts
Labels: economy

remove lottery ticket table from selects
  src/commands/data.ts
  src/commands/x.ts
Labels: commands

remove lottery ticket table from selects
  src/commands/data.ts
  src/commands/x.ts
Labels: commands

feat: add farm health notifications for plat members
  data/notifications.json
  prisma/migrations/20241216112241_plant_health_dm/migration.sql
  prisma/schema.prisma
  prisma/sql/getUnhealthyPlatinumPlants.sql
  src/scheduled/jobs/plantcheck.ts
  src/utils/Constants.ts
Labels: scheduled, schema

feat: add farm health notifications for plat members
  data/notifications.json
  prisma/migrations/20241216112241_plant_health_dm/migration.sql
  prisma/schema.prisma
  prisma/sql/getUnhealthyPlatinumPlants.sql
  src/scheduled/jobs/plantcheck.ts
  src/utils/Constants.ts
Labels: scheduled, schema

build: generate sql types
  .github/workflows/ci.yml
Labels: ci

build: generate sql types
  .github/workflows/ci.yml
Labels: ci

I FUCKING HATE PRISMA
  .github/workflows/ci.yml
  prisma/sql/getUnhealthyPlatinumPlants.sql
  src/scheduled/jobs/plantcheck.ts
Labels: ci, scheduled, schema

I FUCKING HATE PRISMA
  .github/workflows/ci.yml
  prisma/sql/getUnhealthyPlatinumPlants.sql
  src/scheduled/jobs/plantcheck.ts
Labels: ci, scheduled, schema

feat: better purchase transaction storage
  prisma/migrations/20241216123924_purchases_table/migration.sql
  prisma/schema.prisma
  src/commands/x.ts
  src/utils/Constants.ts
  src/utils/functions/users/email.ts
  src/utils/functions/users/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: users, commands, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
