Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: autocomplete interactions
  src/utils/handlers/interactions.ts
Labels: none

fix: autocomplete interactions
  src/utils/handlers/interactions.ts
Labels: none

refactor: adjust achievements
  data/achievements.json
  data/items.json
Labels: none

refactor: adjust achievements
  data/achievements.json
  data/items.json
Labels: none

refactor: adjust achievements
  data/achievements.json
  data/items.json
Labels: none

fix: again UGH
  src/utils/functions/economy/balance.ts
Labels: economy

fix: again UGH
  src/utils/functions/economy/balance.ts
Labels: economy

fix: again UGH
  src/utils/functions/economy/balance.ts
Labels: economy

refactor: aaa
  data/items.json
Labels: none

refactor: aaa
  data/items.json
Labels: none

refactor: aaa
  data/items.json
Labels: none

feat: add autosell field
  prisma/schema.prisma
Labels: schema

feat: get/set functions
  src/utils/functions/economy/inventory.ts
Labels: economy

feat: caching
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
Labels: economy

feat: autosell command
  src/commands/autosell.ts
Labels: commands

feat: autosell items
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
Labels: economy

feat: autosell status report
  src/models/Client.ts
  src/scheduled/clusterjobs/autosell_status.ts
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
Labels: economy, scheduled

feat: dm setting
  data/notifications.json
  prisma/schema.prisma
  src/scheduled/clusterjobs/autosell_status.ts
Labels: scheduled, schema

feat: add autosell (#955)
  data/notifications.json
  prisma/schema.prisma
  src/commands/autosell.ts
  src/models/Client.ts
  src/scheduled/clusterjobs/autosell_status.ts
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
Labels: economy, scheduled, commands, schema

6.6.0
  package.json
Labels: none

feat: db update
  prisma/schema.prisma
Labels: schema

fix: include data in db fetches
  src/commands/data.ts
  src/commands/x.ts
Labels: commands

fix: bigint issues
  src/commands/auction.ts
  src/interactions/auction_buy.ts
  src/interactions/auction_buy_one.ts
  src/scheduled/clusterjobs/checkauctions.ts
  src/utils/functions/economy/auctions.ts
Labels: economy, scheduled, commands

refactor: change to number
  prisma/schema.prisma
  src/utils/functions/economy/offers.ts
Labels: economy, schema

feat: createoffer function
  src/utils/functions/economy/offers.ts
Labels: economy

refactor: sellall looks like autosell
  src/commands/sellall.ts
Labels: commands

fix: default
  prisma/schema.prisma
Labels: schema

refactor: adjust scratchies
  data/items.json
Labels: none

feat: get functions
  src/utils/functions/economy/offers.ts
Labels: economy

feat: get/set blocked list
  src/utils/functions/economy/offers.ts
Labels: economy

refactor: singular
  prisma/schema.prisma
  src/utils/functions/economy/offers.ts
Labels: economy, schema

feat: delete + check offer functions
  src/utils/functions/economy/offers.ts
Labels: economy

fix: returns
  src/utils/functions/economy/offers.ts
Labels: economy

refactor: grrr
  data/items.json
Labels: none

refactor: remove id
  prisma/schema.prisma
  src/utils/functions/economy/offers.ts
Labels: economy, schema

feat: offer command
  src/commands/offer.ts
Labels: commands

feat: database migration
  prisma/migrations/20230327175012_/migration.sql
Labels: schema

fix: autosell args
  src/commands/autosell.ts
Labels: commands

fix: slow down autosell
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: error msg
  src/commands/autosell.ts
Labels: commands
