Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

feat: show loser time on chat reaction duel
  src/commands/chatreaction.ts
  src/models/EmbedBuilders.ts
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction, commands

feat: show loser time on chat reaction duel
  src/commands/chatreaction.ts
  src/models/EmbedBuilders.ts
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction, commands

feat: show loser time on chat reaction duel
  src/commands/chatreaction.ts
  src/models/EmbedBuilders.ts
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction, commands

6.13.4
  package.json
Labels: none

6.13.4
  package.json
Labels: none

6.13.4
  package.json
Labels: none

fix: add error message
  src/commands/reactionroles.ts
Labels: commands

fix: add error message
  src/commands/reactionroles.ts
Labels: commands

fix: add error message
  src/commands/reactionroles.ts
Labels: commands

feat: buff nypsi crate
  data/items.json
Labels: none

feat: buff nypsi crate
  data/items.json
Labels: none

feat: buff nypsi crate
  data/items.json
Labels: none

refactor: oopsies
  data/items.json
Labels: none

refactor: oopsies
  data/items.json
Labels: none

refactor: oopsies
  data/items.json
Labels: none

refactor: nerf guild rewards
  src/utils/functions/economy/guilds.ts
Labels: economy

refactor: nerf guild rewards
  src/utils/functions/economy/guilds.ts
Labels: economy

refactor: nerf guild rewards
  src/utils/functions/economy/guilds.ts
Labels: economy

refactor: slight nerf oops
  data/items.json
Labels: none

refactor: slight nerf oops
  data/items.json
Labels: none

refactor: slight nerf oops
  data/items.json
Labels: none

fix: i missed 69
  src/utils/functions/economy/guilds.ts
Labels: economy

fix: i missed 69
  src/utils/functions/economy/guilds.ts
Labels: economy

fix: i missed 69
  src/utils/functions/economy/guilds.ts
Labels: economy

feat: silly teeth aliases
  data/items.json
Labels: none

feat: silly teeth aliases
  data/items.json
Labels: none

feat: silly teeth aliases
  data/items.json
Labels: none

fix: profile transfers
  src/utils/functions/users/utils.ts
Labels: users

fix: profile transfers
  src/utils/functions/users/utils.ts
Labels: users

fix: profile transfers
  src/utils/functions/users/utils.ts
Labels: users

fix: delete email
  src/utils/functions/users/utils.ts
Labels: users

fix: delete email
  src/utils/functions/users/utils.ts
Labels: users

fix: delete email
  src/utils/functions/users/utils.ts
Labels: users

feat: buff end stone
  data/items.json
Labels: none

feat: buff end stone
  data/items.json
Labels: none

feat: buff end stone
  data/items.json
Labels: none

fix: oopsies forgot to remove debug logs
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: oopsies forgot to remove debug logs
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: oopsies forgot to remove debug logs
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: more natural cr duel arg handling
  src/commands/chatreaction.ts
Labels: commands
