Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: cheese chance
  src/utils/Constants.ts
Labels: none

fix: cheese chance
  src/utils/Constants.ts
Labels: none

fix: cheese chance
  src/utils/Constants.ts
Labels: none

fix: need 3 winners for achievement
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: need 3 winners for achievement
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: need 3 winners for achievement
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

feat: add 'boobs'
  data/wordle.txt
Labels: none

feat: add 'boobs'
  data/wordle.txt
Labels: none

feat: add 'boobs'
  data/wordle.txt
Labels: none

fix: count items without specified sell price
  src/utils/functions/economy/balance.ts
Labels: economy

fix: count items without specified sell price
  src/utils/functions/economy/balance.ts
Labels: economy

fix: count items without specified sell price
  src/utils/functions/economy/balance.ts
Labels: economy

refactor: log user id & channel id
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: log user id & channel id
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: log user id & channel id
  src/utils/handlers/commandhandler.ts
Labels: none

Revert "refactor: log user id & channel id"
  src/utils/handlers/commandhandler.ts
Labels: none

Revert "refactor: log user id & channel id"
  src/utils/handlers/commandhandler.ts
Labels: none

Revert "refactor: log user id & channel id"
  src/utils/handlers/commandhandler.ts
Labels: none

add aliases for item
  data/items.json
Labels: none

refactor: add aliases to item (#1068)
  data/items.json
Labels: none

refactor: add aliases to item (#1068)
  data/items.json
Labels: none

refactor: add aliases to item (#1068)
  data/items.json
Labels: none

refactor: allow header url
  src/models/EmbedBuilders.ts
Labels: none

refactor: allow header url
  src/models/EmbedBuilders.ts
Labels: none

refactor: allow header url
  src/models/EmbedBuilders.ts
Labels: none

feat: add url to redirect to website
  src/commands/top.ts
Labels: commands

feat: add url to redirect to website
  src/commands/top.ts
Labels: commands

feat: add url to redirect to website
  src/commands/top.ts
Labels: commands

fix: g shop appearance
  src/commands/guild.ts
Labels: commands

fix: g shop appearance
  src/commands/guild.ts
Labels: commands

fix: g shop appearance
  src/commands/guild.ts
Labels: commands

fix: floor value
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: floor value
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: floor value
  src/utils/functions/economy/auctions.ts
Labels: economy

feat: auction delete admin logs
  src/commands/auction.ts
Labels: commands

feat: auction delete admin logs
  src/commands/auction.ts
Labels: commands

feat: auction delete admin logs
  src/commands/auction.ts
Labels: commands

feat: purge logs job
  src/scheduled/jobs/purgelogs.ts
  src/scheduled/scheduler.ts
Labels: scheduled

feat: purge logs job
  src/scheduled/jobs/purgelogs.ts
  src/scheduled/scheduler.ts
Labels: scheduled

feat: purge logs job
  src/scheduled/jobs/purgelogs.ts
  src/scheduled/scheduler.ts
Labels: scheduled
