Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

FINE EMPTY FUNCTION VOID THING
  src/events/emojiCreate.ts
Labels: events

fix: vote message
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: vote message
  src/utils/handlers/webhookhandler.ts
Labels: none

only higher than 5
  src/utils/handlers/webhookhandler.ts
Labels: none

only higher than 5
  src/utils/handlers/webhookhandler.ts
Labels: none

reword for 'monthly'
  src/commands/top.ts
Labels: commands

reword for 'monthly'
  src/commands/top.ts
Labels: commands

fix: use proper algorithm for open crates button
  src/interactions/vote_crates.ts
Labels: none

fix: use proper algorithm for open crates button
  src/interactions/vote_crates.ts
Labels: none

fix: don't +1
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: don't +1
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

temp cmd to set streaks to half monthly votes (when voted in last 3 days)
  src/commands/x.ts
Labels: commands

temp cmd to set streaks to half monthly votes (when voted in last 3 days)
  src/commands/x.ts
Labels: commands

add some more cats
  data/items.json
  src/utils/functions/economy/inventory.ts
Labels: economy

add some more cats
  data/items.json
  src/utils/functions/economy/inventory.ts
Labels: economy

remove temp command
  src/commands/x.ts
Labels: commands

remove temp command
  src/commands/x.ts
Labels: commands

dave should be rarest
  data/items.json
Labels: none

dave should be rarest
  data/items.json
Labels: none

fix: also use cat thng for other rarities
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: also use cat thng for other rarities
  src/utils/functions/economy/inventory.ts
Labels: economy

use discord application emojis
  data/items.json
  src/commands/smelt.ts
Labels: commands

use discord application emojis
  data/items.json
  src/commands/smelt.ts
Labels: commands

shorter cooldown for use command
  src/commands/use.ts
Labels: commands

shorter cooldown for use command
  src/commands/use.ts
Labels: commands

add pineapples to loot drops
  data/items.json
Labels: none

add pineapples to loot drops
  data/items.json
Labels: none

fix: only claim from plants that have grown
  src/utils/functions/economy/farm.ts
Labels: economy

fix: only claim from plants that have grown
  src/utils/functions/economy/farm.ts
Labels: economy

uneccessary dayjs calculations
  src/utils/functions/economy/farm.ts
Labels: economy

uneccessary dayjs calculations
  src/utils/functions/economy/farm.ts
Labels: economy

fix: maxwell is 5
  data/items.json
Labels: none

fix: maxwell is 5
  data/items.json
Labels: none

fix: actually send the log...
  src/events/emojiCreate.ts
  src/events/emojiDelete.ts
  src/events/emojiUpdate.ts
Labels: events

fix: actually send the log...
  src/events/emojiCreate.ts
  src/events/emojiDelete.ts
  src/events/emojiUpdate.ts
Labels: events

fix: maxwell cheaper
  data/items.json
Labels: none

fix: maxwell cheaper
  data/items.json
Labels: none

react to winner with trophy
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

react to winner with trophy
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

don't use transparent embed colour
  src/commands/auction.ts
  src/commands/countdown.ts
  src/commands/daily.ts
  src/commands/karmashop.ts
  src/events/interactionCreate.ts
  src/events/message.ts
  src/interactions/accept_offer.ts
  src/interactions/block_item.ts
  src/interactions/block_user.ts
  src/interactions/deny_offer.ts
  src/interactions/disable_offers.ts
  src/scheduled/clusterjobs/autosell_status.ts
  src/scheduled/clusterjobs/checkauctions.ts
  src/scheduled/clusterjobs/crafted.ts
  src/scheduled/clusterjobs/workers.ts
  src/scheduled/jobs/lottery.ts
  src/scheduled/jobs/streaks.ts
  src/scheduled/jobs/votereminders.ts
  src/utils/Constants.ts
  src/utils/functions/economy/achievements.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/boosters.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/guilds/countdowns.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/guilds/reactionroles.ts
  src/utils/functions/supportrequest.ts
  src/utils/functions/users/email.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, guild, users, scheduled, commands, events

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
