Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

test: weird exit shit
  src/nypsi.ts
Labels: none

test: weird exit shit
  src/nypsi.ts
Labels: none

test: weird exit shit
  src/nypsi.ts
Labels: none

test: what the hellll
  src/utils/handlers/commandhandler.ts
Labels: none

test: what the hellll
  src/utils/handlers/commandhandler.ts
Labels: none

test: what the hellll
  src/utils/handlers/commandhandler.ts
Labels: none

test: what the hellll
  src/utils/handlers/commandhandler.ts
Labels: none

test: logs
  src/utils/functions/guilds/disabledcommands.ts
Labels: guild

test: logs
  src/utils/functions/guilds/disabledcommands.ts
Labels: guild

test: logs
  src/utils/functions/guilds/disabledcommands.ts
Labels: guild

test: logs
  src/utils/functions/guilds/disabledcommands.ts
Labels: guild

Revert "test: weird exit shit"
  src/nypsi.ts
Labels: none

Revert "test: weird exit shit"
  src/nypsi.ts
Labels: none

Revert "test: weird exit shit"
  src/nypsi.ts
Labels: none

Revert "test: weird exit shit"
  src/nypsi.ts
Labels: none

Revert "test: what the hellll"
  src/utils/handlers/commandhandler.ts
Labels: none

Revert "test: what the hellll"
  src/utils/handlers/commandhandler.ts
Labels: none

Revert "test: what the hellll"
  src/utils/handlers/commandhandler.ts
Labels: none

Revert "test: what the hellll"
  src/utils/handlers/commandhandler.ts
Labels: none

Revert "test: logs"
  src/utils/functions/guilds/disabledcommands.ts
Labels: guild

Revert "test: logs"
  src/utils/functions/guilds/disabledcommands.ts
Labels: guild

Revert "test: logs"
  src/utils/functions/guilds/disabledcommands.ts
Labels: guild

Revert "test: logs"
  src/utils/functions/guilds/disabledcommands.ts
Labels: guild

ci: use bash instead?!
  .github/workflows/ci.yml
Labels: ci

ci: use bash instead?!
  .github/workflows/ci.yml
Labels: ci

ci: use bash instead?!
  .github/workflows/ci.yml
Labels: ci

ci: use bash instead?!
  .github/workflows/ci.yml
Labels: ci

ci: fix npm maybe
  .github/workflows/ci.yml
Labels: ci

ci: fix npm maybe
  .github/workflows/ci.yml
Labels: ci

ci: fix npm maybe
  .github/workflows/ci.yml
Labels: ci

ci: fix npm maybe
  .github/workflows/ci.yml
Labels: ci

feat: adjust pings tracking requirements
  src/commands/pings.ts
  src/events/message.ts
Labels: commands, events

feat: adjust pings tracking requirements
  src/commands/pings.ts
  src/events/message.ts
Labels: commands, events

feat: adjust pings tracking requirements
  src/commands/pings.ts
  src/events/message.ts
Labels: commands, events

feat: adjust pings tracking requirements
  src/commands/pings.ts
  src/events/message.ts
Labels: commands, events

5.10.2
  package-lock.json
  package.json
Labels: none

5.10.2
  package-lock.json
  package.json
Labels: none

5.10.2
  package-lock.json
  package.json
Labels: none

5.10.2
  package-lock.json
  package.json
Labels: none

refactor: increase max for non premium
  src/utils/functions/economy/items/crates.ts
Labels: economy

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
