Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

feat: use grep for logsearch
  src/utils/functions/workers/logsearch.ts
Labels: none

feat: add cmd support
  src/commands/ecohistory.ts
Labels: commands

feat: add cmd support
  src/commands/ecohistory.ts
Labels: commands

6.2.2
  package.json
Labels: none

6.2.2
  package.json
Labels: none

feat: daily log files
  src/utils/logger.ts
Labels: none

feat: daily log files
  src/utils/logger.ts
Labels: none

feat: daily log files
  src/utils/logger.ts
Labels: none

feat: daily log files
  src/utils/logger.ts
Labels: none

fix: admins can give captchas
  src/commands/captchatest.ts
Labels: commands

fix: admins can give captchas
  src/commands/captchatest.ts
Labels: commands

fix: admins can give captchas
  src/commands/captchatest.ts
Labels: commands

fix: admins can give captchas
  src/commands/captchatest.ts
Labels: commands

feat: add graph support for inventory (#865)
  package.json
  src/commands/ecohistory.ts
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled, commands

feat: add graph support for inventory (#865)
  package.json
  src/commands/ecohistory.ts
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled, commands

feat: add graph support for inventory (#865)
  package.json
  src/commands/ecohistory.ts
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled, commands

feat: add graph support for inventory (#865)
  package.json
  src/commands/ecohistory.ts
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled, commands

refactor: give catpcha after 500
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: give catpcha after 500
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: give catpcha after 500
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: give catpcha after 500
  src/utils/handlers/commandhandler.ts
Labels: none

feat: reduce buy cost of scratch card
  data/items.json
Labels: none

feat: reduce buy cost of scratch card
  data/items.json
Labels: none

feat: reduce buy cost of scratch card
  data/items.json
Labels: none

feat: reduce buy cost of scratch card
  data/items.json
Labels: none

fix: speech marks
  src/utils/functions/workers/logsearch.ts
Labels: none

fix: speech marks
  src/utils/functions/workers/logsearch.ts
Labels: none

fix: speech marks
  src/utils/functions/workers/logsearch.ts
Labels: none

fix: speech marks
  src/utils/functions/workers/logsearch.ts
Labels: none

fix: prevent blank custom cmd
  src/commands/premium.ts
Labels: commands

fix: prevent blank custom cmd
  src/commands/premium.ts
Labels: commands

fix: prevent blank custom cmd
  src/commands/premium.ts
Labels: commands

fix: prevent blank custom cmd
  src/commands/premium.ts
Labels: commands

docs: workers page
  economy/workers.md
Labels: none

fix: renovate config
  renovate.json
Labels: none

fix: renovate config
  renovate.json
Labels: none

fix: renovate config
  renovate.json
Labels: none

fix: renovate config
  renovate.json
Labels: none

feat: findauctions func
  src/utils/functions/economy/auctions.ts
Labels: economy

feat: include last known tag
  src/utils/functions/economy/auctions.ts
Labels: economy
