Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: if its a snowflake fetch user directly
  src/utils/functions/member.ts
Labels: none

feat: better guild upgrade handling
  src/utils/functions/economy/guilds.ts
Labels: economy

feat: guild bakery upgrade
  data/guild_upgrades.json
  src/utils/functions/economy/bakery.ts
Labels: economy

feat: guild cooldown upgrade
  src/utils/handlers/cooldownhandler.ts
Labels: none

feat: higher upgrades
  src/utils/functions/economy/guilds.ts
Labels: economy

feat: columns to track contributions this level
  prisma/migrations/20230817131725_guild_this_level/migration.sql
  prisma/schema.prisma
Labels: schema

feat: keep track of progress for current level
  src/commands/guild.ts
  src/utils/functions/economy/guilds.ts
Labels: economy, commands

fix: stats
  src/commands/guild.ts
Labels: commands

feat: add crate xp to guild
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: anticheat works on scratch card repetition
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: anticheat works on scratch card repetition
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: anticheat works on scratch card repetition
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: rarer credits
  data/items.json
Labels: none

fix: rarer credits
  data/items.json
Labels: none

fix: rarer credits
  data/items.json
Labels: none

6.11.0
  package.json
Labels: none

fix: use colon
  src/utils/functions/economy/guilds.ts
Labels: economy

fix: no tax when paying premium member
  src/commands/pay.ts
Labels: commands

feat: guild upgrade rewards (#1202)
  data/guild_upgrades.json
  package.json
  prisma/migrations/20230817131725_guild_this_level/migration.sql
  prisma/schema.prisma
  src/commands/guild.ts
  src/commands/pay.ts
  src/utils/functions/economy/bakery.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/inventory.ts
  src/utils/handlers/cooldownhandler.ts
Labels: economy, commands, schema

feat: guild upgrade rewards (#1202)
  data/guild_upgrades.json
  package.json
  prisma/migrations/20230817131725_guild_this_level/migration.sql
  prisma/schema.prisma
  src/commands/guild.ts
  src/commands/pay.ts
  src/utils/functions/economy/bakery.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/inventory.ts
  src/utils/handlers/cooldownhandler.ts
Labels: economy, commands, schema

feat: guild upgrade rewards (#1202)
  data/guild_upgrades.json
  package.json
  prisma/migrations/20230817131725_guild_this_level/migration.sql
  prisma/schema.prisma
  src/commands/guild.ts
  src/commands/pay.ts
  src/utils/functions/economy/bakery.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/inventory.ts
  src/utils/handlers/cooldownhandler.ts
Labels: economy, commands, schema

feat: ninja tag
  data/achievements.json
  data/items.json
  data/tags.json
Labels: none

feat: cherry tag
  data/achievements.json
  data/items.json
  data/tags.json
Labels: none

feat: spades tag
  data/achievements.json
  data/items.json
  data/tags.json
Labels: none

feat: bomb tag
  data/achievements.json
  data/items.json
  data/tags.json
Labels: none

fix: i missed the tags whoops (#1203)
  data/achievements.json
  data/items.json
  data/tags.json
Labels: none

fix: i missed the tags whoops (#1203)
  data/achievements.json
  data/items.json
  data/tags.json
Labels: none

fix: i missed the tags whoops (#1203)
  data/achievements.json
  data/items.json
  data/tags.json
Labels: none

fixes
  prisma/migrations/20230816213500_alts/migration.sql
  prisma/schema.prisma
  src/commands/alts.ts
  src/commands/ban.ts
  src/commands/mute.ts
  src/events/guildMemberAdd.ts
  src/utils/Constants.ts
  src/utils/functions/moderation/alts.ts
  src/utils/functions/moderation/mute.ts
Labels: moderation, commands, events, schema

oops
  src/utils/functions/moderation/mute.ts
Labels: moderation

fix: weird avatar
  src/commands/modlogs.ts
  src/scheduled/clusterjobs/moderationchecks.ts
Labels: scheduled, commands

fix: weird avatar
  src/commands/modlogs.ts
  src/scheduled/clusterjobs/moderationchecks.ts
Labels: scheduled, commands

fix: weird avatar
  src/commands/modlogs.ts
  src/scheduled/clusterjobs/moderationchecks.ts
Labels: scheduled, commands

feat: guild relation
  prisma/migrations/20230817213226_alts/migration.sql
  prisma/schema.prisma
Labels: schema

fix: little changes
  src/commands/alts.ts
  src/commands/ban.ts
  src/commands/mute.ts
Labels: commands

refactor: disable slash command
  src/commands/alts.ts
Labels: commands

fix: silly fixes
  src/commands/alts.ts
  src/commands/mute.ts
  src/utils/functions/moderation/alts.ts
Labels: moderation, commands

feat: auto unmute, unban, and filter violations
  src/commands/mute.ts
  src/commands/unban.ts
  src/commands/unmute.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/moderation/alts.ts
Labels: guild, moderation, commands

i love lintingggg
  src/commands/unban.ts
  src/commands/unmute.ts
  src/utils/functions/guilds/filters.ts
Labels: guild, commands

style: formatting
  src/commands/unban.ts
  src/commands/unmute.ts
  src/events/guildMemberAdd.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/moderation/alts.ts
  src/utils/functions/moderation/mute.ts
Labels: guild, moderation, commands, events
