Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

feat: update tower difficulties
  src/commands/tower.ts
Labels: commands

feat: update tower difficulties
  src/commands/tower.ts
Labels: commands

feat: disable finish button below 1x
  src/commands/mines.ts
  src/commands/tower.ts
Labels: commands

feat: disable finish button below 1x
  src/commands/mines.ts
  src/commands/tower.ts
Labels: commands

feat: disable finish button below 1x
  src/commands/mines.ts
  src/commands/tower.ts
Labels: commands

feat: disable finish button below 1x
  src/commands/mines.ts
  src/commands/tower.ts
Labels: commands

fix: auction tax
  src/events/interactionCreate.ts
Labels: events

fix: auction tax
  src/events/interactionCreate.ts
Labels: events

fix: auction tax
  src/events/interactionCreate.ts
Labels: events

fix: auction tax
  src/events/interactionCreate.ts
Labels: events

feat: gems are rarer
  src/commands/daily.ts
  src/utils/functions/economy/inventory.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, commands

feat: gems are rarer
  src/commands/daily.ts
  src/utils/functions/economy/inventory.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, commands

feat: prevent stale game
  src/commands/tower.ts
Labels: commands

feat: prevent stale game
  src/commands/tower.ts
Labels: commands

feat: prevent stale game
  src/commands/tower.ts
Labels: commands

feat: prevent stale game
  src/commands/tower.ts
Labels: commands

fix: dragon tower achievement not for easy difficulty
  data/achievements.json
  src/commands/tower.ts
Labels: commands

fix: dragon tower achievement not for easy difficulty
  data/achievements.json
  src/commands/tower.ts
Labels: commands

fix: dragon tower achievement not for easy difficulty
  data/achievements.json
  src/commands/tower.ts
Labels: commands

fix: dragon tower achievement not for easy difficulty
  data/achievements.json
  src/commands/tower.ts
Labels: commands

fix: auction errorrrrr
  src/events/interactionCreate.ts
Labels: events

fix: auction errorrrrr
  src/events/interactionCreate.ts
Labels: events

fix: auction errorrrrr
  src/events/interactionCreate.ts
Labels: events

fix: auction errorrrrr
  src/events/interactionCreate.ts
Labels: events

feat: add gem spawn to karmashop
  src/commands/karmashop.ts
Labels: commands

feat: add gem spawn to karmashop
  src/commands/karmashop.ts
Labels: commands

feat: add gem spawn to karmashop
  src/commands/karmashop.ts
Labels: commands

feat: add gem spawn to karmashop
  src/commands/karmashop.ts
Labels: commands

fix(?): prevent double click
  src/commands/tower.ts
Labels: commands

fix(?): prevent double click
  src/commands/tower.ts
Labels: commands

fix(?): prevent double click
  src/commands/tower.ts
Labels: commands

fix(?): prevent double click
  src/commands/tower.ts
Labels: commands

fix: fFfUCK
  src/commands/tower.ts
Labels: commands

fix: fFfUCK
  src/commands/tower.ts
Labels: commands

fix: fFfUCK
  src/commands/tower.ts
Labels: commands

fix: fFfUCK
  src/commands/tower.ts
Labels: commands

refactor: percentchance function
  src/commands/bake.ts
  src/commands/daily.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/scheduled/clusterjobs/lottery.ts
  src/utils/functions/economy/achievements.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/random.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, scheduled, commands

refactor: percentchance function
  src/commands/bake.ts
  src/commands/daily.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/scheduled/clusterjobs/lottery.ts
  src/utils/functions/economy/achievements.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/random.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, scheduled, commands

fix: previous
  src/commands/mines.ts
  src/commands/tower.ts
Labels: commands

fix: previous
  src/commands/mines.ts
  src/commands/tower.ts
Labels: commands
