Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

feat: send file with game data
  src/commands/viewgame.ts
Labels: commands

feat: max logger
  src/utils/logger.ts
Labels: none

feat: max logger
  src/utils/logger.ts
Labels: none

feat: custom formatter support
  src/utils/logger.ts
Labels: none

feat: custom formatter support
  src/utils/logger.ts
Labels: none

feat: custom formatter
  src/utils/logger.ts
Labels: none

feat: custom formatter
  src/utils/logger.ts
Labels: none

feat: use new logger
  src/utils/logger.ts
  src/utils/logger/logger.ts
  src/utils/logger/pino-pretty-transport.ts
Labels: none

feat: use new logger
  src/utils/logger.ts
  src/utils/logger/logger.ts
  src/utils/logger/pino-pretty-transport.ts
Labels: none

chore: remove pino
  package.json
  pnpm-lock.yaml
Labels: none

chore: remove pino
  package.json
  pnpm-lock.yaml
Labels: none

fix: cluster
  src/utils/logger.ts
Labels: none

fix: cluster
  src/utils/logger.ts
Labels: none

fix: error handling
  src/nypsi.ts
  src/utils/logger.ts
Labels: none

fix: error handling
  src/nypsi.ts
  src/utils/logger.ts
Labels: none

feat: logs on discord server
  src/models/DiscordLogs.ts
  src/utils/logger.ts
Labels: none

feat: logs on discord server
  src/models/DiscordLogs.ts
  src/utils/logger.ts
Labels: none

6.4.2
  package.json
Labels: none

6.4.2
  package.json
Labels: none

fix: cluster in logs
  src/utils/functions/workers/logsearch.ts
  src/utils/logger.ts
Labels: none

fix: 10mb log files
  src/utils/logger.ts
Labels: none

fix: 10mb log files
  src/utils/logger.ts
Labels: none

fix: 10mb log files
  src/utils/logger.ts
Labels: none

fix: 10mb log files
  src/utils/logger.ts
Labels: none

feat: update logger formatter
  src/utils/logger.ts
Labels: none

feat: update logger formatter
  src/utils/logger.ts
Labels: none

feat: update logger formatter
  src/utils/logger.ts
Labels: none

feat: update logger formatter
  src/utils/logger.ts
Labels: none

feat: add ksi faze knockout gif
  src/commands/fight.ts
Labels: commands

feat: add ksi faze knockout gif
  src/commands/fight.ts
Labels: commands

feat: add ksi faze knockout gif
  src/commands/fight.ts
Labels: commands

feat: add ksi faze knockout gif
  src/commands/fight.ts
Labels: commands

feat: remove coinflip maxbet limitation
  src/commands/coinflip.ts
Labels: commands

feat: remove coinflip maxbet limitation
  src/commands/coinflip.ts
Labels: commands

feat: remove coinflip maxbet limitation
  src/commands/coinflip.ts
Labels: commands

feat: remove coinflip maxbet limitation
  src/commands/coinflip.ts
Labels: commands

fix: use lowercase
  src/commands/auction.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

fix: use lowercase
  src/commands/auction.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

fix: use lowercase
  src/commands/auction.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

fix: use lowercase
  src/commands/auction.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands
