Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

feat: new player tips (#1743)
  data/lists.json
  prisma/migrations/20250208131102_tips/migration.sql
  prisma/schema.prisma
  src/utils/functions/users/notifications.ts
  src/utils/handlers/commandhandler.ts
Labels: users, schema

feat: new player tips (#1743)
  data/lists.json
  prisma/migrations/20250208131102_tips/migration.sql
  prisma/schema.prisma
  src/utils/functions/users/notifications.ts
  src/utils/handlers/commandhandler.ts
Labels: users, schema

9.4.0
  package.json
Labels: none

9.4.0
  package.json
Labels: none

fix file path
  src/utils/handlers/commandhandler.ts
Labels: none

fix file path
  src/utils/handlers/commandhandler.ts
Labels: none

fix: allow tips to be turned on/off
  data/notifications.json
Labels: none

fix: allow tips to be turned on/off
  data/notifications.json
Labels: none

fix: use message.author.id
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/tower.ts
Labels: commands

fix: use message.author.id
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/tower.ts
Labels: commands

feat: add set birthday to x
  src/commands/x.ts
Labels: commands

feat: add set birthday to x (#1744)
  src/commands/x.ts
Labels: commands

feat: add set birthday to x (#1744)
  src/commands/x.ts
Labels: commands

fix: const silly grizzly
  src/commands/x.ts
Labels: commands

fix: const silly grizzly
  src/commands/x.ts
Labels: commands

fix: image uploads
  src/init/s3.ts
Labels: none

fix: image uploads
  src/init/s3.ts
Labels: none

fix: achievement progress must be bigint
  prisma/migrations/20250212115046_achievement_progress_bigint/migration.sql
  prisma/schema.prisma
Labels: schema

fix: achievement progress must be bigint
  prisma/migrations/20250212115046_achievement_progress_bigint/migration.sql
  prisma/schema.prisma
Labels: schema

fix: convert bigint to number
  src/commands/achievements.ts
  src/utils/functions/economy/achievements.ts
Labels: economy, commands

fix: convert bigint to number
  src/commands/achievements.ts
  src/utils/functions/economy/achievements.ts
Labels: economy, commands

fix: optional avlues
  src/interactions/reaction_role.ts
Labels: none

fix: optional avlues
  src/interactions/reaction_role.ts
Labels: none

reduce random captcha chance
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy, commands

reduce random captcha chance
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy, commands

less frequent random captchas
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/karmashop.ts
  src/commands/mines.ts
  src/commands/tower.ts
Labels: commands

less frequent random captchas
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/karmashop.ts
  src/commands/mines.ts
  src/commands/tower.ts
Labels: commands

unbreaking reduced length with decreased rarity
  data/items.json
Labels: none

unbreaking reduced length with decreased rarity
  data/items.json
Labels: none

add mango plant
  data/items.json
  data/plants.json
Labels: none

add mango plant
  data/items.json
  data/plants.json
Labels: none

add coconut tree plant
  data/items.json
  data/plants.json
Labels: none

add coconut tree plant
  data/items.json
  data/plants.json
Labels: none

fix: unbreaking description
  data/items.json
Labels: none

fix: unbreaking description
  data/items.json
Labels: none

fix: mango seed desc
  data/items.json
Labels: none

fix: mango seed desc
  data/items.json
Labels: none

fix: dont ask for confirm deny on coinflip
  src/commands/coinflip.ts
Labels: commands

schema change
  prisma/migrations/20250219104044_sellall_filter/migration.sql
  prisma/schema.prisma
Labels: schema

do normal sellall only when no args
  src/commands/sellall.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
