Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

feat: logs
  src/events/interactionCreate.ts
Labels: events

feat: add role function
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: add description
  prisma/schema.prisma
Labels: schema

fix: add description
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: add description
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

feat: add role on button press
  src/events/interactionCreate.ts
Labels: events

fix: cascade delete
  prisma/schema.prisma
Labels: schema

feat: delete functions
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: add createdAt column
  prisma/schema.prisma
Labels: schema

feat: add role function
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: error catching
  src/events/interactionCreate.ts
Labels: events

fix: error catching
  src/events/interactionCreate.ts
Labels: events

fix: orderby createdat
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: rename column
  prisma/schema.prisma
Labels: schema

fix: add label
  prisma/schema.prisma
Labels: schema

refactor: convert blacklist to whitelist
  prisma/schema.prisma
Labels: schema

refactor: convert blacklist to whitelist
  prisma/schema.prisma
Labels: schema

feat: functions to update settings
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

feat: functions to update settings
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

refactor: func names
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

refactor: func names
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

feat: setwhitelist func
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

feat: setwhitelist func
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

feat: add whitelisted role check
  src/events/interactionCreate.ts
Labels: events

feat: add whitelisted role check
  src/events/interactionCreate.ts
Labels: events

fix: func name
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: func name
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

feat: reactionrole command
  src/commands/reactionroles.ts
Labels: commands

feat: reactionrole command
  src/commands/reactionroles.ts
Labels: commands

fix: prevent issuesssss
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: prevent issuesssss
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

feat: slash command data
  src/commands/reactionroles.ts
Labels: commands

feat: slash command data
  src/commands/reactionroles.ts
Labels: commands

fix: slash commands
  src/commands/reactionroles.ts
Labels: commands

fix: slash commands
  src/commands/reactionroles.ts
Labels: commands

feat: reaction roles autocorrect
  src/events/interactionCreate.ts
Labels: events

feat: reaction roles autocorrect
  src/events/interactionCreate.ts
Labels: events

fix: typo
  src/commands/reactionroles.ts
Labels: commands

fix: typo
  src/commands/reactionroles.ts
Labels: commands

fix: mode thing
  src/commands/reactionroles.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
