Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: i actually calculated a percentage wrong HAHAHAHA
  src/commands/lottery.ts
Labels: commands

feat: less money in nypsi bank
  src/utils/functions/tax.ts
Labels: none

feat: less money in nypsi bank
  src/utils/functions/tax.ts
Labels: none

feat: less money in nypsi bank
  src/utils/functions/tax.ts
Labels: none

fix: admin expire
  src/commands/x.ts
Labels: commands

fix: admin expire
  src/commands/x.ts
Labels: commands

fix: admin expire
  src/commands/x.ts
Labels: commands

feat: move tax into auction/offer create fee
  src/commands/auction.ts
  src/commands/offer.ts
  src/utils/functions/economy/auctions.ts
Labels: economy, commands

feat: move tax into auction/offer create fee
  src/commands/auction.ts
  src/commands/offer.ts
  src/utils/functions/economy/auctions.ts
Labels: economy, commands

feat: move tax into auction/offer create fee
  src/commands/auction.ts
  src/commands/offer.ts
  src/utils/functions/economy/auctions.ts
Labels: economy, commands

fix: update boosters link
  src/utils/functions/premium/boosters.ts
Labels: premium

fix: update boosters link
  src/utils/functions/premium/boosters.ts
Labels: premium

fix: update boosters link
  src/utils/functions/premium/boosters.ts
Labels: premium

6.6.2
  package.json
Labels: none

6.6.2
  package.json
Labels: none

6.6.2
  package.json
Labels: none

fix: muterole cache issue
  src/utils/functions/moderation/mute.ts
Labels: moderation

fix: muterole cache issue
  src/utils/functions/moderation/mute.ts
Labels: moderation

fix: muterole cache issue
  src/utils/functions/moderation/mute.ts
Labels: moderation

refactor: remove gem shards from scratchies
  data/items.json
Labels: none

refactor: remove gem shards from scratchies
  data/items.json
Labels: none

refactor: remove gem shards from scratchies
  data/items.json
Labels: none

refactor: remove tax from fee cost
  src/commands/auction.ts
  src/commands/offer.ts
Labels: commands

refactor: remove tax from fee cost
  src/commands/auction.ts
  src/commands/offer.ts
Labels: commands

refactor: remove tax from fee cost
  src/commands/auction.ts
  src/commands/offer.ts
Labels: commands

fix: add curved lines back
  src/utils/functions/workers/itemhistory.ts
Labels: none

fix: add curved lines back
  src/utils/functions/workers/itemhistory.ts
Labels: none

fix: add curved lines back
  src/utils/functions/workers/itemhistory.ts
Labels: none

fix: remove bracket
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: remove bracket
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: remove bracket
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: not stacked 😡
  src/types/Chart.ts
  src/utils/functions/workers/itemhistory.ts
Labels: none

fix: not stacked 😡
  src/types/Chart.ts
  src/utils/functions/workers/itemhistory.ts
Labels: none

fix: not stacked 😡
  src/types/Chart.ts
  src/utils/functions/workers/itemhistory.ts
Labels: none

refactor: grid lines
  src/utils/functions/workers/itemhistory.ts
Labels: none

refactor: grid lines
  src/utils/functions/workers/itemhistory.ts
Labels: none

refactor: grid lines
  src/utils/functions/workers/itemhistory.ts
Labels: none

fix: 3 sig digits
  src/commands/lottery.ts
Labels: commands

fix: 3 sig digits
  src/commands/lottery.ts
Labels: commands

fix: 3 sig digits
  src/commands/lottery.ts
Labels: commands
