Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

longer timeout/wait
  src/utils/functions/users/utils.ts
Labels: users

add cars to data package
  src/commands/data.ts
  src/commands/x.ts
Labels: commands

add cars to data package
  src/commands/data.ts
  src/commands/x.ts
Labels: commands

update pnpm lock
  pnpm-lock.yaml
Labels: none

update pnpm lock
  pnpm-lock.yaml
Labels: none

default premium length is now 31 days
  src/utils/functions/premium/premium.ts
Labels: premium

entitlementcreate event
  src/events/entitlementCreate.ts
  src/models/Client.ts
Labels: events

update & delete
  src/events/entitlementDelete.ts
  src/events/entitlementUpdate.ts
  src/models/Client.ts
Labels: events

slut should add achievement progress
  src/commands/slut.ts
Labels: commands

feat: add discord entitlement support (maybe?) (#1475)
  src/commands/slut.ts
  src/events/entitlementCreate.ts
  src/events/entitlementDelete.ts
  src/events/entitlementUpdate.ts
  src/models/Client.ts
  src/utils/functions/premium/premium.ts
Labels: premium, commands, events

feat: add discord entitlement support (maybe?) (#1475)
  src/commands/slut.ts
  src/events/entitlementCreate.ts
  src/events/entitlementDelete.ts
  src/events/entitlementUpdate.ts
  src/models/Client.ts
  src/utils/functions/premium/premium.ts
Labels: premium, commands, events

add new captchas
  prisma/migrations/20240508154137_captcha/migration.sql
  prisma/schema.prisma
  src/commands/captchatest.ts
  src/utils/functions/captcha.ts
  src/utils/handlers/commandhandler.ts
Labels: commands, schema

add new captchas
  prisma/migrations/20240508154137_captcha/migration.sql
  prisma/schema.prisma
  src/commands/captchatest.ts
  src/utils/functions/captcha.ts
  src/utils/handlers/commandhandler.ts
Labels: commands, schema

better data
  src/utils/functions/captcha.ts
Labels: none

better data
  src/utils/functions/captcha.ts
Labels: none

silly me
  src/utils/functions/captcha.ts
Labels: none

silly me
  src/utils/functions/captcha.ts
Labels: none

SILLY ME
  src/utils/functions/captcha.ts
Labels: none

SILLY ME
  src/utils/functions/captcha.ts
Labels: none

give message content still
  src/utils/functions/captcha.ts
Labels: none

give message content still
  src/utils/functions/captcha.ts
Labels: none

fix gif
  data/tasks.json
Labels: none

fix gif
  data/tasks.json
Labels: none

better appearance
  src/utils/functions/captcha.ts
Labels: none

better appearance
  src/utils/functions/captcha.ts
Labels: none

remove log
  src/utils/functions/captcha.ts
Labels: none

remove log
  src/utils/functions/captcha.ts
Labels: none

i tink its that one
  src/utils/functions/captcha.ts
Labels: none

i tink its that one
  src/utils/functions/captcha.ts
Labels: none

add relation and captchas data
  prisma/migrations/20240508171744_captcha_relation/migration.sql
  prisma/schema.prisma
  src/commands/data.ts
Labels: commands, schema

add relation and captchas data
  prisma/migrations/20240508171744_captcha_relation/migration.sql
  prisma/schema.prisma
  src/commands/data.ts
Labels: commands, schema

or message oops
  src/utils/handlers/commandhandler.ts
Labels: none

or message oops
  src/utils/handlers/commandhandler.ts
Labels: none

catch
  src/utils/functions/captcha.ts
Labels: none

catch
  src/utils/functions/captcha.ts
Labels: none

add solved at time
  src/utils/functions/captcha.ts
Labels: none

add solved at time
  src/utils/functions/captcha.ts
Labels: none

ecoban cache better data thing
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
  src/commands/ecoban.ts
  src/commands/find.ts
  src/commands/give.ts
  src/commands/guild.ts
  src/commands/offer.ts
  src/commands/pay.ts
  src/commands/profile.ts
  src/commands/rob.ts
  src/commands/x.ts
  src/interactions/accept_offer.ts
  src/interactions/auction_buy_multiple.ts
  src/interactions/auction_buy_one.ts
  src/interactions/bake.ts
  src/interactions/block_item.ts
  src/interactions/block_user.ts
  src/interactions/deny_offer.ts
  src/interactions/disable_offers.ts
  src/interactions/fish.ts
  src/interactions/hunt.ts
  src/interactions/mine.ts
  src/interactions/vote_crates.ts
  src/interactions/workers_claim.ts
  src/scheduled/clusterjobs/random-drops.ts
  src/types/Economy.ts
  src/utils/functions/captcha.ts
  src/utils/functions/economy/achievements.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/moderation/alts.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, moderation, scheduled, commands

ecoban cache better data thing
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
  src/commands/ecoban.ts
  src/commands/find.ts
  src/commands/give.ts
  src/commands/guild.ts
  src/commands/offer.ts
  src/commands/pay.ts
  src/commands/profile.ts
  src/commands/rob.ts
  src/commands/x.ts
  src/interactions/accept_offer.ts
  src/interactions/auction_buy_multiple.ts
  src/interactions/auction_buy_one.ts
  src/interactions/bake.ts
  src/interactions/block_item.ts
  src/interactions/block_user.ts
  src/interactions/deny_offer.ts
  src/interactions/disable_offers.ts
  src/interactions/fish.ts
  src/interactions/hunt.ts
  src/interactions/mine.ts
  src/interactions/vote_crates.ts
  src/interactions/workers_claim.ts
  src/scheduled/clusterjobs/random-drops.ts
  src/types/Economy.ts
  src/utils/functions/captcha.ts
  src/utils/functions/economy/achievements.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/moderation/alts.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, moderation, scheduled, commands

7.3.2
  package.json
Labels: none

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
