Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

8.11.1
  package.json
Labels: none

8.11.1
  package.json
Labels: none

fix: actually add progress for rick roll task
  src/utils/handlers/commandhandler.ts
Labels: none

fix: actually add progress for rick roll task
  src/utils/handlers/commandhandler.ts
Labels: none

improve banned/muted commands
  src/commands/banned.ts
  src/commands/muted.ts
  src/utils/functions/moderation/ban.ts
  src/utils/functions/moderation/mute.ts
Labels: moderation, commands

improve banned/muted commands
  src/commands/banned.ts
  src/commands/muted.ts
  src/utils/functions/moderation/ban.ts
  src/utils/functions/moderation/mute.ts
Labels: moderation, commands

better handling of timeouts
  src/commands/mute.ts
  src/events/message.ts
  src/utils/functions/guilds/filters.ts
Labels: guild, commands, events

better handling of timeouts
  src/commands/mute.ts
  src/events/message.ts
  src/utils/functions/guilds/filters.ts
Labels: guild, commands, events

add orange seed and toe to loot drops
  data/items.json
Labels: none

add orange seed and toe to loot drops
  data/items.json
Labels: none

show list of members after purge includes
  src/commands/purge.ts
Labels: commands

show list of members after purge includes
  src/commands/purge.ts
Labels: commands

farm upgrades cache
  src/utils/Constants.ts
  src/utils/functions/economy/farm.ts
Labels: economy

farm upgrades cache
  src/utils/Constants.ts
  src/utils/functions/economy/farm.ts
Labels: economy

use cached farm values for claimable
  src/utils/functions/economy/farm.ts
Labels: economy

use cached farm values for claimable
  src/utils/functions/economy/farm.ts
Labels: economy

put tracking disabled at top of list
  src/commands/usernamehistory.ts
Labels: commands

put tracking disabled at top of list
  src/commands/usernamehistory.ts
Labels: commands

properly delete from mutex?
  src/interactions/auction_buy_multiple.ts
  src/utils/functions/economy/auctions.ts
Labels: economy

properly delete from mutex?
  src/interactions/auction_buy_multiple.ts
  src/utils/functions/economy/auctions.ts
Labels: economy

only ignore level 75+
  src/events/message.ts
Labels: events

only ignore level 75+
  src/events/message.ts
Labels: events

fix automute first violation
  src/utils/functions/guilds/filters.ts
Labels: guild

fix automute first violation
  src/utils/functions/guilds/filters.ts
Labels: guild

update season rewards in readme
  README.md
Labels: none

update season rewards in readme
  README.md
Labels: none

remove 8 alias for 8ball
  src/commands/8ball.ts
Labels: commands

remove 8 alias for 8ball
  src/commands/8ball.ts
Labels: commands

crash: chance check before increase
  src/utils/functions/economy/crash.ts
Labels: economy

crash: chance check before increase
  src/utils/functions/economy/crash.ts
Labels: economy

chatfilter model
  prisma/schema.prisma
Labels: schema

percentmatch optional
  prisma/schema.prisma
Labels: schema

update chatfilter functions
  src/utils/Constants.ts
  src/utils/functions/guilds/filters.ts
Labels: guild

handle new chat filter types
  src/events/message.ts
  src/events/messageDelete.ts
  src/events/messageUpdate.ts
  src/utils/handlers/commandhandler.ts
Labels: events

remove percentagematch functions
  src/utils/functions/guilds/utils.ts
Labels: guild

update chatfilter command
  src/commands/chatfilter.ts
  src/utils/functions/guilds/filters.ts
Labels: guild, commands

admin command to migrate data
  src/commands/x.ts
Labels: commands

8.12.0
  package.json
Labels: none

feat: percentage match per chat filter item (#1698)
  package.json
  prisma/schema.prisma
  src/commands/chatfilter.ts
  src/commands/x.ts
  src/events/message.ts
  src/events/messageDelete.ts
  src/events/messageUpdate.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/guilds/utils.ts
  src/utils/handlers/commandhandler.ts
Labels: guild, commands, events, schema

feat: percentage match per chat filter item (#1698)
  package.json
  prisma/schema.prisma
  src/commands/chatfilter.ts
  src/commands/x.ts
  src/events/message.ts
  src/events/messageDelete.ts
  src/events/messageUpdate.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/guilds/utils.ts
  src/utils/handlers/commandhandler.ts
Labels: guild, commands, events, schema
