Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

feat: raise lottery ticket limit (#1033)
  src/utils/Constants.ts
Labels: none

refactor: make requestdm use the admin level system
  src/commands/requestdm.ts
Labels: commands

refactor: make forcelose use the admin level system
  src/commands/forcelose.ts
Labels: commands

make checks be quiet
  src/commands/forcelose.ts
Labels: commands

forcelose
  src/commands/forcelose.ts
Labels: commands

bluser
  src/commands/bluser.ts
Labels: commands

clearqueue
  src/commands/clearqueue.ts
Labels: commands

crateall
  src/commands/crateall.ts
Labels: commands

deleteslash
  src/commands/deleteslash.ts
Labels: commands

getcsvdata
  src/commands/getcsvdata.ts
Labels: commands

logsearch
  src/commands/logsearch.ts
Labels: commands

maintenance
  src/commands/maintenance.ts
Labels: commands

reloaditems
  src/commands/reloaditems.ts
Labels: commands

reloadslash
  src/commands/reloadslash.ts
Labels: commands

reseteco
  src/commands/reseteco.ts
Labels: commands

restart
  src/commands/restart.ts
Labels: commands

push a requested change
  src/commands/getcsvdata.ts
Labels: commands

refactor: include discord server link on support cooldown
  src/events/message.ts
Labels: events

fix: update addemoji command
  src/commands/addemoji.ts
Labels: commands

fix: shouldnt be stackable
  data/items.json
Labels: none

fix: shouldnt be stackable
  data/items.json
Labels: none

fix: shouldnt be stackable
  data/items.json
Labels: none

fix: update guild expressions variable (#1038)
  src/commands/addemoji.ts
Labels: commands

fix: update guild expressions variable (#1038)
  src/commands/addemoji.ts
Labels: commands

fix: update guild expressions variable (#1038)
  src/commands/addemoji.ts
Labels: commands

refactor: include discord server link on support cooldown (#1037)
  src/events/message.ts
Labels: events

refactor: include discord server link on support cooldown (#1037)
  src/events/message.ts
Labels: events

refactor: include discord server link on support cooldown (#1037)
  src/events/message.ts
Labels: events

refactor: use discord pick emoji
  data/achievements.json
Labels: none

refactor: use discord pick emoji
  data/achievements.json
Labels: none

refactor: use discord pick emoji
  data/achievements.json
Labels: none

fix: emojis
  data/items.json
Labels: none

fix: emojis
  data/items.json
Labels: none

fix: emojis
  data/items.json
Labels: none

fix: old emojis
  src/commands/viewgame.ts
Labels: commands

fix: old emojis
  src/commands/viewgame.ts
Labels: commands

fix: old emojis
  src/commands/viewgame.ts
Labels: commands

style: formatting
  src/events/message.ts
Labels: events

style: formatting
  src/events/message.ts
Labels: events

style: formatting
  src/events/message.ts
Labels: events
