Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: upload capybaras
  src/commands/image.ts
Labels: commands

stupid grizzly
  src/utils/functions/economy/stats.ts
Labels: economy

stupid grizzly
  src/utils/functions/economy/stats.ts
Labels: economy

stupid grizzly
  src/utils/functions/economy/stats.ts
Labels: economy

wrong url :rage:
  src/commands/viewgame.ts
Labels: commands

wrong url :rage:
  src/commands/viewgame.ts
Labels: commands

wrong url :rage:
  src/commands/viewgame.ts
Labels: commands

style: formatting
  src/utils/functions/economy/balance.ts
Labels: economy

style: formatting
  src/utils/functions/economy/balance.ts
Labels: economy

style: formatting
  src/utils/functions/economy/balance.ts
Labels: economy

stupid tekoh
  src/utils/functions/economy/stats.ts
Labels: economy

fix: weeirrdd
  src/utils/functions/economy/stats.ts
Labels: economy

fix: weeirrdd
  src/utils/functions/economy/stats.ts
Labels: economy

fix: weeirrdd
  src/utils/functions/economy/stats.ts
Labels: economy

nerf tower
  src/commands/tower.ts
Labels: commands

nerf tower
  src/commands/tower.ts
Labels: commands

nerf tower
  src/commands/tower.ts
Labels: commands

nerf quarry worker
  data/workers.json
  src/utils/functions/economy/workers.ts
Labels: economy

nerf quarry worker
  data/workers.json
  src/utils/functions/economy/workers.ts
Labels: economy

nerf quarry worker
  data/workers.json
  src/utils/functions/economy/workers.ts
Labels: economy

meow
  src/commands/tower.ts
Labels: commands

meow
  src/commands/tower.ts
Labels: commands

meow
  src/commands/tower.ts
Labels: commands

never use old season data
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
Labels: economy

never use old season data
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
Labels: economy

never use old season data
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
Labels: economy

better appearance
  src/utils/functions/economy/top.ts
Labels: economy

better appearance
  src/utils/functions/economy/top.ts
Labels: economy

better appearance
  src/utils/functions/economy/top.ts
Labels: economy

7.0.1
  package.json
Labels: none

7.0.1
  package.json
Labels: none

7.0.1
  package.json
Labels: none

slightly buff tower
  src/commands/tower.ts
Labels: commands

slightly buff tower
  src/commands/tower.ts
Labels: commands

slightly buff tower
  src/commands/tower.ts
Labels: commands

credit field in database
  prisma/migrations/20240108134438_premium_credit/migration.sql
  prisma/schema.prisma
Labels: schema

remove status funcs
  src/commands/premium.ts
  src/scheduled/clusterjobs/weeklycrates.ts
  src/utils/functions/premium/premium.ts
Labels: premium, scheduled, commands

update $x cmd list
  src/commands/x.ts
Labels: commands

i think this might work
  src/commands/x.ts
Labels: commands

get/set funcs for credits
  src/utils/functions/premium/premium.ts
Labels: premium
