Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

feat. change amt of tickets from voting
  src/utils/functions/economy/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy

refactor: rarer worker upgrades from fishing
  src/commands/fish.ts
Labels: commands

refactor: adjust scratch cards
  data/items.json
Labels: none

refactor: rarer worker upgrades from fishing
  src/commands/fish.ts
Labels: commands

refactor: adjust scratch cards
  data/items.json
Labels: none

refactor: rarer worker upgrades from fishing
  src/commands/fish.ts
Labels: commands

refactor: adjust scratch cards
  data/items.json
Labels: none

fix: 1 lottery ticket per vote
  src/utils/handlers/webhookhandler.ts
Labels: none

refactor: double lottery tax
  src/scheduled/clusterjobs/lottery.ts
Labels: scheduled

feat: auction history worker
  src/utils/functions/workers/auctionhistory.ts
Labels: none

fix: aaa
  src/utils/functions/economy/auctions.ts
  src/utils/functions/workers/auctionhistory.ts
Labels: economy

feat: add totalsales
  src/utils/functions/workers/auctionhistory.ts
Labels: none

feat: show button
  src/commands/item.ts
Labels: commands

feat: caching
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: aaa
  src/commands/item.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/workers/auctionhistory.ts
Labels: economy, commands

feat: better formatting
  src/commands/ecohistory.ts
  src/types/Chart.ts
  src/utils/functions/workers/auctionhistory.ts
Labels: commands

fix: aa
  src/commands/ecohistory.ts
Labels: commands

feat: better formatting
  src/commands/ecohistory.ts
  src/types/Chart.ts
  src/utils/functions/workers/auctionhistory.ts
Labels: commands

refactor: adjust lottery ticket price & voting amount (#950)
  src/scheduled/clusterjobs/lottery.ts
  src/utils/functions/economy/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, scheduled

refactor: adjust lottery ticket price & voting amount (#950)
  src/scheduled/clusterjobs/lottery.ts
  src/utils/functions/economy/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, scheduled

refactor: adjust lottery ticket price & voting amount (#950)
  src/scheduled/clusterjobs/lottery.ts
  src/utils/functions/economy/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, scheduled

feat: open coinflip requests
  src/commands/coinflip.ts
Labels: commands

feat: item sale history (#952)
  src/commands/ecohistory.ts
  src/commands/item.ts
  src/types/Chart.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/workers/auctionhistory.ts
Labels: economy, commands

feat: item sale history (#952)
  src/commands/ecohistory.ts
  src/commands/item.ts
  src/types/Chart.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/workers/auctionhistory.ts
Labels: economy, commands

feat: item sale history (#952)
  src/commands/ecohistory.ts
  src/commands/item.ts
  src/types/Chart.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/workers/auctionhistory.ts
Labels: economy, commands

refactor: remove buttom line
  src/commands/coinflip.ts
Labels: commands

feat: open chat reaction duel
  src/commands/chatreaction.ts
Labels: commands

fix: dont start if invalid member
  src/commands/coinflip.ts
Labels: commands

fix: cancel button
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
Labels: commands

refactor: use defer update
  src/commands/chatreaction.ts
Labels: commands

6.5.5
  package.json
Labels: none

refactor: increase auction cap
  src/utils/Constants.ts
Labels: none

refactor: increase auction cap
  src/utils/Constants.ts
Labels: none

refactor: increase auction cap
  src/utils/Constants.ts
Labels: none

feat: open cf/cr games (#953)
  package.json
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
Labels: commands

feat: open cf/cr games (#953)
  package.json
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
Labels: commands

feat: open cf/cr games (#953)
  package.json
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
Labels: commands

docs: update karma shop info
  economy/karma.md
  index.md
Labels: none

fix: gem shard
  src/scheduled/clusterjobs/workers.ts
Labels: scheduled

fix: gem shard
  src/scheduled/clusterjobs/workers.ts
Labels: scheduled

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
