Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: better presence handling
  src/events/ready.ts
Labels: events

fix: better presence handling
  src/events/ready.ts
Labels: events

fix: better presence handling on start
  src/events/ready.ts
  src/models/Client.ts
Labels: events

fix: better presence handling on start
  src/events/ready.ts
  src/models/Client.ts
Labels: events

fix: better presence handling on start
  src/events/ready.ts
  src/models/Client.ts
Labels: events

fix: weird errors
  src/utils/functions/economy/utils.ts
  src/utils/functions/page.ts
Labels: economy

fix: weird errors
  src/utils/functions/economy/utils.ts
  src/utils/functions/page.ts
Labels: economy

fix: weird errors
  src/utils/functions/economy/utils.ts
  src/utils/functions/page.ts
Labels: economy

refactor: logggssss
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

refactor: logggssss
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

refactor: logggssss
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: more fucking logs
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: more fucking logs
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: more fucking logs
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: only sellables for lucky cheese
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: only sellables for lucky cheese
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: only sellables for lucky cheese
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
Labels: economy

refactor: cheese in crates
  data/items.json
  src/commands/sellall.ts
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
Labels: economy, commands

refactor: cheese in crates
  data/items.json
  src/commands/sellall.ts
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
Labels: economy, commands

refactor: cheese in crates
  data/items.json
  src/commands/sellall.ts
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
Labels: economy, commands

fix(?): presence
  src/models/Client.ts
Labels: none

fix(?): presence
  src/models/Client.ts
Labels: none

fix(?): presence
  src/models/Client.ts
Labels: none

fix: like whaaaaaat
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction

fix: like whaaaaaat
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction

fix: like whaaaaaat
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction

refactor: better embed colour handling
  src/models/EmbedBuilders.ts
  src/utils/Constants.ts
  src/utils/functions/premium/color.ts
  src/utils/functions/premium/premium.ts
Labels: premium

refactor: better embed colour handling
  src/models/EmbedBuilders.ts
  src/utils/Constants.ts
  src/utils/functions/premium/color.ts
  src/utils/functions/premium/premium.ts
Labels: premium

refactor: better embed colour handling
  src/models/EmbedBuilders.ts
  src/utils/Constants.ts
  src/utils/functions/premium/color.ts
  src/utils/functions/premium/premium.ts
Labels: premium

fix: dont delete premium & silly me
  src/models/EmbedBuilders.ts
Labels: none

fix: dont delete premium & silly me
  src/models/EmbedBuilders.ts
Labels: none

fix: dont delete premium & silly me
  src/models/EmbedBuilders.ts
Labels: none

fix(?): chat reactions
  src/commands/find.ts
  src/commands/sex.ts
  src/models/PremStorage.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/karma/karmashop.ts
  src/utils/functions/moderation/ban.ts
  src/utils/functions/moderation/mute.ts
Labels: economy, karma, moderation, commands

fix(?): chat reactions
  src/commands/find.ts
  src/commands/sex.ts
  src/models/PremStorage.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/karma/karmashop.ts
  src/utils/functions/moderation/ban.ts
  src/utils/functions/moderation/mute.ts
Labels: economy, karma, moderation, commands

fix(?): chat reactions
  src/commands/find.ts
  src/commands/sex.ts
  src/models/PremStorage.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/karma/karmashop.ts
  src/utils/functions/moderation/ban.ts
  src/utils/functions/moderation/mute.ts
Labels: economy, karma, moderation, commands

fix: embed color errors
  src/utils/functions/premium/color.ts
Labels: premium

fix: embed color errors
  src/utils/functions/premium/color.ts
Labels: premium

fix: embed color errors
  src/utils/functions/premium/color.ts
Labels: premium

refactor: 1 week cache
  src/utils/functions/users/tags.ts
Labels: users

refactor: 1 week cache
  src/utils/functions/users/tags.ts
Labels: users
