Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: furnace emoji
  src/commands/smelt.ts
Labels: commands

fix: vote crates open button
  src/interactions/vote_crates.ts
Labels: none

fix: vote crates open button (#1791)
  src/interactions/vote_crates.ts
Labels: none

fix: add progress to loot drop achievement
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

fix: premium aliases pagination
  src/commands/premium.ts
Labels: commands

nerf scrapyard wup/tup chances
  data/workers.json
Labels: none

fix: vote crates in dms
  src/interactions/vote_crates.ts
Labels: none

fix: achievement and task progress for loot drops
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

Nerf scrapyard wup/tup chances (#1799)
  data/workers.json
Labels: none

prevent user data leakage in vote reminders
  src/scheduled/jobs/votereminders.ts
  src/utils/functions/users/notifications.ts
Labels: users, scheduled

fix: include pagination buttons
  src/commands/premium.ts
Labels: commands

clear recently used aliases every 2 hours
  src/utils/handlers/commandhandler.ts
Labels: none

captcha history function with cache
  src/commands/x.ts
  src/utils/Constants.ts
  src/utils/functions/captcha.ts
Labels: commands

fix maybe muterole update commadn
  src/commands/muterole.ts
Labels: commands

fucking forgot to init the array
  src/commands/muterole.ts
Labels: commands

prevent guild leaves during last day of season
  src/commands/guild.ts
Labels: commands

fix: arrays don't need to be let!!!!!!!!!
  src/commands/muterole.ts
Labels: commands

ass measurement command
  src/commands/ass.ts
Labels: commands

add emojis to ass cmd
  src/commands/ass.ts
Labels: commands

fix: gem hunter ach in crates and random drop
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/loot_pools.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy

refactor: use isGem function in other places
  src/scheduled/clusterjobs/crafted.ts
  src/utils/functions/economy/crafting.ts
Labels: economy, scheduled

fix: gem hunter achivement (#1804)
  src/scheduled/clusterjobs/crafted.ts
  src/utils/functions/economy/crafting.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/loot_pools.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy, scheduled

increase amount of cookies in omega crate
  data/loot_pools.json
Labels: none

fix: don't error with empty inventory
  src/commands/networth.ts
Labels: commands

only warn if baddddd
  src/init/database.ts
Labels: none

pause dms on cluster crash
  src/utils/functions/heartbeat.ts
  src/utils/queues/dms.ts
Labels: none

add dmqueue events
  src/utils/queues/dms.ts
Labels: none

fix dm errors
  src/commands/requestdm.ts
  src/commands/restart.ts
  src/utils/queues/dms.ts
Labels: commands

fix: oops remove default reaction
  src/commands/requestdm.ts
Labels: commands

better message handling for staff members in support requests
  src/commands/reply.ts
Labels: commands

add button to generate another colour
  src/commands/color.ts
Labels: commands

add tmdb command
  .env.example
  src/commands/tmdb.ts
  src/interactions/tmdb-query.ts
  src/types/tmdb.ts
  src/utils/Constants.ts
  src/utils/functions/tmdb.ts
Labels: commands

fix member targeting for history
  src/commands/history.ts
Labels: commands

optionable tagline
  src/commands/tmdb.ts
Labels: commands

don't instantly remove after completed
  src/commands/reply.ts
  src/commands/requestdm.ts
  src/utils/functions/users/notifications.ts
  src/utils/queues/dms.ts
Labels: users, commands

fix: remove console.log
  src/commands/reply.ts
  src/commands/requestdm.ts
Labels: commands

fix getting history from username
  src/commands/history.ts
Labels: commands

fix error for captcha broken
  src/utils/functions/captcha.ts
Labels: none

log more data
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix tagline not quoted
  src/commands/tmdb.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
