Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

formatting
  src/commands/auction.ts
Labels: commands

lottery ticket item
  data/items.json
Labels: none

remove lottery ticket max
  src/utils/Constants.ts
  src/utils/functions/economy/lottery.ts
  src/utils/functions/economy/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy

change job
  src/models/Client.ts
  src/scheduled/clusterjobs/lottery.ts
  src/scheduled/jobs/lottery.ts
Labels: scheduled

update lottery command
  src/commands/lottery.ts
Labels: commands

remove lotterytickets job
  src/scheduled/jobs/lotterytickets.ts
Labels: scheduled

buy confirmation message
  src/commands/buy.ts
Labels: commands

lottery alias
  data/items.json
Labels: none

8.5.0
  package.json
Labels: none

informational item function
  src/utils/functions/economy/items/lottery_ticket.ts
Labels: economy

feat: unlimited lottery tickets (#1549)
  data/items.json
  package.json
  src/commands/buy.ts
  src/commands/lottery.ts
  src/models/Client.ts
  src/scheduled/clusterjobs/lottery.ts
  src/scheduled/jobs/lottery.ts
  src/scheduled/jobs/lotterytickets.ts
  src/utils/Constants.ts
  src/utils/functions/economy/items/lottery_ticket.ts
  src/utils/functions/economy/lottery.ts
  src/utils/functions/economy/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, scheduled, commands

feat: unlimited lottery tickets (#1549)
  data/items.json
  package.json
  src/commands/buy.ts
  src/commands/lottery.ts
  src/models/Client.ts
  src/scheduled/clusterjobs/lottery.ts
  src/scheduled/jobs/lottery.ts
  src/scheduled/jobs/lotterytickets.ts
  src/utils/Constants.ts
  src/utils/functions/economy/items/lottery_ticket.ts
  src/utils/functions/economy/lottery.ts
  src/utils/functions/economy/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, scheduled, commands

use this.ready to determine if responsive
  src/models/Client.ts
Labels: none

use this.ready to determine if responsive
  src/models/Client.ts
Labels: none

delete blacklisted on season reset
  src/utils/functions/economy/utils.ts
Labels: economy

delete blacklisted on season reset
  src/utils/functions/economy/utils.ts
Labels: economy

fix lottery win dm
  src/scheduled/jobs/lottery.ts
Labels: scheduled

fix lottery win dm
  src/scheduled/jobs/lottery.ts
Labels: scheduled

feat: add tax endpoint
  src/utils/handlers/webhookhandler.ts
Labels: none

feat: add tax endpoint (#1553)
  src/utils/handlers/webhookhandler.ts
Labels: none

feat: add tax endpoint (#1553)
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: prevent multiple buys at same time
  src/commands/karmashop.ts
Labels: commands

fix: prevent multiple buys at same time
  src/commands/karmashop.ts
Labels: commands

added better karmashop bot protection
  src/commands/karmashop.ts
  src/utils/functions/karma/karmashop.ts
Labels: karma, commands

added better karmashop bot protection
  src/commands/karmashop.ts
  src/utils/functions/karma/karmashop.ts
Labels: karma, commands

more ks items
  data/karmashop.json
Labels: none

more ks items
  data/karmashop.json
Labels: none

reduce lottery tax
  src/scheduled/jobs/lottery.ts
Labels: scheduled

reduce lottery tax
  src/scheduled/jobs/lottery.ts
Labels: scheduled

fix: channel count
  src/commands/addcmd.ts
Labels: commands

fix: channel count
  src/commands/addcmd.ts
Labels: commands

add watching this presnce
  src/utils/functions/presence.ts
Labels: none

add watching this presnce
  src/utils/functions/presence.ts
Labels: none

less permisive regex
  src/utils/Constants.ts
Labels: none

less permisive regex
  src/utils/Constants.ts
Labels: none

database changes
  prisma/migrations/20240811202754_offer_expire/migration.sql
  prisma/schema.prisma
Labels: schema

delete offers after 7 days
  src/scheduled/jobs/offerexpire.ts
Labels: scheduled

update invalid offers
  src/interactions/accept_offer.ts
Labels: none

feat: offer expiration (#1561)
  prisma/migrations/20240811202754_offer_expire/migration.sql
  prisma/schema.prisma
  src/interactions/accept_offer.ts
  src/scheduled/jobs/offerexpire.ts
Labels: scheduled, schema

feat: offer expiration (#1561)
  prisma/migrations/20240811202754_offer_expire/migration.sql
  prisma/schema.prisma
  src/interactions/accept_offer.ts
  src/scheduled/jobs/offerexpire.ts
Labels: scheduled, schema
