Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: gems rarer from scratch cards
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: gems rarer from scratch cards
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: gems rarer from scratch cards
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: better lescratch items
  data/items.json
Labels: none

fix: better lescratch items
  data/items.json
Labels: none

fix: better lescratch items
  data/items.json
Labels: none

6.11.1
  package.json
Labels: none

6.11.1
  package.json
Labels: none

6.11.1
  package.json
Labels: none

feat: username caching
  src/utils/Constants.ts
  src/utils/functions/users/commands.ts
  src/utils/functions/users/tag.ts
Labels: users

feat: username caching
  src/utils/Constants.ts
  src/utils/functions/users/commands.ts
  src/utils/functions/users/tag.ts
Labels: users

feat: username caching
  src/utils/Constants.ts
  src/utils/functions/users/commands.ts
  src/utils/functions/users/tag.ts
Labels: users

feat: top overall command uses
  src/commands/top.ts
  src/utils/functions/economy/top.ts
Labels: economy, commands

feat: top overall command uses
  src/commands/top.ts
  src/utils/functions/economy/top.ts
Labels: economy, commands

feat: top overall command uses
  src/commands/top.ts
  src/utils/functions/economy/top.ts
Labels: economy, commands

feat: leaderboard stats for commands
  src/utils/functions/economy/top.ts
Labels: economy

feat: leaderboard stats for commands
  src/utils/functions/economy/top.ts
Labels: economy

feat: leaderboard stats for commands
  src/utils/functions/economy/top.ts
Labels: economy

fix: offer transactio logs
  src/interactions/accept_offer.ts
Labels: none

fix: offer transactio logs
  src/interactions/accept_offer.ts
Labels: none

fix: offer transactio logs
  src/interactions/accept_offer.ts
Labels: none

feat: sold items stat tracking
  prisma/migrations/20230820194115_stats_bigint/migration.sql
  prisma/schema.prisma
  src/commands/sell.ts
  src/commands/sellall.ts
  src/commands/stats.ts
  src/utils/functions/economy/inventory.ts
Labels: economy, commands, schema

feat: sold items stat tracking
  prisma/migrations/20230820194115_stats_bigint/migration.sql
  prisma/schema.prisma
  src/commands/sell.ts
  src/commands/sellall.ts
  src/commands/stats.ts
  src/utils/functions/economy/inventory.ts
Labels: economy, commands, schema

feat: sold items stat tracking
  prisma/migrations/20230820194115_stats_bigint/migration.sql
  prisma/schema.prisma
  src/commands/sell.ts
  src/commands/sellall.ts
  src/commands/stats.ts
  src/utils/functions/economy/inventory.ts
Labels: economy, commands, schema

fix: oopsies
  src/commands/stats.ts
Labels: commands

fix: oopsies
  src/commands/stats.ts
Labels: commands

fix: oopsies
  src/commands/stats.ts
Labels: commands

refactor: dont floor
  src/index.ts
Labels: none

refactor: dont floor
  src/index.ts
Labels: none

refactor: dont floor
  src/index.ts
Labels: none

fix: round
  src/utils/functions/economy/bakery.ts
Labels: economy

fix: round
  src/utils/functions/economy/bakery.ts
Labels: economy

fix: round
  src/utils/functions/economy/bakery.ts
Labels: economy

fix: miner emoji
  data/workers.json
Labels: none

fix: miner emoji
  data/workers.json
Labels: none

fix: miner emoji
  data/workers.json
Labels: none

fix: snowflake = fetch
  src/utils/functions/member.ts
Labels: none

fix: snowflake = fetch
  src/utils/functions/member.ts
Labels: none

fix: snowflake = fetch
  src/utils/functions/member.ts
Labels: none

fix: automute
  src/utils/functions/guilds/filters.ts
Labels: guild

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
