Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: mode thing
  src/commands/reactionroles.ts
Labels: commands

fix: allow users to remove roles
  src/events/interactionCreate.ts
Labels: events

fix: allow users to remove roles
  src/events/interactionCreate.ts
Labels: events

fix: shift again
  src/commands/reactionroles.ts
Labels: commands

fix: shift again
  src/commands/reactionroles.ts
Labels: commands

fix: error message
  src/events/interactionCreate.ts
Labels: events

fix: error message
  src/events/interactionCreate.ts
Labels: events

fix: ephemeral
  src/events/interactionCreate.ts
Labels: events

fix: ephemeral
  src/events/interactionCreate.ts
Labels: events

5.9.0
  package-lock.json
  package.json
Labels: none

5.9.0
  package-lock.json
  package.json
Labels: none

feat: add reaction roles (#831)
  package-lock.json
  package.json
  prisma/schema.prisma
  src/commands/reactionroles.ts
  src/events/interactionCreate.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/reactionroles.ts
Labels: guild, commands, events, schema

feat: add reaction roles (#831)
  package-lock.json
  package.json
  prisma/schema.prisma
  src/commands/reactionroles.ts
  src/events/interactionCreate.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/reactionroles.ts
Labels: guild, commands, events, schema

feat: add reaction roles (#831)
  package-lock.json
  package.json
  prisma/schema.prisma
  src/commands/reactionroles.ts
  src/events/interactionCreate.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/reactionroles.ts
Labels: guild, commands, events, schema

feat: add reaction roles (#831)
  package-lock.json
  package.json
  prisma/schema.prisma
  src/commands/reactionroles.ts
  src/events/interactionCreate.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/reactionroles.ts
Labels: guild, commands, events, schema

fix: order
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: order
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: order
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: order
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: grr
  src/commands/reactionroles.ts
Labels: commands

fix: grr
  src/commands/reactionroles.ts
Labels: commands

fix: grr
  src/commands/reactionroles.ts
Labels: commands

fix: grr
  src/commands/reactionroles.ts
Labels: commands

fix: automatically delete roles that dont exist anymore
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: automatically delete roles that dont exist anymore
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: automatically delete roles that dont exist anymore
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

fix: automatically delete roles that dont exist anymore
  src/utils/functions/guilds/reactionroles.ts
Labels: guild

5.9.1
  package-lock.json
  package.json
Labels: none

5.9.1
  package-lock.json
  package.json
Labels: none

5.9.1
  package-lock.json
  package.json
Labels: none

5.9.1
  package-lock.json
  package.json
Labels: none

fix: searchterm
  src/commands/top.ts
Labels: commands

fix: searchterm
  src/commands/top.ts
Labels: commands

fix: searchterm
  src/commands/top.ts
Labels: commands

fix: searchterm
  src/commands/top.ts
Labels: commands

docs: add reaction roles
  README.md
  images/minecraft.png
  images/reactionroles.jpg
Labels: none

docs: add reaction roles
  README.md
  images/minecraft.png
  images/reactionroles.jpg
Labels: none

docs: add reaction roles
  README.md
  images/minecraft.png
  images/reactionroles.jpg
Labels: none

docs: add reaction roles
  README.md
  images/minecraft.png
  images/reactionroles.jpg
Labels: none

fix: again GRR
  src/commands/top.ts
Labels: commands
