Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

perf: indexes on auctions and offers table
  prisma/migrations/20240115154904_auction_offers_index/migration.sql
  prisma/schema.prisma
Labels: schema

perf: indexes on auctions and offers table
  prisma/migrations/20240115154904_auction_offers_index/migration.sql
  prisma/schema.prisma
Labels: schema

perf: indexes on auctions and offers table
  prisma/migrations/20240115154904_auction_offers_index/migration.sql
  prisma/schema.prisma
Labels: schema

7.1.1
  package.json
Labels: none

7.1.1
  package.json
Labels: none

7.1.1
  package.json
Labels: none

4 times a day not 24 times a day!!
  src/scheduled/jobs/netupdate.ts
Labels: scheduled

4 times a day not 24 times a day!!
  src/scheduled/jobs/netupdate.ts
Labels: scheduled

4 times a day not 24 times a day!!
  src/scheduled/jobs/netupdate.ts
Labels: scheduled

use different urban dictionary api wrapper
  package.json
  pnpm-lock.yaml
  src/commands/urban.ts
Labels: commands

use different urban dictionary api wrapper
  package.json
  pnpm-lock.yaml
  src/commands/urban.ts
Labels: commands

use different urban dictionary api wrapper
  package.json
  pnpm-lock.yaml
  src/commands/urban.ts
Labels: commands

package changed everything 🙄
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/scheduled/clusterjobs/lottery.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/topbalance.ts
  src/scheduled/jobs/topcommands.ts
  src/utils/functions/color.ts
  src/utils/functions/guilds/christmas.ts
  src/utils/functions/image.ts
  src/utils/functions/moderation/logs.ts
  src/utils/logger.ts
Labels: guild, moderation, scheduled, commands

style: formatting
  src/utils/functions/clusters.ts
  tsconfig.json
Labels: build

style: formatting
  src/utils/functions/clusters.ts
  tsconfig.json
Labels: build

style: formatting
  src/utils/functions/clusters.ts
  tsconfig.json
Labels: build

Unboxer ach
  data/achievements.json
Labels: none

Unboxer tag
  data/tags.json
Labels: none

style: formatting
  tsconfig.json
Labels: build

style: formatting
  tsconfig.json
Labels: build

style: formatting
  tsconfig.json
Labels: build

make dm message more clear
  src/events/message.ts
Labels: events

make dm message more clear
  src/events/message.ts
Labels: events

make dm message more clear
  src/events/message.ts
Labels: events

dont deferreply
  src/interactions/accept_offer.ts
Labels: none

dont deferreply
  src/interactions/accept_offer.ts
Labels: none

dont deferreply
  src/interactions/accept_offer.ts
Labels: none

add a couple items to corner shop scratchie
  data/items.json
Labels: none

add a couple items to corner shop scratchie
  data/items.json
Labels: none

add a couple items to corner shop scratchie
  data/items.json
Labels: none

functions to get/add inline notifs
  src/types/Notification.ts
  src/utils/Constants.ts
  src/utils/functions/users/notifications.ts
Labels: users

function to send inline notifications
  src/utils/functions/users/notifications.ts
  src/utils/handlers/commandhandler.ts
Labels: users

use inline notifications for achievements
  src/utils/functions/economy/achievements.ts
Labels: economy

fix: oops use set
  src/utils/functions/users/notifications.ts
Labels: users

react with crown emoji when #1
  src/commands/top.ts
Labels: commands

react with crown emoji when #1
  src/commands/top.ts
Labels: commands

react with crown emoji when #1
  src/commands/top.ts
Labels: commands

dont use mention and graphmetrics table for hourly db report
  src/init/database.ts
Labels: none

dont use mention and graphmetrics table for hourly db report
  src/init/database.ts
Labels: none

dont use mention and graphmetrics table for hourly db report
  src/init/database.ts
Labels: none
