Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

whoops this should be swapped too
  src/commands/hunt.ts
Labels: commands

whoops this should be swapped too (#1946)
  src/commands/hunt.ts
Labels: commands

fix(?): 0x quantity in $net
  src/utils/functions/economy/balance.ts
Labels: economy

add error logs for inventory cache parse fail
  src/utils/functions/economy/inventory.ts
Labels: economy

remove debug logs
  src/utils/functions/economy/inventory.ts
Labels: economy

fix conflicts
  src/utils/functions/economy/inventory.ts
Labels: economy

i dont believe in error checking okay
  src/utils/functions/economy/inventory.ts
Labels: economy

feat: gems in sell orders & trades act as if you have them (#1945)
  src/commands/balance.ts
  src/commands/blackjack.ts
  src/commands/find.ts
  src/commands/fish.ts
  src/commands/highlow.ts
  src/commands/hunt.ts
  src/commands/mine.ts
  src/commands/mines.ts
  src/commands/multi.ts
  src/commands/networth.ts
  src/commands/profile.ts
  src/commands/rob.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/sell.ts
  src/commands/sellinv.ts
  src/commands/slots.ts
  src/commands/tower.ts
  src/commands/workers.ts
  src/interactions/workers_claim.ts
  src/scheduled/jobs/netupdate-1.ts
  src/scheduled/jobs/netupdate-2.ts
  src/scheduled/jobs/netupdate-3.ts
  src/scheduled/jobs/workers.ts
  src/utils/Constants.ts
  src/utils/functions/economy/bakery.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/crash.ts
  src/utils/functions/economy/farm.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/market.ts
  src/utils/functions/economy/offers.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/economy/trade_requests.ts
  src/utils/functions/economy/workers.ts
  src/utils/functions/economy/xp.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, scheduled, commands

fix: deferUpdate not deferReply
  src/commands/trade.ts
Labels: commands

im not pretty enough
  src/commands/trade.ts
Labels: commands

dont have separate confirmation msg
  src/utils/functions/economy/market.ts
Labels: economy

oh em gee i keep forgetting formatting
  src/utils/functions/economy/market.ts
Labels: economy

feat: $stats bake
  src/commands/stats.ts
  src/utils/functions/economy/bakery.ts
Labels: economy, commands

add emojis
  src/commands/stats.ts
  src/utils/functions/economy/bakery.ts
Labels: economy, commands

bold cake
  src/commands/stats.ts
Labels: commands

fix: deferUpdate not deferReply (#1953)
  src/commands/trade.ts
Labels: commands

dont have separate confirmation msg (#1954)
  src/utils/functions/economy/market.ts
Labels: economy

dont always give it dummy
  src/utils/functions/economy/bakery.ts
Labels: economy

ok.
  src/utils/functions/economy/bakery.ts
Labels: economy

feat: $stats bake (#1955)
  src/commands/stats.ts
  src/utils/functions/economy/bakery.ts
Labels: economy, commands

feat: history filter (+ pagemanager)
  src/commands/history.ts
Labels: commands

update deprecated emoji.url
  src/events/emojiCreate.ts
Labels: events

update deprecated emoji.url (#1957)
  src/events/emojiCreate.ts
Labels: events

feat: history filter (+ pagemanager) (#1956)
  src/commands/history.ts
Labels: commands

feat: show forwarded messages in support requests
  src/events/message.ts
  src/utils/functions/supportrequest.ts
Labels: events

improve support request prompt & log token cost
  src/events/message.ts
  src/index.ts
  src/utils/functions/supportrequest.ts
Labels: events

HUHHH how did that get there
  src/index.ts
Labels: none

feat: show forwarded messages in support requests (#1958)
  src/events/message.ts
  src/utils/functions/supportrequest.ts
Labels: events

fix ai response
  src/events/message.ts
Labels: events

potentially prevent ai thinking it's having a conversation
  src/utils/functions/supportrequest.ts
Labels: none

evidence hyperlink on case type
  src/commands/history.ts
Labels: commands

optional channel name
  src/events/message.ts
Labels: events

dont show ea. when theres only 1 item
  src/commands/market.ts
Labels: commands

dont show ea. when theres only 1 item (#1959)
  src/commands/market.ts
Labels: commands

add changelog
  CHANGELOG.md
Labels: none

remove version display
  src/commands/minecraft.ts
  src/commands/stats.ts
  src/index.ts
  src/models/Client.ts
  src/utils/functions/version.ts
Labels: commands

use monthly changelog system (#1962)
  CHANGELOG.md
  src/commands/minecraft.ts
  src/commands/stats.ts
  src/index.ts
  src/models/Client.ts
  src/utils/functions/version.ts
Labels: commands

pause dm queue on maintenance
  src/commands/maintenance.ts
  src/index.ts
Labels: commands

catch errors for checking ecoban
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

blacklist behaves like ecoban
  src/commands/alts.ts
  src/commands/aura.ts
  src/commands/bluser.ts
  src/commands/networth.ts
  src/commands/profile.ts
  src/commands/rob.ts
  src/commands/x.ts
  src/events/interactionCreate.ts
  src/events/message.ts
  src/utils/functions/economy/items/lock_pick.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/users/blacklist.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
  src/utils/queues/dms.ts
Labels: economy, users, commands, events

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
