Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

feat: show next open day
  src/commands/karmashop.ts
Labels: commands

feat: update karma shop items format
  data/karmashop.json
  src/types/Karmashop.ts
  src/utils/functions/karma/karmashop.ts
Labels: karma

fix: hide from suggestions if hit limit
  src/events/interactionCreate.ts
Labels: events

feat: update the show shop thing
  src/commands/karmashop.ts
Labels: commands

refactor: change to credit item
  data/karmashop.json
Labels: none

feat: aaaa ready for test
  src/commands/karmashop.ts
  src/events/interactionCreate.ts
  src/types/Karmashop.ts
  src/utils/Constants.ts
  src/utils/functions/karma/karmashop.ts
Labels: karma, commands, events

fix: auction thing again ugh
  src/commands/auction.ts
Labels: commands

fix: auction thing again ugh
  src/commands/auction.ts
Labels: commands

fix: auction thing again ugh
  src/commands/auction.ts
Labels: commands

fix: array
  src/utils/functions/karma/karmashop.ts
Labels: karma

fix: arg thing
  src/commands/karmashop.ts
Labels: commands

fix: wording
  src/utils/functions/karma/karmashop.ts
Labels: karma

feat: update scratchies & crates with new items
  data/items.json
Labels: none

feat: karma shop update (#948)
  data/items.json
  data/karmashop.json
  src/commands/karmashop.ts
  src/events/interactionCreate.ts
  src/models/Client.ts
  src/types/Karmashop.ts
  src/utils/Constants.ts
  src/utils/functions/karma/karmashop.ts
Labels: karma, commands, events

feat: karma shop update (#948)
  data/items.json
  data/karmashop.json
  src/commands/karmashop.ts
  src/events/interactionCreate.ts
  src/models/Client.ts
  src/types/Karmashop.ts
  src/utils/Constants.ts
  src/utils/functions/karma/karmashop.ts
Labels: karma, commands, events

feat: karma shop update (#948)
  data/items.json
  data/karmashop.json
  src/commands/karmashop.ts
  src/events/interactionCreate.ts
  src/models/Client.ts
  src/types/Karmashop.ts
  src/utils/Constants.ts
  src/utils/functions/karma/karmashop.ts
Labels: karma, commands, events

feat: add quarry scrap to corner shop scratchy
  data/items.json
Labels: none

feat: add quarry scrap to corner shop scratchy
  data/items.json
Labels: none

feat: add quarry scrap to corner shop scratchy
  data/items.json
Labels: none

fix: create eco profile if doesnt exist
  src/commands/chatreaction.ts
Labels: commands

fix: create eco profile if doesnt exist
  src/commands/chatreaction.ts
Labels: commands

fix: create eco profile if doesnt exist
  src/commands/chatreaction.ts
Labels: commands

refactor: always on the hour
  src/utils/functions/karma/karmashop.ts
Labels: karma

refactor: always on the hour
  src/utils/functions/karma/karmashop.ts
Labels: karma

refactor: always on the hour
  src/utils/functions/karma/karmashop.ts
Labels: karma

fix: ugh such an idiot
  src/utils/functions/economy/workers.ts
Labels: economy

fix: ugh such an idiot
  src/utils/functions/economy/workers.ts
Labels: economy

fix: ugh such an idiot
  src/utils/functions/economy/workers.ts
Labels: economy

fix: steve earned thing
  src/utils/functions/economy/boosters.ts
Labels: economy

fix: steve earned thing
  src/utils/functions/economy/boosters.ts
Labels: economy

fix: steve earned thing
  src/utils/functions/economy/boosters.ts
Labels: economy

fix: prevent negative net
  src/utils/functions/economy/balance.ts
Labels: economy

fix: prevent negative net
  src/utils/functions/economy/balance.ts
Labels: economy

fix: prevent negative net
  src/utils/functions/economy/balance.ts
Labels: economy

refactor: max 21 days
  src/utils/functions/karma/karmashop.ts
Labels: karma

refactor: max 21 days
  src/utils/functions/karma/karmashop.ts
Labels: karma

refactor: max 21 days
  src/utils/functions/karma/karmashop.ts
Labels: karma

refactor: reduce limits
  data/karmashop.json
Labels: none

refactor: reduce limits
  data/karmashop.json
Labels: none

refactor: reduce limits
  data/karmashop.json
Labels: none

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
