Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

chore: fix errors for package update
  src/commands/close.ts
  src/events/userUpdate.ts
  src/index.ts
  src/models/Client.ts
  src/nypsi.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/guilds/christmas.ts
  src/utils/functions/guilds/countdowns.ts
  src/utils/functions/guilds/counters.ts
  src/utils/functions/requestdm.ts
  src/utils/functions/supportrequest.ts
  src/utils/handlers/notificationhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, guild, commands, events

fix: dont run prettier on lock file
  .prettierignore
Labels: none

style: formatting
  src/utils/functions/economy/inventory.ts
Labels: economy

style: formatting
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: submitters cannot accept their own image
  src/commands/wholesome.ts
  src/utils/functions/image.ts
Labels: commands

fix: submitters cannot accept their own image
  src/commands/wholesome.ts
  src/utils/functions/image.ts
Labels: commands

fix: submitters cannot accept their own image
  src/commands/wholesome.ts
  src/utils/functions/image.ts
Labels: commands

fix: submitters cannot accept their own image
  src/commands/wholesome.ts
  src/utils/functions/image.ts
Labels: commands

refactor: put stored id in brackets
  src/commands/viewgame.ts
Labels: commands

refactor: put stored id in brackets
  src/commands/viewgame.ts
Labels: commands

fix: dont keep trying if guild doesnt exist
  src/utils/functions/moderation/mute.ts
Labels: moderation

fix: dont keep trying if guild doesnt exist
  src/utils/functions/moderation/mute.ts
Labels: moderation

fix: dont keep trying if guild doesnt exist
  src/utils/functions/moderation/mute.ts
Labels: moderation

fix: dont keep trying if guild doesnt exist
  src/utils/functions/moderation/mute.ts
Labels: moderation

refactor: bet affects max
  src/utils/functions/economy/xp.ts
Labels: economy

refactor: bet affects max
  src/utils/functions/economy/xp.ts
Labels: economy

fix: enforce %value% in format
  src/commands/counter.ts
  src/scheduled/clusterjobs/counters.ts
Labels: scheduled, commands

fix: enforce %value% in format
  src/commands/counter.ts
  src/scheduled/clusterjobs/counters.ts
Labels: scheduled, commands

fix: enforce %value% in format
  src/commands/counter.ts
  src/scheduled/clusterjobs/counters.ts
Labels: scheduled, commands

fix: enforce %value% in format
  src/commands/counter.ts
  src/scheduled/clusterjobs/counters.ts
Labels: scheduled, commands

refactor: send send less queries on command
  src/utils/functions/users/commands.ts
  src/utils/functions/users/tag.ts
  src/utils/handlers/commandhandler.ts
Labels: users

refactor: send send less queries on command
  src/utils/functions/users/commands.ts
  src/utils/functions/users/tag.ts
  src/utils/handlers/commandhandler.ts
Labels: users

refactor: send send less queries on command
  src/utils/functions/users/commands.ts
  src/utils/functions/users/tag.ts
  src/utils/handlers/commandhandler.ts
Labels: users

refactor: send send less queries on command
  src/utils/functions/users/commands.ts
  src/utils/functions/users/tag.ts
  src/utils/handlers/commandhandler.ts
Labels: users

fix: persistant roles log
  src/events/guildMemberAdd.ts
Labels: events

fix: persistant roles log
  src/events/guildMemberAdd.ts
Labels: events

fix: persistant roles log
  src/events/guildMemberAdd.ts
Labels: events

fix: persistant roles log
  src/events/guildMemberAdd.ts
Labels: events

6.0.0
  package.json
Labels: none

6.0.0
  package.json
Labels: none

fix: rob xp
  src/commands/rob.ts
Labels: commands

refactor: increase mentions insert speed
  src/events/message.ts
Labels: events

fix: errors
  src/utils/handlers/commandhandler.ts
Labels: none

fix: migration
  prisma/migrations/20230101000646_/migration.sql
Labels: schema

fix: migration
  prisma/migrations/20230101000646_/migration.sql
Labels: schema

fix: migration
  prisma/migrations/20230101000646_/migration.sql
Labels: schema

fix: migration
  prisma/migrations/20230101000646_/migration.sql
Labels: schema

fix: migration name
  prisma/migrations/20230101000802_season5/migration.sql
Labels: schema

fix: migration name
  prisma/migrations/20230101000802_season5/migration.sql
Labels: schema

fix: migration name
  prisma/migrations/20230101000802_season5/migration.sql
Labels: schema
