Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: more pluralssss (#1145)
  src/commands/ecohistory.ts
  src/commands/guild.ts
  src/commands/stats.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/items/bob.ts
  src/utils/handlers/mentions.ts
Labels: economy, commands

fix: more pluralssss (#1145)
  src/commands/ecohistory.ts
  src/commands/guild.ts
  src/commands/stats.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/items/bob.ts
  src/utils/handlers/mentions.ts
Labels: economy, commands

fix: better message caching
  src/nypsi.ts
Labels: none

fix: better message caching
  src/nypsi.ts
Labels: none

fix: better message caching
  src/nypsi.ts
Labels: none

feat: add xp won from scratchies to guild
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: add xp won from scratchies to guild (#1146)
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: add xp won from scratchies to guild (#1146)
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: add xp won from scratchies to guild (#1146)
  src/utils/functions/economy/scratchies.ts
Labels: economy

style: formatting
  src/commands/guild.ts
  src/utils/functions/economy/items/bob.ts
Labels: economy, commands

style: formatting
  src/commands/guild.ts
  src/utils/functions/economy/items/bob.ts
Labels: economy, commands

style: formatting
  src/commands/guild.ts
  src/utils/functions/economy/items/bob.ts
Labels: economy, commands

refactor: increase lucky cheese chance
  src/utils/Constants.ts
Labels: none

refactor: increase lucky cheese chance
  src/utils/Constants.ts
Labels: none

refactor: increase lucky cheese chance
  src/utils/Constants.ts
Labels: none

fix: cheese
  src/utils/Constants.ts
Labels: none

fix: cheese
  src/utils/Constants.ts
Labels: none

fix: cheese
  src/utils/Constants.ts
Labels: none

feat: buff daily scratch card
  data/items.json
Labels: none

feat: buff daily scratch card
  data/items.json
Labels: none

feat: buff daily scratch card
  data/items.json
Labels: none

feat: buff lion
  data/items.json
Labels: none

feat: buff lion
  data/items.json
Labels: none

feat: buff lion
  data/items.json
Labels: none

fix: cycle cooldown
  src/commands/streetrace.ts
Labels: commands

fix: cycle cooldown
  src/commands/streetrace.ts
Labels: commands

fix: cycle cooldown
  src/commands/streetrace.ts
Labels: commands

feat: debug log
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction

feat: debug log
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction

feat: debug log
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction

refactor: better query for chat reaction starts
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction

refactor: better query for chat reaction starts
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction

refactor: better query for chat reaction starts
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction

fix: use item name
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: use item name
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: use item name
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: discord logs = memory leak ):
  src/models/DiscordLogs.ts
  src/utils/logger.ts
Labels: none

fix: discord logs = memory leak ):
  src/models/DiscordLogs.ts
  src/utils/logger.ts
Labels: none

fix: discord logs = memory leak ):
  src/models/DiscordLogs.ts
  src/utils/logger.ts
Labels: none

fix: weird errors?
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled
