Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix find gid
  src/commands/find.ts
Labels: commands

fix find gid
  src/commands/find.ts
Labels: commands

feat: rob grace period on joining server
  src/commands/rob.ts
  src/events/guildMemberAdd.ts
  src/events/guildMemberRemove.ts
  src/utils/Constants.ts
  src/utils/functions/economy/items/lock_pick.ts
Labels: economy, commands, events

requested changes
  src/commands/rob.ts
  src/events/guildMemberAdd.ts
  src/events/guildMemberRemove.ts
  src/utils/Constants.ts
  src/utils/functions/economy/items/lock_pick.ts
Labels: economy, commands, events

style: formatting
  src/commands/rob.ts
  src/events/guildMemberRemove.ts
  src/utils/functions/economy/items/lock_pick.ts
Labels: economy, commands, events

no notif warning
  src/events/message.ts
Labels: events

no notif warning
  src/events/message.ts
Labels: events

fix error msg
  src/utils/functions/economy/utils.ts
Labels: economy

fix error msg
  src/utils/functions/economy/utils.ts
Labels: economy

no tax on crypto
  src/commands/sell.ts
Labels: commands

no tax on crypto
  src/commands/sell.ts
Labels: commands

feat: rob grace period on joining server (#1483)
  src/commands/rob.ts
  src/events/guildMemberAdd.ts
  src/utils/Constants.ts
  src/utils/functions/economy/items/lock_pick.ts
Labels: economy, commands, events

feat: rob grace period on joining server (#1483)
  src/commands/rob.ts
  src/events/guildMemberAdd.ts
  src/utils/Constants.ts
  src/utils/functions/economy/items/lock_pick.ts
Labels: economy, commands, events

better maxbet handling on coinflip
  src/commands/coinflip.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

better maxbet handling on coinflip
  src/commands/coinflip.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

no level ups when infinite max bet
  src/utils/functions/economy/levelling.ts
Labels: economy

no level ups when infinite max bet
  src/utils/functions/economy/levelling.ts
Labels: economy

season 8
  src/utils/Constants.ts
Labels: none

season 8
  src/utils/Constants.ts
Labels: none

8.0.0
  package.json
Labels: none

8.0.0
  package.json
Labels: none

fix: use dayjs for countdown time needed aclc thing
  src/utils/functions/guilds/christmas.ts
  src/utils/functions/guilds/countdowns.ts
Labels: guild

fix: use dayjs for countdown time needed aclc thing
  src/utils/functions/guilds/christmas.ts
  src/utils/functions/guilds/countdowns.ts
Labels: guild

0.7 increment
  src/commands/mines.ts
Labels: commands

0.7 increment
  src/commands/mines.ts
Labels: commands

stupid fucking american dates
  src/utils/Constants.ts
Labels: none

stupid fucking american dates
  src/utils/Constants.ts
Labels: none

add scursor alias for super cursor
  data/items.json
Labels: none

add scursor alias for super cursor
  data/items.json
Labels: none

add nw as networth alias
  src/commands/networth.ts
Labels: commands

add nw as networth alias
  src/commands/networth.ts
Labels: commands

loot drops more common
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

loot drops more common
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

can show other people's net
  src/commands/networth.ts
Labels: commands

can show other people's net
  src/commands/networth.ts
Labels: commands

8.0.1
  package.json
Labels: none

8.0.1
  package.json
Labels: none

slightly nerf mines again
  src/commands/mines.ts
Labels: commands

slightly nerf mines again
  src/commands/mines.ts
Labels: commands

3 concurrent dms
  src/utils/handlers/notificationhandler.ts
Labels: none

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
