Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

add fertiliser to dscratch
  data/items.json
Labels: none

fix: log correct key
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

ok actually how am i this bad
  data/items.json
Labels: none

daily not hourly
  src/scheduled/jobs/seed-leaderboards.ts
Labels: scheduled

4 times a day
  src/scheduled/jobs/netupdate.ts
Labels: scheduled

only use top 100 for leaderboards
  src/utils/functions/economy/stats.ts
Labels: economy

fix: catch error
  src/commands/x.ts
Labels: commands

fix: don't convert null to number
  src/utils/functions/users/email.ts
Labels: users

build: generate sql types
  .github/workflows/ci.yml
Labels: ci

):
  src/commands/x.ts
Labels: commands

allow cleaning in premium chat
  src/commands/clean.ts
Labels: commands

fix item rarity
  data/items.json
Labels: none

meow
  src/commands/z.ts
Labels: commands

group net updates by last commadn
  src/scheduled/jobs/netupdate-1.ts
  src/scheduled/jobs/netupdate-2.ts
  src/scheduled/jobs/netupdate-3.ts
Labels: scheduled

better handling of banned players on top balance leaderboard
  src/utils/functions/economy/top.ts
Labels: economy

I FUCKING HATE PRISMA
  .github/workflows/ci.yml
  prisma/sql/getUnhealthyPlatinumPlants.sql
  src/scheduled/jobs/plantcheck.ts
Labels: ci, scheduled, schema

[object Object] HASHAHAH
  src/commands/x.ts
Labels: commands

balance changes
  data/items.json
  data/plants.json
  package.json
  src/commands/mine.ts
  src/utils/functions/economy/farm.ts
Labels: economy, commands

AAAHHHHHHH
  src/commands/z.ts
Labels: commands

emojis
  data/items.json
Labels: none

fix: filter by userId ):
  src/utils/functions/users/email.ts
Labels: users

prevent buying lottery tickets too late / during lottery
  src/commands/buy.ts
  src/scheduled/jobs/lottery.ts
Labels: scheduled, commands

fix: use proper item value
  src/commands/x.ts
Labels: commands

fix: use proper item value
  src/commands/x.ts
Labels: commands

check purchases after creation
  src/commands/x.ts
Labels: commands

check purchases after creation
  src/commands/x.ts
Labels: commands

Revert "check purchases after creation"
  src/commands/x.ts
Labels: commands

Revert "check purchases after creation"
  src/commands/x.ts
Labels: commands

show more debug logs
  src/models/Client.ts
Labels: none

show more debug logs
  src/models/Client.ts
Labels: none

fix: job name
  src/scheduled/jobs/netupdate-1.ts
Labels: scheduled

fix: job name
  src/scheduled/jobs/netupdate-1.ts
Labels: scheduled

don't update net concurrently
  src/scheduled/jobs/netupdate-1.ts
  src/scheduled/jobs/netupdate-2.ts
  src/scheduled/jobs/netupdate-3.ts
Labels: scheduled

don't update net concurrently
  src/scheduled/jobs/netupdate-1.ts
  src/scheduled/jobs/netupdate-2.ts
  src/scheduled/jobs/netupdate-3.ts
Labels: scheduled

fix: delete farm upgrades
  src/utils/functions/economy/utils.ts
Labels: economy

fix: delete farm upgrades
  src/utils/functions/economy/utils.ts
Labels: economy

fix: include more data
  src/commands/data.ts
  src/commands/x.ts
Labels: commands

fix: include more data
  src/commands/data.ts
  src/commands/x.ts
Labels: commands

fix: transfer farms in profile transfer
  src/utils/functions/users/utils.ts
Labels: users

fix: transfer farms in profile transfer
  src/utils/functions/users/utils.ts
Labels: users
