Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: delete invalid leaderboard rows
  src/utils/functions/economy/stats.ts
Labels: economy

fix: delete invalid leaderboard rows
  src/utils/functions/economy/stats.ts
Labels: economy

feat: buff cscratch
  data/items.json
Labels: none

feat: buff cscratch
  data/items.json
Labels: none

feat: buff cscratch
  data/items.json
Labels: none

refactor: buff lion
  data/items.json
Labels: none

refactor: buff lion
  data/items.json
Labels: none

refactor: buff lion
  data/items.json
Labels: none

fix: incorrect plural
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: incorrect plural (#1133)
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: incorrect plural (#1133)
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: incorrect plural (#1133)
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

style: formatting
  src/commands/viewgame.ts
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy, commands

style: formatting
  src/commands/viewgame.ts
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy, commands

style: formatting
  src/commands/viewgame.ts
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy, commands

fix: formatting
  src/utils/handlers/interactions.ts
Labels: none

fix: formatting
  src/utils/handlers/interactions.ts
Labels: none

fix: formatting
  src/utils/handlers/interactions.ts
Labels: none

fix: item formatting??
  src/commands/item.ts
Labels: commands

fix: item formatting??
  src/commands/item.ts
Labels: commands

fix: item formatting??
  src/commands/item.ts
Labels: commands

feat: calculate item value daily
  src/scheduled/clusterjobs/seed-leaderboards.ts
Labels: scheduled

feat: calculate item value daily
  src/scheduled/clusterjobs/seed-leaderboards.ts
Labels: scheduled

feat: calculate item value daily
  src/scheduled/clusterjobs/seed-leaderboards.ts
Labels: scheduled

fix: boosters work on fish hunt mine
  src/commands/fish.ts
  src/commands/hunt.ts
  src/commands/mine.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands

fix: boosters work on fish hunt mine
  src/commands/fish.ts
  src/commands/hunt.ts
  src/commands/mine.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands

fix: boosters work on fish hunt mine
  src/commands/fish.ts
  src/commands/hunt.ts
  src/commands/mine.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands

feat: add time taken to random drops
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

feat: add time taken to random drops
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

feat: add time taken to random drops
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

refactor: try to fix bank?
  src/utils/functions/tax.ts
Labels: none

refactor: try to fix bank?
  src/utils/functions/tax.ts
Labels: none

refactor: try to fix bank?
  src/utils/functions/tax.ts
Labels: none

fix: shorter cooldown
  src/commands/use.ts
Labels: commands

fix: shorter cooldown
  src/commands/use.ts
Labels: commands

fix: shorter cooldown
  src/commands/use.ts
Labels: commands

fix: oven plural
  data/items.json
Labels: none

fix: oven plural
  data/items.json
Labels: none

fix: oven plural
  data/items.json
Labels: none

fix: improper articles
  data/items.json
  src/commands/auction.ts
  src/commands/streetrace.ts
  src/commands/use.ts
  src/scheduled/clusterjobs/random-drops.ts
  src/types/Economy.ts
  src/utils/functions/economy/items/crates.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/items/stolen_credit_card.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, scheduled, commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
