Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

feat: more xp earn
  src/utils/functions/economy/xp.ts
Labels: economy

feat: more xp earn
  src/utils/functions/economy/xp.ts
Labels: economy

feat: more xp earn
  src/utils/functions/economy/xp.ts
Labels: economy

fix: max bet msg
  src/commands/coinflip.ts
Labels: commands

fix: max bet msg
  src/commands/coinflip.ts
Labels: commands

fix: max bet msg
  src/commands/coinflip.ts
Labels: commands

refactor: nerf eff/fort
  data/items.json
Labels: none

refactor: nerf eff/fort
  data/items.json
Labels: none

refactor: nerf eff/fort
  data/items.json
Labels: none

refactor: increase max
  src/utils/Constants.ts
Labels: none

refactor: increase max
  src/utils/Constants.ts
Labels: none

refactor: increase max
  src/utils/Constants.ts
Labels: none

feat: link to website
  src/utils/functions/supportrequest.ts
Labels: none

feat: link to website
  src/utils/functions/supportrequest.ts
Labels: none

feat: link to website
  src/utils/functions/supportrequest.ts
Labels: none

fix: remove zack
  src/utils/Constants.ts
Labels: none

fix: remove zack
  src/utils/Constants.ts
Labels: none

fix: remove zack
  src/utils/Constants.ts
Labels: none

feat: level history
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

feat: level history
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

feat: level history
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

fix: more common
  data/items.json
Labels: none

fix: more common
  data/items.json
Labels: none

fix: more common
  data/items.json
Labels: none

refactor: nerf vote booster
  data/items.json
  src/commands/vote.ts
  src/utils/handlers/webhookhandler.ts
Labels: commands

refactor: nerf vote booster
  data/items.json
  src/commands/vote.ts
  src/utils/handlers/webhookhandler.ts
Labels: commands

refactor: nerf vote booster
  data/items.json
  src/commands/vote.ts
  src/utils/handlers/webhookhandler.ts
Labels: commands

feat: buff gems
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/workers.ts
Labels: economy

feat: buff gems
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/workers.ts
Labels: economy

feat: buff gems
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/workers.ts
Labels: economy

6.12.1
  package.json
Labels: none

6.12.1
  package.json
Labels: none

6.12.1
  package.json
Labels: none

fix: star emoji tag
  data/tags.json
Labels: none

fix: star emoji tag
  data/tags.json
Labels: none

fix: star emoji tag
  data/tags.json
Labels: none

fix: cooldowns
  src/commands/profile.ts
Labels: commands

fix: cooldowns
  src/commands/profile.ts
Labels: commands

fix: cooldowns
  src/commands/profile.ts
Labels: commands

fix: aaa
  src/utils/functions/economy/balance.ts
Labels: economy

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
