Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: editreply on error
  src/utils/functions/gtf/game.ts
Labels: none

prevent accepting games with an outsanding game
  src/commands/coinflip.ts
Labels: commands

prevent accepting games with an outsanding game
  src/commands/coinflip.ts
Labels: commands

oops missed a spot
  src/commands/coinflip.ts
Labels: commands

oops missed a spot
  src/commands/coinflip.ts
Labels: commands

why was that code not the same 😦
  src/commands/coinflip.ts
Labels: commands

why was that code not the same 😦
  src/commands/coinflip.ts
Labels: commands

start alt detection thing
  src/commands/x.ts
Labels: commands

start alt detection thing
  src/commands/x.ts
Labels: commands

detect same ip on captcha solve
  src/utils/functions/captcha.ts
Labels: none

detect same ip on captcha solve
  src/utils/functions/captcha.ts
Labels: none

fix: distinct userid
  src/commands/x.ts
Labels: commands

fix: distinct userid
  src/commands/x.ts
Labels: commands

buff crash
  src/utils/functions/economy/crash.ts
Labels: economy

buff crash
  src/utils/functions/economy/crash.ts
Labels: economy

failover message send
  src/utils/functions/gtf/game.ts
Labels: none

failover message send
  src/utils/functions/gtf/game.ts
Labels: none

guess the flag duels
  src/commands/guesstheflag.ts
  src/utils/functions/gtf/game.ts
Labels: commands

guess the flag duels
  src/commands/guesstheflag.ts
  src/utils/functions/gtf/game.ts
Labels: commands

prevent playing guess the flag with yourself
  src/commands/guesstheflag.ts
Labels: commands

prevent playing guess the flag with yourself
  src/commands/guesstheflag.ts
Labels: commands

prevent double submits
  src/utils/functions/gtf/game.ts
Labels: none

prevent double submits
  src/utils/functions/gtf/game.ts
Labels: none

fix: already guessed detection
  src/utils/functions/gtf/game.ts
Labels: none

fix: already guessed detection
  src/utils/functions/gtf/game.ts
Labels: none

add stats for game loser
  src/utils/functions/gtf/game.ts
Labels: none

add stats for game loser
  src/utils/functions/gtf/game.ts
Labels: none

fix: loser did NOT win
  src/utils/functions/gtf/game.ts
Labels: none

fix: loser did NOT win
  src/utils/functions/gtf/game.ts
Labels: none

fix: save game stats for second player on expire too
  src/utils/functions/gtf/game.ts
Labels: none

fix: save game stats for second player on expire too
  src/utils/functions/gtf/game.ts
Labels: none

12 hours instead of 1 day
  src/scheduled/jobs/captcha-ban.ts
Labels: scheduled

12 hours instead of 1 day
  src/scheduled/jobs/captcha-ban.ts
Labels: scheduled

add discord invite tip
  data/lists.json
Labels: none

add discord invite tip
  data/lists.json
Labels: none

don't seed leaderboards for lottery ticket
  src/scheduled/jobs/seed-leaderboards.ts
Labels: scheduled

don't seed leaderboards for lottery ticket
  src/scheduled/jobs/seed-leaderboards.ts
Labels: scheduled

show average guesses in guesstheflag stats
  src/commands/guesstheflag.ts
Labels: commands

show average guesses in guesstheflag stats
  src/commands/guesstheflag.ts
Labels: commands

fix: map to id
  src/utils/functions/captcha.ts
Labels: none
