Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

use parentport to end worker instead of process.exit
  src/scheduled/jobs/dailystreak.ts
  src/scheduled/jobs/deterioratekarma.ts
  src/scheduled/jobs/images.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/purge.ts
  src/scheduled/jobs/purgeguilds.ts
  src/scheduled/jobs/resetvote.ts
  src/scheduled/jobs/topcommands.ts
  src/scheduled/jobs/topsnapshot.ts
  src/scheduled/jobs/votereminders.ts
Labels: scheduled

use parentport to end worker instead of process.exit
  src/scheduled/jobs/dailystreak.ts
  src/scheduled/jobs/deterioratekarma.ts
  src/scheduled/jobs/images.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/purge.ts
  src/scheduled/jobs/purgeguilds.ts
  src/scheduled/jobs/resetvote.ts
  src/scheduled/jobs/topcommands.ts
  src/scheduled/jobs/topsnapshot.ts
  src/scheduled/jobs/votereminders.ts
Labels: scheduled

use node's uptime counter
  src/index.ts
Labels: none

use node's uptime counter
  src/index.ts
Labels: none

use node's uptime counter
  src/index.ts
Labels: none

name job processes
  src/scheduled/jobs/dailystreak.ts
  src/scheduled/jobs/deterioratekarma.ts
  src/scheduled/jobs/images.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/purge.ts
  src/scheduled/jobs/purgeguilds.ts
  src/scheduled/jobs/resetvote.ts
  src/scheduled/jobs/topcommands.ts
  src/scheduled/jobs/topsnapshot.ts
  src/scheduled/jobs/votereminders.ts
Labels: scheduled

name job processes
  src/scheduled/jobs/dailystreak.ts
  src/scheduled/jobs/deterioratekarma.ts
  src/scheduled/jobs/images.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/purge.ts
  src/scheduled/jobs/purgeguilds.ts
  src/scheduled/jobs/resetvote.ts
  src/scheduled/jobs/topcommands.ts
  src/scheduled/jobs/topsnapshot.ts
  src/scheduled/jobs/votereminders.ts
Labels: scheduled

name job processes
  src/scheduled/jobs/dailystreak.ts
  src/scheduled/jobs/deterioratekarma.ts
  src/scheduled/jobs/images.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/purge.ts
  src/scheduled/jobs/purgeguilds.ts
  src/scheduled/jobs/resetvote.ts
  src/scheduled/jobs/topcommands.ts
  src/scheduled/jobs/topsnapshot.ts
  src/scheduled/jobs/votereminders.ts
Labels: scheduled

use user agent header?!?!
  src/scheduled/jobs/images.ts
Labels: scheduled

use user agent header?!?!
  src/scheduled/jobs/images.ts
Labels: scheduled

use user agent header?!?!
  src/scheduled/jobs/images.ts
Labels: scheduled

attempt to fix these weird occurences
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/xp.ts
Labels: economy

attempt to fix these weird occurences
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/xp.ts
Labels: economy

attempt to fix these weird occurences
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/xp.ts
Labels: economy

use process.exit again
  src/scheduled/jobs/dailystreak.ts
  src/scheduled/jobs/deterioratekarma.ts
  src/scheduled/jobs/images.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/purge.ts
  src/scheduled/jobs/purgeguilds.ts
  src/scheduled/jobs/resetvote.ts
  src/scheduled/jobs/topcommands.ts
  src/scheduled/jobs/topsnapshot.ts
  src/scheduled/jobs/votereminders.ts
Labels: scheduled

use process.exit again
  src/scheduled/jobs/dailystreak.ts
  src/scheduled/jobs/deterioratekarma.ts
  src/scheduled/jobs/images.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/purge.ts
  src/scheduled/jobs/purgeguilds.ts
  src/scheduled/jobs/resetvote.ts
  src/scheduled/jobs/topcommands.ts
  src/scheduled/jobs/topsnapshot.ts
  src/scheduled/jobs/votereminders.ts
Labels: scheduled

add stat for end portal
  src/commands/mine.ts
Labels: commands

add stat for end portal
  src/commands/mine.ts
Labels: commands

use process.exit again
  src/scheduled/jobs/dailystreak.ts
  src/scheduled/jobs/deterioratekarma.ts
  src/scheduled/jobs/images.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/purge.ts
  src/scheduled/jobs/purgeguilds.ts
  src/scheduled/jobs/resetvote.ts
  src/scheduled/jobs/topcommands.ts
  src/scheduled/jobs/topsnapshot.ts
  src/scheduled/jobs/votereminders.ts
Labels: scheduled

add stat for end portal
  src/commands/mine.ts
Labels: commands

improve reroll token usage experience
  src/utils/functions/economy/items/reroll_token.ts
Labels: economy

improve reroll token usage experience
  src/utils/functions/economy/items/reroll_token.ts
Labels: economy

improve reroll token usage experience
  src/utils/functions/economy/items/reroll_token.ts
Labels: economy

better handling of cache in frequently used functions
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/levelling.ts
Labels: economy

better handling of cache in frequently used functions
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/levelling.ts
Labels: economy

better handling of cache in frequently used functions
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/levelling.ts
Labels: economy

maybe this will fix the weird time not being a date issue
  src/utils/functions/users/views.ts
Labels: users

maybe this will fix the weird time not being a date issue
  src/utils/functions/users/views.ts
Labels: users

maybe this will fix the weird time not being a date issue
  src/utils/functions/users/views.ts
Labels: users

use cron for vote reminders
  src/scheduled/scheduler.ts
Labels: scheduled

use cron for vote reminders
  src/scheduled/scheduler.ts
Labels: scheduled

use cron for vote reminders
  src/scheduled/scheduler.ts
Labels: scheduled

object works for 1st arg in logger
  src/utils/logger.ts
Labels: none

object works for 1st arg in logger
  src/utils/logger.ts
Labels: none

object works for 1st arg in logger
  src/utils/logger.ts
Labels: none

install cron and uninstall bree
  package.json
  pnpm-lock.yaml
Labels: none

yay cron works!!!!!!!
  src/index.ts
  src/scheduled/jobs/dailystreak.ts
  src/scheduled/jobs/deterioratekarma.ts
  src/scheduled/jobs/images.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/purge.ts
  src/scheduled/jobs/purgeguilds.ts
  src/scheduled/jobs/resetvote.ts
  src/scheduled/jobs/topcommands.ts
  src/scheduled/jobs/topsnapshot.ts
  src/scheduled/jobs/votereminders.ts
  src/scheduled/scheduler.ts
  src/types/Jobs.ts
Labels: scheduled

it works tadaaaa
  src/commands/runjob.ts
  src/index.ts
  src/models/Client.ts
  src/scheduled/clusterjobs/topglobal.ts
  src/scheduled/jobs/topbalance.ts
  src/scheduled/scheduler.ts
Labels: scheduled, commands

6.14.1
  package.json
Labels: none

use cron instead of bree to run jobs (#1376)
  package.json
  pnpm-lock.yaml
  src/commands/runjob.ts
  src/index.ts
  src/models/Client.ts
  src/scheduled/clusterjobs/topglobal.ts
  src/scheduled/jobs/dailystreak.ts
  src/scheduled/jobs/deterioratekarma.ts
  src/scheduled/jobs/images.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/purge.ts
  src/scheduled/jobs/purgeguilds.ts
  src/scheduled/jobs/resetvote.ts
  src/scheduled/jobs/topbalance.ts
  src/scheduled/jobs/topcommands.ts
  src/scheduled/jobs/topsnapshot.ts
  src/scheduled/jobs/votereminders.ts
  src/scheduled/scheduler.ts
  src/types/Jobs.ts
Labels: scheduled, commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
