Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: veins
  src/commands/mine.ts
Labels: commands

feat: add xp to omega crate
  data/items.json
Labels: none

fix: dont dm me 24/7
  src/utils/handlers/mentions.ts
Labels: none

feat: add looting book
  data/items.json
  src/commands/hunt.ts
Labels: commands

feat: use alts to prevent ecoban evading
  src/utils/functions/economy/utils.ts
  src/utils/functions/moderation/alts.ts
Labels: economy, moderation

feat: use alts to prevent ecoban evading
  src/utils/functions/economy/utils.ts
  src/utils/functions/moderation/alts.ts
Labels: economy, moderation

feat: use alts to prevent ecoban evading
  src/utils/functions/economy/utils.ts
  src/utils/functions/moderation/alts.ts
Labels: economy, moderation

feat: add looting book (#1268)
  data/items.json
  src/commands/chatreaction.ts
  src/commands/hunt.ts
  src/commands/mines.ts
Labels: commands

refactor: not stackable
  data/items.json
Labels: none

fix: less effect
  src/commands/hunt.ts
Labels: commands

refactor: update emoji
  src/commands/mines.ts
Labels: commands

refactor: update emoji (#1269)
  src/commands/mines.ts
Labels: commands

refactor: update emoji (#1269)
  src/commands/mines.ts
Labels: commands

refactor: update emoji (#1269)
  src/commands/mines.ts
Labels: commands

feat: use owner avatar
  src/commands/guild.ts
Labels: commands

fix: use streaming
  src/utils/functions/presence.ts
Labels: none

refactor: lower chance
  src/commands/hunt.ts
Labels: commands

fix: incrememnt more
  data/guild_upgrades.json
Labels: none

fix: longer cooldowns
  data/items.json
Labels: none

fix: spell betterer
  data/items.json
Labels: none

fix: missing asterisk
  src/commands/guild.ts
Labels: commands

fix: incorrect hearts at 10s of %
  src/commands/love.ts
Labels: commands

feat: prevent ratelimits on paged things
  src/utils/functions/page.ts
Labels: none

feat: prevent rate limit effects on scratch card
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: silly me :P
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: dont ratelimit on bj
  src/commands/blackjack.ts
Labels: commands

feat: use update for highlow
  src/commands/highlow.ts
Labels: commands

feat: use update for mines
  src/commands/mines.ts
Labels: commands

fix: remove label
  src/commands/mines.ts
Labels: commands

feat: use .update with tower
  src/commands/tower.ts
Labels: commands

fix: spell betterer (#1271)
  data/items.json
  src/commands/guild.ts
  src/commands/love.ts
Labels: commands

fix: spell betterer (#1271)
  data/items.json
  src/commands/guild.ts
  src/commands/love.ts
Labels: commands

fix: spell betterer (#1271)
  data/items.json
  src/commands/guild.ts
  src/commands/love.ts
Labels: commands

feat: nether & end expansion (#1267)
  data/guild_upgrades.json
  data/items.json
  src/commands/blackjack.ts
  src/commands/guild.ts
  src/commands/highlow.ts
  src/commands/hunt.ts
  src/commands/mine.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/page.ts
  src/utils/functions/presence.ts
  src/utils/handlers/mentions.ts
Labels: economy, commands

feat: nether & end expansion (#1267)
  data/guild_upgrades.json
  data/items.json
  src/commands/blackjack.ts
  src/commands/guild.ts
  src/commands/highlow.ts
  src/commands/hunt.ts
  src/commands/mine.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/page.ts
  src/utils/functions/presence.ts
  src/utils/handlers/mentions.ts
Labels: economy, commands

feat: nether & end expansion (#1267)
  data/guild_upgrades.json
  data/items.json
  src/commands/blackjack.ts
  src/commands/guild.ts
  src/commands/highlow.ts
  src/commands/hunt.ts
  src/commands/mine.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/page.ts
  src/utils/functions/presence.ts
  src/utils/handlers/mentions.ts
Labels: economy, commands

6.13.0
  package.json
Labels: none

6.13.0
  package.json
Labels: none

6.13.0
  package.json
Labels: none

fix: no auctions on beta
  src/commands/auction.ts
Labels: commands
