Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

refactor: improve anticheat
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: improve anticheat
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: no command in 6 months
  src/scheduled/jobs/purgeusers.ts
Labels: scheduled

refactor: no command in 6 months
  src/scheduled/jobs/purgeusers.ts
Labels: scheduled

refactor: no command in 6 months
  src/scheduled/jobs/purgeusers.ts
Labels: scheduled

refactor: no command in 6 months
  src/scheduled/jobs/purgeusers.ts
Labels: scheduled

feat: update reset func
  src/utils/functions/economy/utils.ts
Labels: economy

feat: update reset func
  src/utils/functions/economy/utils.ts
Labels: economy

feat: update reset func
  src/utils/functions/economy/utils.ts
Labels: economy

feat: update reset func
  src/utils/functions/economy/utils.ts
Labels: economy

feat: log
  src/scheduled/jobs/resetsuggestions.ts
Labels: scheduled

feat: log
  src/scheduled/jobs/resetsuggestions.ts
Labels: scheduled

feat: log
  src/scheduled/jobs/resetsuggestions.ts
Labels: scheduled

feat: log
  src/scheduled/jobs/resetsuggestions.ts
Labels: scheduled

fix: steveearned
  src/utils/functions/economy/utils.ts
Labels: economy

fix: steveearned
  src/utils/functions/economy/utils.ts
Labels: economy

fix: steveearned
  src/utils/functions/economy/utils.ts
Labels: economy

fix: steveearned
  src/utils/functions/economy/utils.ts
Labels: economy

fix: zack gets requestdm
  src/commands/requestdm.ts
Labels: commands

fix: zack gets requestdm
  src/commands/requestdm.ts
Labels: commands

fix: zack gets requestdm
  src/commands/requestdm.ts
Labels: commands

fix: zack gets requestdm
  src/commands/requestdm.ts
Labels: commands

fix: deleting sold auctions
  src/commands/auction.ts
Labels: commands

fix: deleting sold auctions
  src/commands/auction.ts
Labels: commands

fix: deleting sold auctions
  src/commands/auction.ts
Labels: commands

fix: deleting sold auctions
  src/commands/auction.ts
Labels: commands

feat: mentions check for purgeusers
  src/scheduled/jobs/purgeusers.ts
Labels: scheduled

feat: mentions check for purgeusers
  src/scheduled/jobs/purgeusers.ts
Labels: scheduled

feat: mentions check for purgeusers
  src/scheduled/jobs/purgeusers.ts
Labels: scheduled

feat: mentions check for purgeusers
  src/scheduled/jobs/purgeusers.ts
Labels: scheduled

refactor: schedule to every monday
  src/scheduled/scheduler.ts
Labels: scheduled

refactor: schedule to every monday
  src/scheduled/scheduler.ts
Labels: scheduled

refactor: schedule to every monday
  src/scheduled/scheduler.ts
Labels: scheduled

refactor: schedule to every monday
  src/scheduled/scheduler.ts
Labels: scheduled

fix: remove calendar from sellall
  src/commands/sellall.ts
Labels: commands

fix: remove calendar from sellall
  src/commands/sellall.ts
Labels: commands

refactor: rename minesweeper to mines
  src/commands/mines.ts
Labels: commands

feat: ability to choose mine count
  src/commands/mines.ts
Labels: commands

feat: milf alias for sex cmd
  src/commands/sex.ts
Labels: commands

feat: milf alias for sex cmd
  src/commands/sex.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
