Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: add task progress
  src/utils/functions/users/wordle.ts
Labels: users

fix: add task progress
  src/utils/functions/users/wordle.ts
Labels: users

working stats command
  src/commands/stats.ts
Labels: commands

working stats command
  src/commands/stats.ts
Labels: commands

only count where time more than 0
  src/utils/functions/economy/top.ts
Labels: economy

only count where time more than 0
  src/utils/functions/economy/top.ts
Labels: economy

fix: convert ms to seconds
  src/commands/wordle.ts
Labels: commands

fix: convert ms to seconds
  src/commands/wordle.ts
Labels: commands

fix: only count losses per person
  src/commands/stats.ts
Labels: commands

fix: only count losses per person
  src/commands/stats.ts
Labels: commands

fix: wordle stats formatting
  src/commands/stats.ts
Labels: commands

fix: wordle stats formatting
  src/commands/stats.ts
Labels: commands

fix: use prisma queries (they work fine)
  src/utils/functions/economy/top.ts
Labels: economy

fix: use prisma queries (they work fine)
  src/utils/functions/economy/top.ts
Labels: economy

fix: format game time correctly
  src/commands/wordle.ts
Labels: commands

fix: format game time correctly
  src/commands/wordle.ts
Labels: commands

don't show ms if minutes and don't show minutes if less than 1
  src/utils/functions/string.ts
Labels: none

don't show ms if minutes and don't show minutes if less than 1
  src/utils/functions/string.ts
Labels: none

fix: /settings me lastfm
  src/commands/topartists.ts
Labels: commands

fix: /settings me lastfm
  src/commands/topartists.ts
Labels: commands

fix: only count when time is more than 0
  src/utils/functions/economy/top.ts
Labels: economy

fix: only count when time is more than 0
  src/utils/functions/economy/top.ts
Labels: economy

fix: use milliesconds for formatTime func
  src/commands/wordle.ts
Labels: commands

fix: use milliesconds for formatTime func
  src/commands/wordle.ts
Labels: commands

remove wordle migration cmd
  src/commands/x.ts
Labels: commands

remove wordle migration cmd
  src/commands/x.ts
Labels: commands

delete old wordle table
  prisma/migrations/20250115132522_remove_old_wordle_table/migration.sql
  prisma/schema.prisma
  src/commands/data.ts
  src/commands/stats.ts
  src/commands/x.ts
  src/utils/functions/users/utils.ts
Labels: users, commands, schema

delete old wordle table
  prisma/migrations/20250115132522_remove_old_wordle_table/migration.sql
  prisma/schema.prisma
  src/commands/data.ts
  src/commands/stats.ts
  src/commands/x.ts
  src/utils/functions/users/utils.ts
Labels: users, commands, schema

cascade delete and userId index
  prisma/migrations/20250115132927_cascade_userid_index/migration.sql
  prisma/schema.prisma
Labels: schema

cascade delete and userId index
  prisma/migrations/20250115132927_cascade_userid_index/migration.sql
  prisma/schema.prisma
Labels: schema

5
  src/utils/functions/z.ts
Labels: none

5
  src/utils/functions/z.ts
Labels: none

5
  src/commands/z.ts
Labels: commands

5
  src/commands/z.ts
Labels: commands

feat: add collect command
  src/commands/collect.ts
Labels: commands

feat: add collect command
  src/commands/collect.ts
Labels: commands

should be const ):
  src/commands/collect.ts
Labels: commands

should be const ):
  src/commands/collect.ts
Labels: commands

maybe fix wordle stats
  src/commands/stats.ts
Labels: commands

maybe fix wordle stats
  src/commands/stats.ts
Labels: commands
