Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: aaaaaa
  src/utils/functions/economy/items/bob.ts
Labels: economy

fix: aaaaaa
  src/utils/functions/economy/items/bob.ts
Labels: economy

fix: aaaaaa
  src/utils/functions/economy/items/bob.ts
Labels: economy

fix: aaaaaa
  src/utils/functions/economy/items/bob.ts
Labels: economy

fix: dont show 0xp
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/slots.ts
Labels: commands

fix: dont show 0xp
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/slots.ts
Labels: commands

fix: dont show 0xp
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/slots.ts
Labels: commands

fix: dont show 0xp
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/slots.ts
Labels: commands

fix: can buy one of auctions when cant afford full
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: can buy one of auctions when cant afford full
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: can buy one of auctions when cant afford full
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: can buy one of auctions when cant afford full
  src/utils/functions/economy/auctions.ts
Labels: economy

6.4.6
  package.json
Labels: none

6.4.6
  package.json
Labels: none

6.4.6
  package.json
Labels: none

6.4.6
  package.json
Labels: none

fix: less delay
  src/index.ts
Labels: none

fix: less delay
  src/index.ts
Labels: none

fix: less delay
  src/index.ts
Labels: none

fix: less delay
  src/index.ts
Labels: none

fix: use formatter with discord transport
  src/models/DiscordLogs.ts
Labels: none

fix: use formatter with discord transport
  src/models/DiscordLogs.ts
Labels: none

fix: use formatter with discord transport
  src/models/DiscordLogs.ts
Labels: none

fix: use formatter with discord transport
  src/models/DiscordLogs.ts
Labels: none

fix: aaaaa long messages
  src/models/DiscordLogs.ts
Labels: none

fix: aaaaa long messages
  src/models/DiscordLogs.ts
Labels: none

fix: aaaaa long messages
  src/models/DiscordLogs.ts
Labels: none

fix: aaaaa long messages
  src/models/DiscordLogs.ts
Labels: none

fix: prevent weird glitch
  src/commands/coinflip.ts
Labels: commands

fix: prevent weird glitch
  src/commands/coinflip.ts
Labels: commands

fix: prevent weird glitch
  src/commands/coinflip.ts
Labels: commands

fix: prevent weird glitch
  src/commands/coinflip.ts
Labels: commands

feat: mods can use forcelose
  src/commands/forcelose.ts
Labels: commands

feat: mods can use forcelose (#920)
  src/commands/forcelose.ts
Labels: commands

feat: mods can use forcelose (#920)
  src/commands/forcelose.ts
Labels: commands

feat: mods can use forcelose (#920)
  src/commands/forcelose.ts
Labels: commands

feat: mods can use forcelose (#920)
  src/commands/forcelose.ts
Labels: commands

fix: forcelose
  src/commands/forcelose.ts
  src/commands/rps.ts
Labels: commands

fix: forcelose
  src/commands/forcelose.ts
  src/commands/rps.ts
Labels: commands

fix: forcelose
  src/commands/forcelose.ts
  src/commands/rps.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
