Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

refactor: remove percentowned
  src/commands/item.ts
Labels: commands

refactor: remove percentowned
  src/commands/item.ts
Labels: commands

refactor: remove percentowned
  src/commands/item.ts
Labels: commands

refactor: remove percentowned
  src/commands/item.ts
Labels: commands

test: log weird shit
  src/events/guildMemberAdd.ts
Labels: events

test: log weird shit
  src/events/guildMemberAdd.ts
Labels: events

test: log weird shit
  src/events/guildMemberAdd.ts
Labels: events

test: log weird shit
  src/events/guildMemberAdd.ts
Labels: events

fix: logger.debug
  src/events/guildMemberAdd.ts
Labels: events

fix: logger.debug
  src/events/guildMemberAdd.ts
Labels: events

fix: logger.debug
  src/events/guildMemberAdd.ts
Labels: events

fix: logger.debug
  src/events/guildMemberAdd.ts
Labels: events

refactor: push an array to notification queue
  src/utils/functions/users/notifications.ts
Labels: users

refactor: push an array to notification queue
  src/utils/functions/users/notifications.ts
Labels: users

refactor: push an array to notification queue
  src/utils/functions/users/notifications.ts
Labels: users

refactor: push an array to notification queue
  src/utils/functions/users/notifications.ts
Labels: users

refactor: remove lockdown from slash commands
  src/commands/lockdown.ts
Labels: commands

refactor: remove lockdown from slash commands
  src/commands/lockdown.ts
Labels: commands

refactor: remove lockdown from slash commands
  src/commands/lockdown.ts
Labels: commands

refactor: remove lockdown from slash commands
  src/commands/lockdown.ts
Labels: commands

feat: cookie clicker type update to /bake (#840)
  data/achievements.json
  data/bakery_upgrades.json
  data/items.json
  prisma/schema.prisma
  src/commands/bake.ts
  src/commands/use.ts
  src/events/interactionCreate.ts
  src/scheduled/clusterjobs/checkauctions.ts
  src/types/Economy.ts
  src/utils/Constants.ts
  src/utils/functions/economy/bakery.ts
  src/utils/functions/economy/utils.ts
Labels: economy, scheduled, commands, events, schema

feat: cookie clicker type update to /bake (#840)
  data/achievements.json
  data/bakery_upgrades.json
  data/items.json
  prisma/schema.prisma
  src/commands/bake.ts
  src/commands/use.ts
  src/events/interactionCreate.ts
  src/scheduled/clusterjobs/checkauctions.ts
  src/types/Economy.ts
  src/utils/Constants.ts
  src/utils/functions/economy/bakery.ts
  src/utils/functions/economy/utils.ts
Labels: economy, scheduled, commands, events, schema

feat: database query timing
  src/init/database.ts
Labels: none

feat: database query timing
  src/init/database.ts
Labels: none

feat: database query timing
  src/init/database.ts
Labels: none

feat: database query timing
  src/init/database.ts
Labels: none

5.11.2
  package-lock.json
  package.json
Labels: none

5.11.2
  package-lock.json
  package.json
Labels: none

5.11.2
  package-lock.json
  package.json
Labels: none

5.11.2
  package-lock.json
  package.json
Labels: none

feat: update schema for counters
  prisma/schema.prisma
Labels: schema

feat: add total balance
  prisma/schema.prisma
Labels: schema

refactor: rename enum
  prisma/schema.prisma
Labels: schema

fix: id
  prisma/schema.prisma
Labels: schema

feat: createguildcounter func
  src/utils/functions/guilds/counters.ts
Labels: guild

feat: updatechannel func
  src/utils/functions/guilds/counters.ts
Labels: guild

feat: getguildcounters function
  src/utils/functions/guilds/counters.ts
Labels: guild

fix: error catching
  src/utils/functions/guilds/counters.ts
Labels: guild

fix: hide discrim
  src/utils/functions/guilds/counters.ts
Labels: guild

fix: remove useless function
  src/utils/functions/guilds/utils.ts
Labels: guild

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
