Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: dont fetch the first role for every role
  src/commands/reactionroles.ts
Labels: commands

aura database table
  prisma/migrations/20240906122452_aura/migration.sql
  prisma/schema.prisma
Labels: schema

aura functions
  src/utils/Constants.ts
  src/utils/functions/users/aura.ts
Labels: users

aura command
  src/commands/aura.ts
Labels: commands

reverse
  src/commands/aura.ts
  src/utils/functions/users/aura.ts
Labels: users, commands

huzzah
  src/commands/aura.ts
  src/utils/functions/users/aura.ts
Labels: users, commands

aura take
  src/commands/aura.ts
Labels: commands

fix running count
  src/commands/aura.ts
Labels: commands

aura take cooldown
  src/commands/aura.ts
Labels: commands

50 aura every 1k commands
  src/utils/handlers/commandhandler.ts
Labels: none

-aura for brainrot
  src/events/message.ts
Labels: events

fix: user targeting
  src/commands/aura.ts
Labels: commands

meow
  src/commands/aura.ts
  src/events/message.ts
Labels: commands, events

no bullying lessers
  src/commands/aura.ts
Labels: commands

8.7.0
  package.json
Labels: none

works on all servers :grin:
  src/events/message.ts
Labels: events

fix: linting
  src/commands/aura.ts
Labels: commands

feat: add aura (#1585)
  package.json
  prisma/migrations/20240906122452_aura/migration.sql
  prisma/schema.prisma
  src/commands/aura.ts
  src/events/message.ts
  src/utils/Constants.ts
  src/utils/functions/users/aura.ts
  src/utils/handlers/commandhandler.ts
Labels: users, commands, events, schema

feat: add aura (#1585)
  package.json
  prisma/migrations/20240906122452_aura/migration.sql
  prisma/schema.prisma
  src/commands/aura.ts
  src/events/message.ts
  src/utils/Constants.ts
  src/utils/functions/users/aura.ts
  src/utils/handlers/commandhandler.ts
Labels: users, commands, events, schema

fix: only recent users
  src/events/message.ts
Labels: events

fix: only recent users
  src/events/message.ts
Labels: events

fix: cant steal aura from nypsi
  src/commands/aura.ts
Labels: commands

fix: cant steal aura from nypsi
  src/commands/aura.ts
Labels: commands

fix: only last 24 hurs
  src/events/message.ts
Labels: events

fix: only last 24 hurs
  src/events/message.ts
Labels: events

prevent stealing from alts and nypsi
  src/commands/aura.ts
Labels: commands

prevent stealing from alts and nypsi
  src/commands/aura.ts
Labels: commands

lose more aura on fail
  src/commands/aura.ts
Labels: commands

lose more aura on fail
  src/commands/aura.ts
Labels: commands

more aura for doing commands
  src/utils/handlers/commandhandler.ts
Labels: none

more aura for doing commands
  src/utils/handlers/commandhandler.ts
Labels: none

fix: cant take/give to self
  src/commands/aura.ts
Labels: commands

fix: cant take/give to self
  src/commands/aura.ts
Labels: commands

STOP SHOWING DECIMALS
  src/commands/aura.ts
Labels: commands

STOP SHOWING DECIMALS
  src/commands/aura.ts
Labels: commands

aura for voting and buying
  src/utils/handlers/webhookhandler.ts
Labels: none

aura for voting and buying
  src/utils/handlers/webhookhandler.ts
Labels: none

prevent alts using aura
  src/commands/aura.ts
Labels: commands

prevent alts using aura
  src/commands/aura.ts
Labels: commands

add hawk tua to brainrot
  src/events/message.ts
Labels: events

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
