Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

build: sourcemaps
  tsconfig.json
Labels: build

feat: replay adds to analytics
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
Labels: commands

feat: replay adds to analytics
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
Labels: commands

feat: replay adds to analytics
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
Labels: commands

feat: replay adds to analytics
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
Labels: commands

feat: add game table
  prisma/schema.prisma
Labels: schema

fix: add date
  prisma/schema.prisma
Labels: schema

fix: allow null
  prisma/schema.prisma
Labels: schema

feat: function to create games
  src/utils/Constants.ts
  src/utils/functions/economy/stats.ts
Labels: economy

feat: add id to blackjack
  src/commands/blackjack.ts
Labels: commands

feat: add new game for coinflip
  src/commands/coinflip.ts
Labels: commands

feat: creategame for fight
  src/commands/fight.ts
Labels: commands

feat: creategame for highlow
  src/commands/highlow.ts
Labels: commands

feat: creategame for mines
  src/commands/mines.ts
Labels: commands

feat: game for roulette
  src/commands/roulette.ts
Labels: commands

feat: rps
  src/commands/rps.ts
Labels: commands

feat: slots
  src/commands/slots.ts
Labels: commands

feat: fetch func
  src/utils/functions/economy/stats.ts
Labels: economy

feat: viewgame cmd
  src/commands/viewgame.ts
Labels: commands

fix: boobs
  src/commands/viewgame.ts
Labels: commands

fix: max 5 interactions
  src/commands/chatreaction.ts
Labels: commands

fix: max 5 interactions
  src/commands/chatreaction.ts
Labels: commands

fix: max 5 interactions
  src/commands/chatreaction.ts
Labels: commands

fix: max 5 interactions
  src/commands/chatreaction.ts
Labels: commands

fix: add date
  src/commands/viewgame.ts
Labels: commands

fix: replace old stats
  prisma/schema.prisma
  src/commands/bankrob.ts
  src/commands/deletemydata.ts
  src/commands/fight.ts
  src/commands/requestdata.ts
  src/commands/rob.ts
  src/commands/stats.ts
  src/commands/x.ts
  src/utils/functions/economy/stats.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands, schema

fix: booooooobs
  prisma/schema.prisma
  src/commands/fight.ts
  src/commands/stats.ts
  src/commands/viewgame.ts
  src/utils/functions/economy/stats.ts
Labels: economy, commands, schema

fix: stray char
  src/commands/blackjack.ts
Labels: commands

fix: stray char
  src/commands/blackjack.ts
Labels: commands

fix: stray char
  src/commands/blackjack.ts
Labels: commands

fix: stray char
  src/commands/blackjack.ts
Labels: commands

feat: add id to gamble logs
  src/commands/blackjack.ts
  src/commands/coinflip.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/slots.ts
  src/utils/logger.ts
Labels: commands

fix: optional chaining
  src/utils/functions/economy/workers.ts
  src/utils/functions/economy/xp.ts
Labels: economy

fix: optional chaining
  src/utils/functions/economy/workers.ts
  src/utils/functions/economy/xp.ts
Labels: economy

fix: optional chaining
  src/utils/functions/economy/workers.ts
  src/utils/functions/economy/xp.ts
Labels: economy

fix: optional chaining
  src/utils/functions/economy/workers.ts
  src/utils/functions/economy/xp.ts
Labels: economy

feat: game history (#800)
  prisma/schema.prisma
  src/commands/bankrob.ts
  src/commands/blackjack.ts
  src/commands/coinflip.ts
  src/commands/deletemydata.ts
  src/commands/fight.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/requestdata.ts
  src/commands/rob.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/slots.ts
  src/commands/stats.ts
  src/commands/viewgame.ts
  src/commands/x.ts
  src/utils/Constants.ts
  src/utils/functions/economy/stats.ts
  src/utils/functions/economy/utils.ts
  src/utils/logger.ts
Labels: economy, commands, schema

feat: game history (#800)
  prisma/schema.prisma
  src/commands/bankrob.ts
  src/commands/blackjack.ts
  src/commands/coinflip.ts
  src/commands/deletemydata.ts
  src/commands/fight.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/requestdata.ts
  src/commands/rob.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/slots.ts
  src/commands/stats.ts
  src/commands/viewgame.ts
  src/commands/x.ts
  src/utils/Constants.ts
  src/utils/functions/economy/stats.ts
  src/utils/functions/economy/utils.ts
  src/utils/logger.ts
Labels: economy, commands, schema

fix: catch error
  src/utils/functions/analytics.ts
Labels: none

fix: catch error
  src/utils/functions/analytics.ts
Labels: none
