Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

add rick roll task
  data/tasks.json
Labels: none

add rick roll task
  data/tasks.json
Labels: none

fix: job name
  src/scheduled/jobs/offerexpire.ts
Labels: scheduled

fix: job name
  src/scheduled/jobs/offerexpire.ts
Labels: scheduled

feat: add farm upgrades to net
  src/utils/functions/economy/balance.ts
Labels: economy

feat: add farm upgrades to net (#1694)
  src/utils/functions/economy/balance.ts
Labels: economy

feat: add farm upgrades to net (#1694)
  src/utils/functions/economy/balance.ts
Labels: economy

overwrite old mute/ban
  src/commands/ban.ts
  src/commands/mute.ts
Labels: commands

overwrite old mute/ban
  src/commands/ban.ts
  src/commands/mute.ts
Labels: commands

fix: better crate scaling
  src/utils/functions/economy/levelling.ts
Labels: economy

fix: better crate scaling
  src/utils/functions/economy/levelling.ts
Labels: economy

fix: add old username if not exists
  src/utils/functions/users/commands.ts
Labels: users

fix: add old username if not exists
  src/utils/functions/users/commands.ts
Labels: users

sort by amount claimed
  src/commands/farm.ts
Labels: commands

sort by amount claimed
  src/commands/farm.ts
Labels: commands

why twice
  src/commands/craft.ts
Labels: commands

why twice
  src/commands/craft.ts
Labels: commands

await
  src/scheduled/clusterjobs/crafted.ts
Labels: scheduled

await
  src/scheduled/clusterjobs/crafted.ts
Labels: scheduled

typescript is pain in asshole
  src/commands/blackjack.ts
  src/commands/capybara.ts
  src/commands/case.ts
  src/commands/cat.ts
  src/commands/dog.ts
  src/commands/fight.ts
  src/commands/hamster.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/offer.ts
  src/commands/profile.ts
  src/commands/reactionroles.ts
  src/commands/tower.ts
  src/commands/unban.ts
  src/commands/viewgame.ts
  src/commands/workers.ts
  src/interactions/auction_buy_multiple.ts
  src/scheduled/jobs/topcommands.ts
  src/utils/functions/economy/achievements.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/offers.ts
  src/utils/functions/guilds/roles.ts
  src/utils/functions/member.ts
  src/utils/functions/moderation/logs.ts
  src/utils/functions/page.ts
  src/utils/functions/users/utils.ts
  src/utils/functions/users/views.ts
Labels: economy, guild, moderation, users, scheduled, commands

fix: xp boost applies to fish/hunt/mine
  src/utils/functions/economy/xp.ts
Labels: economy

fix: xp boost applies to fish/hunt/mine
  src/utils/functions/economy/xp.ts
Labels: economy

refactor: simplify data handling in FileTransport logger
  src/utils/logger.ts
Labels: none

refactor: simplify data handling in FileTransport logger
  src/utils/logger.ts
Labels: none

fix: purge with id
  src/commands/purge.ts
Labels: commands

fix: purge with id
  src/commands/purge.ts
Labels: commands

ughhhh
  src/commands/purge.ts
Labels: commands

ughhhh
  src/commands/purge.ts
Labels: commands

fix: lowercase
  src/commands/purge.ts
Labels: commands

fix: lowercase
  src/commands/purge.ts
Labels: commands

force cluster to be a string
  src/models/Client.ts
  src/utils/logger.ts
Labels: none

force cluster to be a string
  src/models/Client.ts
  src/utils/logger.ts
Labels: none

use separate server for logsearch
  src/commands/logsearch.ts
  src/utils/functions/workers/logsearch.ts
Labels: commands

use separate server for logsearch
  src/commands/logsearch.ts
  src/utils/functions/workers/logsearch.ts
Labels: commands

purge old search results
  src/scheduled/jobs/purge.ts
Labels: scheduled

purge old search results
  src/scheduled/jobs/purge.ts
Labels: scheduled

fix: mine docs link
  src/commands/mine.ts
Labels: commands

fix: mine docs link
  src/commands/mine.ts
Labels: commands

add toes and feet
  data/items.json
Labels: none

add toes and feet
  data/items.json
Labels: none

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
