Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

refactor: rebooting msg
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: rebooting msg
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: rebooting msg
  src/utils/handlers/commandhandler.ts
Labels: none

fix: remove prem role logs
  src/commands/premium.ts
Labels: commands

fix: remove prem role logs
  src/commands/premium.ts
Labels: commands

fix: remove prem role logs
  src/commands/premium.ts
Labels: commands

fix: sell prices
  data/items.json
Labels: none

feat: buff gem shard chance
  data/workers.json
Labels: none

feat: achievement balancing
  data/achievements.json
Labels: none

feat: achievement balancing
  data/achievements.json
Labels: none

feat: achievement balancing
  data/achievements.json
Labels: none

fix: sell prices (#1183)
  data/items.json
Labels: none

fix: sell prices (#1183)
  data/items.json
Labels: none

fix: sell prices (#1183)
  data/items.json
Labels: none

feat: buff gem shard chance (#1184)
  data/workers.json
Labels: none

feat: buff gem shard chance (#1184)
  data/workers.json
Labels: none

feat: buff gem shard chance (#1184)
  data/workers.json
Labels: none

6.10.4
  package.json
Labels: none

6.10.4
  package.json
Labels: none

6.10.4
  package.json
Labels: none

fix: bro im silly
  src/commands/reload.ts
Labels: commands

fix: bro im silly
  src/commands/reload.ts
Labels: commands

fix: bro im silly
  src/commands/reload.ts
Labels: commands

fix: rarity 6 showing as not obtainable
  src/utils/handlers/commandhandler.ts
Labels: none

fix: rarity 6 showing as not obtainable (#1185)
  src/utils/handlers/commandhandler.ts
Labels: none

fix: rarity 6 showing as not obtainable (#1185)
  src/utils/handlers/commandhandler.ts
Labels: none

fix: rarity 6 showing as not obtainable (#1185)
  src/utils/handlers/commandhandler.ts
Labels: none

style: formatting
  src/utils/handlers/commandhandler.ts
Labels: none

style: formatting
  src/utils/handlers/commandhandler.ts
Labels: none

style: formatting
  src/utils/handlers/commandhandler.ts
Labels: none

feat: achievements feed msgs
  src/utils/functions/economy/achievements.ts
  src/utils/functions/users/tag.ts
Labels: economy, users

feat: achievements feed msgs
  src/utils/functions/economy/achievements.ts
  src/utils/functions/users/tag.ts
Labels: economy, users

feat: achievements feed msgs
  src/utils/functions/economy/achievements.ts
  src/utils/functions/users/tag.ts
Labels: economy, users

fix: green user embed
  src/utils/functions/economy/achievements.ts
Labels: economy

fix: green user embed
  src/utils/functions/economy/achievements.ts
Labels: economy

fix: green user embed
  src/utils/functions/economy/achievements.ts
Labels: economy

fix: keep tags rare
  data/items.json
Labels: none

fix: keep tags rare
  data/items.json
Labels: none

fix: keep tags rare
  data/items.json
Labels: none

refactor: dm embed colours
  src/interactions/vote_crates.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
Labels: economy
