Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: round
  src/utils/functions/economy/bakery.ts
Labels: economy

fix: round
  src/utils/functions/economy/bakery.ts
Labels: economy

new tag,json
  data/tags.json
Labels: none

Mini cooper alliase
  data/items.json
Labels: none

Testing gay
  src/commands/gay.ts
Labels: commands

Delete src/commands/gay.ts
  src/commands/gay.ts
Labels: commands

reload items on main thread on command
  src/commands/reloaditems.ts
  src/index.ts
Labels: commands

reload items on main thread on command
  src/commands/reloaditems.ts
  src/index.ts
Labels: commands

reload items on main thread on command
  src/commands/reloaditems.ts
  src/index.ts
Labels: commands

remove some debug logs
  src/utils/functions/economy/tasks.ts
Labels: economy

remove some debug logs
  src/utils/functions/economy/tasks.ts
Labels: economy

remove some debug logs
  src/utils/functions/economy/tasks.ts
Labels: economy

remove trace
  src/utils/functions/economy/tasks.ts
Labels: economy

remove trace
  src/utils/functions/economy/tasks.ts
Labels: economy

remove trace
  src/utils/functions/economy/tasks.ts
Labels: economy

try catch thing
  src/utils/functions/economy/tasks.ts
Labels: economy

try catch thing
  src/utils/functions/economy/tasks.ts
Labels: economy

try catch thing
  src/utils/functions/economy/tasks.ts
Labels: economy

sort by username as last resort
  src/utils/functions/economy/top.ts
Labels: economy

sort by username as last resort
  src/utils/functions/economy/top.ts
Labels: economy

sort by username as last resort
  src/utils/functions/economy/top.ts
Labels: economy

add timing for workers process
  src/scheduled/clusterjobs/workers.ts
Labels: scheduled

add timing for workers process
  src/scheduled/clusterjobs/workers.ts
Labels: scheduled

add timing for workers process
  src/scheduled/clusterjobs/workers.ts
Labels: scheduled

maybe stop scratch cards messing up?
  src/utils/functions/economy/scratchies.ts
Labels: economy

maybe stop scratch cards messing up?
  src/utils/functions/economy/scratchies.ts
Labels: economy

maybe stop scratch cards messing up?
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: dont count scratch cards for gamble streak
  src/utils/functions/economy/stats.ts
Labels: economy

fix: dont count scratch cards for gamble streak
  src/utils/functions/economy/stats.ts
Labels: economy

fix: dont count scratch cards for gamble streak
  src/utils/functions/economy/stats.ts
Labels: economy

show error message
  src/commands/workers.ts
Labels: commands

show error message
  src/commands/workers.ts
Labels: commands

show error message
  src/commands/workers.ts
Labels: commands

less strict
  src/events/message.ts
Labels: events

less strict
  src/events/message.ts
Labels: events

less strict
  src/events/message.ts
Labels: events

remove invalid tasks
  src/commands/reloaditems.ts
Labels: commands

remove invalid tasks
  src/commands/reloaditems.ts
Labels: commands

remove invalid tasks
  src/commands/reloaditems.ts
Labels: commands

change thief task to allow bank robbing
  data/tasks.json
  src/commands/bankrob.ts
Labels: commands
