Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: have add role fail send a message (#1219)
  src/utils/handlers/interactions.ts
Labels: none

fix: have add role fail send a message (#1219)
  src/utils/handlers/interactions.ts
Labels: none

fix: automute vl (#1220)
  src/utils/functions/guilds/filters.ts
Labels: guild

fix: automute vl (#1220)
  src/utils/functions/guilds/filters.ts
Labels: guild

fix: automute vl (#1220)
  src/utils/functions/guilds/filters.ts
Labels: guild

fix: improve status api response time
  src/index.ts
Labels: none

fix: improve status api response time
  src/index.ts
Labels: none

fix: improve status api response time
  src/index.ts
Labels: none

feat: allow some message caching
  src/nypsi.ts
Labels: none

feat: allow some message caching
  src/nypsi.ts
Labels: none

feat: allow some message caching
  src/nypsi.ts
Labels: none

6.11.3
  package.json
Labels: none

6.11.3
  package.json
Labels: none

6.11.3
  package.json
Labels: none

fix: karma tag is actually obtainable
  data/items.json
Labels: none

fix: karma tag is actually obtainable
  data/items.json
Labels: none

fix: karma tag is actually obtainable
  data/items.json
Labels: none

fix: completed crafting items
  src/utils/functions/economy/crafting.ts
Labels: economy

fix: completed crafting items
  src/utils/functions/economy/crafting.ts
Labels: economy

fix: completed crafting items
  src/utils/functions/economy/crafting.ts
Labels: economy

refactor: cluster ready log
  src/models/Client.ts
Labels: none

refactor: cluster ready log
  src/models/Client.ts
Labels: none

refactor: cluster ready log
  src/models/Client.ts
Labels: none

fix: make cooldown upgrade more expensive
  data/guild_upgrades.json
Labels: none

fix: make cooldown upgrade more expensive
  data/guild_upgrades.json
Labels: none

fix: make cooldown upgrade more expensive
  data/guild_upgrades.json
Labels: none

fix: be able to remove alias thats just $
  src/commands/prefix.ts
  src/commands/premium.ts
  src/interactions/aliases.ts
Labels: commands

fix: be able to remove alias thats just $ (#1226)
  src/commands/prefix.ts
  src/commands/premium.ts
  src/interactions/aliases.ts
Labels: commands

fix: be able to remove alias thats just $ (#1226)
  src/commands/prefix.ts
  src/commands/premium.ts
  src/interactions/aliases.ts
Labels: commands

fix: be able to remove alias thats just $ (#1226)
  src/commands/prefix.ts
  src/commands/premium.ts
  src/interactions/aliases.ts
Labels: commands

fix: include offers in net
  src/utils/functions/economy/balance.ts
Labels: economy

fix: include offers in net
  src/utils/functions/economy/balance.ts
Labels: economy

fix: include offers in net
  src/utils/functions/economy/balance.ts
Labels: economy

style: formatting
  src/commands/premium.ts
  src/interactions/aliases.ts
Labels: commands

style: formatting
  src/commands/premium.ts
  src/interactions/aliases.ts
Labels: commands

style: formatting
  src/commands/premium.ts
  src/interactions/aliases.ts
Labels: commands

refactor: less messages per channel
  src/nypsi.ts
Labels: none

refactor: less messages per channel
  src/nypsi.ts
Labels: none

refactor: less messages per channel
  src/nypsi.ts
Labels: none

fix: show networth when no given offers
  src/utils/functions/economy/balance.ts
Labels: economy

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
