Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

new cars
  src/commands/garage.ts
  src/utils/functions/economy/cars.ts
Labels: economy, commands

new race command
  src/commands/race.ts
  src/commands/streetrace.ts
  src/types/StreetRace.ts
Labels: commands

maxbet limit
  src/commands/race.ts
Labels: commands

7.3.0
  package.json
Labels: none

update items for car stuff
  data/items.json
Labels: none

bold
  src/commands/race.ts
Labels: commands

easier entry
  src/utils/functions/economy/cars.ts
Labels: economy

mechanic achievement & tag
  data/achievements.json
  data/tags.json
Labels: none

feat: add custom cars (#1463)
  data/achievements.json
  data/items.json
  data/tags.json
  package.json
  prisma/migrations/20240411143533_custom_cars/migration.sql
  prisma/schema.prisma
  src/commands/garage.ts
  src/commands/item.ts
  src/commands/race.ts
  src/commands/streetrace.ts
  src/types/Economy.ts
  src/types/StreetRace.ts
  src/utils/Constants.ts
  src/utils/functions/economy/cars.ts
  src/utils/functions/image.ts
Labels: economy, commands, schema

feat: add custom cars (#1463)
  data/achievements.json
  data/items.json
  data/tags.json
  package.json
  prisma/migrations/20240411143533_custom_cars/migration.sql
  prisma/schema.prisma
  src/commands/garage.ts
  src/commands/item.ts
  src/commands/race.ts
  src/commands/streetrace.ts
  src/types/Economy.ts
  src/types/StreetRace.ts
  src/utils/Constants.ts
  src/utils/functions/economy/cars.ts
  src/utils/functions/image.ts
Labels: economy, commands, schema

add distance measure
  src/commands/race.ts
Labels: commands

add distance measure
  src/commands/race.ts
Labels: commands

time limit
  src/commands/race.ts
Labels: commands

time limit
  src/commands/race.ts
Labels: commands

create games
  src/commands/race.ts
Labels: commands

create games
  src/commands/race.ts
Labels: commands

fix silly buying car
  src/commands/garage.ts
Labels: commands

fix silly buying car
  src/commands/garage.ts
Labels: commands

fix: adhere to speed limit
  src/commands/race.ts
Labels: commands

fix: adhere to speed limit
  src/commands/race.ts
Labels: commands

slash cmd data
  src/commands/race.ts
Labels: commands

slash cmd data
  src/commands/race.ts
Labels: commands

SILLY ME
  src/commands/race.ts
Labels: commands

SILLY ME
  src/commands/race.ts
Labels: commands

i hate this so much
  src/commands/race.ts
Labels: commands

i hate this so much
  src/commands/race.ts
Labels: commands

fix weird formatting
  src/commands/race.ts
Labels: commands

fix weird formatting
  src/commands/race.ts
Labels: commands

fix: add progress
  src/commands/garage.ts
Labels: commands

fix: add progress
  src/commands/garage.ts
Labels: commands

change to meters
  src/commands/race.ts
Labels: commands

change to meters
  src/commands/race.ts
Labels: commands

only edit if different
  src/commands/race.ts
Labels: commands

only edit if different
  src/commands/race.ts
Labels: commands

remove components
  src/commands/race.ts
Labels: commands

remove components
  src/commands/race.ts
Labels: commands

garage on networth
  src/commands/networth.ts
  src/utils/functions/economy/balance.ts
Labels: economy, commands

garage on networth
  src/commands/networth.ts
  src/utils/functions/economy/balance.ts
Labels: economy, commands

ignore if 0
  src/commands/networth.ts
Labels: commands

ignore if 0
  src/commands/networth.ts
Labels: commands
