Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

change give
  src/commands/give.ts
Labels: commands

do things for other transaction uses
  src/commands/pay.ts
  src/interactions/accept_offer.ts
  src/utils/functions/economy/market.ts
  src/utils/logger.ts
Labels: economy, commands

add transactions iterator
  src/utils/functions/transactions.ts
Labels: none

add transactions query
  src/commands/x.ts
Labels: commands

fix exported formatting
  src/utils/functions/transactions.ts
Labels: none

fix source id
  src/commands/x.ts
Labels: commands

add admin log
  src/commands/x.ts
Labels: commands

fix date format
  src/utils/functions/transactions.ts
Labels: none

transaction analytics
  src/commands/x.ts
Labels: commands

add transaction logging (#2028)
  prisma/migrations/20250707074050_transactions/migration.sql
  prisma/schema.prisma
  src/commands/give.ts
  src/commands/pay.ts
  src/commands/x.ts
  src/interactions/accept_offer.ts
  src/utils/functions/economy/market.ts
  src/utils/functions/economy/trade_requests.ts
  src/utils/functions/transactions.ts
  src/utils/logger.ts
Labels: economy, commands, schema

oops forgot to update changelog for transactions
  CHANGELOG.md
Labels: none

don't reset level when below prestige 1
  CHANGELOG.md
  src/utils/functions/economy/utils.ts
Labels: economy

fix: check ischatinputcommand
  src/events/interactionCreate.ts
Labels: events

prevent floating point errors
  src/utils/functions/economy/item_info.ts
Labels: economy

prefer telling users to do slash commands
  src/utils/functions/economy/item_info.ts
Labels: economy

fix: prevent another floating point error issue
  src/utils/functions/economy/item_info.ts
Labels: economy

move a bunch of commands to x
  src/commands/addcmd.ts
  src/commands/bluser.ts
  src/commands/captchatest.ts
  src/commands/cmdwatch.ts
  src/commands/ecoban.ts
  src/commands/find.ts
  src/commands/forcelose.ts
  src/commands/remcmd.ts
  src/commands/reseteco.ts
  src/commands/runjob.ts
  src/commands/streakpause.ts
  src/commands/x.ts
  src/utils/Constants.ts
  src/utils/functions/captcha.ts
  src/utils/functions/member.ts
Labels: commands

fix: only show buttons when needed
  src/utils/functions/economy/item_info.ts
Labels: economy

fix: only show loot pool page buttons when needed (#2033)
  src/utils/functions/economy/item_info.ts
Labels: economy

add events data
  data/events.json
Labels: none

schema changes
  prisma/schema.prisma
Labels: schema

events role
  src/utils/Constants.ts
Labels: none

some functions
  src/utils/functions/economy/events.ts
Labels: economy

captchatest -> captcha
  src/commands/x.ts
Labels: commands

feat: add total baked and average cookies per bake
  src/commands/stats.ts
  src/utils/functions/economy/bakery.ts
Labels: economy, commands

catch error when checking file
  src/utils/logger.ts
Labels: none

add id prop (thx chatgpt)
  data/events.json
Labels: none

load events
  src/types/Economy.ts
  src/utils/functions/economy/utils.ts
Labels: economy

pandora box item
  data/items.json
  src/utils/functions/economy/utils.ts
Labels: economy

fix pandora loot pool
  src/utils/functions/economy/utils.ts
Labels: economy

add source for pandora box
  src/utils/functions/economy/item_info.ts
Labels: economy

sort loot pool alphabetically
  src/utils/functions/economy/item_info.ts
Labels: economy

fix: don't log pooll
  src/utils/functions/economy/utils.ts
Labels: economy

move modlogs and prefix to settings
  src/commands/modlogs.ts
  src/commands/prefix.ts
  src/commands/settings.ts
  src/utils/functions/moderation/logs.ts
Labels: moderation, commands

Revert "pause updateuser func 5 minutes between commands"
  src/utils/functions/users/commands.ts
Labels: users

fix: sorting
  src/utils/functions/economy/item_info.ts
Labels: economy

adjust loot pool
  src/utils/functions/economy/utils.ts
Labels: economy

add cookies and milfs events
  data/events.json
Labels: none

getCurrentEvent function
  src/utils/Constants.ts
  src/utils/functions/economy/events.ts
Labels: economy

fix: type
  src/utils/functions/economy/utils.ts
Labels: economy

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
