Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

feat: tell user when they get a new pb
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/stats.ts
Labels: chatreaction

feat: tell user when they get a new pb
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/stats.ts
Labels: chatreaction

add speed to chat reaction lb
  src/commands/chatreaction.ts
Labels: commands

add speed to chat reaction lb
  src/commands/chatreaction.ts
Labels: commands

seed leaderboards every hour
  src/scheduled/jobs/seed-leaderboards.ts
Labels: scheduled

seed leaderboards every hour
  src/scheduled/jobs/seed-leaderboards.ts
Labels: scheduled

feat: add guild icon to mod logs
  src/utils/functions/moderation/logs.ts
Labels: moderation

feat: add guild icon to mod logs
  src/utils/functions/moderation/logs.ts
Labels: moderation

networth adds a profile view
  src/commands/networth.ts
Labels: commands

networth adds a profile view
  src/commands/networth.ts
Labels: commands

update mineshaft chest odds
  data/items.json
Labels: none

update mineshaft chest odds
  data/items.json
Labels: none

fix: prevent valid cooldowns being deleted
  src/utils/handlers/cooldownhandler.ts
Labels: none

fix: prevent valid cooldowns being deleted
  src/utils/handlers/cooldownhandler.ts
Labels: none

use increment/decrement for bank balance
  src/commands/deposit.ts
  src/commands/withdraw.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/levelling.ts
Labels: economy, commands

use increment/decrement for bank balance
  src/commands/deposit.ts
  src/commands/withdraw.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/levelling.ts
Labels: economy, commands

refactor: use increment/decrement for xp
  src/commands/blackjack.ts
  src/commands/fish.ts
  src/commands/furry.ts
  src/commands/highlow.ts
  src/commands/hunt.ts
  src/commands/karmashop.ts
  src/commands/mine.ts
  src/commands/mines.ts
  src/commands/rob.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/slots.ts
  src/commands/tower.ts
  src/utils/functions/economy/achievements.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/levelling.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/economy/tasks.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/xp.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, commands

refactor: use increment/decrement for xp
  src/commands/blackjack.ts
  src/commands/fish.ts
  src/commands/furry.ts
  src/commands/highlow.ts
  src/commands/hunt.ts
  src/commands/karmashop.ts
  src/commands/mine.ts
  src/commands/mines.ts
  src/commands/rob.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/slots.ts
  src/commands/tower.ts
  src/utils/functions/economy/achievements.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/levelling.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/economy/tasks.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/xp.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, commands

fix: try timeout
  src/commands/chatreaction.ts
Labels: commands

fix: try timeout
  src/commands/chatreaction.ts
Labels: commands

just take prestige and level parameters
  src/utils/functions/economy/levelling.ts
Labels: economy

use constants redis key for levelling up
  src/utils/Constants.ts
  src/utils/handlers/commandhandler.ts
Labels: none

that should be the same
  src/utils/functions/economy/levelling.ts
Labels: economy

new level up function (def broken)
  src/utils/functions/economy/levelling.ts
Labels: economy

fix type errors
  src/commands/level.ts
  src/commands/profile.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands

more than or equal to
  src/utils/functions/economy/levelling.ts
Labels: economy

ok i think its working
  src/utils/functions/economy/levelling.ts
Labels: economy

8.3.2
  package.json
Labels: none

only show level rewards if more than 1 to show
  src/utils/functions/economy/levelling.ts
Labels: economy

move redis key set
  src/utils/functions/economy/levelling.ts
Labels: economy

refactor: efficient levelling (#1520)
  package.json
  src/commands/level.ts
  src/commands/profile.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/levelling.ts
  src/utils/functions/economy/xp.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, commands

refactor: efficient levelling (#1520)
  package.json
  src/commands/level.ts
  src/commands/profile.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/levelling.ts
  src/utils/functions/economy/xp.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, commands

debug logs
  src/commands/minecraft.ts
Labels: commands

debug logs
  src/commands/minecraft.ts
Labels: commands

fix: give items on level up
  src/utils/functions/economy/levelling.ts
Labels: economy

fix: give items on level up
  src/utils/functions/economy/levelling.ts
Labels: economy

refactor: readability
  src/utils/functions/guilds/filters.ts
Labels: guild

refactor: readability
  src/utils/functions/guilds/filters.ts
Labels: guild

fix: set description
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: set description
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
