Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

style: formatting
  src/interactions/auction_buy_multiple.ts
Labels: none

style: formatting
  src/interactions/auction_buy_multiple.ts
Labels: none

fix: stupid filter??
  src/nypsi.ts
Labels: none

fix: stupid filter??
  src/nypsi.ts
Labels: none

fix: stupid filter??
  src/nypsi.ts
Labels: none

fix: sweep messages every 60 secs
  src/nypsi.ts
Labels: none

fix: sweep messages every 60 secs
  src/nypsi.ts
Labels: none

fix: sweep messages every 60 secs
  src/nypsi.ts
Labels: none

feat: users sweeper
  src/nypsi.ts
Labels: none

feat: users sweeper
  src/nypsi.ts
Labels: none

feat: users sweeper
  src/nypsi.ts
Labels: none

refactor: uhhhh
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: uhhhh
  src/utils/handlers/commandhandler.ts
Labels: none

refactor: uhhhh
  src/utils/handlers/commandhandler.ts
Labels: none

fix: i remember what this is for
  src/events/userUpdate.ts
Labels: events

fix: i remember what this is for
  src/events/userUpdate.ts
Labels: events

fix: i remember what this is for
  src/events/userUpdate.ts
Labels: events

fix: presence after 10 seconds
  src/models/Client.ts
Labels: none

fix: presence after 10 seconds
  src/models/Client.ts
Labels: none

fix: presence after 10 seconds
  src/models/Client.ts
Labels: none

feat: unecoban shop item
  src/utils/Constants.ts
  src/utils/functions/users/email.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: users

feat: unecoban shop item
  src/utils/Constants.ts
  src/utils/functions/users/email.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: users

feat: unecoban shop item
  src/utils/Constants.ts
  src/utils/functions/users/email.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: users

6.10.1
  package.json
Labels: none

6.10.1
  package.json
Labels: none

6.10.1
  package.json
Labels: none

fix: recentcommands with scratch cards
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: recentcommands with scratch cards
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: recentcommands with scratch cards
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: silly ARGUMENT
  src/commands/find.ts
Labels: commands

fix: silly ARGUMENT
  src/commands/find.ts
Labels: commands

fix: silly ARGUMENT
  src/commands/find.ts
Labels: commands

feat: add penis to wordle
  data/wordle.txt
Labels: none

feat: add penis to wordle
  data/wordle.txt
Labels: none

feat: add penis to wordle
  data/wordle.txt
Labels: none

feat: $top lotto
  src/commands/top.ts
  src/utils/functions/economy/top.ts
Labels: economy, commands

fix: $tag none giving errors
  src/commands/tags.ts
  src/utils/functions/users/tags.ts
Labels: users, commands

fix: more plurals!!
  src/commands/guild.ts
  src/commands/role.ts
  src/interactions/vote_crates.ts
  src/utils/handlers/webhookhandler.ts
Labels: commands

style: formatting
  src/commands/role.ts
  src/commands/tags.ts
  src/interactions/vote_crates.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/users/tags.ts
Labels: economy, users, commands

refactor: sweep more often
  src/nypsi.ts
Labels: none
