Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

feat: add rabbit command
  src/commands/rabbit.ts
Labels: commands

feat: add rabbit command
  src/commands/rabbit.ts
Labels: commands

render before going up value
  src/utils/functions/economy/crash.ts
Labels: economy

render before going up value
  src/utils/functions/economy/crash.ts
Labels: economy

unused var
  src/commands/pings.ts
Labels: commands

unused var
  src/commands/pings.ts
Labels: commands

no draw
  src/utils/functions/economy/crash.ts
Labels: economy

no draw
  src/utils/functions/economy/crash.ts
Labels: economy

not loss oops
  src/utils/functions/economy/crash.ts
Labels: economy

not loss oops
  src/utils/functions/economy/crash.ts
Labels: economy

rules command
  src/commands/rules.ts
Labels: commands

rules command
  src/commands/rules.ts
Labels: commands

more guild upgrade rewards
  src/utils/functions/economy/guilds.ts
Labels: economy

more guild upgrade rewards
  src/utils/functions/economy/guilds.ts
Labels: economy

add omega crates as rewards
  src/utils/functions/economy/guilds.ts
Labels: economy

add omega crates as rewards
  src/utils/functions/economy/guilds.ts
Labels: economy

add cluster to log
  src/utils/queues/dms.ts
Labels: none

add cluster to log
  src/utils/queues/dms.ts
Labels: none

item value endpoint
  src/utils/handlers/webhookhandler.ts
Labels: none

item value endpoint
  src/utils/handlers/webhookhandler.ts
Labels: none

remove 'you have received' text
  src/utils/functions/economy/levelling.ts
Labels: economy

remove 'you have received' text
  src/utils/functions/economy/levelling.ts
Labels: economy

update leaderboard paths
  src/commands/item.ts
  src/commands/top.ts
Labels: commands

update leaderboard paths
  src/commands/item.ts
  src/commands/top.ts
Labels: commands

add url for website link
  src/commands/item.ts
Labels: commands

add url for website link
  src/commands/item.ts
Labels: commands

monospaced might look better
  src/commands/item.ts
Labels: commands

monospaced might look better
  src/commands/item.ts
Labels: commands

dave rare
  data/items.json
Labels: none

dave rare
  data/items.json
Labels: none

prevent weird whacky characters in guild name
  src/commands/guild.ts
Labels: commands

prevent weird whacky characters in guild name
  src/commands/guild.ts
Labels: commands

use - for space
  src/commands/guild.ts
  src/commands/profile.ts
  src/utils/functions/economy/top.ts
Labels: economy, commands

use - for space
  src/commands/guild.ts
  src/commands/profile.ts
  src/utils/functions/economy/top.ts
Labels: economy, commands

autostop must be higher than 1
  src/utils/functions/economy/crash.ts
Labels: economy

autostop must be higher than 1
  src/utils/functions/economy/crash.ts
Labels: economy

add more checks to prevent double joins
  src/utils/functions/economy/crash.ts
Labels: economy

add more checks to prevent double joins
  src/utils/functions/economy/crash.ts
Labels: economy

fix: level up reward display
  src/utils/functions/economy/levelling.ts
Labels: economy

fix: level up reward display
  src/utils/functions/economy/levelling.ts
Labels: economy
