Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

refactor: change msg
  src/interactions/accept_offer.ts
  src/interactions/block_item.ts
  src/interactions/block_user.ts
  src/interactions/deny_offer.ts
  src/interactions/disable_offers.ts
Labels: none

refactor: change msg
  src/interactions/accept_offer.ts
  src/interactions/block_item.ts
  src/interactions/block_user.ts
  src/interactions/deny_offer.ts
  src/interactions/disable_offers.ts
Labels: none

fix: show username not id
  src/interactions/block_user.ts
Labels: none

fix: show username not id
  src/interactions/block_user.ts
Labels: none

fix: show username not id
  src/interactions/block_user.ts
Labels: none

fix: slash commands omg
  src/commands/chatreaction.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

fix: slash commands omg
  src/commands/chatreaction.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

fix: slash commands omg
  src/commands/chatreaction.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

fix: ugugughu
  src/commands/coinflip.ts
Labels: commands

fix: ugugughu
  src/commands/coinflip.ts
Labels: commands

fix: ugugughu
  src/commands/coinflip.ts
Labels: commands

fix: autocomplete
  src/interactions/accept_offer.ts
  src/interactions/achievements.ts
  src/interactions/auction_buy.ts
  src/interactions/auction_buy_one.ts
  src/interactions/bake.ts
  src/interactions/block_item.ts
  src/interactions/block_user.ts
  src/interactions/car.ts
  src/interactions/craft_item.ts
  src/interactions/deny_offer.ts
  src/interactions/disable_offers.ts
  src/interactions/item.ts
  src/interactions/item_buy.ts
  src/interactions/item_global.ts
  src/interactions/item_ks.ts
  src/interactions/reaction_role.ts
  src/interactions/vote_crates.ts
  src/interactions/workers_claim.ts
  src/utils/handlers/interactions.ts
Labels: none

fix: autocomplete
  src/interactions/accept_offer.ts
  src/interactions/achievements.ts
  src/interactions/auction_buy.ts
  src/interactions/auction_buy_one.ts
  src/interactions/bake.ts
  src/interactions/block_item.ts
  src/interactions/block_user.ts
  src/interactions/car.ts
  src/interactions/craft_item.ts
  src/interactions/deny_offer.ts
  src/interactions/disable_offers.ts
  src/interactions/item.ts
  src/interactions/item_buy.ts
  src/interactions/item_global.ts
  src/interactions/item_ks.ts
  src/interactions/reaction_role.ts
  src/interactions/vote_crates.ts
  src/interactions/workers_claim.ts
  src/utils/handlers/interactions.ts
Labels: none

fix: autocomplete
  src/interactions/accept_offer.ts
  src/interactions/achievements.ts
  src/interactions/auction_buy.ts
  src/interactions/auction_buy_one.ts
  src/interactions/bake.ts
  src/interactions/block_item.ts
  src/interactions/block_user.ts
  src/interactions/car.ts
  src/interactions/craft_item.ts
  src/interactions/deny_offer.ts
  src/interactions/disable_offers.ts
  src/interactions/item.ts
  src/interactions/item_buy.ts
  src/interactions/item_global.ts
  src/interactions/item_ks.ts
  src/interactions/reaction_role.ts
  src/interactions/vote_crates.ts
  src/interactions/workers_claim.ts
  src/utils/handlers/interactions.ts
Labels: none

refactor: increase cost of cscratch
  data/items.json
Labels: none

refactor: increase cost of cscratch
  data/items.json
Labels: none

refactor: increase cost of cscratch
  data/items.json
Labels: none

fix: inventory filter issue
  src/commands/inventory.ts
Labels: commands

fix: inventory filter issue
  src/commands/inventory.ts
Labels: commands

fix: inventory filter issue
  src/commands/inventory.ts
Labels: commands

fix: prevent dont let people offer themselves
  src/commands/offer.ts
Labels: commands

fix: prevent dont let people offer themselves
  src/commands/offer.ts
Labels: commands

fix: prevent dont let people offer themselves
  src/commands/offer.ts
Labels: commands

feat: at sold and soldat field
  prisma/schema.prisma
Labels: schema

feat: migration
  prisma/migrations/20230328112837_/migration.sql
  src/types/Chart.ts
  src/utils/functions/workers/auctionhistory.ts
Labels: schema

refactor: rename variable
  src/utils/functions/workers/auctionhistory.ts
Labels: none

fix: use sold thing
  src/interactions/accept_offer.ts
  src/interactions/deny_offer.ts
  src/utils/functions/economy/offers.ts
Labels: economy

fix: questionable
  src/types/Chart.ts
Labels: none

fix: delete offers
  src/scheduled/clusterjobs/checkauctions.ts
  src/utils/functions/economy/utils.ts
Labels: economy, scheduled

refactor: rename file
  src/utils/functions/economy/auctions.ts
  src/utils/functions/workers/itemhistory.ts
Labels: economy

feat: track global item counts
  src/scheduled/jobs/topsnapshot.ts
Labels: scheduled

feat: hmhmhmhm
  src/utils/functions/workers/itemhistory.ts
Labels: none

feat: kinda works?
  src/utils/functions/workers/itemhistory.ts
Labels: none

feat: change appearance
  src/types/Chart.ts
  src/utils/functions/workers/itemhistory.ts
Labels: none

feat: embeds for accept/deny
  src/interactions/accept_offer.ts
  src/interactions/deny_offer.ts
Labels: none

refactor: use tag instead of mention
  src/commands/offer.ts
Labels: commands

feat: upgraded graphs (#961)
  prisma/migrations/20230328112837_/migration.sql
  prisma/schema.prisma
  src/commands/offer.ts
  src/interactions/accept_offer.ts
  src/interactions/deny_offer.ts
  src/scheduled/clusterjobs/checkauctions.ts
  src/scheduled/jobs/topsnapshot.ts
  src/types/Chart.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/workers/auctionhistory.ts
  src/utils/functions/workers/itemhistory.ts
Labels: economy, scheduled, commands, schema

feat: upgraded graphs (#961)
  prisma/migrations/20230328112837_/migration.sql
  prisma/schema.prisma
  src/commands/offer.ts
  src/interactions/accept_offer.ts
  src/interactions/deny_offer.ts
  src/scheduled/clusterjobs/checkauctions.ts
  src/scheduled/jobs/topsnapshot.ts
  src/types/Chart.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/workers/auctionhistory.ts
  src/utils/functions/workers/itemhistory.ts
Labels: economy, scheduled, commands, schema

feat: upgraded graphs (#961)
  prisma/migrations/20230328112837_/migration.sql
  prisma/schema.prisma
  src/commands/offer.ts
  src/interactions/accept_offer.ts
  src/interactions/deny_offer.ts
  src/scheduled/clusterjobs/checkauctions.ts
  src/scheduled/jobs/topsnapshot.ts
  src/types/Chart.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/workers/auctionhistory.ts
  src/utils/functions/workers/itemhistory.ts
Labels: economy, scheduled, commands, schema

feat: use multiple bobs
  src/utils/functions/economy/items/bob.ts
Labels: economy
