Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: forcelose
  src/commands/forcelose.ts
  src/commands/rps.ts
Labels: commands

fix: nypsi bank
  src/commands/pay.ts
  src/utils/functions/tax.ts
Labels: commands

fix: nypsi bank
  src/commands/pay.ts
  src/utils/functions/tax.ts
Labels: commands

fix: nypsi bank
  src/commands/pay.ts
  src/utils/functions/tax.ts
Labels: commands

fix: nypsi bank
  src/commands/pay.ts
  src/utils/functions/tax.ts
Labels: commands

fix: always force a captcha on hourly check
  src/utils/handlers/commandhandler.ts
Labels: none

fix: always force a captcha on hourly check
  src/utils/handlers/commandhandler.ts
Labels: none

fix: always force a captcha on hourly check
  src/utils/handlers/commandhandler.ts
Labels: none

fix: always force a captcha on hourly check
  src/utils/handlers/commandhandler.ts
Labels: none

fix: discord log colours
  src/models/DiscordLogs.ts
Labels: none

fix: discord log colours
  src/models/DiscordLogs.ts
Labels: none

fix: discord log colours
  src/models/DiscordLogs.ts
Labels: none

fix: discord log colours
  src/models/DiscordLogs.ts
Labels: none

refactor: moved game code to seperate file
  src/commands/chatreaction.ts
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction, commands

refactor: moved game code to seperate file
  src/commands/chatreaction.ts
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction, commands

feat: cr duel game code (possibly working)
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

feat: cr duel game code (possibly working)
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

feat: add duel command
  src/commands/chatreaction.ts
Labels: commands

feat: add duel command
  src/commands/chatreaction.ts
Labels: commands

fix: editing message
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: editing message
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: wording
  src/commands/chatreaction.ts
Labels: commands

fix: wording
  src/commands/chatreaction.ts
Labels: commands

fix: winnings
  src/commands/chatreaction.ts
Labels: commands

fix: winnings
  src/commands/chatreaction.ts
Labels: commands

refactor: delete request message
  src/commands/chatreaction.ts
Labels: commands

refactor: delete request message
  src/commands/chatreaction.ts
Labels: commands

fix: better message
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: better message
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

feat: game stats
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

feat: game stats
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: create game for loser too
  src/commands/coinflip.ts
Labels: commands

fix: create game for loser too
  src/commands/coinflip.ts
Labels: commands

6.5.0
  package.json
Labels: none

6.5.0
  package.json
Labels: none

fix: dont show wager if its $0
  src/utils/functions/chatreactions/game.ts
Labels: chatreaction

fix: add tax to coinflip
  src/commands/coinflip.ts
Labels: commands

feat: chat reaction duels (#928)
  package.json
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction, commands

feat: chat reaction duels (#928)
  package.json
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction, commands

feat: chat reaction duels (#928)
  package.json
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction, commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
