Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: item value endpoint
  .bruno/item value.bru
  src/api/server.ts
Labels: none

fix premium breaking bc of stupid me
  src/commands/premium.ts
Labels: commands

add ability to set tasks
  src/commands/x.ts
  src/utils/functions/economy/tasks.ts
Labels: economy, commands

move function to utils
  src/api/controllers/vote.ts
  src/commands/x.ts
  src/utils/functions/economy/vote.ts
Labels: economy, commands

feat: be able to restore streaks from x (#1986)
  src/api/controllers/vote.ts
  src/commands/x.ts
  src/utils/functions/economy/tasks.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/vote.ts
Labels: economy, commands

add play again to bankrob for gold+
  src/commands/bankrob.ts
Labels: commands

only remove mask if needed
  src/commands/bankrob.ts
Labels: commands

actually doing it like this makes more sense
  src/commands/bankrob.ts
Labels: commands

im so good at changing the log
  CHANGELOG.md
Labels: none

fix: try/catch for incorrect MemberResolvable/undefined
  src/utils/functions/member.ts
Labels: none

add more error logging to lootdrops
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

add play again to bankrob for gold+ (#1988)
  CHANGELOG.md
  src/commands/bankrob.ts
Labels: commands

import logger
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

log error
  src/utils/functions/member.ts
Labels: none

fix: try/catch for incorrect MemberResolvable/undefined (#1994)
  src/utils/functions/member.ts
Labels: none

add more error logging to lootdrops (#1995)
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

3 seconds 😈
  src/commands/bankrob.ts
Labels: commands

fix: choosing custom car in race
  src/commands/race.ts
Labels: commands

cap market price and quantity + make itemAmount Int
  prisma/migrations/20250624214253_market_caps/migration.sql
  prisma/schema.prisma
  src/commands/market.ts
  src/interactions/item_market_buy.ts
  src/interactions/item_market_sell.ts
  src/interactions/market_full.ts
  src/interactions/market_one.ts
  src/interactions/market_partial.ts
  src/scheduled/jobs/checkmarket.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/market.ts
  src/utils/functions/workers/itemhistory.ts
Labels: economy, scheduled, commands, schema

standardise dm logs
  src/utils/queues/dms.ts
Labels: none

cap market price and quantity + make itemAmount Int (#1997)
  prisma/migrations/20250624214253_market_caps/migration.sql
  prisma/schema.prisma
  src/commands/market.ts
  src/interactions/item_market_buy.ts
  src/interactions/item_market_sell.ts
  src/interactions/market_full.ts
  src/interactions/market_one.ts
  src/interactions/market_partial.ts
  src/scheduled/jobs/checkmarket.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/market.ts
  src/utils/functions/workers/itemhistory.ts
Labels: economy, scheduled, commands, schema

increase member slot requirement bonus
  src/utils/functions/economy/guilds.ts
Labels: economy

update kofi url
  README.md
  data/lists.json
  src/commands/chatreaction.ts
  src/commands/countdown.ts
  src/commands/premium.ts
  src/commands/weekly.ts
  src/utils/functions/supportrequest.ts
Labels: commands

remove palette command
  src/commands/createpalette.ts
Labels: commands

slightly nerf banana trees
  data/items.json
  data/plants.json
Labels: none

add pages to $ach view + better searching
  src/commands/achievements.ts
Labels: commands

fix crystal heart wording
  data/items.json
Labels: none

hopefully block 'help help help help help' from support tickets
  src/utils/functions/supportrequest.ts
Labels: none

better numeral search + changelog
  CHANGELOG.md
  src/commands/achievements.ts
Labels: commands

feat: add pages to $ach view + better searching (#2008)
  CHANGELOG.md
  src/commands/achievements.ts
Labels: commands

allow staff members to initiate support tickets
  CHANGELOG.md
  src/commands/x.ts
Labels: commands

potentially fix weird counts?
  src/utils/functions/economy/inventory.ts
Labels: economy

remove special give response for rings, marry command exists
  src/commands/give.ts
Labels: commands

disabled channels column
  prisma/migrations/20250704111219_disabled_channels/migration.sql
  prisma/schema.prisma
Labels: schema

functions
  src/utils/functions/guilds/channels.ts
Labels: guild

actually disable the command
  src/utils/handlers/commandhandler.ts
Labels: none

command thing
  src/commands/settings.ts
Labels: commands

slash command bits
  src/commands/settings.ts
Labels: commands

cleanup
  src/commands/settings.ts
Labels: commands

oopsies
  src/commands/settings.ts
Labels: commands
