Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: dollar sign from item logging (#823)
  src/commands/pay.ts
  src/utils/logger.ts
Labels: commands

fix: dollar sign from item logging (#823)
  src/commands/pay.ts
  src/utils/logger.ts
Labels: commands

fix: dollar sign from item logging (#823)
  src/commands/pay.ts
  src/utils/logger.ts
Labels: commands

fix: automute
  src/commands/use.ts
  src/utils/functions/guilds/filters.ts
Labels: guild, commands

fix: automute
  src/commands/use.ts
  src/utils/functions/guilds/filters.ts
Labels: guild, commands

fix: automute
  src/commands/use.ts
  src/utils/functions/guilds/filters.ts
Labels: guild, commands

fix: prevent using more than max
  src/commands/use.ts
Labels: commands

fix: prevent using more than max
  src/commands/use.ts
Labels: commands

fix: all boosters expire at same time
  src/utils/functions/economy/boosters.ts
Labels: economy

fix: prevent using more than max
  src/commands/use.ts
Labels: commands

fix: all boosters expire at same time
  src/utils/functions/economy/boosters.ts
Labels: economy

fix: automute
  src/commands/use.ts
  src/utils/functions/guilds/filters.ts
Labels: guild, commands

fix: prevent using more than max
  src/commands/use.ts
Labels: commands

fix: all boosters expire at same time
  src/utils/functions/economy/boosters.ts
Labels: economy

fix: all boosters expire at same time
  src/utils/functions/economy/boosters.ts
Labels: economy

5.7.11
  package-lock.json
  package.json
Labels: none

5.7.11
  package-lock.json
  package.json
Labels: none

5.7.11
  package-lock.json
  package.json
Labels: none

5.7.11
  package-lock.json
  package.json
Labels: none

feat: networth uses customisable number
  data/notifications.json
  prisma/schema.prisma
  src/commands/settings.ts
  src/utils/functions/economy/balance.ts
Labels: economy, commands, schema

feat: networth uses customisable number
  data/notifications.json
  prisma/schema.prisma
  src/commands/settings.ts
  src/utils/functions/economy/balance.ts
Labels: economy, commands, schema

chore: replace deprecated class
  src/commands/auction.ts
  src/commands/bankrob.ts
  src/commands/settings.ts
  src/commands/workers.ts
Labels: commands

chore: replace deprecated class
  src/commands/auction.ts
  src/commands/bankrob.ts
  src/commands/settings.ts
  src/commands/workers.ts
Labels: commands

feat: use redis for requiring captcha
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/Constants.ts
  src/utils/functions/captcha.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

feat: use redis for requiring captcha
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/Constants.ts
  src/utils/functions/captcha.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

feat: use redis for requiring captcha
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/Constants.ts
  src/utils/functions/captcha.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

feat: use redis for requiring captcha
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/Constants.ts
  src/utils/functions/captcha.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

fix: add filter to inventory footer when used in command
  src/commands/inventory.ts
Labels: commands

fix: add filter to inventory footer when used in command
  src/commands/inventory.ts
Labels: commands

fix: add filter to inventory footer when used in command
  src/commands/inventory.ts
Labels: commands

fix: add filter to inventory footer when used in command
  src/commands/inventory.ts
Labels: commands

feat: add blacklisted column to user
  prisma/schema.prisma
Labels: schema

feat: blacklist redis key
  src/utils/Constants.ts
Labels: none

feat: functions for blacklisted users
  src/utils/functions/users/blacklist.ts
Labels: users

feat: blacklist command
  src/commands/bluser.ts
Labels: commands

feat: remove ability for blacklisted members to communicate with bot
  src/events/interactionCreate.ts
  src/events/message.ts
  src/utils/functions/economy/top.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, events

fix: command
  src/commands/bluser.ts
Labels: commands

feat: add blacklisted users (#824)
  prisma/schema.prisma
  src/commands/bluser.ts
  src/events/interactionCreate.ts
  src/events/message.ts
  src/utils/Constants.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/users/blacklist.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, users, commands, events, schema

feat: add blacklisted users (#824)
  prisma/schema.prisma
  src/commands/bluser.ts
  src/events/interactionCreate.ts
  src/events/message.ts
  src/utils/Constants.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/users/blacklist.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, users, commands, events, schema

feat: update bump auction function
  src/utils/functions/economy/auctions.ts
Labels: economy

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
