Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

only allow specific channels for loot rains
  src/scheduled/clusterjobs/random-drops.ts
  src/utils/Constants.ts
  src/utils/functions/economy/items/rain.ts
Labels: economy, scheduled

only allow specific channels for loot rains
  src/scheduled/clusterjobs/random-drops.ts
  src/utils/Constants.ts
  src/utils/functions/economy/items/rain.ts
Labels: economy, scheduled

don't do random drops sequentially
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

don't do random drops sequentially
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

fix: don't use delete on components
  src/commands/z.ts
Labels: commands

fix: don't use delete on components
  src/commands/z.ts
Labels: commands

fix: more specific leaderboard choosing
  src/commands/top.ts
Labels: commands

fix: more specific leaderboard choosing
  src/commands/top.ts
Labels: commands

3 week cache
  src/utils/functions/gtf/game.ts
Labels: none

3 week cache
  src/utils/functions/gtf/game.ts
Labels: none

refactor: loot pools in separate file
  data/items.json
  data/loot_pools.json
  src/types/Economy.ts
  src/types/LootPool.ts
Labels: none

refactor: crate opening logic
  data/items.json
  src/types/Economy.ts
  src/types/LootPool.ts
  src/utils/functions/economy/loot_pools.ts
  src/utils/functions/economy/utils.ts
Labels: economy

i wish .catch() caught the error and did nothing ):
  src/utils/functions/gtf/game.ts
Labels: none

i wish .catch() caught the error and did nothing ):
  src/utils/functions/gtf/game.ts
Labels: none

increase lottery tickets per vote with vote streak
  src/utils/handlers/webhookhandler.ts
Labels: none

increase lottery tickets per vote with vote streak
  src/utils/handlers/webhookhandler.ts
Labels: none

refactor: crate opening message
  src/utils/functions/economy/items/crates.ts
Labels: economy

refactor: vote crate opening too
  src/interactions/vote_crates.ts
Labels: none

refactor: random drops
  data/loot_pools.json
  src/scheduled/clusterjobs/random-drops.ts
  src/utils/functions/economy/loot_pools.ts
Labels: economy, scheduled

refactor: scratchies
  data/items.json
  data/loot_pools.json
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: crates working
  src/utils/functions/economy/items/crates.ts
  src/utils/functions/economy/loot_pools.ts
Labels: economy

fix: vertical scratch finds working
  src/utils/functions/economy/scratchies.ts
Labels: economy

fix: 69420 working + correct item weight
  src/scheduled/clusterjobs/random-drops.ts
  src/utils/functions/economy/loot_pools.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy, scheduled

fix: miscellaneous fixes
  src/scheduled/clusterjobs/random-drops.ts
  src/utils/functions/economy/loot_pools.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy, scheduled

refactor: delete old crate opening function
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: reroll token rarer in loot drop
  data/loot_pools.json
Labels: none

fix: correct odds for basic and nypsi crates
  data/loot_pools.json
  src/utils/functions/economy/loot_pools.ts
Labels: economy

refactor: wcrate and bcrate
  src/utils/functions/economy/loot_pools.ts
  src/utils/functions/economy/utils.ts
Labels: economy

fix: correct loot pool result descriptions
  src/utils/functions/economy/loot_pools.ts
Labels: economy

fix: unique items are actually unique
  src/scheduled/clusterjobs/random-drops.ts
  src/utils/functions/economy/loot_pools.ts
  src/utils/functions/economy/scratchies.ts
Labels: economy, scheduled

refactor: fix indentation
  src/utils/functions/economy/loot_pools.ts
Labels: economy

fix: support random gem shard amount in gem crate
  data/loot_pools.json
  src/types/LootPool.ts
  src/utils/functions/economy/loot_pools.ts
Labels: economy

refactor: optional exclusions in loot pool
  src/utils/functions/economy/loot_pools.ts
Labels: economy

fix: tests and linting
  src/utils/functions/economy/loot_pools.ts
  src/utils/functions/economy/scratchies.ts
  test/items.test.js
  test/lootPools.test.js
Labels: economy

formatting
  data/loot_pools.json
  src/interactions/vote_crates.ts
  src/scheduled/clusterjobs/random-drops.ts
  src/types/Economy.ts
  src/types/LootPool.ts
  src/types/Workers.ts
  src/utils/functions/economy/items/crates.ts
  src/utils/functions/economy/loot_pools.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/workers.ts
  test/lootPools.test.js
Labels: economy, scheduled

refactor: crates logic (#1790)
  data/items.json
  data/loot_pools.json
  src/interactions/vote_crates.ts
  src/scheduled/clusterjobs/random-drops.ts
  src/types/Economy.ts
  src/types/LootPool.ts
  src/types/Workers.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/items/crates.ts
  src/utils/functions/economy/loot_pools.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/workers.ts
  test/items.test.js
  test/lootPools.test.js
Labels: economy, scheduled

refactor: crates logic (#1790)
  data/items.json
  data/loot_pools.json
  src/interactions/vote_crates.ts
  src/scheduled/clusterjobs/random-drops.ts
  src/types/Economy.ts
  src/types/LootPool.ts
  src/types/Workers.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/items/crates.ts
  src/utils/functions/economy/loot_pools.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/workers.ts
  test/items.test.js
  test/lootPools.test.js
Labels: economy, scheduled

create user if not exists
  src/utils/functions/users/notifications.ts
Labels: users

create user if not exists
  src/utils/functions/users/notifications.ts
Labels: users

fix: furnace emoji
  src/commands/smelt.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
