Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

missing bracket
  data/items.json
Labels: none

don't update userid
  src/utils/functions/economy/auctions.ts
Labels: economy

don't update userid
  src/utils/functions/economy/auctions.ts
Labels: economy

buff crash
  src/utils/functions/economy/crash.ts
Labels: economy

buff crash
  src/utils/functions/economy/crash.ts
Labels: economy

remove wholesome achievement
  data/achievements.json
Labels: none

remove wholesome achievement
  data/achievements.json
Labels: none

catch error
  src/commands/auction.ts
Labels: commands

catch error
  src/commands/auction.ts
Labels: commands

add /karmashop help and update karma help information
  src/commands/karmahelp.ts
  src/commands/karmashop.ts
Labels: commands

add /karmashop help and update karma help information
  src/commands/karmahelp.ts
  src/commands/karmashop.ts
Labels: commands

add wiki command
  src/commands/wiki.ts
Labels: commands

add wiki command
  src/commands/wiki.ts
Labels: commands

return undefined if no value has been given yet
  src/commands/auction.ts
  src/commands/item.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/inventory.ts
Labels: economy, commands

return undefined if no value has been given yet
  src/commands/auction.ts
  src/commands/item.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/inventory.ts
Labels: economy, commands

allow item value from last season
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
Labels: economy

allow item value from last season
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
Labels: economy

add dodge charger skin
  data/items.json
Labels: none

add dodge charger skin
  data/items.json
Labels: none

fix description grrr
  data/items.json
Labels: none

fix description grrr
  data/items.json
Labels: none

fix: prevent negative or 0 item coinflips
  src/commands/coinflip.ts
Labels: commands

fix: prevent negative or 0 item coinflips
  src/commands/coinflip.ts
Labels: commands

vote streak leaderboard
  src/commands/top.ts
  src/utils/functions/economy/top.ts
Labels: economy, commands

vote streak leaderboard
  src/commands/top.ts
  src/utils/functions/economy/top.ts
Labels: economy, commands

improve item select function
  src/utils/functions/economy/inventory.ts
Labels: economy

improve item select function
  src/utils/functions/economy/inventory.ts
Labels: economy

sort boosters alphabetically
  src/commands/boosters.ts
  src/commands/use.ts
Labels: commands

sort boosters alphabetically
  src/commands/boosters.ts
  src/commands/use.ts
Labels: commands

can pause streaks from being lost
  src/commands/streakpause.ts
  src/scheduled/jobs/streaks.ts
Labels: scheduled, commands

can pause streaks from being lost
  src/commands/streakpause.ts
  src/scheduled/jobs/streaks.ts
Labels: scheduled, commands

only use month votes for top vote global
  src/utils/functions/economy/top.ts
Labels: economy

only use month votes for top vote global
  src/utils/functions/economy/top.ts
Labels: economy

add xiaojie cat
  data/items.json
Labels: none

add xiaojie cat
  data/items.json
Labels: none

fix: missing bracket
  src/commands/item.ts
Labels: commands

fix: missing bracket
  src/commands/item.ts
Labels: commands

increase money in omegas
  data/items.json
Labels: none

increase money in omegas
  data/items.json
Labels: none

Shifted 2 brackets
  src/commands/item.ts
Labels: commands
