Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

3 concurrent dms
  src/utils/handlers/notificationhandler.ts
Labels: none

log size of member find cache
  src/utils/functions/member.ts
Labels: none

log size of member find cache
  src/utils/functions/member.ts
Labels: none

locale string 😁
  src/utils/functions/member.ts
Labels: none

locale string 😁
  src/utils/functions/member.ts
Labels: none

delete mentions older than a week
  src/scheduled/jobs/purge.ts
Labels: scheduled

delete mentions older than a week
  src/scheduled/jobs/purge.ts
Labels: scheduled

usernames stay for 900 days
  src/scheduled/jobs/purge.ts
Labels: scheduled

usernames stay for 900 days
  src/scheduled/jobs/purge.ts
Labels: scheduled

add col for multiple prefixes
  prisma/migrations/20240601174412_prefixes/migration.sql
  prisma/schema.prisma
Labels: schema

add col for multiple prefixes
  prisma/migrations/20240601174412_prefixes/migration.sql
  prisma/schema.prisma
Labels: schema

prefix migration
  src/commands/x.ts
Labels: commands

prefix migration
  src/commands/x.ts
Labels: commands

make rarity 6 rarer
  src/utils/functions/economy/inventory.ts
Labels: economy

make rarity 6 rarer
  src/utils/functions/economy/inventory.ts
Labels: economy

use parent id instead of channel id
  src/events/message.ts
Labels: events

use parent id instead of channel id
  src/events/message.ts
Labels: events

nerf again holy smokes
  src/commands/mines.ts
Labels: commands

nerf again holy smokes
  src/commands/mines.ts
Labels: commands

increase minimum bombs
  src/commands/mines.ts
Labels: commands

increase minimum bombs
  src/commands/mines.ts
Labels: commands

max 7 bombs
  src/commands/mines.ts
Labels: commands

max 7 bombs
  src/commands/mines.ts
Labels: commands

use parentid for premium clean
  src/commands/clean.ts
Labels: commands

use parentid for premium clean
  src/commands/clean.ts
Labels: commands

new functions
  src/utils/functions/chatreactions/words.ts
Labels: chatreaction

new word lists
  data/chatreaction/english_10k.txt
  data/chatreaction/english_1k.txt
  data/chatreaction/english_5k.txt
  data/chatreaction/old.txt
Labels: none

cache things
  src/utils/Constants.ts
Labels: none

db changes
  prisma/migrations/20240602143122_cr_word_lists/migration.sql
  prisma/schema.prisma
Labels: schema

command changes
  src/commands/chatreaction.ts
Labels: commands

8.1.0
  package.json
Labels: none

buff increment
  src/commands/mines.ts
Labels: commands

buff increment
  src/commands/mines.ts
Labels: commands

change getprefix function
  src/utils/functions/guilds/utils.ts
Labels: guild

prefix check
  src/events/message.ts
Labels: events

fix npx tsc stuff
  src/commands/clean.ts
  src/commands/purge.ts
  src/commands/wordle.ts
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled, commands

new prefix command
  src/commands/prefix.ts
  src/events/guildDelete.ts
  src/events/message.ts
  src/utils/functions/guilds/utils.ts
Labels: guild, commands, events

feat: multiple chat reaction word lists (#1486)
  data/chatreaction/english_10k.txt
  data/chatreaction/english_1k.txt
  data/chatreaction/english_5k.txt
  data/chatreaction/old.txt
  package.json
  prisma/migrations/20240602143122_cr_word_lists/migration.sql
  prisma/schema.prisma
  src/commands/chatreaction.ts
  src/utils/Constants.ts
  src/utils/functions/chatreactions/words.ts
Labels: chatreaction, commands, schema

feat: multiple chat reaction word lists (#1486)
  data/chatreaction/english_10k.txt
  data/chatreaction/english_1k.txt
  data/chatreaction/english_5k.txt
  data/chatreaction/old.txt
  package.json
  prisma/migrations/20240602143122_cr_word_lists/migration.sql
  prisma/schema.prisma
  src/commands/chatreaction.ts
  src/utils/Constants.ts
  src/utils/functions/chatreactions/words.ts
Labels: chatreaction, commands, schema

update lockfile
  pnpm-lock.yaml
Labels: none
