Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

fix: percentchance for ks gem
  src/commands/karmashop.ts
Labels: commands

fix: percentchance for ks gem
  src/commands/karmashop.ts
Labels: commands

fix: 5% booster
  src/commands/vote.ts
Labels: commands

fix: 5% booster
  src/commands/vote.ts
Labels: commands

fix: 5% booster
  src/commands/vote.ts
Labels: commands

fix: 5% booster
  src/commands/vote.ts
Labels: commands

feat: new member booster
  data/items.json
  src/commands/give.ts
  src/types/Economy.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands

feat: new member booster
  data/items.json
  src/commands/give.ts
  src/types/Economy.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands

feat: new member booster
  data/items.json
  src/commands/give.ts
  src/types/Economy.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands

feat: new member booster
  data/items.json
  src/commands/give.ts
  src/types/Economy.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands

feat: pages for boosters
  src/commands/boosters.ts
  src/commands/use.ts
Labels: commands

feat: pages for boosters
  src/commands/boosters.ts
  src/commands/use.ts
Labels: commands

feat: pages for boosters
  src/commands/boosters.ts
  src/commands/use.ts
Labels: commands

feat: pages for boosters
  src/commands/boosters.ts
  src/commands/use.ts
Labels: commands

feat: add 'in auction' to item command
  src/commands/item.ts
  src/utils/functions/economy/auctions.ts
Labels: economy, commands

feat: add 'in auction' to item command
  src/commands/item.ts
  src/utils/functions/economy/auctions.ts
Labels: economy, commands

feat: add 'in auction' to item command
  src/commands/item.ts
  src/utils/functions/economy/auctions.ts
Labels: economy, commands

feat: add 'in auction' to item command
  src/commands/item.ts
  src/utils/functions/economy/auctions.ts
Labels: economy, commands

5.7.4
  package-lock.json
  package.json
Labels: none

5.7.4
  package-lock.json
  package.json
Labels: none

5.7.4
  package-lock.json
  package.json
Labels: none

5.7.4
  package-lock.json
  package.json
Labels: none

feat: add difficulty to tower outcome
  src/commands/tower.ts
Labels: commands

feat: add difficulty to tower outcome
  src/commands/tower.ts
Labels: commands

fix: payment logs
  src/commands/give.ts
  src/commands/pay.ts
  src/utils/logger.ts
Labels: commands

fix: payment logs
  src/commands/give.ts
  src/commands/pay.ts
  src/utils/logger.ts
Labels: commands

fix: payment logs
  src/commands/give.ts
  src/commands/pay.ts
  src/utils/logger.ts
Labels: commands

fix: payment logs
  src/commands/give.ts
  src/commands/pay.ts
  src/utils/logger.ts
Labels: commands

refactor: logs every 5s
  src/utils/logger.ts
Labels: none

refactor: logs every 5s
  src/utils/logger.ts
Labels: none

refactor: logs every 5s
  src/utils/logger.ts
Labels: none

refactor: logs every 5s
  src/utils/logger.ts
Labels: none

fix: rarer
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: rarer
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: rarer
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: rarer
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: rarer
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: rarer
  src/utils/functions/economy/inventory.ts
Labels: economy

fix: remove invalid premium roles
  src/commands/premium.ts
Labels: commands

fix: remove invalid premium roles
  src/commands/premium.ts
Labels: commands
