Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

feat: add multi to lscratch
  data/items.json
Labels: none

feat: add multi to lscratch
  data/items.json
Labels: none

feat: add multi to lscratch
  data/items.json
Labels: none

feat: make gem sell price be the same as selling the shards required
  data/items.json
Labels: none

feat: make gem sell price equal to selling the shards required (#1169)
  data/items.json
Labels: none

feat: make gem sell price equal to selling the shards required (#1169)
  data/items.json
Labels: none

feat: make gem sell price equal to selling the shards required (#1169)
  data/items.json
Labels: none

refactor: dont fetch roles
  src/commands/createpalette.ts
  src/commands/inrole.ts
  src/commands/mute.ts
  src/commands/muterole.ts
  src/commands/role.ts
  src/commands/unmute.ts
  src/events/channelCreate.ts
  src/events/guildMemberAdd.ts
  src/events/guildMemberUpdate.ts
  src/models/PremStorage.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/guilds/reactionroles.ts
  src/utils/functions/member.ts
  src/utils/functions/moderation/mute.ts
  src/utils/handlers/interactions.ts
Labels: guild, moderation, commands, events

refactor: dont fetch roles
  src/commands/createpalette.ts
  src/commands/inrole.ts
  src/commands/mute.ts
  src/commands/muterole.ts
  src/commands/role.ts
  src/commands/unmute.ts
  src/events/channelCreate.ts
  src/events/guildMemberAdd.ts
  src/events/guildMemberUpdate.ts
  src/models/PremStorage.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/guilds/reactionroles.ts
  src/utils/functions/member.ts
  src/utils/functions/moderation/mute.ts
  src/utils/handlers/interactions.ts
Labels: guild, moderation, commands, events

refactor: dont fetch roles
  src/commands/createpalette.ts
  src/commands/inrole.ts
  src/commands/mute.ts
  src/commands/muterole.ts
  src/commands/role.ts
  src/commands/unmute.ts
  src/events/channelCreate.ts
  src/events/guildMemberAdd.ts
  src/events/guildMemberUpdate.ts
  src/models/PremStorage.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/guilds/reactionroles.ts
  src/utils/functions/member.ts
  src/utils/functions/moderation/mute.ts
  src/utils/handlers/interactions.ts
Labels: guild, moderation, commands, events

refactor: ughhh
  src/commands/sex.ts
  src/events/userUpdate.ts
  src/index.ts
Labels: commands, events

refactor: ughhh
  src/commands/sex.ts
  src/events/userUpdate.ts
  src/index.ts
Labels: commands, events

refactor: ughhh
  src/commands/sex.ts
  src/events/userUpdate.ts
  src/index.ts
Labels: commands, events

fix: prevent silly stupid thing
  src/utils/functions/moderation/logs.ts
Labels: moderation

fix: prevent silly stupid thing
  src/utils/functions/moderation/logs.ts
Labels: moderation

fix: prevent silly stupid thing
  src/utils/functions/moderation/logs.ts
Labels: moderation

feat: can make bot leave guild
  src/commands/find.ts
Labels: commands

feat: can make bot leave guild
  src/commands/find.ts
Labels: commands

feat: can make bot leave guild
  src/commands/find.ts
Labels: commands

fix: ugghHHH
  src/commands/find.ts
Labels: commands

fix: ugghHHH
  src/commands/find.ts
Labels: commands

fix: ugghHHH
  src/commands/find.ts
Labels: commands

fix: better cache settings?
  src/nypsi.ts
Labels: none

fix: better cache settings?
  src/nypsi.ts
Labels: none

fix: better cache settings?
  src/nypsi.ts
Labels: none

refactor: use the prisma extension api
  src/commands/stats.ts
  src/init/database.ts
Labels: commands

refactor: use the prisma extension api
  src/commands/stats.ts
  src/init/database.ts
Labels: commands

refactor: use the prisma extension api
  src/commands/stats.ts
  src/init/database.ts
Labels: commands

refactor: use performance.now
  src/utils/functions/chatreactions/game.ts
  src/utils/handlers/commandhandler.ts
Labels: chatreaction

refactor: use performance.now
  src/utils/functions/chatreactions/game.ts
  src/utils/handlers/commandhandler.ts
Labels: chatreaction

refactor: use performance.now
  src/utils/functions/chatreactions/game.ts
  src/utils/handlers/commandhandler.ts
Labels: chatreaction

6.9.3
  package.json
Labels: none

6.9.3
  package.json
Labels: none

6.9.3
  package.json
Labels: none

refactor: make discordian easier
  data/achievements.json
Labels: none

refactor: make discordian easier
  data/achievements.json
Labels: none

refactor: make discordian easier
  data/achievements.json
Labels: none

fix: warn
  src/init/database.ts
Labels: none

fix: warn
  src/init/database.ts
Labels: none

fix: warn
  src/init/database.ts
Labels: none

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
