Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

ci(test): update packages
  .github/workflows/ci.yml
Labels: ci

ci: deploy to bot code
  .github/workflows/ci.yml
Labels: ci

ci: deploy to bot code
  .github/workflows/ci.yml
Labels: ci

ci: deploy to bot code
  .github/workflows/ci.yml
Labels: ci

ci: deploy to bot code
  .github/workflows/ci.yml
Labels: ci

5.7.10
  package-lock.json
  package.json
Labels: none

5.7.10
  package-lock.json
  package.json
Labels: none

5.7.10
  package-lock.json
  package.json
Labels: none

5.7.10
  package-lock.json
  package.json
Labels: none

feat: bitch item
  data/items.json
Labels: none

feat: bitch use
  src/utils/functions/economy/items/bitch.ts
Labels: economy

feat: coded bitches (#816)
  data/items.json
  src/utils/functions/economy/items/bitch.ts
Labels: economy

feat: coded bitches (#816)
  data/items.json
  src/utils/functions/economy/items/bitch.ts
Labels: economy

fix: 100 results
  src/utils/functions/economy/top.ts
Labels: economy

fix: 100 results
  src/utils/functions/economy/top.ts
Labels: economy

fix: 100 results
  src/utils/functions/economy/top.ts
Labels: economy

fix: 100 results
  src/utils/functions/economy/top.ts
Labels: economy

fix: show id if unknown tag
  src/utils/functions/economy/top.ts
Labels: economy

fix: show id if unknown tag
  src/utils/functions/economy/top.ts
Labels: economy

fix: show id if unknown tag
  src/utils/functions/economy/top.ts
Labels: economy

fix: show id if unknown tag
  src/utils/functions/economy/top.ts
Labels: economy

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

feat: adjust requirements for give & auctions
  src/commands/auction.ts
  src/commands/give.ts
Labels: commands

feat: adjust requirements for give & auctions
  src/commands/auction.ts
  src/commands/give.ts
Labels: commands

feat: adjust requirements for give & auctions
  src/commands/auction.ts
  src/commands/give.ts
Labels: commands

feat: adjust requirements for give & auctions
  src/commands/auction.ts
  src/commands/give.ts
Labels: commands

refactor: improve premium role management
  src/commands/premium.ts
Labels: commands

refactor: improve premium role management
  src/commands/premium.ts
Labels: commands

refactor: improve premium role management
  src/commands/premium.ts
Labels: commands

refactor: improve premium role management
  src/commands/premium.ts
Labels: commands

fix: prevent errors
  src/commands/premium.ts
Labels: commands

fix: prevent errors
  src/commands/premium.ts
Labels: commands

fix: prevent errors
  src/commands/premium.ts
Labels: commands

fix: prevent errors
  src/commands/premium.ts
Labels: commands

refactor: removes dollar sign from item logging
  src/utils/logger.ts
Labels: none

refactor: remove dollar sign from item logging
  src/commands/pay.ts
Labels: commands

fix: dollar sign from item logging (#823)
  src/commands/pay.ts
  src/utils/logger.ts
Labels: commands

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
