Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

fix: use createmany
  src/commands/lottery.ts
Labels: commands

fix: use createmany
  src/commands/lottery.ts
Labels: commands

refactor: reduce chances
  data/items.json
Labels: none

refactor: reduce chances
  data/items.json
Labels: none

refactor: reduce chances
  data/items.json
Labels: none

refactor: reduce chances
  data/items.json
Labels: none

refactor: reduce odds
  data/items.json
Labels: none

refactor: reduce odds
  data/items.json
Labels: none

refactor: reduce odds
  data/items.json
Labels: none

refactor: reduce odds
  data/items.json
Labels: none

feat: nerf corner shop scratchie
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: nerf corner shop scratchie
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: nerf corner shop scratchie
  src/utils/functions/economy/scratchies.ts
Labels: economy

feat: nerf corner shop scratchie
  src/utils/functions/economy/scratchies.ts
Labels: economy

perf: concurrent promises
  src/commands/balance.ts
Labels: commands

perf: concurrent promises
  src/commands/balance.ts
Labels: commands

perf: concurrent promises
  src/commands/balance.ts
Labels: commands

perf: concurrent promises
  src/commands/balance.ts
Labels: commands

perf: padlock cache
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
Labels: economy

perf: padlock cache
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
Labels: economy

perf: padlock cache
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
Labels: economy

perf: padlock cache
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
Labels: economy

perf: longer cache
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/balance.ts
Labels: economy

perf: longer cache
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/balance.ts
Labels: economy

perf: longer cache
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/balance.ts
Labels: economy

perf: longer cache
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/balance.ts
Labels: economy

chore: fix typings
  src/models/Client.ts
Labels: none

feat: sorting search results
  src/utils/functions/workers/logsearch.ts
Labels: none

feat: sorting search results
  src/utils/functions/workers/logsearch.ts
Labels: none

feat: sorting search results
  src/utils/functions/workers/logsearch.ts
Labels: none

feat: sorting search results
  src/utils/functions/workers/logsearch.ts
Labels: none

feat: better file log timestamp format
  src/utils/functions/workers/logsearch.ts
  src/utils/logger.ts
Labels: none

feat: better file log timestamp format
  src/utils/functions/workers/logsearch.ts
  src/utils/logger.ts
Labels: none

feat: better file log timestamp format
  src/utils/functions/workers/logsearch.ts
  src/utils/logger.ts
Labels: none

feat: better file log timestamp format
  src/utils/functions/workers/logsearch.ts
  src/utils/logger.ts
Labels: none

fix: slower mass roles
  src/commands/role.ts
Labels: commands

fix: slower mass roles
  src/commands/role.ts
Labels: commands

fix: slower mass roles
  src/commands/role.ts
Labels: commands

fix: slower mass roles
  src/commands/role.ts
Labels: commands

6.2.4
  package.json
Labels: none

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**
