Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

style: prettier
  src/commands/mines.ts
Labels: commands

style: prettier
  src/commands/mines.ts
Labels: commands

style: prettier
  src/commands/mines.ts
Labels: commands

style: prettier
  src/commands/mines.ts
Labels: commands

fix: better kofi logs
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: better kofi logs
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: better kofi logs
  src/utils/handlers/webhookhandler.ts
Labels: none

fix: better kofi logs
  src/utils/handlers/webhookhandler.ts
Labels: none

feat: slight tower nerf
  src/commands/tower.ts
Labels: commands

feat: slight tower nerf
  src/commands/tower.ts
Labels: commands

feat: slight tower nerf
  src/commands/tower.ts
Labels: commands

feat: slight tower nerf
  src/commands/tower.ts
Labels: commands

fix: remove tekoh.net from presence
  src/utils/functions/presence.ts
Labels: none

fix: remove tekoh.net from presence
  src/utils/functions/presence.ts
Labels: none

fix: remove tekoh.net from presence
  src/utils/functions/presence.ts
Labels: none

fix: remove tekoh.net from presence
  src/utils/functions/presence.ts
Labels: none

fix: kofi log
  src/utils/functions/users/email.ts
Labels: users

fix: kofi log
  src/utils/functions/users/email.ts
Labels: users

fix: kofi log
  src/utils/functions/users/email.ts
Labels: users

fix: kofi log
  src/utils/functions/users/email.ts
Labels: users

fix: catch weird embed errors?
  src/scheduled/clusterjobs/workers.ts
Labels: scheduled

fix: catch weird embed errors?
  src/scheduled/clusterjobs/workers.ts
Labels: scheduled

fix: catch weird embed errors?
  src/scheduled/clusterjobs/workers.ts
Labels: scheduled

fix: catch weird embed errors?
  src/scheduled/clusterjobs/workers.ts
Labels: scheduled

refactor: move buy auction to own function
  src/events/interactionCreate.ts
  src/utils/functions/economy/auctions.ts
Labels: economy, events

fix: check balance before modal
  src/utils/functions/economy/auctions.ts
Labels: economy

feat: return as eco banned when blacklisted
  src/utils/functions/economy/utils.ts
Labels: economy

refactor: aaa idk
  src/events/interactionCreate.ts
  src/utils/functions/economy/auctions.ts
Labels: economy, events

feat: add buy one button when more than 1 item in auction
  src/utils/functions/economy/auctions.ts
Labels: economy

feat: ability to buy one item from auction
  src/events/interactionCreate.ts
  src/utils/functions/economy/auctions.ts
Labels: economy, events

fix: price of 1 item and give 1 item
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: formatting
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: no interaction failed
  src/utils/functions/economy/auctions.ts
Labels: economy

feat: better dm system to prevent spam
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: no crossposting!
  src/utils/functions/economy/auctions.ts
Labels: economy

refactor: remove buy one confirmation
  src/utils/functions/economy/auctions.ts
Labels: economy

fix: dm formatting
  src/utils/functions/economy/auctions.ts
Labels: economy

feat: ability to buy one item from an auction (#899)
  src/events/interactionCreate.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/utils.ts
Labels: economy, events

feat: ability to buy one item from an auction (#899)
  src/events/interactionCreate.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/utils.ts
Labels: economy, events

feat: ability to buy one item from an auction (#899)
  src/events/interactionCreate.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/utils.ts
Labels: economy, events
