Repository mxz7/nypsi, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, economy, chatreaction, guild, karma, moderation, premium, users, scheduled, commands, events, schema

.github/labeler.yml:

build: tsconfig.json

ci: .github/**

economy: src/utils/functions/economy/**

chatreaction: src/utils/functions/chatreactions/**

guild: src/utils/functions/guilds/**

karma: src/utils/functions/karma/**

moderation: src/utils/functions/moderation/**

premium: src/utils/functions/premium/**

users: src/utils/functions/users/**

scheduled: src/scheduled/**

commands: src/commands/**

events: src/events/**

schema: prisma/**

refactor: embed appearance
  src/commands/settings.ts
Labels: commands

refactor: remove karma from user command
  src/commands/user.ts
Labels: commands

6.3.0
  package.json
Labels: none

feat: passive mode (#881)
  package.json
  prisma/migrations/20230118125106_/migration.sql
  prisma/schema.prisma
  src/commands/rob.ts
  src/commands/settings.ts
  src/commands/user.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/items/handcuffs.ts
  src/utils/functions/economy/items/lock_pick.ts
  src/utils/functions/economy/items/radio.ts
  src/utils/functions/economy/passive.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands, schema

feat: passive mode (#881)
  package.json
  prisma/migrations/20230118125106_/migration.sql
  prisma/schema.prisma
  src/commands/rob.ts
  src/commands/settings.ts
  src/commands/user.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/items/handcuffs.ts
  src/utils/functions/economy/items/lock_pick.ts
  src/utils/functions/economy/items/radio.ts
  src/utils/functions/economy/passive.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands, schema

feat: passive mode (#881)
  package.json
  prisma/migrations/20230118125106_/migration.sql
  prisma/schema.prisma
  src/commands/rob.ts
  src/commands/settings.ts
  src/commands/user.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/items/handcuffs.ts
  src/utils/functions/economy/items/lock_pick.ts
  src/utils/functions/economy/items/radio.ts
  src/utils/functions/economy/passive.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands, schema

feat: passive mode (#881)
  package.json
  prisma/migrations/20230118125106_/migration.sql
  prisma/schema.prisma
  src/commands/rob.ts
  src/commands/settings.ts
  src/commands/user.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/items/handcuffs.ts
  src/utils/functions/economy/items/lock_pick.ts
  src/utils/functions/economy/items/radio.ts
  src/utils/functions/economy/passive.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands, schema

refactor: useless export
  src/utils/functions/economy/bakery.ts
Labels: economy

refactor: useless export
  src/utils/functions/economy/bakery.ts
Labels: economy

refactor: useless export
  src/utils/functions/economy/bakery.ts
Labels: economy

refactor: useless export
  src/utils/functions/economy/bakery.ts
Labels: economy

docs: passive mode page
  economy/passive.md
Labels: none

fix: send rebooting msg when replaying scratch card
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: send rebooting msg when replaying scratch card
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: send rebooting msg when replaying scratch card
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

fix: send rebooting msg when replaying scratch card
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

feat: boost dragon tower
  src/commands/tower.ts
Labels: commands

feat: boost dragon tower
  src/commands/tower.ts
Labels: commands

feat: boost dragon tower
  src/commands/tower.ts
Labels: commands

feat: boost dragon tower
  src/commands/tower.ts
Labels: commands

feat: error message when using a recently used custom alias
  src/utils/handlers/commandhandler.ts
Labels: none

feat: error message when using a recently used custom alias
  src/utils/handlers/commandhandler.ts
Labels: none

feat: error message when using a recently used custom alias
  src/utils/handlers/commandhandler.ts
Labels: none

feat: error message when using a recently used custom alias
  src/utils/handlers/commandhandler.ts
Labels: none

6.3.1
  package.json
Labels: none

6.3.1
  package.json
Labels: none

6.3.1
  package.json
Labels: none

6.3.1
  package.json
Labels: none

fix: line number hyperlink
  src/commands/slots.ts
Labels: commands

fix: line number hyperlink
  src/commands/slots.ts
Labels: commands

fix: line number hyperlink
  src/commands/slots.ts
Labels: commands

fix: line number hyperlink
  src/commands/slots.ts
Labels: commands

refactor: add bot user id to constatns
  src/commands/balance.ts
  src/commands/vote.ts
  src/index.ts
  src/scheduled/jobs/votereminders.ts
  src/utils/Constants.ts
  src/utils/functions/tax.ts
  src/utils/functions/topgg.ts
  src/utils/logger.ts
Labels: scheduled, commands

refactor: add bot user id to constatns
  src/commands/balance.ts
  src/commands/vote.ts
  src/index.ts
  src/scheduled/jobs/votereminders.ts
  src/utils/Constants.ts
  src/utils/functions/tax.ts
  src/utils/functions/topgg.ts
  src/utils/logger.ts
Labels: scheduled, commands

refactor: add bot user id to constatns
  src/commands/balance.ts
  src/commands/vote.ts
  src/index.ts
  src/scheduled/jobs/votereminders.ts
  src/utils/Constants.ts
  src/utils/functions/tax.ts
  src/utils/functions/topgg.ts
  src/utils/logger.ts
Labels: scheduled, commands

refactor: add bot user id to constatns
  src/commands/balance.ts
  src/commands/vote.ts
  src/index.ts
  src/scheduled/jobs/votereminders.ts
  src/utils/Constants.ts
  src/utils/functions/tax.ts
  src/utils/functions/topgg.ts
  src/utils/logger.ts
Labels: scheduled, commands

feat: better cache limits
  src/nypsi.ts
Labels: none

feat: better cache limits
  src/nypsi.ts
Labels: none

feat: better cache limits
  src/nypsi.ts
Labels: none

feat: better cache limits
  src/nypsi.ts
Labels: none
