Repository mxz7/nypsi, pull requests merged in 2022-12, with the labels that each got.

#805 feat: add dragon tower game
  data/achievements.json
  package-lock.json
  package.json
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/premium.ts
  src/commands/top.ts
  src/commands/tower.ts
  src/utils/Constants.ts
Labels: commands

#807 feat: snapshot data for csv metrics
  prisma/schema.prisma
  src/commands/getcsvdata.ts
  src/index.ts
  src/scheduled/jobs/topsnapshot.ts
  src/scheduled/scheduler.ts
  src/utils/functions/workers/graphtocsv.ts
Labels: scheduled, commands, schema

#812 feat: graphs
  src/commands/ecohistory.ts
  src/commands/getcsvdata.ts
  src/index.ts
  src/scheduled/jobs/topsnapshot.ts
  src/types/Chart.ts
  src/utils/functions/workers/jsongraph.ts
Labels: scheduled, commands

#823 fix: dollar sign from item logging
  src/commands/pay.ts
  src/utils/logger.ts
Labels: commands

#825 feat: add auction bumps
  package-lock.json
  package.json
  src/commands/auction.ts
  src/events/interactionCreate.ts
  src/utils/functions/economy/auctions.ts
Labels: economy, commands, events

#831 feat: add reaction roles
  package-lock.json
  package.json
  prisma/schema.prisma
  src/commands/reactionroles.ts
  src/events/interactionCreate.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/reactionroles.ts
Labels: guild, commands, schema, events

#835 feat: open multiple crates with use command
  src/commands/auction.ts
  src/commands/opencrates.ts
  src/commands/use.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/items/crates.ts
  src/utils/functions/economy/utils.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, commands

#840 feat: cookie clicker type update to /bake
  data/achievements.json
  data/bakery_upgrades.json
  data/items.json
  prisma/schema.prisma
  src/commands/bake.ts
  src/commands/use.ts
  src/events/interactionCreate.ts
  src/scheduled/clusterjobs/checkauctions.ts
  src/types/Economy.ts
  src/utils/Constants.ts
  src/utils/functions/economy/bakery.ts
  src/utils/functions/economy/utils.ts
Labels: economy, scheduled, commands, schema, events

#843 feat: counters update
  prisma/schema.prisma
  src/commands/counter.ts
  src/commands/membercount.ts
  src/models/Client.ts
  src/scheduled/clusterjobs/counters.ts
  src/utils/functions/guilds/counters.ts
  src/utils/functions/guilds/utils.ts
Labels: guild, scheduled, commands, schema

#847 feat: specific crate items
  data/items.json
  package-lock.json
  src/types/Economy.ts
  src/utils/functions/economy/inventory.ts
Labels: economy
