Repository mxz7/nypsi, pull requests merged in 2022-07, with the labels that each got.

#444 refactor: coinflip improvements
  src/commands/coinflip.ts
Labels: enhancement

#465 feat: show docs links in help command
  src/commands/case.ts
  src/commands/chatreaction.ts
  src/commands/guild.ts
  src/commands/karma.ts
  src/commands/mine.ts
  src/commands/muterole.ts
  src/commands/premium.ts
  src/utils/commandhandler.ts
  src/utils/models/Command.ts
Labels: enhancement

#486 feat: add boosters
  data/items.json
  package-lock.json
  package.json
  prisma/schema.prisma
  src/commands/boosters.ts
  src/commands/buy.ts
  src/commands/fish.ts
  src/commands/hunt.ts
  src/commands/inventory.ts
  src/commands/mine.ts
  src/commands/prestige.ts
  src/commands/profile.ts
  src/commands/rob.ts
  src/commands/sell.ts
  src/commands/shop.ts
  src/commands/slots.ts
  src/commands/use.ts
  src/utils/commandhandler.ts
  src/utils/cooldownhandler.ts
  src/utils/economy/utils.ts
  src/utils/models/Client.ts
  src/utils/models/Economy.ts
  src/utils/scheduled/clusterjobs/weeklycrates.ts
  src/utils/votehandler.ts
Labels: enhancement

#490 fix: handcuff time remaining length
  src/utils/commandhandler.ts
Labels: bug

#494 fix: yablon bet display on win
  src/commands/yablon.ts
Labels: bug

#495 feat: add heatbeat system
  src/index.ts
  src/utils/functions/heartbeat.ts
  src/utils/models/Client.ts
Labels: enhancement

#496 feat: add expire message to profile
  src/commands/profile.ts
Labels: bug, enhancement

#500 feat: dadjoke command
  src/commands/dadjoke.ts
  src/utils/models/Reddit.ts
Labels: enhancement

#506 feat: use a gif for slots to give a spinning animation
  src/commands/slots.ts
  src/index.ts
Labels: enhancement

#508 feat: add channel to filter violation mod log
  src/events/message.ts
  src/utils/moderation/utils.ts
Labels: enhancement

#517 v4.4
  data/items.json
  package-lock.json
  package.json
  prisma/schema.prisma
  src/commands/buy.ts
  src/commands/daily.ts
  src/commands/fish.ts
  src/commands/hunt.ts
  src/commands/lottery.ts
  src/commands/mine.ts
  src/commands/prestige.ts
  src/commands/shop.ts
  src/commands/use.ts
  src/utils/economy/utils.ts
  src/utils/premium/utils.ts
  src/utils/scheduled/clusterjobs/lottery.ts
  src/utils/scheduled/jobs/cleanmentions.ts
  src/utils/scheduled/jobs/dailystreak.ts
  src/utils/scheduled/scheduler.ts
Labels: enhancement

#520 feat: bake & item leaderboard & CAKE
  data/items.json
  src/commands/bake.ts
  src/commands/itemtop.ts
  src/commands/sellall.ts
  src/utils/economy/utils.ts
Labels: enhancement

#521 feat: better shop thing
  data/items.json
  src/commands/bake.ts
  src/commands/bitcoin.ts
  src/commands/buy.ts
  src/commands/ethereum.ts
  src/commands/give.ts
  src/commands/inventory.ts
  src/commands/networth.ts
  src/commands/reset.ts
  src/commands/sell.ts
  src/commands/sellall.ts
  src/commands/shop.ts
  src/commands/smelt.ts
  src/commands/worth.ts
  src/utils/commandhandler.ts
  src/utils/economy/utils.ts
  src/utils/models/Economy.ts
Labels: enhancement
