Repository mxz7/nypsi, pull requests merged in 2022-11, with the labels that each got.

#743 fix: modlog embeds not sending
  src/utils/functions/moderation/logs.ts
Labels: moderation

#744 feat: cappuccin colours
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .prettierignore
  package-lock.json
  package.json
  src/commands/blackjack.ts
  src/commands/countdown.ts
  src/commands/highlow.ts
  src/commands/minesweeper.ts
  src/commands/yablon.ts
  src/scheduled/clusterjobs/lottery.ts
  src/scheduled/jobs/lotterytickets.ts
  src/scheduled/jobs/topcommands.ts
  src/scheduled/jobs/topglobal.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/christmas.ts
  src/utils/functions/guilds/countdowns.ts
  src/utils/functions/image.ts
  src/utils/functions/moderation/logs.ts
Labels: ci, guild, moderation, scheduled, commands

#746 feat: use p-all for notification handler
  .github/dependabot.yml
  package-lock.json
  package.json
  src/commands/craft.ts
  src/utils/functions/economy/stats.ts
  src/utils/handlers/notificationhandler.ts
Labels: dependencies, ci, economy, commands

#747 feat: more logs
  .github/labeler.yml
  src/events/channelUpdate.ts
  src/events/emojiCreate.ts
  src/events/emojiDelete.ts
  src/events/emojiUpdate.ts
  src/events/guildMemberUpdate.ts
  src/models/Client.ts
Labels: ci, events

#749 feat: upgrade top commands
  package-lock.json
  package.json
  src/commands/top.ts
  src/utils/functions/color.ts
  src/utils/functions/economy/top.ts
Labels: dependencies, economy, commands

#750 refactor: support request message
  src/events/message.ts
Labels: events

#759 feat: streak token upgrade
  data/items.json
  src/commands/daily.ts
  src/utils/functions/economy/items/streak_token.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

#763 feat: nypsi admin utils
  package-lock.json
  package.json
  src/commands/ecoban.ts
  src/commands/logsearch.ts
  src/commands/x.ts
  src/events/interactionCreate.ts
  src/utils/Constants.ts
  src/utils/functions/economy/top.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: dependencies, economy, commands, events

#764 feat: role utils
  package-lock.json
  package.json
  prisma/schema.prisma
  src/commands/role.ts
  src/events/guildMemberAdd.ts
  src/events/interactionCreate.ts
  src/models/Client.ts
  src/utils/functions/guilds/roles.ts
  src/utils/functions/member.ts
Labels: dependencies, guild, commands, schema, events

#770 feat: show xp needed to prestige
  src/commands/prestige.ts
Labels: commands

#777 feat: auto mute
  package-lock.json
  package.json
  prisma/schema.prisma
  src/commands/automute.ts
  src/events/message.ts
  src/events/messageUpdate.ts
  src/models/Client.ts
  src/scheduled/scheduler.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/moderation/logs.ts
  src/utils/functions/moderation/mute.ts
Labels: dependencies, guild, moderation, scheduled, commands, schema, events

#778 feat: move top guilds to /top command
  package-lock.json
  package.json
  src/commands/guild.ts
  src/commands/top.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/top.ts
Labels: economy, commands

#781 refactor: move in role command to /role
  package-lock.json
  package.json
  src/commands/role.ts
  src/utils/functions/page.ts
Labels: commands

#783 feat: add analytics
  .env.example
  package-lock.json
  package.json
  src/index.ts
  src/utils/Constants.ts
  src/utils/functions/analytics.ts
  src/utils/functions/economy/boosters.ts
  src/utils/handlers/commandhandler.ts
Labels: economy

#785 feat: maintenance mode
  package-lock.json
  package.json
  src/commands/maintenance.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

#788 feat: mines update
  src/commands/mines.ts
Labels: commands

#789 feat: replay button
  package-lock.json
  package.json
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/yablon.ts
Labels: commands

#790 refactor: remove surveys
  prisma/schema.prisma
  src/commands/requestdata.ts
  src/commands/survey.ts
  src/commands/x.ts
  src/events/interactionCreate.ts
  src/models/Client.ts
  src/scheduled/clusterjobs/surveyends.ts
  src/utils/functions/surveys.ts
Labels: scheduled, commands, schema, events

#791 fix: general fixes for play again feature
  package-lock.json
  package.json
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/utils/functions/captcha.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

#797 fix: gems not adding your increment
  src/commands/mines.ts
Labels: commands

#798 feat: inventory filtering
  package-lock.json
  package.json
  src/commands/inventory.ts
  src/commands/pings.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/page.ts
Labels: economy, commands

#799 feat: crypto random
  package-lock.json
  package.json
  src/commands/bake.ts
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/rps.ts
  src/commands/slots.ts
  src/commands/streetrace.ts
  src/scheduled/clusterjobs/lottery.ts
  src/utils/functions/economy/items/stolen_credit_card.ts
  src/utils/functions/random.ts
Labels: economy, scheduled, commands

#800 feat: game history
  prisma/schema.prisma
  src/commands/bankrob.ts
  src/commands/blackjack.ts
  src/commands/coinflip.ts
  src/commands/deletemydata.ts
  src/commands/fight.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/requestdata.ts
  src/commands/rob.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/slots.ts
  src/commands/stats.ts
  src/commands/viewgame.ts
  src/commands/x.ts
  src/utils/Constants.ts
  src/utils/functions/economy/stats.ts
  src/utils/functions/economy/utils.ts
  src/utils/logger.ts
Labels: economy, commands, schema
