Repository mxz7/nypsi, pull requests merged in 2023-08, with the labels that each got.

#1159 feat: add current streak to $daily when on cooldown
  src/commands/daily.ts
Labels: commands

#1162 feat: add only fans as offer alias
  src/commands/offer.ts
Labels: commands

#1170 feat: buy multiple button on auctions
  package.json
  src/interactions/auction_buy_multiple.ts
  src/utils/functions/economy/auctions.ts
Labels: economy

#1171 fix: incorrect lottery times
  src/commands/lottery.ts
  src/scheduled/clusterjobs/lottery.ts
Labels: scheduled, commands

#1173 feat: $top lotto
  src/commands/guild.ts
  src/commands/role.ts
  src/commands/tags.ts
  src/commands/top.ts
  src/interactions/vote_crates.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/users/tags.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, users, commands

#1178 fix: make thing plural
  src/commands/give.ts
Labels: commands

#1179 feat: omega crate
  data/items.json
  data/tags.json
  package.json
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
Labels: economy

#1181 fix: allow ppl to use multiple upgrades on the first use & use all
  src/commands/use.ts
Labels: commands

#1193 feat: button on hunt/fish/mine
  src/commands/fish.ts
  src/commands/hunt.ts
  src/commands/mine.ts
  src/interactions/fish.ts
  src/interactions/hunt.ts
  src/interactions/mine.ts
Labels: commands

#1194 fix: guilds with spaces failing to make embed
  src/commands/guild.ts
Labels: commands

#1196 fix: forgot to fix g upgrade
  src/commands/guild.ts
Labels: commands

#1199 fix: round cookies
  src/utils/functions/economy/bakery.ts
Labels: economy

#1202 feat: guild upgrade rewards
  data/guild_upgrades.json
  package.json
  prisma/migrations/20230817131725_guild_this_level/migration.sql
  prisma/schema.prisma
  src/commands/guild.ts
  src/commands/pay.ts
  src/utils/functions/economy/bakery.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/inventory.ts
  src/utils/handlers/cooldownhandler.ts
Labels: economy, commands, schema

#1197 feat: alts
  prisma/migrations/20230817213226_alts/migration.sql
  prisma/schema.prisma
  src/commands/alts.ts
  src/commands/ban.ts
  src/commands/mute.ts
  src/commands/settings.ts
  src/commands/unban.ts
  src/commands/unmute.ts
  src/events/guildMemberAdd.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/altpunish.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/moderation/alts.ts
  src/utils/functions/moderation/ban.ts
  src/utils/functions/moderation/mute.ts
  src/utils/functions/users/tag.ts
Labels: guild, moderation, users, commands, schema, events

#1206 fix: g shop brokiee
  src/commands/guild.ts
Labels: commands

#1220 fix: automute vl
  src/utils/functions/guilds/filters.ts
Labels: guild
