Repository mxz7/nypsi, pull requests merged in 2023-03, with the labels that each got.

#920 feat: mods can use forcelose
  src/commands/forcelose.ts
Labels: commands

#928 feat: chat reaction duels
  package.json
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/utils.ts
Labels: chatreaction, commands

#933 feat: user preferences
  data/notifications.json
  package.json
  prisma/migrations/20230319134324_preferences/migration.sql
  prisma/schema.prisma
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
  src/commands/settings.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/users/notifications.ts
Labels: economy, users, commands, schema

#934 fix exploiting auctions (requested by zack)
  src/commands/auction.ts
Labels: commands

#937 feat: boosters seperate from premium
  package.json
  prisma/migrations/20230320141903_booster/migration.sql
  prisma/schema.prisma
  src/commands/premium.ts
  src/commands/x.ts
  src/events/guildMemberRemove.ts
  src/events/guildMemberUpdate.ts
  src/models/PremStorage.ts
  src/scheduled/clusterjobs/weeklycrates.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/xp.ts
  src/utils/functions/premium/boosters.ts
  src/utils/functions/premium/premium.ts
  src/utils/handlers/cooldownhandler.ts
Labels: economy, premium, scheduled, commands, schema, events

#945 fix: admin level check
  src/commands/x.ts
Labels: commands

#943 feat: quarry worker
  data/items.json
  data/workers.json
  package.json
  src/commands/workers.ts
  src/scheduled/clusterjobs/workers.ts
  src/types/Workers.ts
  src/utils/functions/economy/workers.ts
  src/utils/functions/economy/xp.ts
  src/utils/functions/random.ts
Labels: economy, scheduled, commands

#948 feat: karma shop update
  data/items.json
  data/karmashop.json
  src/commands/karmashop.ts
  src/events/interactionCreate.ts
  src/models/Client.ts
  src/types/Karmashop.ts
  src/utils/Constants.ts
  src/utils/functions/karma/karmashop.ts
Labels: karma, commands, events

#950 refactor: adjust lottery ticket price & voting amount
  src/scheduled/clusterjobs/lottery.ts
  src/utils/functions/economy/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, scheduled

#952 feat: item sale history
  src/commands/ecohistory.ts
  src/commands/item.ts
  src/types/Chart.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/workers/auctionhistory.ts
Labels: economy, commands

#953 feat: open cf/cr games
  package.json
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
Labels: commands

#956 feat: add autosell & offer
  data/items.json
  data/notifications.json
  package.json
  prisma/migrations/20230327175012_/migration.sql
  prisma/schema.prisma
  src/commands/auction.ts
  src/commands/autosell.ts
  src/commands/data.ts
  src/commands/offer.ts
  src/commands/sellall.ts
  src/commands/x.ts
  src/interactions/accept_offer.ts
  src/interactions/auction_buy.ts
  src/interactions/auction_buy_one.ts
  src/interactions/block_item.ts
  src/interactions/block_user.ts
  src/interactions/deny_offer.ts
  src/interactions/disable_offers.ts
  src/models/Client.ts
  src/scheduled/clusterjobs/autosell_status.ts
  src/scheduled/clusterjobs/checkauctions.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/offers.ts
Labels: economy, scheduled, commands, schema

#962 feat: modernise fish hunt mine
  data/items.json
  package.json
  src/commands/fish.ts
  src/commands/hunt.ts
  src/commands/item.ts
  src/commands/mine.ts
Labels: commands

#964 fix: typo
  src/commands/premium.ts
Labels: commands

#965 fix: typo
  src/commands/premium.ts
Labels: commands
