Repository mxz7/nypsi, pull requests merged in 2023-10, with the labels that each got.

#1266 feat: show clicked bomb on mines
  src/commands/mines.ts
Labels: commands

#1268 feat: add looting book
  data/items.json
  src/commands/chatreaction.ts
  src/commands/hunt.ts
  src/commands/mines.ts
Labels: commands

#1269 refactor: update emoji
  src/commands/mines.ts
Labels: commands

#1271 fix: spell betterer
  data/items.json
  src/commands/guild.ts
  src/commands/love.ts
Labels: commands

#1267 feat: nether & end expansion
  data/guild_upgrades.json
  data/items.json
  src/commands/blackjack.ts
  src/commands/guild.ts
  src/commands/highlow.ts
  src/commands/hunt.ts
  src/commands/mine.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/page.ts
  src/utils/functions/presence.ts
  src/utils/handlers/mentions.ts
Labels: economy, commands

#1273 fix: scratchie hangs on last click if it isnt a win
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

#1277 fix: multi cooldown msg
  src/commands/multi.ts
Labels: commands

#1279 feat: ecoban alt when added
  src/commands/alts.ts
Labels: commands

#1304 refactor: blackjack
  package.json
  src/commands/blackjack.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/tower.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands

#1312 feat: add automated profile transfers
  src/commands/data.ts
  src/commands/x.ts
  src/interactions/transfer.ts
  src/utils/Constants.ts
  src/utils/functions/economy/offers.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/users/utils.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/interactions.ts
Labels: economy, users, commands
