Repository mxz7/nypsi, pull requests merged in 2023-04, with the labels that each got.

#973 revert: auction/offers fee
  src/commands/auction.ts
  src/commands/offer.ts
  src/interactions/accept_offer.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/offers.ts
Labels: economy, commands

#975 feat: add nickname logs
  src/events/guildMemberUpdate.ts
Labels: events

#988 fix: message syntax
  src/commands/data.ts
Labels: commands

#987 refactor: allow special characters in custom command
  src/commands/premium.ts
Labels: commands

#993 fix: typo
  src/commands/deposit.ts
Labels: commands

#995 refactor: allow capitals in custom commands
  src/commands/premium.ts
Labels: commands

#1005 fix: speed 0 streetrace
  src/commands/streetrace.ts
Labels: commands

#1007 feat: guild season 6 changes
  data/guild_upgrades.json
  prisma/migrations/20230425152652_guild_upgrades/migration.sql
  prisma/schema.prisma
  src/commands/guild.ts
  src/types/Economy.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands, schema

#1006 fix: fixed it again
  src/commands/streetrace.ts
Labels: commands
