Repository mxz7/nypsi, pull requests merged in 2023-07, with the labels that each got.

#1110 fix(cache): better discordjs caching
  package.json
  src/commands/bankrob.ts
  src/commands/crateall.ts
  src/commands/inrole.ts
  src/commands/join.ts
  src/commands/role.ts
  src/commands/server.ts
  src/commands/unmute.ts
  src/commands/user.ts
  src/events/message.ts
  src/nypsi.ts
  src/utils/functions/chatreactions/stats.ts
  src/utils/functions/guilds/utils.ts
Labels: chatreaction, guild, commands, events

#1112 fix: 1 inches -> 1 inch
  src/commands/pp.ts
Labels: commands

#1113 feat: add recipe command
  data/items.json
  src/commands/craft.ts
  src/commands/recipe.ts
  src/types/Economy.ts
Labels: commands

#1116 fix: maxs manly fingers dont know how to spell
  data/items.json
  data/notifications.json
  src/commands/bankrob.ts
  src/commands/blackjack.ts
  src/commands/countdown.ts
  src/commands/data.ts
  src/commands/guild.ts
  src/commands/highlow.ts
  src/commands/karmashop.ts
  src/commands/mines.ts
  src/commands/modlogs.ts
  src/commands/muted.ts
  src/commands/premium.ts
  src/commands/reactionroles.ts
  src/commands/role.ts
  src/commands/settings.ts
  src/commands/tower.ts
  src/commands/withdraw.ts
  src/events/guildMemberAdd.ts
  src/events/guildMemberRemove.ts
  src/events/userUpdate.ts
  src/index.ts
  src/utils/functions/economy/items/mask.ts
  src/utils/functions/guilds/roles.ts
  src/utils/functions/heartbeat.ts
  src/utils/functions/image.ts
  src/utils/functions/users/tag.ts
  src/utils/logger.ts
Labels: economy, guild, users, commands, events

#1119 feat: loot drops
  data/achievements.json
  data/items.json
  package.json
  prisma/migrations/20230711151147_random_drops_activechannels/migration.sql
  prisma/schema.prisma
  src/models/Client.ts
  src/scheduled/clusterjobs/random-drops.ts
  src/types/Economy.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/utils.ts
  src/utils/handlers/commandhandler.ts
Labels: guild, scheduled, schema

#1120 fix: actually show custom emojis
  src/commands/recipe.ts
Labels: commands

#1123 fix: draw now actually shows as draw
  src/commands/bankrob.ts
  src/commands/blackjack.ts
  src/commands/coinflip.ts
  src/commands/fight.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/rob.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/slots.ts
  src/commands/stats.ts
  src/commands/tower.ts
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/stats.ts
Labels: economy, chatreaction, commands

#1124 fix: incorrect plurals for leaderboard
  data/items.json
  src/commands/premium.ts
Labels: commands

#1126 feat: include offer average in item value
  src/commands/item.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/offers.ts
Labels: economy, commands

#1128 refactor: more parallel functions
  src/commands/bankrob.ts
  src/commands/chatfilter.ts
  src/commands/clean.ts
  src/commands/craft.ts
  src/commands/data.ts
  src/commands/delp.ts
  src/commands/fight.ts
  src/commands/history.ts
  src/commands/mines.ts
  src/commands/networth.ts
  src/commands/premium.ts
  src/commands/prestige.ts
  src/commands/usernamehistory.ts
  src/commands/viewgame.ts
  src/commands/vote.ts
  src/commands/x.ts
  src/events/guildMemberAdd.ts
  src/interactions/item_ks.ts
  src/scheduled/jobs/topcommands.ts
  src/utils/functions/economy/bakery.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/items/bronze_credit.ts
  src/utils/functions/economy/items/gold_credit.ts
  src/utils/functions/economy/items/platinum_credit.ts
  src/utils/functions/economy/items/silver_credit.ts
  src/utils/functions/economy/xp.ts
  src/utils/functions/guilds/filters.ts
Labels: economy, guild, scheduled, commands, events

#1129 feat: xp for hunt/fish/mine
  data/items.json
  package.json
  src/commands/blackjack.ts
  src/commands/fish.ts
  src/commands/highlow.ts
  src/commands/hunt.ts
  src/commands/mine.ts
  src/commands/mines.ts
  src/commands/rob.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/slots.ts
  src/commands/tower.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands

#1130 fix: forgot draw in logs
  src/commands/blackjack.ts
  src/commands/coinflip.ts
  src/commands/highlow.ts
  src/commands/mines.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/slots.ts
  src/commands/tower.ts
  src/commands/viewgame.ts
  src/utils/functions/chatreactions/game.ts
  src/utils/logger.ts
Labels: chatreaction, commands

#1131 fix: dog != thighs
  src/commands/dog.ts
  src/commands/x.ts
Labels: commands

#1132 fix: don't show bet on viewgame scratchie
  src/commands/viewgame.ts
Labels: commands

#1133 fix: incorrect plural
  src/utils/functions/economy/items/scratch_card.ts
Labels: economy

#1135 fix: improper articles
  data/items.json
  src/commands/auction.ts
  src/commands/streetrace.ts
  src/commands/use.ts
  src/scheduled/clusterjobs/random-drops.ts
  src/types/Economy.ts
  src/utils/functions/economy/items/crates.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/items/stolen_credit_card.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, scheduled, commands

#1136 ci: add tests for items
  .github/workflows/ci.yml
  data/items.json
  package.json
  pnpm-lock.yaml
  src/types/Economy.ts
  test/items.test.js
  tsconfig.json
Labels: build, ci

#1137 fix: miscellaneous fixes
  data/items.json
  data/workers.json
  src/commands/stats.ts
  src/commands/use.ts
  src/commands/workers.ts
  src/types/Workers.ts
Labels: commands

#1141 feat: track purchase history
  package.json
  prisma/migrations/20230720152701_purchase_history/migration.sql
  prisma/schema.prisma
  src/types/Kofi.ts
  src/utils/Constants.ts
  src/utils/functions/users/email.ts
  src/utils/handlers/webhookhandler.ts
Labels: users, schema

#1143 feat: add $autosell clear
  src/commands/autosell.ts
Labels: commands

#1144 feat: use discord for image hosting
  .env.example
  package.json
  pnpm-lock.yaml
  src/commands/avatarhistory.ts
  src/commands/wholesome.ts
  src/events/userUpdate.ts
  src/models/Client.ts
  src/scheduled/clusterjobs/random-drops.ts
  src/utils/functions/clusters.ts
  src/utils/functions/image.ts
Labels: scheduled, commands, events

#1145 fix: more pluralssss
  src/commands/ecohistory.ts
  src/commands/guild.ts
  src/commands/stats.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/items/bob.ts
  src/utils/handlers/mentions.ts
Labels: economy, commands

#1146 feat: add xp won from scratchies to guild
  src/utils/functions/economy/scratchies.ts
Labels: economy

#1151 feat: add tags
  data/items.json
  data/tags.json
  package.json
  prisma/migrations/20230727133856_tags/migration.sql
  prisma/schema.prisma
  src/commands/data.ts
  src/commands/item.ts
  src/commands/tags.ts
  src/commands/use.ts
  src/commands/x.ts
  src/types/Economy.ts
  src/types/Tags.ts
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/users/badges.ts
  src/utils/functions/users/tags.ts
  test/items.test.js
Labels: economy, users, commands, schema

#1153 fix: top things
  src/utils/functions/economy/top.ts
Labels: economy
