Repository mxz7/nypsi, pull requests merged in 2023-05, with the labels that each got.

#1011 fix: speed limit 0 still not working
  src/commands/streetrace.ts
Labels: commands

#1022 fix: correct grammar
  src/commands/use.ts
Labels: commands

#1027 refactor: link crate shop in premium command
  src/commands/premium.ts
Labels: commands

#1030 fix: typos
  src/commands/x.ts
Labels: commands

#1031 refactor: add graph karma command to ecohistory help
  src/commands/ecohistory.ts
Labels: commands

#1038 fix: update guild expressions variable
  src/commands/addemoji.ts
Labels: commands

#1037 refactor: include discord server link on support cooldown
  src/events/message.ts
Labels: events

#1045 fix: allow big mod to delete auctions
  src/commands/auction.ts
Labels: commands

#1046 feat: utilise the new admin system
  src/commands/bluser.ts
  src/commands/forcelose.ts
  src/commands/logsearch.ts
  src/commands/maintenance.ts
  src/commands/requestdm.ts
Labels: commands

#1056 feat: modernise moderation
  package.json
  src/commands/ban.ts
  src/commands/banned.ts
  src/commands/kick.ts
  src/commands/mute.ts
  src/commands/warn.ts
  src/utils/Constants.ts
  src/utils/functions/moderation/ban.ts
Labels: moderation, commands

#1008 feat: season 6
  data/guild_upgrades.json
  data/items.json
  data/notifications.json
  data/workers.json
  prisma/migrations/20230528184426_season6/migration.sql
  prisma/schema.prisma
  src/commands/auction.ts
  src/commands/bankrob.ts
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
  src/commands/craft.ts
  src/commands/data.ts
  src/commands/fish.ts
  src/commands/guild.ts
  src/commands/hunt.ts
  src/commands/mine.ts
  src/commands/rob.ts
  src/commands/smelt.ts
  src/commands/stats.ts
  src/commands/streetrace.ts
  src/commands/use.ts
  src/commands/viewgame.ts
  src/commands/x.ts
  src/interactions/vote_crates.ts
  src/types/Economy.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/crafting.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/items/crates.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/economy/stats.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/workers.ts
  src/utils/functions/economy/xp.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, commands, schema
