Repository mxz7/nypsi, pull requests merged in 2023-09, with the labels that each got.

#1226 fix: be able to remove alias thats just $
  src/commands/prefix.ts
  src/commands/premium.ts
  src/interactions/aliases.ts
Labels: commands

#1231 fix: 0 piece
  src/utils/functions/economy/inventory.ts
Labels: economy

#1233 feat: add avatar to $alts
  src/commands/alts.ts
Labels: commands

#1235 feat: auto mute/ban alts when added in $alts
  src/commands/alts.ts
  src/events/guildMemberAdd.ts
Labels: commands, events

#1236 fix: two ah dupe glitches
  src/interactions/auction_buy_multiple.ts
  src/utils/functions/economy/auctions.ts
Labels: economy

#1234 refactor: change how prestige/level looks
  src/commands/balance.ts
  src/commands/level.ts
  src/commands/prestige.ts
  src/commands/workers.ts
  src/utils/functions/economy/levelling.ts
  src/utils/functions/economy/top.ts
Labels: economy, commands

#1237 feat: set level in $x
  src/commands/x.ts
Labels: commands

#1232 feat: levelling update
  data/items.json
  data/karmashop.json
  data/notifications.json
  data/tags.json
  data/upgrades.json
  data/workers.json
  package.json
  prisma/migrations/20230909192255_levelling/migration.sql
  prisma/schema.prisma
  src/commands/auction.ts
  src/commands/avatarhistory.ts
  src/commands/balance.ts
  src/commands/blackjack.ts
  src/commands/find.ts
  src/commands/give.ts
  src/commands/guild.ts
  src/commands/highlow.ts
  src/commands/karmashop.ts
  src/commands/level.ts
  src/commands/mines.ts
  src/commands/multi.ts
  src/commands/offer.ts
  src/commands/pay.ts
  src/commands/prestige.ts
  src/commands/profile.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/sell.ts
  src/commands/sellall.ts
  src/commands/slots.ts
  src/commands/top.ts
  src/commands/tower.ts
  src/commands/upgrades.ts
  src/commands/vote.ts
  src/commands/weekly.ts
  src/commands/workers.ts
  src/commands/x.ts
  src/events/userUpdate.ts
  src/interactions/vote_crates.ts
  src/types/Economy.ts
  src/utils/Constants.ts
  src/utils/functions/economy/bakery.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/boosters.ts
  src/utils/functions/economy/guilds.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/items/reroll_token.ts
  src/utils/functions/economy/items/stolen_credit_card.ts
  src/utils/functions/economy/levelling.ts
  src/utils/functions/economy/prestige.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/xp.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, commands, schema, events

#1246 fix: owned workers showing as locked
  src/commands/workers.ts
Labels: commands

#1251 fix: make offer level requirement same as give
  src/commands/offer.ts
Labels: commands

#1261 fix: more than 3 args gives no response
  src/commands/chatreaction.ts
Labels: commands

#1264 fix: incorrect arg gives no response & add enable/disable
  src/commands/settings.ts
Labels: commands
