Repository mxz7/nypsi, pull requests merged in 2024-12, with the labels that each got.

#1679 feat: farm update
  data/achievements.json
  data/items.json
  data/plants.json
  data/tags.json
  package.json
  prisma/migrations/20241205131225_water_fertilise/migration.sql
  prisma/schema.prisma
  src/commands/farm.ts
  src/types/Economy.ts
  src/utils/functions/economy/farm.ts
  src/utils/functions/economy/items/fertiliser.ts
Labels: economy, commands, schema

#1681 feat: farm upgrades
  data/items.json
  data/plants.json
  prisma/migrations/20241209031848_farm_upgrades/migration.sql
  prisma/schema.prisma
  src/commands/farm.ts
  src/commands/mine.ts
  src/types/Economy.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/farm.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands, schema

#1687 fix: actually give a stick
  data/plants.json
  src/commands/mine.ts
Labels: commands

#1698 feat: percentage match per chat filter item
  package.json
  prisma/schema.prisma
  src/commands/chatfilter.ts
  src/commands/x.ts
  src/events/message.ts
  src/events/messageDelete.ts
  src/events/messageUpdate.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/guilds/utils.ts
  src/utils/handlers/commandhandler.ts
Labels: guild, commands, schema, events
