Repository mxz7/nypsi, pull requests merged in 2024-01, with the labels that each got.

#1379 fix: some draws still counting as losses in total profit
  src/commands/x.ts
  src/utils/functions/economy/stats.ts
Labels: economy, commands

#1380 fix: wildly inaccurate worker net calculation
  src/utils/functions/economy/balance.ts
Labels: economy

#1382 premium rework
  package.json
  prisma/migrations/20240108134438_premium_credit/migration.sql
  prisma/schema.prisma
  src/commands/find.ts
  src/commands/premium.ts
  src/commands/x.ts
  src/index.ts
  src/models/Client.ts
  src/models/PremStorage.ts
  src/scheduled/clusterjobs/premiumexpire.ts
  src/scheduled/clusterjobs/weeklycrates.ts
  src/scheduled/jobs/premiumexpire.ts
  src/scheduled/scheduler.ts
  src/types/Jobs.ts
  src/utils/functions/clusters.ts
  src/utils/functions/economy/items/bronze_credit.ts
  src/utils/functions/economy/items/gold_credit.ts
  src/utils/functions/economy/items/platinum_credit.ts
  src/utils/functions/economy/items/silver_credit.ts
  src/utils/functions/premium/premium.ts
  src/utils/functions/users/email.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, premium, users, scheduled, commands, schema
