Repository mxz7/nypsi, pull requests merged in 2024-10, with the labels that each got.

#1609 fix: new line for each item
  src/commands/farm.ts
Labels: commands

#1622 refactor: use bee queue for dms
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/utils/functions/users/notifications.ts
  src/utils/handlers/notificationhandler.ts
  src/utils/queues/dms.ts
  src/utils/queues/queues.ts
Labels: users

#1635 feat: add crash
  package.json
  src/commands/profile.ts
  src/interactions/crash_join.ts
  src/interactions/crash_out.ts
  src/models/Client.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/crash.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands
