Repository mxz7/nypsi, pull requests merged in 2024-07, with the labels that each got.

#1531 feat(economy): add farming
  data/items.json
  data/plants.json
  package.json
  prisma/migrations/20240712170920_farms/migration.sql
  prisma/schema.prisma
  src/commands/farm.ts
  src/commands/use.ts
  src/types/Economy.ts
  src/utils/functions/economy/farm.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands, schema

#1547 feat: auction confirmation on low sell
  src/commands/auction.ts
Labels: commands

#1549 feat: unlimited lottery tickets
  data/items.json
  package.json
  src/commands/buy.ts
  src/commands/lottery.ts
  src/models/Client.ts
  src/scheduled/clusterjobs/lottery.ts
  src/scheduled/jobs/lottery.ts
  src/scheduled/jobs/lotterytickets.ts
  src/utils/Constants.ts
  src/utils/functions/economy/items/lottery_ticket.ts
  src/utils/functions/economy/lottery.ts
  src/utils/functions/economy/utils.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, scheduled, commands
