Repository mxz7/nypsi, pull requests merged in 2024-06, with the labels that each got.

#1486 feat: multiple chat reaction word lists
  data/chatreaction/english_10k.txt
  data/chatreaction/english_1k.txt
  data/chatreaction/english_5k.txt
  data/chatreaction/old.txt
  package.json
  prisma/migrations/20240602143122_cr_word_lists/migration.sql
  prisma/schema.prisma
  src/commands/chatreaction.ts
  src/utils/Constants.ts
  src/utils/functions/chatreactions/words.ts
Labels: chatreaction, commands, schema

#1502 feat: add case evidence
  .env.example
  package.json
  pnpm-lock.yaml
  prisma/migrations/20240619184548_mode_ration_evidence/migration.sql
  prisma/schema.prisma
  src/commands/case.ts
  src/commands/deleteallcases.ts
  src/init/s3.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/evidence.ts
  src/utils/functions/moderation/cases.ts
  src/utils/functions/string.ts
Labels: guild, moderation, commands, schema

#1504 refactor: use increment/decrement in place of update
  package.json
  src/commands/bankrob.ts
  src/commands/blackjack.ts
  src/commands/buy.ts
  src/commands/chatreaction.ts
  src/commands/coinflip.ts
  src/commands/deposit.ts
  src/commands/fish.ts
  src/commands/freemoney.ts
  src/commands/garage.ts
  src/commands/guild.ts
  src/commands/highlow.ts
  src/commands/hot.ts
  src/commands/lottery.ts
  src/commands/mines.ts
  src/commands/offer.ts
  src/commands/pay.ts
  src/commands/race.ts
  src/commands/rob.ts
  src/commands/roulette.ts
  src/commands/rps.ts
  src/commands/sell.ts
  src/commands/sellall.ts
  src/commands/sellinv.ts
  src/commands/slots.ts
  src/commands/tower.ts
  src/commands/weekly.ts
  src/commands/withdraw.ts
  src/commands/work.ts
  src/commands/workers.ts
  src/interactions/accept_offer.ts
  src/interactions/deny_offer.ts
  src/scheduled/clusterjobs/lottery.ts
  src/scheduled/clusterjobs/workers.ts
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/levelling.ts
  src/utils/functions/economy/offers.ts
  src/utils/functions/economy/scratchies.ts
  src/utils/functions/economy/tasks.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/economy/workers.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, chatreaction, scheduled, commands

#1508 feat: better tracking
  prisma/migrations/20240621144431_better_date_username/migration.sql
  prisma/schema.prisma
  src/commands/avatar.ts
  src/commands/avatarhistory.ts
  src/commands/find.ts
  src/commands/user.ts
  src/commands/usernamehistory.ts
  src/events/guildMemberAdd.ts
  src/events/guildMemberRemove.ts
  src/events/userUpdate.ts
  src/scheduled/jobs/purge.ts
  src/utils/Constants.ts
  src/utils/functions/page.ts
  src/utils/functions/users/commands.ts
  src/utils/functions/users/history.ts
  src/utils/functions/users/tag.ts
  src/utils/functions/users/utils.ts
Labels: users, scheduled, commands, schema, events

#1509 feat: add bot metrics
  prisma/migrations/20240622154302_bot_metrics/migration.sql
  prisma/schema.prisma
  src/index.ts
  src/scheduled/jobs/activeusers.ts
  src/utils/Constants.ts
  src/utils/handlers/commandhandler.ts
Labels: scheduled, schema

#1510 feat: show time until unban in $x
  src/commands/x.ts
Labels: commands

#1515 feat: add chat reaction speed leaderboards
  package.json
  prisma/migrations/20240626174321_cr_leaderboard/migration.sql
  prisma/schema.prisma
  src/commands/chatreaction.ts
  src/commands/top.ts
  src/scheduled/jobs/dailycr.ts
  src/scheduled/jobs/seed-leaderboards.ts
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/stats.ts
  src/utils/functions/chatreactions/utils.ts
  src/utils/functions/economy/top.ts
Labels: economy, chatreaction, scheduled, commands, schema

#1516 feat: custom auto mute timeout
  prisma/migrations/20240627123048_automute_timeout/migration.sql
  prisma/schema.prisma
  src/commands/automute.ts
  src/commands/stats.ts
  src/models/Client.ts
  src/utils/Constants.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/moderation/mute.ts
Labels: guild, moderation, commands, schema

#1520 refactor: efficient levelling
  package.json
  src/commands/level.ts
  src/commands/profile.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/levelling.ts
  src/utils/functions/economy/xp.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, commands
