Repository mxz7/nypsi, pull requests merged in 2025-02, with the labels that each got.

#1736 feat: add support notfications
  prisma/migrations/20250203133006_support_notify/migration.sql
  prisma/schema.prisma
  src/commands/reply.ts
  src/utils/functions/supportrequest.ts
Labels: commands, schema

#1743 feat: new player tips
  data/lists.json
  prisma/migrations/20250208131102_tips/migration.sql
  prisma/schema.prisma
  src/utils/functions/users/notifications.ts
  src/utils/handlers/commandhandler.ts
Labels: users, schema

#1744 feat: add set birthday to x
  src/commands/x.ts
Labels: commands

#1753 feat: add sell all filter
  prisma/migrations/20250219104044_sellall_filter/migration.sql
  prisma/schema.prisma
  src/commands/sell.ts
  src/commands/sellall.ts
  src/utils/Constants.ts
  src/utils/functions/economy/inventory.ts
Labels: economy, commands, schema
