Repository mxz7/nypsi, pull requests merged in 2025-05, with the labels that each got.

#1842 don't delete premium data on expire
  src/scheduled/jobs/premiumexpire.ts
  src/utils/functions/economy/utils.ts
  src/utils/functions/premium/premium.ts
Labels: economy, premium, scheduled

#1846 add auto.buyunban reply option
  src/commands/reply.ts
Labels: commands

#1847 Mines info menu change
  src/commands/mines.ts
Labels: commands

#1860 move some jobs from cluster jobs to cron jobs
  src/models/Client.ts
  src/scheduled/clusterjobs/autosell_status.ts
  src/scheduled/clusterjobs/crafted.ts
  src/scheduled/clusterjobs/weeklycrates.ts
  src/scheduled/clusterjobs/workers.ts
  src/scheduled/jobs/autosell.ts
  src/scheduled/jobs/counters.ts
  src/scheduled/jobs/crafted.ts
  src/scheduled/jobs/weeklycrates.ts
  src/scheduled/jobs/workers.ts
  src/utils/functions/guilds/counters.ts
Labels: guild, scheduled

#1863 feat: be able to use multiple streaks at once
  src/utils/functions/economy/items/streak_token.ts
  src/utils/functions/economy/utils.ts
Labels: economy

#1865 fix: add to gem hunter when fishing up a gem
  src/commands/fish.ts
Labels: commands

#1866 fix: premium alises stripping all whitespace
  src/commands/premium.ts
  src/commands/top.ts
  src/utils/handlers/commandhandler.ts
Labels: commands

#1870 many bugfixes
  src/commands/achievements.ts
  src/commands/alts.ts
  src/commands/automute.ts
  src/commands/avatarhistory.ts
  src/commands/bakery.ts
  src/commands/banner.ts
  src/commands/chatfilter.ts
  src/commands/chatreaction.ts
  src/commands/cmdwatch.ts
  src/commands/fish.ts
  src/commands/highlow.ts
  src/commands/karmashop.ts
  src/commands/mines.ts
  src/commands/networth.ts
  src/commands/prefix.ts
  src/commands/sell.ts
  src/commands/settings.ts
  src/commands/top.ts
  src/commands/tower.ts
  src/commands/x.ts
  src/scheduled/jobs/premiumexpire.ts
  src/utils/functions/economy/crafting.ts
  src/utils/functions/economy/items/streak_token.ts
  src/utils/functions/premium/premium.ts
Labels: economy, premium, scheduled, commands

#1867 feat: db seed
  package.json
  pnpm-lock.yaml
  prisma/seed.ts
  tsconfig.json
Labels: build, schema

#1873 fix: accidently made everyone have everyones prem aliases
  src/utils/functions/premium/aliases.ts
Labels: premium

#1892 add some error checking for s3 + captchatest verify
  src/commands/avatarhistory.ts
  src/commands/captchatest.ts
  src/commands/case.ts
  src/commands/logsearch.ts
  src/utils/functions/captcha.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/guilds/evidence.ts
  src/utils/functions/users/birthday.ts
  src/utils/functions/users/commands.ts
Labels: economy, guild, users, commands

#1848 feat: farm output prestige upgrade
  data/tags.json
  data/upgrades.json
  src/utils/functions/economy/farm.ts
Labels: economy

#1905 fix: remove migrate in x
  src/commands/x.ts
Labels: commands

#1904 add global mentions
  data/notifications.json
  prisma/migrations/20250525191503_global_mentions/migration.sql
  prisma/migrations/20250525192223_guild_name_icon/migration.sql
  prisma/schema.prisma
  src/commands/inventory.ts
  src/commands/pings.ts
  src/commands/server.ts
  src/events/guildCreate.ts
  src/events/guildMemberAdd.ts
  src/utils/functions/guilds/utils.ts
  src/utils/functions/page.ts
  src/utils/functions/users/mentions.ts
Labels: enhancement, guild, users, commands, schema, events

#1910 feat: add confirmation to $g leave/delete
  src/commands/guild.ts
Labels: commands

#1908 feat: add market order price confirmations
  src/commands/avatarhistory.ts
  src/commands/captchatest.ts
  src/commands/case.ts
  src/commands/logsearch.ts
  src/commands/market.ts
  src/interactions/market_one.ts
  src/utils/functions/captcha.ts
  src/utils/functions/guilds/evidence.ts
  src/utils/functions/users/commands.ts
Labels: guild, users, commands

#1914 fix: dont override /daily with streak tokens
  src/interactions/run_daily.ts
  src/utils/functions/economy/items/streak_token.ts
  src/utils/functions/economy/utils.ts
Labels: economy

#1917 get rid of a bunch of linter warnings
  .eslintrc
  package.json
  pnpm-lock.yaml
  setup.sh
  src/commands/birthday.ts
  src/commands/chatreaction.ts
  src/commands/farm.ts
  src/commands/hypixel.ts
  src/commands/mute.ts
  src/commands/race.ts
  src/commands/weekly.ts
  src/commands/x.ts
  src/index.ts
  src/init/s3.ts
  src/nypsi.ts
  src/scheduled/clusterjobs/moderationchecks.ts
  src/scheduled/jobs/autosell.ts
  src/scheduled/jobs/checkmarket.ts
  src/scheduled/jobs/counters.ts
  src/scheduled/jobs/crafted.ts
  src/scheduled/jobs/purge.ts
  src/scheduled/jobs/weeklycrates.ts
  src/scheduled/jobs/workers.ts
  src/utils/functions/chatreactions/game.ts
  src/utils/functions/chatreactions/words.ts
  src/utils/functions/economy/achievements.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/items/chastity_cage.ts
  src/utils/functions/economy/items/handcuffs.ts
  src/utils/functions/economy/items/lock_pick.ts
  src/utils/functions/economy/items/radio.ts
  src/utils/functions/economy/items/rick_astley.ts
  src/utils/functions/economy/levelling.ts
  src/utils/functions/economy/loot_pools.ts
  src/utils/functions/economy/tasks.ts
  src/utils/functions/guilds/evidence.ts
  src/utils/functions/guilds/filters.ts
  src/utils/functions/guilds/utils.ts
  src/utils/handlers/commandhandler.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, chatreaction, guild, scheduled, commands

#1918 add automatic message disclaimer
  src/events/message.ts
Labels: events

#1921 add market dm delay
  data/notifications.json
  prisma/migrations/20250528191504_marketdelay/migration.sql
  prisma/schema.prisma
  src/commands/settings.ts
  src/utils/functions/economy/market.ts
Labels: economy, commands, schema

#1926 fix: dont allow blocking self in offers
  src/commands/offer.ts
  src/commands/x.ts
Labels: commands

#1928 remove block fix
  src/commands/x.ts
Labels: commands

#1906 season 10
  package.json
  prisma/migrations/20250531202212_better_db_ids/migration.sql
  prisma/schema.prisma
  src/commands/garage.ts
  src/commands/race.ts
  src/utils/Constants.ts
  src/utils/functions/economy/cars.ts
  src/utils/functions/economy/utils.ts
Labels: economy, commands, schema
