Repository mxz7/nypsi, pull requests merged in 2025-03, with the labels that each got.

#1779 feat: vote streaks
  data/items.json
  package.json
  prisma/migrations/20250326180516_vote_streak/migration.sql
  prisma/schema.prisma
  src/commands/vote.ts
  src/interactions/vote_reminders.ts
  src/scheduled/jobs/dailystreak.ts
  src/scheduled/jobs/streaks.ts
  src/utils/Constants.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/economy/vote.ts
  src/utils/handlers/webhookhandler.ts
Labels: economy, scheduled, commands, schema

#1781 feat: add loot rains
  data/items.json
  package.json
  src/scheduled/clusterjobs/random-drops.ts
  src/utils/Constants.ts
  src/utils/functions/economy/items/rain.ts
Labels: economy, scheduled

#1784 fix: bracket outside conditional thing
  src/commands/item.ts
Labels: commands
