Repository mxz7/nypsi, pull requests merged in 2025-06, with the labels that each got.

#1935 output all files
  .github/workflows/ci.yml
Labels: ci

#1955 feat: $stats bake
  src/commands/stats.ts
  src/utils/functions/economy/bakery.ts
Labels: economy, commands

#1958 feat: show forwarded messages in support requests
  src/events/message.ts
  src/utils/functions/supportrequest.ts
Labels: events

#1962 use monthly changelog system
  CHANGELOG.md
  src/commands/minecraft.ts
  src/commands/stats.ts
  src/index.ts
  src/models/Client.ts
  src/utils/functions/version.ts
Labels: commands

#1966 5 shards instead of 3 for green
  src/utils/functions/economy/inventory.ts
Labels: economy

#1969 fix: stop x0 sold messages for good, be able to change market confirm, and dont allow negative numbers in preferences
  src/commands/settings.ts
  src/utils/functions/economy/market.ts
  src/utils/functions/users/notifications.ts
Labels: economy, users, commands

#1976 feat: add marriage functionality
  CHANGELOG.md
  data/items.json
  prisma/migrations/20250618034837_marriage/migration.sql
  prisma/schema.prisma
  src/commands/divorce.ts
  src/commands/marry.ts
  src/commands/profile.ts
  src/utils/Constants.ts
  src/utils/functions/users/marriage.ts
  src/utils/functions/users/utils.ts
Labels: users, commands, schema

#1978 dont dupe rings on expiry
  src/commands/marry.ts
Labels: commands

#1988 add play again to bankrob for gold+
  CHANGELOG.md
  src/commands/bankrob.ts
Labels: commands

#1995 add more error logging to lootdrops
  src/scheduled/clusterjobs/random-drops.ts
Labels: scheduled

#1997 cap market price and quantity + make itemAmount Int
  prisma/migrations/20250624214253_market_caps/migration.sql
  prisma/schema.prisma
  src/commands/market.ts
  src/interactions/item_market_buy.ts
  src/interactions/item_market_sell.ts
  src/interactions/market_full.ts
  src/interactions/market_one.ts
  src/interactions/market_partial.ts
  src/scheduled/jobs/checkmarket.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/inventory.ts
  src/utils/functions/economy/market.ts
  src/utils/functions/workers/itemhistory.ts
Labels: economy, scheduled, commands, schema
