Repository mxz7/nypsi, pull requests merged in 2025-07, with the labels that each got.

#2008 feat: add pages to $ach view + better searching
  CHANGELOG.md
  src/commands/achievements.ts
Labels: commands

#2028 add transaction logging
  prisma/migrations/20250707074050_transactions/migration.sql
  prisma/schema.prisma
  src/commands/give.ts
  src/commands/pay.ts
  src/commands/x.ts
  src/interactions/accept_offer.ts
  src/utils/functions/economy/market.ts
  src/utils/functions/economy/trade_requests.ts
  src/utils/functions/transactions.ts
  src/utils/logger.ts
Labels: economy, commands, schema

#2020 refactor: move admin levels to constants + more admin cmds to x
  src/commands/addcmd.ts
  src/commands/bankrob.ts
  src/commands/blackjack.ts
  src/commands/bluser.ts
  src/commands/captchatest.ts
  src/commands/cmdwatch.ts
  src/commands/ecoban.ts
  src/commands/find.ts
  src/commands/forcelose.ts
  src/commands/highlow.ts
  src/commands/logsearch.ts
  src/commands/maintenance.ts
  src/commands/market.ts
  src/commands/mines.ts
  src/commands/reload.ts
  src/commands/reloaditems.ts
  src/commands/reloadslash.ts
  src/commands/remcmd.ts
  src/commands/requestdm.ts
  src/commands/reseteco.ts
  src/commands/runjob.ts
  src/commands/streakpause.ts
  src/commands/tower.ts
  src/commands/trade.ts
  src/commands/x.ts
  src/utils/Constants.ts
  src/utils/functions/captcha.ts
  src/utils/functions/economy/items/scratch_card.ts
  src/utils/functions/member.ts
  src/utils/functions/users/admin.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, users, commands

#2035 move modlogs and prefix to settings
  src/commands/logs.ts
  src/commands/modlogs.ts
  src/commands/prefix.ts
  src/commands/settings.ts
  src/utils/functions/moderation/logs.ts
Labels: moderation, commands
