Repository mxz7/nypsi, pull requests merged in 2025-01, with the labels that each got.

#1689 season 9
  data/workers.json
  package.json
  src/commands/farm.ts
  src/commands/mines.ts
  src/utils/Constants.ts
  src/utils/functions/economy/balance.ts
  src/utils/functions/economy/farm.ts
  src/utils/functions/economy/items/fertiliser.ts
  src/utils/functions/economy/xp.ts
Labels: economy, commands

#1702 fix: purchases sometimes not giving all items
  src/utils/functions/users/email.ts
Labels: users

#1714 feat: new wordle stats tracking
  package.json
  prisma/migrations/20250114163501_wordle_stats/migration.sql
  prisma/schema.prisma
  src/commands/stats.ts
  src/commands/top.ts
  src/commands/wordle.ts
  src/commands/x.ts
  src/utils/functions/economy/top.ts
  src/utils/functions/string.ts
  src/utils/functions/users/wordle.ts
Labels: economy, users, commands, schema

#1719 refactor: additional constants
  src/commands/auction.ts
  src/commands/case.ts
  src/commands/ecohistory.ts
  src/commands/getcsvdata.ts
  src/commands/give.ts
  src/commands/invite.ts
  src/commands/lottery.ts
  src/commands/pay.ts
  src/commands/premium.ts
  src/commands/reactionroles.ts
  src/commands/sex.ts
  src/commands/support.ts
  src/events/guildMemberRemove.ts
  src/events/interactionCreate.ts
  src/events/message.ts
  src/utils/Constants.ts
  src/utils/functions/economy/auctions.ts
  src/utils/functions/karma/karmashop.ts
  src/utils/functions/member.ts
  src/utils/functions/premium/boosters.ts
  src/utils/functions/premium/premium.ts
  src/utils/functions/supportrequest.ts
  src/utils/handlers/commandhandler.ts
Labels: economy, karma, premium, commands, events

#1726 feat: scrapyard worker
  data/items.json
  data/workers.json
  src/commands/workers.ts
  src/commands/x.ts
  src/scheduled/clusterjobs/workers.ts
  src/types/Workers.ts
  src/utils/functions/economy/boosters.ts
  src/utils/functions/economy/levelling.ts
  src/utils/functions/economy/workers.ts
  src/utils/functions/random.ts
Labels: economy, scheduled, commands
